%{
	margin = _level * 20 + 10;
}%
<div class="taskWrapper" style="margin-left: ${margin}px;">
	<div class="task">
		<div class="completed">
			#{if _item.categoryFile}
				<span data-icon="&#xe015;" aria-hidden="true"></span>
			#{/if}
			#{else}
				<input type="checkbox" #{if _item.completed}checked="checked"#{/if} disabled="disabled" />
			#{/else}
		</div>
		<div class="starred">
			<span data-icon="#{if _item.starred}&#xe006;#{/if}#{else}&#xe005;#{/else}" aria-hidden="true"></span>
		</div>
		#{if _item.categoryIcon}
			<div class="icon">
				<span data-icon="${_item.categoryIcon.raw()}" aria-hidden="true"></span>
			</div>
		#{/if}
		<div class="title">
			<span>${_item.title}</span>
		</div>
	</div>
</div>

#{list items: _item.items, as: 'thisItem'}
	#{published.task item: thisItem, level: _level + 1 /}
#{/list}