html, body {
	padding: 0;
	margin: 0;
}
.tab_container {
	height: 20px;
	border-bottom: 1px solid #ddd;
	vertical-align: bottom;
	padding-top: 5px;
	background-image: url('/components/backoffice/header.gif');
	background-position: bottom;
}
.tab {
	display: block; 
	float: left; 
	border: 1px solid transparent;
	border-width: 1px; 
	padding: 0 10px; 
	text-align: center; 
	margin-left: 20px;
	height: 19px;
	margin-top: -1px;
	text-decoration: none;
	white-space: nowrap;
}
.tab.active {
	border-width: 1px 1px 0 1px;
	background-image: url('/components/backoffice/active.gif');
	background-repeat: repeat-x;
	background-position: top;
	height: 20px;
	margin-top: 1px;
	font-weight: bold;
}
.tab.active.warn {
	border-width: 1px 1px 0 1px;
	height: 20px;
	color: red;
}
.main {
	padding: 10px;
}
table th, td {
	padding: 2px;
	border: 1px solid #AAA;
}
table th {
	background: #F5F5F5 url('/components/backoffice/header.gif') repeat-x scroll center bottom;
	font-weight: normal;
}

.massmail {
	border: 1px solid #7F9DB9;
	border-collapse: separate;
}
.massmail td, .massmail th {
	padding: 1px;
	border: 1px solid #CACAFF;
	background-color: white;
}
.massmail .txt {
	width: 100%;
	border: none;
	background-color: #ffc;
}

form.edit .preview {
	display: none;
}
input.text {
	width: 99%;
}

.ini {
	border: 1px solid #ccc;
	padding: 2px;
}
	.ini .section {
		font-weight: bold;
		color: rgb(80, 154, 5);
	}
	.ini .name {
		color: rgb(9, 9, 124);
	}
	.ini .value {
		color: rgb(209, 90, 0);
	}

.ini_file {
	margin: 3px 0;
}
	
.ini_file:target {
	background-color: #DEF;
}
