body, h2 {
	margin: 0px;
}
body {
	font: normal 12px HelveticaNeue, Helvetica, Arial;
	-webkit-text-stroke: 1px transparent;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}
body.welcome {
	background: #1c2029 url(../images/linen.png) repeat;
}
body.dashboard {
	background: #262C36;
}
body.hidden {
	overflow: hidden;
}
a {
	cursor: pointer;
}
body.dashboard:before {
	content: "";
	background: -webkit-linear-gradient(#DEE9E9, #DEE9E9); /*For pull-to-refresh in WebKit */
	position: absolute;
	top: 277px;
	height: 300px;
	left: 0px;
	width: 100%;
	z-index: -1;
}
h1 {
	font-size: 45px;
	margin-top: 0px;
} 
p {
	font-size: 14px;
	line-height: 1.8;
	font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
	color: #555;
}
p.first:first-letter {
	display:block;
    float:left;
    font-size: 510%;
    font-weight: bold;
    line-height: 90%;
    margin-right: 6px;
    margin-bottom:-2px;
    margin-top: 7px;
    color: #333;
} 
p.columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
}
blockquote {
	border-left: 1px solid #888;
	padding-left: 10px;
	opacity: 0.6;
}
ol {
	padding: 0px;
	font-size: 14px;
	line-height: 1.8;
	font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
	color: #444;
}
ol li {
	margin-bottom: 5px;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #bbb; 
	background: -webkit-linear-gradient(rgba(255,255,255,0.2), white);
	background: -moz-linear-gradient(rgba(255,255,255,0), white);
	height: 40px;
	color: #888;
	border-radius: 2px;
	font-size: 12px;
	-webkit-box-shadow: 0px 1px 0px white, rgba(0, 0, 0, .35) 0px 4px 5px -5px inset;
	-moz-box-shadow: 0px 1px 0px white, rgba(0, 0, 0, .35) 0px 4px 5px -5px inset;
	box-shadow: 0px 1px 0px white, rgba(0, 0, 0, .35) 0px 4px 5px -5px inset;
	display: block;
	width: 100%;
	font: normal 12px HelveticaNeue, Helvetica, Arial;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}
textarea {
	height: auto;
	min-height: 70px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
textarea.small {
	min-height: 35px;
	height: 35px;
	padding: 8px 15px 0px 15px;
	resize: none;
	margin-bottom: 40px;
}
.text-con {
	position: relative;
}
.text-con textarea {
	padding-right: 80px;
}
input:focus, textarea:focus {
	outline: none;
	color: #333;
}
input[type="submit"] { 
	height: 45px;
	font: bold 14px/45px HelveticaNeue, Helvetica, Arial;
	width: 100%;
	cursor: pointer;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.4);
	margin: 0px;
	box-shadow: white 0px 1px 0px, 0px 1px 0px rgba(255,255,255,0.5) inset;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.2));
	background-color: #FE4365;
	color: white;
	text-shadow: rgba(0,0,0,0.3) 0px 1px 1px;
	padding: 0px;
}
form .combine input {
	width: 50%;
	float: left;
}
form .combine input:last-child {
	border-left: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	
}
form .combine input:first-child {
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
form p {
	position: relative;
	background: transparent;
	font-size: 12px;
}
form .container {
	margin-bottom: 0px;
}
label {
	margin-left: 5px;
	color: #888;
}
.infobox {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.4);
	font: normal 12px HelveticaNeue, Helvetica, Arial, sans-serif;
	box-shadow: rgba(255,255,255,0.7) 0px 1px 0px inset, white 0px 1px 0px;
	background: white;
	background: -moz-linear-gradient(rgba(255,255,255, 0), rgba(255,255,255,0.6));
	background: -webkit-linear-gradient(rgba(255,255,255, 0), rgba(255,255,255,0.6));
	color: #333;
	text-shadow: white 0px 1px 0px;
	margin-top: 15px;
	margin-bottom: 5px;	
}
#footer {
	background: #262C36;
	color: white;
	-webkit-box-shadow: black 0px 10px 10px -10px inset;
	-moz-box-shadow: black 0px 10px 10px -10px inset;
	box-shadow: black 0px 10px 10px -10px inset;
	font-size: 20px;
	color: #111;
	text-shadow: rgba(102, 120, 138, 0.45) 0px 1px 0px;	
	-webkit-user-select: none;
	cursor: pointer;
}
#footer h4 {
	display: inline-block;
	position: relative;
}
#footer h4 span {
	font-family: HelveticaNeue-Light,HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#footer h4 span.theme {
	font-size: 11px;
	color: #88A3BF;
	color: rgba(148, 163, 179, 0.3);
	text-shadow: none;
	display: block;
}
#footer h4 span.feather {
	display: none;
}
body.feather #footer h4 span.feather {
	display: inline;
}
#footer .con {
	border: none;
	box-shadow: none;
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.date {
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 999;
	border-radius: 4px;
	border: 1px solid black;
	border: 1px solid rgba(0, 0, 0, 0.66);
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.37) inset, rgba(0, 0, 0, 0.7) 0px 5px 60px;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.37) inset, rgba(0, 0, 0, 0.7) 0px 5px 60px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.37) inset, rgba(0, 0, 0, 0.7) 0px 5px 60px;
	background: black;
	background: rgba(0,0,0,0.8);
	background: -webkit-linear-gradient(rgba(15, 15, 15, 0.8), black);
	background: -moz-linear-gradient(rgba(15, 15, 15, 0.8), black);
	color: white;
}
.date tr:nth-child(odd) {
	background: transparent;
}
.date tr:hover td {
	background: transparent;
}
.date td, th {
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	height: auto;
	color: white;
	border-color: #424747;
	border-color: rgba(66, 71, 71, 0.79);
	text-align: center;
	cursor: default;
}
.date .gldp-default-dow td {
	font-size: 10px;
	color: #bbb;
}
.date td.gldp-days {
	font-size: 12px;
	font-weight: bold;
}
.date td.day:hover, .date td.sat:hover, .date td.sun:hover {
	-moz-box-shadow: 0px 0px 10px black inset;
	-webkit-box-shadow: 0px 0px 10px black inset;
	box-shadow: 0px 0px 10px black inset;
	cursor: pointer;
}
.date td.gldp-default-monyear, .date td.next, .date td.prev {
	-moz-box-shadow: 0px 0px 30px black inset, rgba(255, 255, 255, 0.8) 0px 1px 0px inset;
	-webkit-box-shadow: 0px 0px 30px black inset, rgba(255, 255, 255, 0.8) 0px 1px 0px inset;
	box-shadow: 0px 0px 30px black inset, rgba(255, 255, 255, 0.8) 0px 1px 0px inset;
}
.date td.gldp-default-sat, .date td.gldp-default-sun {
	color: #999;
}
.date td.gldp-default-noday {
	color: #888;
	font-weight: normal;
}
div.tagsinput {
	overflow-y: auto;
}
div.tagsinput span.tag { 
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.35);
	-moz-border-radius:2px; 
	-webkit-border-radius:2px; 
	border-radius:2px; 
	display: block; 
	float: left; 
	padding: 5px; 
	text-decoration:none; 
	color: #999;
	color: rgba(0,0,0,0.4); 
	margin-right: 5px; 
	margin-bottom:5px;
	font-size: 12px;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2));
	background-color: #999;
	text-shadow: rgba(0,0,0,0.6) 0px 1px 2px;
	color: white;
	-webkit-box-shadow: rgba(255,255,255,0.6) 0px 1px 0px inset, white 0px 1px 0px;
	-moz-box-shadow: rgba(255,255,255,0.6) 0px 1px 0px inset, white 0px 1px 0px;
	box-shadow: rgba(255,255,255,0.6) 0px 1px 0px inset, white 0px 1px 0px;
	cursor: default;
}
div.tagsinput span.tag a { 
	font-weight: bold; 
	color: white; 
	text-decoration:none; 
	font-size: 11px;  
} 
div.tagsinput input { 
	width:80px; 
	margin:0px;
	font-size: 12px; 
	border:1px solid transparent; 
	padding:5px; 
	color: #444;
	text-shadow: white 0px 1px 0px;
	background: transparent; 
	outline:0px;  
	margin-right:5px; 
	margin-bottom:5px; 
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	line-height: 1.6;
}
div.tagsinput div {
	display:block; float: left;
} 
.tags_clear { 
	clear: both; width: 100%; height: 0px; 
}
.not_valid {
	background: #FBD8DB !important; 
	color: #90111A !important;
}

/* tooltip CSS - Version 1.2 */

#tooltip {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	max-width: 240px;
	border: 1px solid rgba(0,0,0,0.65);
	background: black;
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	background-image: -webkit-linear-gradient(transparent, #000);
	background-image: -moz-linear-gradient(transparent, #000);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0px 3px 8px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0px 3px 8px;
	box-shadow: rgba(0,0,0,0.4) 0px 3px 8px;
}
#tooltip p {
	margin: 0px;
	color: #fff;
	text-shadow: 0px 1px 2px #000;
	padding: 15px;
	font-size: 14px;
	line-height: 1.8;
	font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
}
#tooltip.small p {
	padding: 4px;
}
#tooltip.top {
	padding-bottom: 5px;
}

#tooltip.bottom {
	padding-top: 5px;
}

#tooltip.right {
	padding-left: 5px;
}

#tooltip.left {
	padding-right: 5px;
}
#tooltip:before  {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 8px;
	height: 0;
	width: 0;
	left: 50%;
	margin-left: -8px;
	top: 0px;
}
#tooltip.top:before {
	bottom: -16px;
	top: auto;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}
#tooltip.bottom:before {
	top: -16px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}
#tooltip.right:before {
	top: 50%;
	left: -16px;
	margin: 0px;
	margin-top: -8px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}
#tooltip.left:before {
	top: 50%;
	left: auto;
	right: -16px;
	margin: 0px;
	margin-top: -8px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}



@font-face {
    font-family: 'Icons';
    src: url('/static/glyphs/iconsweets-webfont.eot');
    src: url('/static/glyphs/iconsweets-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/glyphs/iconsweets-webfont.woff') format('woff'),
         url('/static/glyphs/iconsweets-webfont.ttf') format('truetype'),
         url('/static/glyphs/iconsweets-webfont.svg#iconSweetsRegular') format('svg');
    font-style: normal;
}
.glyph {
	position: relative;
	padding-left: 20px;
}
/*Icons*/
.glyph:before {
	font-family: Icons;
	line-height: 0px;
	padding-right: 5px;
	font-weight: normal!important;
}
.glyph.location:before {
	content: '`';
}
.glyph.home:before {
	content: '0';
}
.glyph.home-alt:before {
	content: '1';
}
.glyph.photo:before {
	content: '2';
}
.glyph.photos:before {
	content: '3';
}
.glyph.microphone:before {
	content: '4';
}
.glyph.sound:before {
	content: '5';
}
.glyph.megafon:before {
	content: '6';
}
.glyph.sign:before {
	content: '7';
}
.glyph.pencil:before {
	content: '8';
}
.glyph.brush:before {
	content: '9';
}
.glyph.person:before {
	content: 'a';
}
.glyph.persons:before {
	content: 'b';
}
.glyph.three-persons:before {
	content: 'c';
}
.glyph.man:before {
	content: 'd';
}
.glyph.men:before {
	content: 'e';
}
.glyph.three-men:before {
	content: 'f';
}
.glyph.folder:before {
	content: 'g';
}
.glyph.heart:before {
	content: 'h';
}
.glyph.settings:before {
	content: 'i';
}
.glyph.settings-alt:before {
	content: 'j';
}

.glyph.retweet:before {
	content: 's';
}

.glyph.tag:before {
	content: '.';
}
.glyph.message:before {
	content: '#';
}
.glyph.write:before {
	content: 'C';
}
.glyph.upload:before {
	content: 'I';
}
.glyph.drawer:before {
	content: 'L';
}
.glyph.maps:before {
	content: 'N';
}
.glyph.star-alt:before {
	content: 'W';
}
.glyph.star:before {
	content: '*';
}
.glyph.sort:before {
	content: "|";
}



/*$Dashboard*/
#overlays {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999999;
	-webkit-backface-visibility: hidden;
}
#overlays.dark {
	height: 100%;
	background: rgba(0,0,0,0.45);
}
#overlays.fullscreen {
	height: 100%;
	background: black;
}
#overlays.info {
	height: 100%;
	background: #fff;
	background: -moz-linear-gradient(white, #ccc);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#CCC), to(white));
	background: -webkit-linear-gradient(white, #ccc);
}
#overlays.info > .wrapper {
	position: absolute;
	width: 90%;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -45%;
	text-align: center;
}
#overlays.info.black {
	background: black;
}
#overlays.info.rose {
	background: #F26D7D;
}
#overlays.info.blues {
	background: #597EF7;
}
#overlays.info.black > .wrapper, #overlays.info.rose > .wrapper, #overlays.info.blues > .wrapper {
	color: white;
}
#overlays.info #notifications {
	z-index: 5;
	-webkit-box-shadow: white 0px -1px 0px inset, rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
	-moz-box-shadow: white 0px -1px 0px inset, rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
	box-shadow: white 0px -1px 0px inset, rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}
#overlays.info.black #notifications {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: white;
	border: none;
	text-shadow: none;
	border: 1px solid #999;
}

#overlays.info > .wrapper h2 {
	font-size: 60px;
	text-align: center;
	font-family: HelveticaNeue-UltraLight, HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: normal;
}
#overlays.info > .wrapper .icon {
	font-family: Icons;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 100px;
}
#overlays.info > .wrapper .desc {
	display: inline-block;
	background: black;
	color: white;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2px;
	margin-top: 20px;
	font-size: 20px;
}
#overlays.info > .wrapper h2 span {
	font-weight: bold;
}
.particles {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#overlays.fullscreen .editor {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 50%;
	margin: 40px;
	margin-top: 68px;
}
#overlays.fullscreen .live {
	background: white;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 50%;
	right: 0px;
	padding: 40px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: #222C3B;
	color: #fff;
}
#overlays.fullscreen .live p {
	line-height: 1.6;
}
#overlays.fullscreen .live blockquote {
	border-color: 1px solid white;
}
#overlays.fullscreen .live a {
	color: #999;
	text-decoration: none;
	border-bottom: 1px dashed #999; 
}
#overlays.fullscreen .live a:hover {
	color: white;
	border-color: white;
}
#overlays.fullscreen .editor textarea {
	padding: 0px;
	margin: 0px;
	border: none;
	position: absolute;
	background: transparent;
	top: 0px;
	height: 100%;
	width: 100%;
	display: block;
	left: 0px;
	resize: none;
	font: normal 14px Consolas, Courier New, monospace;
	color: #fff;
	line-height: 1.6;
	-webkit-overflow-scrolling: touch;
}
#overlays.fullscreen .editor .buttons {
	position: absolute;
	top: -28px;
	left: -7px;
}
#overlays.fullscreen .editor textarea:focus {
	outline: none;
}
div.overlay {
	background: black;
	background: rgba(0,0,0,0.8);
	background: -webkit-linear-gradient(rgba(30, 30, 30, 0.7),rgba(0, 0, 0, 1));
	background: -moz-linear-gradient(rgba(30, 30, 30, 0.7),rgba(0, 0, 0, 1));
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-shadow: black 0px 2px 2px;
	font: normal 16px HelveticaNeue-Light, HelveticaNeue, Helvetica, Arial, sans-serif;
	color: white;
	line-height: 1.6;
}
div.overlay .wrapper {
	height: 450px;
	top: 50%;
	margin-top: -225px;
	width: 700px;
	left: 50%;
	margin-left: -340px;
	position: absolute;
	overflow: scroll;
}
div.overlay p {
	color: white;
}
div.overlay p.first:first-letter {
	color: white;
}
div.overlay .wrapper h2:first-child {
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow: black 0px 2px 2px;
}
div.overlay h2 span {
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#header {
	background: #191919 url(../images/header.png) repeat-x;
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0px;
	-webkit-box-shadow: rgba(0,0,0,0.8) 0px 0px 32px;
	-moz-box-shadow: rgba(0,0,0,0.8) 0px 0px 32px;
	box-shadow: rgba(0,0,0,0.8) 0px 0px 32px;
	z-index: 999;
}
#header .con {
	border: 0px solid;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#header ul {
	line-height: 65px;
	padding: 0px;
}

#header ul li {
	float: left;
	list-style: none;
	font: bold 14px/64px HelveticaNeue, Helvetica, Arial;
	color: #828282;
	text-shadow: rgba(0,0,0,0.8) 0px 1px 1px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	position: relative;
	margin: 0px;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
} 
#header.inactive > ul > li {
	opacity: 0.3;
}
#header.inactive ul li.active {
	opacity: 1;
	color: white;
}
#header ul li.count > a:after, #header ul li.count > span:after {
	content: attr(data-count);
	position: absolute;
	height: 20px;
	width: 20px;
	background: #222;
	background: -webkit-linear-gradient(#333, #111);
	background: -moz-linear-gradient(#333, #111);
	line-height: 20px;
	text-align: center;
	text-shadow: black 0px 1px 2px;
	color: white;
	top: 50%;
	margin-top: -10px;
	right: 0px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-moz-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset, black 0px 2px 4px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset, black 0px 2px 4px;
	box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset, black 0px 2px 4px;
	font-size: 12px;
}
#header ul li.count:hover a:after, #header ul li.count:hover span:after, #header ul li.count.active span:after  {
	background: white;
	text-shadow: none;
	color: black;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#header ul li.count a, #header ul li.count span  {
	padding-right: 30px;
	position: relative;
}
#header li a {
	text-decoration: none;
	color: #828282;
}
#header ul li.dashboard a, #header > ul > li:hover > a, #header > ul > li:hover > span {
	color: white;
}
#header ul li.dashboard:first-child:before {
	content: '';
	position: absolute;
	top: 0px;
	height: 100%;
	width: 3000px;
	right: 0px;
	background: #1f1f1f;
	opacity: 0.87;
	-moz-box-shadow: rgba(0,0,0,0.91) -10px -3px 32px inset;
	-webkit-box-shadow: rgba(0,0,0,0.91) -10px -3px 32px inset;
	box-shadow: rgba(0,0,0,0.91) -10px -3px 32px inset;
}
#header ul li.dashboard {
	padding-left: 0px;
	padding-right: 15px;
	margin-right: 20px;
}
#header ul li.dashboard a {
	padding-left: 34px;
	background: url(../images/icon-dashboard-active.png) center left no-repeat;
	background-position: 0px 25px;
	z-index: 1;
	position: relative;
	display: block;	
}
#header ul li.indicator:after {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 50%;
	width: 12px;
	height: 3px;
	margin-left: -6px;
	background: url(../images/indicator.png) no-repeat;
}
#header > ul > li.messages > span {
	background: url(../images/icon-messages.png) center left no-repeat;
	padding-left: 25px;
}
#header > ul > li.messages:hover > span, #header > ul > li.messages.active > span {
	background: url(../images/icon-messages-white.png) center left no-repeat;
}


@media only screen and (max-device-width: 1024px) { 
    .con { 
	    width: 100%; 
	    border: none;
    }
    .modal {
    	margin-left: -45%!important;
    	width: 90%!important;
    }
    #icons div.icons span {
    	-webkit-transition: color .2s ease-in-out;
    	display: block;
    	float: left;
    	padding-right: 15px;
    	padding-top: 5px;
    	padding-bottom: 20px;
    	cursor: default;
    	-webkit-mask-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), black);
    }
}

@media screen and (max-width: 1100px) {
	.con { 
	    width: 100%; 
	    border: none;
	}	
	
	#icons div.icons {
		padding-left: 33px;
	}
	#icons div.icons span:first-child {
		padding-left: 0px;
	}
	#icons div.icons span {
		width: 7.5%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 1%;
	}
	a.tile {
		width: 17%;
	}
	#hello {
		width: 32%;
	}
	a.tile:nth-child(6) {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	a.tile:nth-child(5) {
		display: none;
	}
	a.tile {
		width: 23%;
	}
	#hello {
		width: 31%;
	}
	
}

@media screen and (max-width: 750px) {
	a.tile:nth-child(4) {
		display: none;
	}
	a.tile {
		width: 30%;
	}
	#hello {
		width: 40%;
	}
	
	
	.thirty, .quarter, .seventyfive, .half, .twenty, .fourty, .sixty {
		width: 100%;
		float: none;
	}
	
}

@media screen and (max-width: 650px) {
	a.tile:nth-child(3), ul.tabs::after, .section .border::before, #header ul li.search {
		display: none;
	}
	a.tile {
		width: 40%;
	}
	#hello {
		width: 60%;
	}
	#icons div.icon {
		padding-left: 0px;
	}
	#icons div.icons {
		text-align: center;
	}
	#icons div.icons span {
		width: 100%;
		padding: 0px;
		font-size: 260px;
		margin-left: -20px;
		float: none;
		-webkit-mask-image: url(../images/mask.png)!important;
	}
	#icons .border::before {
		left: 45%;
	}
	ul.tabs, div.tabs, .section .border .column {
		width: 100%;
		float: none;
	}
	
	#icons .column {
		width: 100%;
		float: none;
	}
	#icons .column.right {
		display: none;
	}
	ul.icons li ul li {
		width: 33%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#more {
		width: 80%;
		left: 10%;
		top: 230px;
	}
	
	ul.icons::after {
		display: none;
	}
	
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
		width: 100%!important;
		margin: 0px!important;
		float: none;
	}
	#welcome .avatar {
		float: none;
		margin-bottom: 20px;
	}
	#welcome a.plus {
		display: none;
	}
	#welcome {
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	#password {
		width: 90%;
		margin-left: -45%;
	}
	
	#password a.back {
		left: 0px;
		top: -40px;
	}
	
	
}

@media screen and (max-width: 450px) {
	a.tile:nth-child(2) {
		display: none;
	}
	#hello {
		width: 100%;
	}
	#header ul li.avatar {
		display: none;
	}
	#header ul li {
		font-size: 12px;
		padding-left: 10px;
		padding-right: 10px;
	}
	#header ul li.dashboard {
		margin-right: 0px;
	}
	#header ul li.dashboard a {
		padding-left: 10px;
		background-image: none;
	}
	body.feather #header ul li.dashboard {
		padding-left: 10px;
	}
	body.feather .con {
		border: none!important;
	}
	#notifications {
		top: 0px;
		width: 100%;
		left: 0px;
		margin-left: 0px;
	}
	.notification .right, .notification .left {
		width: 85%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.notification .left {
		width: 15%;
	}
	
	.notification .right {
		margin-left: 15%;
	}
	#stream {
		height: 54px;
	}
	#hello p, #hello h2 {
		display: none;
	}
	#dashboard {
		margin-top: 119px;
	}
	
	#more {
		width: 80%;
		left: 10%;
		top: 74px;
	}
	
}


@media only screen and (max-device-width: 1024px) {
	body {
		-webkit-text-size-adjust: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
}
@media only screen and (max-device-width: 480px) {
	#header {
		position: absolute;
	}
	#overlays {
		position: absolute;
	}
	
}