//HiTask theme #2 Classic

@import "themebase.less";

@centralPanelBackground: #7CA8E0; //#EAEBF1;//#DFE5F3;
@panelBackground: #F8F8F8;
@tabInactiveBackground: #E3E7EE;


@groupByTabBorderRadius: 6px;

//Background of central part with items
@itemListBackground: #FFf;
// space between items and container sides
@itemListSidePadding: 5px;

//width of borders for tasks, calendar, team etc
@mainSectionsBorderWidth: 5px;
@mainSectionsCornerRadius: 6px;

@notificationBackground: #FDFDDF;
@notificationBorderRadius: 6px;

@textMuted: #838383;

//Groups
@starredGroupColor: #FDF0A8;
@secondaryGroupColor: #f0f0f0;
@secondaryGroupBroder: 5px solid #f0f0f0;
@groupBorderRadius: 6px;
@groupTitleColor: #646464;

// Calendar and Team panels
@panelHeadingFontSize: 1.4em;

///Action button, Modify, etc. Navbar links
@primaryActionBackground: #0072BC;
@primaryActionForeground: #fff;

//Color for minor buttons like Next/Prev and outlines for controls
@secondaryActionColor: #BBB;
@secondaryActionBackground: #eee;
@secondaryNavigationColor: #BBB;

//Select lists

@selectListBorder: 1px solid #82abde;
@selectListBorderRadius: 2px;
.selectListBackground() {
  #gradient > .vertical(@white, #eef4fa);
}
.selectListShadow(){
	.box-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
}
@selectListSelectionBackground: #e7e7e7;

//color for menu items
@navBarActionColor: #0072BC;

@itemBorderRadius: 3px;
@itemBorder: 1px solid #DBDBDB;

@popupDialogBackgroundColor: #FCFCF7;
@popupDialogActionBarBAckground: #E0E2EC;


