//HiTask theme #1 Default

//iOS7: f8f8f8
// navbar: f6f5f1
@themeIconsSprite: '/img/theme_icons.png';
@inactiveTabDesaturation: 30%;

// ------------ CENTRAL PANEL
@centralPanelBackground: #e5e5e5;//#D3D8DF;
@tabActiveBackground:  #e5e5e5;
@tabInactiveBackground: #f3f3f3; // 2016 theme: #ecedee;
.groupByActiveTabBackground(){
  #gradient > .vertical(lighten(@centralPanelBackground,5%), @centralPanelBackground);
}
.groupByInactiveTabBackground(){
  background: @tabInactiveBackground;
}
@groupByTabBorderRadius: 6px;


//width of borders for tasks, calendar, team, etc.
@mainSectionsBorderWidth: 2px;
@mainSectionsCornerRadius: 1px;
@panelBackground: #F8F8F8;

// --------  SIDE PANELS
// Background and border for Team,Calendar
@sidePanelBackground: none;//#e5e5e5;
@sidePanelInnerBackground: #F7F7F7;
// inner background ? #F8F8F8;
// Calendar and Team panels
@panelHeadingFontSize: 1.3em;
@panelHeadingFontWeight: 100;

// ------ ITEM LIST
//Background of central part with items
@itemListBackground: #F7F7F7;
// space between items and container sides
@itemListSidePadding: 5px;

@loadingThrobberColor: #3aa1e4;

// Item
@itemBorderRadius: 1px;
@itemBorder: 1px solid #EFEFEF;
@ItemHoverBorder: 1px solid #D2DEE9;
@collapsedItemBackground: #FFFFFF;//#FAFAFA; //10.0: #F5F5F5;
.collapsedItemHoverBackground(){
	background: #E0EBF7;
//  #gradient > .vertical(#F4F8FE, #E8F1FA);
}

// --- TOOLBAR
.toolbarBackground(){
	background: #F5F5F5;//#ECECEC;
//	#gradient > .vertical(#FDFDFD, #F5F5F5);
}
@toolbarBorderRadius: 3px;
@toolbarBorderColor: #E8E8E8;
@toolbarBorder: 1px solid @toolbarBorderColor;
// Action in expanded group toolbar. Delete completed and alike
@toolbarActionColor: @secondaryActionTextColor;//@toolbarActionColor: @secondaryActionColor;

@toolbarHighlightColor: #765553;

// help banner
@notificationBackground: #FDFDDF;
@notificationBorderRadius: 6px;

// Text color for Placeholder in input, help, secondary information
@textMuted: #BBB;//#838383;

// TextField text color
@textInputColor: #333;
//Form label, etc
@textLabelColor: #999;
@inputHoverBackground: #EFEFEF;

//-----  GROUPS
@starredGroupColor: #FDF0A8;
@secondaryGroupColor: #f0f0f0;
@groupBorderWidth: 5px;
@secondaryGroupBroder: @groupBorderWidth solid @secondaryGroupColor;
@groupBorderRadius: 5px;
@groupTitleColor: #646464;

@todayGroupColor: #ADE0AF;

// ------ PROJECTS
@projectTitleColor: #444;
@projectTitleBackgroundColor: #E9E9E9;// #E2E2E2;
@projectBorderRadius: @groupBorderRadius;
@projectInnerBorderRadius: 2px; //Set to value less than borer radius to prevent visual issues
@projectBorderWidth: 2px;

// ------------ Action , BUTTONS
///Action button, Modify, etc.
@primaryActionColor: #0E7DC5;// #1077B9;
@primaryActionBackground: #2C719E;//#2791D6;//#3aa1e4;//#0072BC;
@primaryActionForeground: #E8F5EA;//#F2F8F8;//#fff;
@primaryActionBorder: 1px solid #A5C4D8;//#BEE2FA; //lighten(@primaryActionColor, 50%);
@primaryActionBorderRadius: 2px;

//Color for secondary buttons like Next/Prev and outlines for controls
@secondaryActionColor: #4D4D4D;
@secondaryActionTextColor: #646464;
@secondaryActionBackground: #F3F3F3;
//link
@secondaryNavigationColor: #838383; //#BBB


@disabledActionColor: #838383;

//Select lists - calendar month select, sort, etc.
@selectListBorder: 1px solid #82abde;
@selectListBorderRadius: 2px;
.selectListBackground() {
  #gradient > .vertical(@white, #eef4fa);
}
.selectListShadow(){
	.box-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
}
//menu item background color
@selectListSelectionBackground: #e7e7e7;
//menu item text color
@selectListSelectionColor: #36C;

@inputBorderColor: #BFBFBF;
/**** INPUT ****/
input[type="email"], input[type="password"], input[type="text"], input[type="url"], textarea {
	border: 1px solid @inputBorderColor;
	outline: none;
	padding: 3px;
	text-rendering: optimizeLegibility
}

textarea {
	.textInputLarge();
}
/*New item title. Project title, many tasks*/
.textInputLarge(){
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color: #F9F9F9;
	.border-radius(2px);
}

.textInput(){
	background-color: #F9F9F9;
	.border-radius(2px);
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="url"]:focus, textarea:focus{
	border-color: #3D658D;
}
input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="url"]:hover, textarea:hover {
	border-color: #999;
}


/*	iOS7:#f6f5f1;
	new blue #F3F6FA
	classic white gray #F8F9FA*/
@popupDialogBackgroundColor: #F3F6FA;
@popupDialogActionBarBackground: #EEE;
@popupDialogBorderRadius: 3px;
h1 {
	font-size: 140%;
	font-weight: 300;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 95%;
}

/*--------- NAVBAR - Header*/
/*color for menu items*/
@navBarActionColor: #3795D3;
.headerGradient() {
	#gradient > .vertical-three-colors(#e3eff8, #f2f8fa, 50%, #e3eff8);
}
@headerBorderColor:  #E4E4E4;
@headerBorderRadius: 4px;
@headerBackground: #EFF6FA;
.headerShadow() {
	.box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

@defaultProjectColor: #2aaef5;
/*
Mixin usage examples:
.border-radius(@mainSectionsCornerRadius @mainSectionsCornerRadius 0px 0px);
#gradient > .vertical(@tabActiveBackground, @white);
.box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
.user-select(none)
*/
/*--HTML5 Notifications Unsupported/Disabled warning label --*/
@notifyWarnBorderColor: #FFA5A5;
@notifyWarnBackgroundColor: #FDD;

/*Loader color*/
.ball-clip-rotate>div {
	border-left-color: @loadingThrobberColor;
	border-right-color: @loadingThrobberColor;
	border-top-color: @loadingThrobberColor;
}
.ball-scale-ripple-multiple>div {
	border-color:  @loadingThrobberColor;
}
.ball-beat>div, .line-scale>div{
	background: @loadingThrobberColor;
	height: 20px;
}

.dijitBorderContainer-child {
	border: none;
}

.dijitBorderContainer-child {
	border: none;
}
