/* colors.css */
@color1: #FB7E6E;
@color2: #F8B957;
@color3: #F3DF5B;
@color4: #C2D95B;
@color5: #6CB4FF;
@color6: #CAA4DF;
@color7: #B8B8B8;

.color1 {
	background-color: @color1 !important;	/* red */
}
.color2 {
	background-color: @color2 !important;	/* orange */
}
.color3 {
	background-color: @color3 !important;	/* yellow */
}
.color4 {
	background-color: @color4 !important;	/* green */
}
.color5 {
	background-color: @color5 !important;	/* blue */
}
.color6 {
	background-color: @color6 !important;	/* pink */
}
.color7 {
	background-color: @color7 !important;	/* brown */
}
