/*******************POPUP*********************/

.color_palette {
	width: 84px;
	z-index: 30;
	margin-top: 5px;
	margin-left: -15px;
	position: relative;
}

#new_item_colors {
	margin-top: 10px;
}

.color_palette .top {
	background: url(/img/colors_top_left.png) left top no-repeat;
	padding: 0 0 0 6px;
	height: 30px;
	position: relative;
}
/* Feature #1786
* html .color_palette .top {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/colors_top_left.png, sizingMethod=crop);
}
*/
.color_palette .top .back {
	height: 29px;
	border-top: 1px solid #86AEDE;
	margin: 0 11px 0 0;
	background: #EEF3FA url(/img/colors_top_back.png) left top repeat-x;
}
.color_palette .top .right {
	background: url(/img/colors_top_right.png) left top no-repeat;
	height: 30px;
	width: 11px;
	position: absolute;
	right: 0px;
	top: 0px;
}
/* Feature #1786
* html .color_palette .top .right {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/colors_top_right.png, sizingMethod=crop);
}
*/
.color_palette .bottom {
	background: url(/img/popup_bottom_left.png) left top no-repeat;
	padding: 0 0 0 30px;
	height: 10px;
	position: relative;
}
/* Feature #1786
* html .color_palette .bottom {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_left.png, sizingMethod=crop);
}
*/
.color_palette .bottom .back {
	height: 10px;
	margin: 0 11px 0 0;
	background: url(/img/popup_bottom_back.png) left top repeat-x;
}
/* Feature #1786
* html .color_palette .bottom .back {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_back.png, sizingMethod=scale);
}
*/
.color_palette .bottom .right {
	background: url(/img/popup_bottom_right.png) left top no-repeat;
	height: 10px;
	width: 11px;
	position: absolute;
	right: 0px;
	top: 0px;
}
/* Feature #1786
* html .color_palette .bottom .right {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_right.png, sizingMethod=crop);
}
*/
.color_palette .cont {
	width: 100%;
}
.color_palette .cont .left {
	width: 1px;
	background: #83ACDE;
}
.color_palette .cont .right {
	width: 6px;
	background: url(/img/popup_cont_right.png) left top repeat-y;
}
/* Feature #1786
* html .color_palette .cont .right {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_cont_right.png, sizingMethod=scale);
}
*/
.color_palette .cont .back {
	background: #EEF3FA url(/img/colors_cont_back.png) left bottom repeat-x;
}

.color_palette ul {
	margin: -26px 0 0 6px;
	padding: 0 0 1px 0;
	width: 100%;
	overflow: hidden;
	position: relative;
	list-style: none;
}
.color_palette li {
	float: left;
	margin: 3px 4px 0 0;
	background-color: transparent !important;
	background-repeat: no-repeat;
	background-image: url(/img/colors.gif);
}
.color_palette li.color1 {
	background-position: 0 -179px;
}
.color_palette li.color2 {
	background-position: -20px -179px;
}
.color_palette li.color3 {
	background-position: 0 -196px;
}
.color_palette li.color4 {
	background-position: -20px -196px;
}
.color_palette li.color5 {
	background-position: 0 -213px;
}
.color_palette li.color6 {
	background-position: -20px -213px;
}
.color_palette li.color7 {
	background-position: 0 -230px;
}
.color_palette li.nocolor {
	background-position: -20px -230px;
}
.color_palette li div {
	width: 19px;
	height: 19px;
	cursor: pointer;
}
.color_palette li div.hover,
.color_palette li div:hover {
	background: url(/img/colors.gif) 0 -160px no-repeat;
}

#taskLinkDialog {
	.textWrapper {
		padding: 20px 10px 30px;
	}

	.buttonGroup {
		background-color: #F7F5F5;
		height: 35px;
		margin: 0 -8px -8px;
		padding: 3px;
	}

	.dijitButton {
		float: right;
	}
}

#taskExternalLink {
	margin-top: 10px;
	box-sizing: border-box;
	padding: 8px;
	width: 100%;
}
/* Feature #1786
.color_palette li.selected div {
	background: url(/img/colors.gif) -20px -160px no-repeat;
}
*/
/* tag_cloud */
/* Feature #1786
.tagcloud {
	display: block;
	width: 418px;
	z-index: 10;
}

.tagcloud .triangle {
	position: absolute;
	background: url(/img/tagcloud_triangle.png) left top no-repeat;
	z-index: 3;
	top: -5px;
	left: 101px;
	width: 15px;
	height: 10px;

}
* html .tagcloud .triangle {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_triangle.png, sizingMethod=crop);
}
.tagcloud .top {
	padding: 0 0 0 16px;
	height: 22px;
	position: relative;
	background: url(/img/tagcloud_lt.png) left top no-repeat;
}
* html .tagcloud .top {
	height: 25px;
}
* html .tagcloud .top {
	background: none;
	margin-bottom: -4px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_lt.png, sizingMethod=crop);
}
.tagcloud .top .back {
	height: 22px;
	margin: 0 21px 0 0;
	background: #FFFFF0 url(/img/tagcloud_t.gif) left top repeat-x;
}
* html .tagcloud .top .back {
	height: 21px;
}
.tagcloud .top .right {
	height: 22px;
	width: 22px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(/img/tagcloud_rt.png) left top no-repeat;
}
* html .tagcloud .top .right {
	height: 21px;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_rt.png, sizingMethod=crop);
}
.tagcloud .cont {
	width: 100%;
}
.tagcloud .cont .right {
	width: 11px;
	background: url(/img/tagcloud_r.png) right top repeat-y;
}
* html .tagcloud .cont .right {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_r.png, sizingMethod=scale);
}
.tagcloud .cont .back {
	background: #FFFFF0;
}
.tagcloud .cont .back .border {
	padding: 0 15px 5px 15px;
	border-left: 5px solid #FFCB65;
}
.tagcloud .bottom {
	padding: 0 0 0 21px;
	height: 24px;
	position: relative;
	background: url(/img/tagcloud_lb.png) left top no-repeat;
}
* html .tagcloud .bottom {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_lb.png, sizingMethod=crop);
}
.tagcloud .bottom .back {
	height: 24px;
	margin: 0 22px 0 0;
	background: url(/img/tagcloud_b.png) left top repeat-x;
}
* html .tagcloud .bottom .back {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_b.png, sizingMethod=scale);
}
.tagcloud .bottom .right {
	height: 24px;
	width: 22px;
	position: absolute;
	right: 0px;
	top: 0px;
	background: url(/img/tagcloud_rb.png) left top no-repeat;
}
* html .tagcloud .bottom .right {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tagcloud_rb.png, sizingMethod=crop);
}

.print_tooltip a {
	display: block;
	float: left;
	margin: 0 5px;
	padding: 1px 0 0 20px;
	background: url(/img/icon_feed.gif) no-repeat 2px -57px;
}
*/
/* popup.css */

/**NEW TASK/ PROJECT CLOSE BUTTON**/
/* Feature #1786
.input_close {
	position: absolute;
	cursor: pointer;
	cursor: hand;
	margin: -18px 0 0 -9px;
	width: 14px;
	height: 14px;
	background: url(/img/tooltip_close_darkbg.png) left top no-repeat;
}
* html .input_close {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_close_darkbg.png, sizingMethod=crop);
}
*/