
.tasks li.highlight-edit .field .date .dijitTextBox input,
.new-highlight .field .date .dijitTextBox input,
.tasks li.highlight-edit .field .time .dijitTextBox input,
.new-highlight .field .time .dijitTextBox input {
	
}
.tasks li.highlight-edit .field .date .dijitTextBox .dijitArrowButton,
.tasks li.highlight-edit .field .recurrence_end_date .dijitTextBox .dijitArrowButton,
.new-highlight .field .date .dijitTextBox .dijitArrowButton,
.tasks li.highlight-edit .field .time .dijitTextBox .dijitArrowButton,
.new-highlight .field .time .dijitTextBox .dijitArrowButton {
	/*width: 16px;*/
}

.dijitTimePickerPopup {
	max-height: 200px;
	overflow-y: scroll;
}

div[dijitpopupparent^='recurring_interval_'] div[id$='_popup'] {
	max-height: 200px !important;
	overflow-y: scroll !important;
}

.tasks .date .dijitDateTextBox {
	width: 125px;
}

.tasks .time .dijitTimeTextBox{
	width: 117px;
}
