/*******************TEAM MENU*****************/
/*
#contact_info {
	width: 385px;
	z-index: 10;
	margin-top: 13px;
	margin-left: -378px;
	position: relative;
	font: 1em Arial, Helvetica, sans-serif;
}

*/
/*
#contact_info .top {
    background: url(/img/contact_info_top_left.png) left top no-repeat;
	padding: 0 0 0 6px;
	height: 30px;
	position: relative;
}
*/
/* Feature #1786
* html #contact_info .top {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/contact_info_top_left.png, sizingMethod=crop);
}
*/
/*
#contact_info .top .back {
    height: 29px;
	border-top: 1px solid #86AEDE;
    margin: 0 11px 0 0;
    background: #EEF3FA url(/img/contact_info_top_back.png) left top repeat-x;
}
*/
/*
#contact_info .top .right {
    background: url(/img/contact_info_top_right.png) left top no-repeat;
    height: 30px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
*/
/* Feature #1786
* html #contact_info .top .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/contact_info_top_right.png, sizingMethod=crop);
}
*/
#contact_info .bottom {
    background: url(/img/popup_bottom_left.png) left top no-repeat;
    padding: 0 0 0 30px;
    height: 10px;
    position: relative;
}
/* Feature #1786
* html #contact_info .bottom {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_left.png, sizingMethod=crop);
}
*/
#contact_info .bottom .back {
    height: 10px;
    margin: 0 11px 0 0;
    background: url(/img/popup_bottom_back.png) left top repeat-x;
}
/* Feature #1786
* html #contact_info .bottom .back {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_back.png, sizingMethod=scale);
}
*/
#contact_info .bottom .right {
    background: url(/img/popup_bottom_right.png) left top no-repeat;
    height: 10px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
/* Feature #1786
* html #contact_info .bottom .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_right.png, sizingMethod=crop);
}
*/
#contact_info .cont {
    width: 100%;
}
#contact_info .cont .left {
    width: 1px;
	background: #83ACDE;
}
#contact_info .cont .right {
    width: 6px;
    background: url(/img/popup_cont_right.png) left top repeat-y;
}
/* Feature #1786
* html #contact_info .cont .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_cont_right.png, sizingMethod=scale);
}
*/
/*
#contact_info .cont .back {
    background: #EEF3FA url(/img/contact_info_cont_back.png) left bottom repeat-x;
}
*/
#contact_info ul {
	margin: 0px 10px 5px 0px;
	position: relative;
	list-style: none;
}
#contact_info li {
	padding: 1px 0 0 21px;
	background: url(/img/v5/team-bullet.gif) 10px 7px no-repeat;
}
#contact_info li a {
	font: Helvetica, sans-serif;
}
#contact_info li, #contact_info li a, #contact_info li form {
	line-height: 20px;
}

#contact_info .contact_info-avatar {
	overflow: hidden;
	width: 100%;
	padding: 7px 0 4px 6px;
	background: none;
	
	#image {
		border: 1px solid #FFF;
		.box-shadow( rgba(0, 0, 0, 0.2) 0 1px 1px);
		float: left;
		margin: 0 15px 0 0;
		//border-radius:5px;
	}
	
}

#contact_info .contact_info-avatar b {
	color: #312828;
	display: block;
	font-size: 1.166em;
	font-weight: bold;
	max-width: 180px;
	overflow: hidden;
	padding: 4px 0 2px;
	text-overflow: ellipsis;
}
#contact_info .contact_info-avatar span {
	color: #8E8E8E;
}
#contact_info .contact_info-avatar span.username,
#contact_info .contact_info-avatar span.username span {
	color: #312828;
}
#contact_info .contact_info-avatar span.emailInbox {
	word-break: break-all;
}

#contact_info .contact_info-message {
	background: none;
	color: #0C0C0C;
	font-size: 1.09em;
	padding: 3px 0 4px 6px;
}

.user_item {
	div.wait {
		cursor: default;
	}
	
	span.name span {
		cursor: pointer;
		text-decoration: none;
	}
}

#team_scroll {
	overflow-y: auto;
	box-sizing: border-box;
}