/*******************LAYOUT********************/
div.content {
	/*margin: 0 22% 0 27%;*/
	/*margin: 0 3.63%;*/
}

div.content.wide{
	margin-left: 0;
}

div.content.no_column1 {
	margin-left: 30px;
}

html > body div.content.no_column1 {
	margin-right: 29%;
}

html > body div.content.bigCalendarContainer {
	margin-left: 0px;
	/*margin-right: 22%;*/
}

html > body div.content.bigCalendarContainer.no_column1 {
	/*margin-right: 29%;*/
}

#appContainer {
	padding-bottom: 5px;
	box-sizing: border-box;
}
#centerContainer {
	width: 96%;
	margin: 0 2%;
}

#headerPane {
	/*height: 44px;*/
	overflow: visible;
}

#centerPane {
	padding: 15px 1.92% 0;
}

#centerPane.bigCalendarContainer {
}

.contentPane {
	padding-top: 15px;
}

div.content.no_column2 {
	margin-right: 30px !important;
}

div.column1 {
/*	float: left;
	width: 25%;
	margin-left: -100%;*/
}
div.column2 {
/*	float: left;
	width: 20%;
	margin-left: -20%;*/
}
div.column1,
div.column2 {
	overflow: hidden;
}
html > body div.column1,
html > body div.column2 {
	position: relative;
}

*:first-child+html div.column1 {
	position: static;
}


#calendarPane{
	margin-left: 0.5%;
	overflow: visible;
	width: 24%;
}

#messengerPane{
	margin-right: 0.5%;
	width: 19.2%;
}

#messengerPane.no_column1{
	width: 19.2%;
}
/*
.no_column1.inAnimShrink #main{
}
	padding-left: 35.294%;

.no_column2.inAnimShrink #main{
	padding-right: 28.169%;
}

.no_column1.no_column2.inAnimShrink #main{
	padding
}*/
div.column1.invisible * {
	display: none;
}



.c-lt,
.c-rt,
.c-rb,
.c-lb {
	position: absolute;
	width: 10px;
	height: 10px;
}
.c-lt { left: 0; top: 0; }
.c-rt { right: 0; top: 0; }
.c-rb { right: 0; bottom: 0; }
.c-lb { left: 0; bottom: 0; }
