#header {
	.section {
		float: right;
		margin: 0;
		height: 27px;
		padding: 12px 14px 0 0;

	}
	.section.search {
		.hiClearBox {
			width:115px;
			.hiClear {
				right: 2px;
			}
			.hiClearBoxDecoration {
				right: 2px;
			}
		}
	}
	#headerSearchSection {
		padding-top: 9px;
	}
}

.archive_title_header{
	font-size: 17px;
	font-weight:400;
	padding-top:5px;
	line-height: 28px;
	position: absolute;
	left: 50%;
	text-align: center;
	margin-left: -1.4em;
}
.ie7 .archive_title_header {
		margin:0 0 0 38%;
		font-size:17px;
		font-weight:400;
		padding-top:5px;
		text-align:left;
		line-height: 28px;
}
#archive_header {

	padding: 0 2%;
	line-height: 140%;

	background: #F9FCFD;
	border-bottom: 1px dotted #A4C2E1;
	font: 0.916em Arial, Helvetica, sans-serif;
}

#archive_header .section {
	float: right;
	margin-top: 6px;
	height: 18px;
	border-right: 1px solid #CDDEEF;
}

/* Archive logo */
#archive_header .logo {
	display: block;
	float: left;
	padding: 8px 12px 5px 0;
}
#archive_header .section-logo {
	padding: 13px 0 0 8px;
	color: #613C3D;
	/*text-transform: uppercase;*/
	float: left;
	font-weight: 500;
	height: 16px;
	font-size: 1.2em;
	line-height: 1.7em;
}
#archive_header .section-logo a {
	color: #F26522;
}
#archive_header .section-logo a:hover {
	text-decoration: none;
}

/* Links */
#header .links_archive {
	float: right;
	padding-left: 7px;
	padding-right: 431px;
	font-size: 17px;
	font-weight: bold;
}

#header .links {
	float: right;
	position: relative;
	z-index: 1;
	font-size: 1.1em;
	line-height: 2.2em;
	padding-left: 0.7em;

	.paddedLink, #searchLink, #helpLink, #settingsLink, #archiveLink {
		padding-right: 9px;
		padding-left: 9px;
	}
	.iconLink {
		padding-right: 6px;
		font-size: 13px;
	}
	a {
		padding: 3px 0px 0 8px;
		text-decoration: none;
		color: #333;
		display: inline-block;
		height: 16px;
		line-height: 16px;
		/*border-left: 1px solid #CEDAE1;*/
	}

	a:hover {
		color: #0072BC;
	}

	a span[data-icon] {
		color: #808080;// @navBarActionColor;
	}
}

#header .links-feedback {
	padding-left: 5px;
}
#header .links-feedback a {
	border-left: 0;
	padding: 1px;
	color: #0E6BAB;
}
#header .links-feedback span {
	color: #ED2024;
}
#header .links-feedback span em.hi_adjust {
	display: inline-block;
	font-style: normal;
	padding-left: 1px;
}

#header .buttons {
	border-right: 0;
	position: relative;
	z-index: 1;
	border-right: 1px solid #DBDBDB;
	height: 32px;
	a {
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		text-decoration: none;
		vertical-align: top;
		// #gradient > .vertical(#f2eff2, #f0f0f0);
		font-size: 1.1em;
		line-height: 2.2em;
		color: #333;
		span {
			display: inline-block;
			// width: 70px;
		//	height: 20px;
		//	line-height: 20px;
			text-align: center;
			color: @primaryActionBackground;
			cursor: pointer;
			padding-right: 5px;
		}
	}
}

	#header .buttons a i {
		font-style: normal;
	}

	#header .buttons a.timer-running,
	#header .buttons #queueLink {
		background-position: 0 -80px;
	}
	#header .buttons a.timer-running span,
	#header .buttons #queueLink span {
		color: #222;
	}

	#header .buttons a.timer-running i {}

	#header .buttons a.active,
	#header .buttons #queueLink.active,
	#header .buttons a.active span,
	#header .buttons #queueLink.active span  {
		background-color: @navBarActionColor;
		color: #fff;
	}


	/* SPAN innerHTML changes on progress and click breaks,
	 * using proxy */
	#header .buttons #uploadLink em {
		display: block;
		position: absolute;
		height: 20px;
		background: #fff;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	#header .buttons #timerLink {
		font-family: Courier, monospace;
		font-size: 1.6em;
	}
	#header .buttons #timerLink span {
		color: #333;
		line-height: 1.5em;
	}

	#header .buttons #timerLink.active span {
		color: #FFF;
	}
	#header .buttons #timerLink.timer-running span {
		color: #222;
	}
	#header .buttons #timerLink.timer-running.active span {
		color: #fff;
	}

	#header .buttons #queueLink span {
		width: 33px;
	}
	#header .buttons #queueLink i {
		display: inline-block;
		width: 33px;
		height: 20px;
		background: url(/img/v5/item_sprite_12.png) 50% -817px no-repeat;
	}
	#header .buttons #queueLink.active i {
		background-position: 50% -797px;
	}

#notification, #notification_archive {
	width: 302px;
	position: fixed;
	z-index: 99999;
	top: 0;
}

#notification {
	margin: 0 0 0 -151px;
	left: 50%;
}

#notification_archive {
	left: 40%;
}
* html #notification {	/* IE doesn't suppoer 'fixed' */
	position: absolute;
}

* html #notification_archive {	/* IE doesn't suppoer 'fixed' */
	position: absolute;
}

#notification .border {
	border: 1px solid #C9B36D;
	border-top: 0;
	position: relative;
	/* zindex under header: 9999*/
	z-index: 99999;
	background:  #F9EDBE;

	height: 18px;
	padding: 2px 0 1px 5px;

	font: 12px Arial, Helvetica, sans-serif;
	color: #222;
	line-height: 150%;
	text-align: center;

	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	-ms-border-radius: 4px;
	-ms-border-top-left-radius: 0;
	-ms-border-top-right-radius: 0;

	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;

	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



#notification_archive .border_archive {
	border-top: 0;
	position: relative;
	z-index: 99999;
	background: #F9EDBE;

	height: 18px;
	padding: 2px 0 1px 5px;

	font: 12px Arial, Helvetica, sans-serif;
	color: #222;
	line-height: 150%;
	text-align: center;

	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	-ms-border-radius: 4px;
	-ms-border-top-left-radius: 0;
	-ms-border-top-right-radius: 0;

	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;

	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;

	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


#latest_news{
	width: 456px;
	margin: 6px auto 10px auto;
}
#latest_news .border {
	text-align: left;
	background: #F6F6F6;
	border: 2px solid #F0F0F0;
	position: relative;
	padding-left: 5px;
	height: 18px;
	line-height: 150%;
	border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#latest_news .lt {
	margin: -2px;
	background: url(/img/main_latest_news_lt.gif) left top no-repeat !important;
}
#latest_news .rt {
	background: url(/img/main_latest_news_rt.gif) right top no-repeat !important;
}
#latest_news .rb {
	background: url(/img/main_latest_news_rb.gif) right bottom no-repeat !important;
}
#latest_news .lb {
	background: url(/img/main_latest_news_lb.gif) left bottom no-repeat !important;
	padding: 5px 8px 2px 16px;
}

#latest_news .close{
	position: absolute;
	width: 14px;
	height: 14px;
	background: url(/img/icon_close.gif) left top no-repeat;
	cursor: pointer;
	right: 10px;
	top: 2px;
	z-index: 3;
	font-size: 0;
}
* html #latest_news .close
{
	top: 4px;
}

.latest_news_wrapper {
	height: 38px;
}

// trial alert notification
.notification-alert-global {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: 0;
  border-left: none;
  border-right: 0;
  margin: 0;
  padding: 10px 0;
  position: relative;
  text-align: center;

  .icon-uniE07A{
  	float: right;
	padding: 10px;
	margin-right: 5px;
	color: inherit;
	text-decoration: none;
	font-size: 0.7em;
 }

	 .btn{

	  display: inline-block;
	  padding: 5px 10px;
	  margin-bottom: 0;
	  font-size: 13px;
	  line-height: 18px;
	  color: #555;
	  text-align: center;
	  vertical-align: middle;
	  font-weight: 600;
	  cursor: pointer;
	  border: 1px solid #C7C7C7;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  border-radius: 5px;
	  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	    -webkit-transition: background-color 250ms ease,border-color 250ms ease;
	  -moz-transition: background-color 250ms ease,border-color 250ms ease;
	  -ms-transition: background-color 250ms ease,border-color 250ms ease;
	  -o-transition: background-color 250ms ease,border-color 250ms ease;
	  transition: background-color 250ms ease,border-color 250ms ease;
	}
	.btn:hover {
	  background-color: #1E86C8;
	  border-color: #1E86C8;
	  color: #FFF;
	}
	.btn-primary-alt {
	  background-color: #2E9BE0;
	  border-color: #2E9BE0;
	}
	.btn-small {
	  color: white !important;
	  text-decoration: none;
	  padding: 5px 9px;
	  font-size: 12px;
	  line-height: 16px;
	}



}

.notification-alert {
	  font-size: 14px;
  border: 0;
  text-shadow: none;
}
.notification-alert-danger {
	  background-color: #F8EDED;
  border-color: #D49C91;
  color: #B94A48;
    border-bottom: #E8CDC8 1px solid;
}
