/*******************COLLAPSE******************/

#collapse {
	clear: both;
	top: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
	color: @secondaryNavigationColor;

	.btns * {
		cursor: pointer;
		margin: 0 0 -16px 0;
		position: relative;
		z-index: 2;
		width: 16px;
		height: 16px;
	}
}

.trial #collapse {
	top: 108px;
}

#collapse .btns .column1 {
	float: left;
	margin-left: 3px;
}
#collapse .btns .column2 {
	float: right;
}

#collapse .text {
	cursor: pointer;
	position: absolute;
	width: 100%;
}
#collapse .text .column1,
#collapse .text .column2 {
	position: absolute;
}
#collapse .text .column1 {
	left: 1px;
}
#collapse .text .column2 {
	right: 1px;
}
#collapse .text .collapse_icon {
	font-size: 17px;
	border: 1px solid @secondaryNavigationColor;
	padding: 2px;
	width: 20px;
	text-align: center;
	background: #EFF6FA; //TODO: use var for globalnavbarbackground. @secondaryActionBackground
}
#collapse .text .column1 .collapse_icon {
	background-position: 0 -16px;
}
#collapse .text .column2 .collapse_icon {
	background-position: -36px -16px;
}
#collapse .text .column2 .message {
	margin: 5px 0 0 10px;
	width: 16px;
	height: 11px;
	color: #E9C1C1;
}

.column-close-icon {
//	font-size:0.6em;
	font-size: 11px;
	color: @secondaryNavigationColor;
  	cursor: pointer;
    line-height: 2.7em;
	float:right;
	padding-right:0.6em;

}
.column1   .column-close-icon{
//	float: left;
//	padding-left: 0.8em;
}
