/* Properties view */
.properties_view {
	zoom: 1;
	border: 1px solid #E0EBF7;

	.closed {
		background: #F4F8FE;
		padding: 10px 8px 2px 10px;
		font-size: 1em;
	}

	.cont {
		margin: 0 0 10px;
//		background: #CDDEEE;
		padding: 1px 1px 1px 1px;
		color: #333;
	}

	.cont-inner {
		background: #fff;
		padding: 10px 20px 11px 9px;
	}

	.highlight {
		cursor: pointer;
	}

	.cont-inner.description {
		background: #FFFFF5;
		cursor: text;
		overflow: hidden;
	}

	.highlight>.task_div .no-description {
		color: #B8B8B8;
	}

	.cont .label {
		color: #666;
	}
}

/* File drop */
.file-drop-highlight, .file-drop-highlight * {
	/* Show to user (Windows XP) that it's not possible to drop files on document */
	cursor: not-allowed;
	cursor: no-drop;
}

.file-drop-highlight .properties_view .closed *,
.file-drop-target .properties_view .closed * {
	visibility: hidden;
}

.properties_view .time_track {

	.time_tracking_buttons{
		margin-bottom: 0.6em;
		.secondary_action{
			margin-left:0px;
		}
	}

}
	.properties_view .time_track span.t {
		background: none !important;
	}
	.properties_view .time_track .cont-inner {
		padding: 5px 11px 7px 6px;
		position: relative;

		.itemTimetrackThrobberMsg {
			text-align: center;
			top: 0;
			left: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: 101;
			display: block;

			img {
				top: 10%;
				position: absolute;
			}
		}
	}
	.properties_view .time_track .cont-inner-wrapper {
		padding: 5px 0 4px 3px;
		line-height: 17px;
	}
	.properties_view .time_track .time-tracking-container {
		padding: 2px 0 2px 3px;
		line-height: 21px;
	}

	.properties_view .time_track input.txt {
		line-height: 12px;
		height: 16px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.properties_view .time_track .label {
		padding-right: 3px;
	}
	.properties_view .time_track a.spent {
		color: #0E0E0E;
		text-decoration: none;
		padding-right: 4px;
	}
		.properties_view .time_track a.spent span {
			font-weight: bold;
			text-decoration: underline;
		}
		.properties_view .time_track a.spent span.t {
			text-decoration: none;
			font-weight: normal;
		}

	.properties_view .time-tracking-container {
		.label {
			display: inline;
			//float: left;
			//width: 76px;
			//text-align: right;
			padding-right: 0;
		}
		.estimated_container, .spent_container{
			&:hover{
				background:@selectListSelectionBackground;
			}
			.estimated {
				float: right;
			}
		}
		.estimated_container {
			white-space: nowrap;

			.label {
				float: left;
			}
		}

		.spent, .spent .t {
			float: right;
			&:hover{
				background:@selectListSelectionBackground;
			}
		}
	}
	.properties_view .time-tracking-container .spent-details .label {
		text-decoration: none;
		cursor: pointer;
	}
		.properties_view .time-tracking-container a.spent {
			color: #0E0E0E;
		}
		.properties_view .time-tracking-container a.spent {
			text-decoration: underline;
			padding-right: 0px;
		}
		.properties_view .time-tracking-container a.spent span,
		.properties_view .time-tracking-container a.spent span.t {
			font-weight: normal;
			//text-decoration: underline;
			display: inline-block;
		}

	.properties_view .time_track a.details {
		font-size: 0.916em;
		display: inline-block;
		margin-right: 1px;
	}
	.properties_view .time_track a.track,
	.properties_view .time_track a.timer,
	.properties_view .time_track a.report,
	.time_track li.editing a.delete {
		display: inline-block;
		//float: right;
		padding-left: 16px;
		background: url(/img/v5/item_sprite_12.png) -4px -600px no-repeat;
		font-size: 0.916em;
		//width: 62px;
	}
	.properties_view .time_track a.report {
		background-position: -5px -620px;

		span {
			display: inline-block;
			margin-top: 2px;
			cursor: pointer;
		}
	}
	body.firefox {
		.properties_view .time_track a.report span {
			margin-top: 1px;
		}
	}

	.properties_view .time_track a.timer {
		background-position: -4px -777px;
		width: auto;
		padding-right: 14px;
	}
	.properties_view .time-track-report a.report {
		//width: 60px;
		padding-right: 0;
	}

	.properties_view .time-tracking-container a.report {
		background-position: -4px -618px;
	}
	.properties_view .time-tracking-container a.track {
		background-position: -4px -598px;
	}


	/* No time spent */
	.properties_view .time-track-notimespent a.details,
	.properties_view .time-track-notimespent a.report {
		display: none;
	}
	.properties_view .time-track-notimespent a.spent {
		cursor: default;
	}
	.properties_view .time-track-notimespent a.spent span {
		text-decoration: none;
	}

	.properties_view .time-track-list .dijitDateTextBox,
	.properties_view .time-track-add-entry .dijitDateTextBox {
		position: absolute;
		height: 0;
		border: 0;
		overflow: hidden;
	}

/* Time tacking */
.properties_view .time-track-add-entry {
	background: #feecd5;
	cursor: default;
	padding: 3px 0;
	margin: 4px 0 0;
	display: none;
	line-height: 1em !important;
}
	.properties_view input.invisible,
	.properties_view .invisible input {
		position: absolute;
		width: 0;
		height: 0 !important;
		overflow: hidden;
		border:0;
		padding: 0;
	}
	.properties_view div.invisible {
		visibility: visible;
	}

	.properties_view .time_track .time-track-add-entry .label {
		padding-right: 0;
	}

	.properties_view .time-track-add-entry a.spent {
		text-decoration: underline;
		padding-right: 0;
	}

	.properties_view .time-track-add-entry a.user,
	.properties_view .time-track-add-entry a.cancel-time,
	.properties_view .time-track-add-entry a.spent,
	.properties_view .time_track .time-track-add-entry .label {
		vertical-align: middle;
	}

	.time-track-add-entry .save-time,
	.time-track-list .save-time {
		margin-right: 3px;
	}

	.time-track-add-entry .cancel-time,
	.time-track-list .cancel-time {
		color: #666;
	}
	.time-track-add-entry .time_est,
	.time-track-list .time_est {
		width: 65px;
		color: #666;
		margin-right: 4px;
	}
	.time-track-add-entry a.user,
	.time-track-list a.person {
		display: inline-block;
		padding: 2px 0;
		text-decoration:none;
	}
	.time-track-add-entry a.user span.person-name {
		color: #070707;
		text-decoration: underline;
	}

.properties_view .time_track .time-track-report {
	display: none;
	position: relative;
	margin-bottom: 4px;
	overflow: hidden;
	zoom: 1;
	padding: 0;
}
	.properties_view .time_track .time-track-report-inner {
		padding-bottom: 8px;
		padding-top: 7px;
	}
	.properties_view .time_track .time-track-report .progress_percentage {
		font-weight: 600;
		span {
			margin-left: 3px;
			line-height: 20px;
		}
	}
	.properties_view .time-track-report .progress-bar {
		background: #F1F1F1;
		border: 1px solid #C6C6C6;
		height: 13px;
		position: absolute;
		top: 9px;
		left: 44px;
		right: 0px;
		div {
			background: #97EBA5;
			height: 13px;
			width: 0%;
		}
	}

.properties_view .time_track .time-track-list {
	display: none;
	padding-bottom: 0;
	border-top: 1px solid @toolbarBorderColor;
}
	.properties_view .time_track .empty-list {
		border: 0;
		padding: 0;
	}
	.time-track-list .loading {
		margin-bottom: 4px;
		display: none;
	}
	.time_track .loading .loading {
		display: block;
	}

	.time_track ul {
		list-style: none;
		padding: 0 0 0 6px;
	}
	.time_track li {
		padding: 1px 5px 0px 4px;
		cursor: pointer;
	}
		.time_track li .date {
			display: inline-block;
			vertical-align: middle;
			width: 85px;
			color: #525252;
		}
		.time_track li .time {
			display: inline-block;
			vertical-align: middle;
		}
			.time_track li .time span {
				color: #0E0E0E;
				font-weight: bold;
			}
			.time_track li .time span.t {
				font-weight: normal;
				color: #666;
			}

		.time_track li a.person {
			display: inline-block;
			vertical-align: middle;
			width: 130px;
			white-space: nowrap;
			overflow: hidden;
		}
			.time_track li a.person span {
				color: #525252;
				text-decoration: none;
			}



	.time-track-list li:hover .date,
	.time-track-list li:hover a.person .person-name,
	.time-track-list li:hover .time span {
		text-decoration: underline;
	}
	.time-track-list li:hover .date,
	.time-track-list li:hover a.person .person-name,
	.time-track-list li:hover .time span:first-child {
		color: #344A87;
	}


//Global definition for
.properties_view, .hiTaskTooltipDialog{
	.secondary_action {
		.user-select(none);
		.dijitButtonNode {
			border-color: darken(@secondaryActionBackground,10%);
			background: @secondaryActionBackground;
			color: @secondaryActionColor;
			box-shadow: none
		}
/*		.dijitButtonText {
			line-height: 17px;
			font-size: 95%;
		}*/
	}
}

.properties_view .history .commentWrapper {
	display: table;
	width: 100%;

	.column {
		display: table-cell;
	}

	.commentAvatar {
		padding: 0 5px;
	}

	.commentCell {
		padding: 5px;
		vertical-align: inherit;
		width: 100%;
	}

	.avatar {
		img {
			width: 16px;
			height: 16px;
		}
	}
}
	.properties_view .history a,
	.properties_view .history span {
		vertical-align: middle;
	}

	.properties_view .history .link a {
		float: right;
		text-decoration: none;
		color: @secondaryActionColor;
		span {
			vertical-align: baseline;
		}
	}

//Opened in popup - less margins
#tooltip_taskedit {
	ul.tasks {
		padding: 0px;
	}
	.task_ul {
		padding: 0px;
		.properties_view {
			.closed {
				padding: 5px 5px 5px;
			}
			.footer {
				padding: 6px 5px 5px 5px;
			}
		}
	}
}

/* TODO: remove duplicate definition of  .properties_view .footer  */
.properties_view .footer {
	// background: #E0EBF7;
	font-size: 1em;
	overflow: hidden;
	padding: 6px 6px 5px 22px;
	zoom: 1;

	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;

	.action-button {
		.dijitStretch,
		.dijitArrowButton {
/*			background: @secondaryActionBackground;
			border-color: darken(@secondaryActionBackground,5%);*/
			box-shadow: none;
			/*color: @secondaryActionColor;*/
		}
		.dijitStretch {
			border-right: none;
			padding-right: 0px;
		}
	}
	.delete-button [data-icon] {
		color: #B16161;
	}
}
	.properties_view .footer .links {
		float: left;
		/*Feature #5493*/
		/*font-size: 0.916em;*/
		/* #2726 padding: 3px 0 0;*/
		padding: 0;
	}

	.properties_view .footer .links a {
		line-height: 17px;
		height: 17px;
		display: inline-block;
		border-left: 1px solid #B9CFE3;
		padding-right: 9px;
		padding-left: 9px;
		border: 1px solid #D1DFEC;
		background-color: #C7E0F1;
		border-radius: 3px;
		margin-left: 0px;
		text-decoration: none;
		color: #535353;
		font-size: 12px;
	}
	.properties_view .footer .links a:first-child,
	.properties_view .footer .links .hidden+a {

	}
	.properties_view .footer .links a [data-icon]{
		font-size: 13px;
		vertical-align: 0;
	}
	.properties_view .footer .links a[data-dojo-attach-point="deleteLinkNode"] [data-icon]{
		color: #B16161;
	}

	.properties_view .footer .links a.externalLink {
		float: right;
		background:none;
		border:none;
		padding: 0;
		padding-top: 0.3em;
		margin: 0.2em;
		padding-left: 0.4em;
	}

	.properties_view .footer .prop_assfrom_delete {
		background: url(/img/v5/item_sprite_12.png) 5px -543px no-repeat;
	}
	.properties_view .footer .attachbutton {
		background: url(/img/v5/item_sprite_12.png) 1px -911px no-repeat;
	}
	.properties_view .footer button {
		float: right;
		font-size: 1em;// Helvetica, Arial, sans-serif;
	}
	.properties_view .footer .dijitButton {
		float: right;
	}
