#main .menu {
	padding: 0 8px;
	text-align: right;
	display: flex;
	align-items: center;
}
#main .menu table {
	border-collapse: separate;
	margin: -2px 0 -2px auto;
}
#main .menu table td {
	//background: url(/img/main_menu.png) left top repeat-x;
	font-size: 110%;
	white-space: nowrap;
}
#main .menu table td .tab {
	.border-top-radius(@groupByTabBorderRadius);
	.groupByInactiveTabBackground();
}

#main.itemNewEdit #mainContainer,
#main.falls {
	max-height: none !important;
}
#main .menu table td.active {
	color: @secondaryActionColor;

	a {
		color: @secondaryActionColor;
		font-weight: 600;
	}
	.tab {
		.groupByActiveTabBackground();
	}
}

#main .menu table td a {
	display: block;
	padding: 4px 10px 0 10px;
	height: 22px;
	text-decoration: none;
	color: #777;
	line-height: 160%;

}

#main .menu table td.ungroup a,
#main .menu table td.date a,
#main .menu table td.calendar a,
#main .menu table td.activityfeed a,
#main .menu table td.project a,
#main .menu table td.user a,
#main .menu table td.color a {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	span.icon{
		left: 9px;
		position: absolute;
		top: 7px;
	}
}
#main .menu.shrink table td a {
	padding-left: 6px;
	padding-right: 6px;
}
#main .menu table td.more a, {
	font-size:90%;
}


#main .menu table td.ungroup.active a {
	.noFilter();
}

#main .menu table td.calendar a,
#main .menu table td.activityfeed a
{
	/*padding-left: 10px;*/
	.noFilter();
}

#main .menu table td.date.active a {
	.noFilter();
}


#main .menu table td.project.active a {
	.noFilter();
}

#main .menu table td.user.active a {
	.noFilter();
}

#main .menu table td.color.active a {
	.noFilter();
}

#main .menu table td.group_by {
	background: none;
	color: @textMuted;
	/*font-weight: bold;*/
	padding: 8px 8px 0 0;
}

#main .menu.shrink td span.title{
	/* display: none; */
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 45px;
	text-align: center;
}
#main .menu.shrink td.active span.title{
	display: inline-block;
}
#more-tabs {
	display: block;
	padding: 4px 10px 0 10px;
	height: 22px;
	text-decoration: none;
	color: #777;
	line-height: 160%;
	min-width: 45px;
}
.shrink #more-tabs {
	min-width: 7px;
}
.shrink #more-tabs .title {
	display: none;
}
#tabs-menu {
	box-shadow: none;
	border: medium none;
}
