/*******************CALENDAR******************/

#calendar {
	padding: 0;
	overflow: inherit;
	text-decoration:none;
	background-color: @sidePanelBackground;
	#now {
		line-height: 2em;
		font-size: @panelHeadingFontSize;
		padding-left: 0.4em;
		font-weight: @panelHeadingFontWeight;
		}
}
#calendar .date {
	text-align: left;
	min-height: 22px;
	overflow: hidden;
}
* html #calendar .date {
	height: 22px;
}
#calendar .date b {
	font-size: 135%;
}
#calendar .back {
	background:  @sidePanelBackground;
	border: @mainSectionsBorderWidth solid @sidePanelBackground;
	box-sizing: border-box;
	overflow: inherit;
	padding: 0 2px 2px 2px;
}

#calendar .calendar {
	margin: 0 0 10px 0;
	overflow: inherit;
}
#calendar .calendar a {
	color: #438DC3;
}
#calendar .calendar .navigation {
	//background: #F7F7F7;
	/*//url(/img/calendar_navigation_left.gif) left top no-repeat;*/
	overflow: inherit;
	padding-top: 6px;
	padding-bottom: 6px;
}
#calendar .calendar .navigation .corner {
	/*background: url(/img/calendar_navigation_right.gif) right top no-repeat;*/
	padding: 5px;
}
#calendar .calendar .navigation table {
	margin: 0 -5px 0 0;
}
#calendar .calendar .navigation table td {
/*	width: 100%;*/
}
#calendar .calendar .navigation table td:first-child {
	width: auto;
}
* html #calendar .calendar .navigation table td {
	width: ~"!previousSibling ? 'auto' : 'inherit'";
}
#calendar .calendar .navigation table table {
	margin: 0 auto;
}
#calendar .calendar .navigation table table td {
	width: auto;
	vertical-align: middle;
}
#calendar .calendar .navigation table table td .prev,
#calendar .calendar .navigation table table td .next {
	cursor: pointer;
	color: @secondaryNavigationColor;
	padding: 5px;
	font-side: 70%;
}
#calendar .calendar .navigation table table td .prev {
	background-position: left top;
}
#calendar .calendar .navigation table table td .next {
	background-position: right top;
}
#calendar .calendar .navigation table table td.text .value{
//	border: 1px solid darken(@secondaryActionBackground, 10%);
//	background: @secondaryActionBackground;
//	.border-radius(3px);
	padding: 2px 5px 0 5px;
	text-align: center;
	width: 2.5em;
	line-height: 150%;
	color:  @secondaryActionColor;
}

#calendar .calendar .navigation table table.month td.text .value {
	width: 60px;
	line-height: 150%;
}

#calendar .calendar .navigation table table td.text span {
	cursor: pointer;
}


#calendar .calendar .navigation .select {
	position: relative;
	margin: -2px -16px 0 -12px;
	z-index: 10001;

	.c {
		position: absolute;
		top: -87px;
		left: 8px;
		border: @selectListBorder;
		.border-radius(@selectListBorderRadius);
		.selectListBackground;
		.selectListShadow;
	}
	#month_select .c{
		left:15px;
	}
	table.month .select .c {
		width: 88px;
	}
	table.year .select .c {
		width: 58px;
	}
}

#calendar .calendar .navigation
#calendar .calendar .navigation .select .top {
  //  background: url(/img/popup_top_left.png) left top no-repeat;
	//padding: 0 0 0 6px;
	//height: 30px;
//	position: relative;
}
/* Feature #1786
* html #calendar .calendar .navigation .select .top {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_top_left.png, sizingMethod=crop)";
}
*/
#calendar .calendar .navigation .select .top .back {
    height: 29px;
	border-top: 1px solid #86AEDE;
    margin: 0 11px 0 0;
    background: #FFF;
}
#calendar .calendar .navigation .select .top .right {
   // background: url(/img/popup_top_right.png) left top no-repeat;
    height: 30px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
/* Feature #1786
* html #calendar .calendar .navigation .select .top .right {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_top_right.png, sizingMethod=crop)";
}
*/
#calendar .calendar .navigation .select .bottom {
    background: url(/img/popup_bottom_left.png) left top no-repeat;
    padding: 0 0 0 30px;
    height: 10px;
    position: relative;
}
/* Feature #1786
* html #calendar .calendar .navigation .select .bottom {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_left.png, sizingMethod=crop)";
}
*/
#calendar .calendar .navigation .select .bottom .back {
    height: 10px;
    margin: 0 11px 0 0;
    background: url(/img/popup_bottom_back.png) left top repeat-x;
}
/* Feature #1786
* html #calendar .calendar .navigation .select .bottom .back {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_back.png, sizingMethod=scale)";
}
*/
#calendar .calendar .navigation .select .bottom .right {
    background: url(/img/popup_bottom_right.png) left top no-repeat;
    height: 10px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
/* Feature #1786
* html #calendar .calendar .navigation .select .bottom .right {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_right.png, sizingMethod=crop)";
}
*/
#calendar .calendar .navigation .select .cont {
    width: 100%;
}
#calendar .calendar .navigation .select .cont .left {
    width: 1px;
	background: #83ACDE;
}
#calendar .calendar .navigation .select .cont .right {
    width: 6px;
    background: url(/img/popup_cont_right.png) left top repeat-y;
}
/* Feature #1786
* html #calendar .calendar .navigation .select .cont .right {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_cont_right.png, sizingMethod=scale)";
}
*/
#calendar .calendar .navigation .select .cont .back {
    background: #FFF url(/img/popup_cont_back.png) left bottom repeat-x;
}

#calendar .calendar .navigation .select ul {
	margin: 0px 1px -1px 1px;
	padding: 0px 1px 1px 1px;
	position: relative;
	list-style: none;
}
#calendar .calendar .navigation .select li {
	height: 20px;
	padding: 2px 10px 0 10px;
	cursor: pointer;
	line-height: 150%;
	&:hover{
		color: @selectListSelectionColor;
		background: @selectListSelectionBackground;
	}
}

#calendar .calendar .navigation .select li.active {
	background: @selectListSelectionBackground;
	font-weight: bold;
}

/*---- MONTH GRID*/
#calendar .calendar .table {
	background: #FFF;
}

#calendar .calendar .table .spacer {
	height: 5px;
}
#calendar .calendar .table table {
	width: 100%;
	border-collapse: separate;
}
#calendar .calendar .table th {
	font-size: 95%;
	font-weight: normal;
	background: #F7F7F7;
	border-bottom: 1px solid #EEEEEC;
	width: 14%;
	color: #5D5D5D;
	padding: 1px 0;
}
#calendar .calendar .table td {
	font-size: 100%;
	text-align: center;
	// border-left: 1px solid #EEEEEC;
	background-repeat: no-repeat;
}
#calendar .calendar .table td:first-child {
	border-left: none;
}
* html #calendar .calendar .table td {
	border-left: ~"!previousSibling ? 'none' : 'inherit'";
}
#calendar .calendar .table .top td {
	border-top: 1px solid #FFF;
}
#calendar .calendar .table td.b {
	background-image: url(/img/calendar.png);
	background-repeat: no-repeat;
	font-weight: 600;
	background-position: 50% -27px;
}

#calendar .calendar .table th.holiday,
#calendar .calendar .table td.holiday a {
	color: #C40000;
}
//#calendar .calendar .table td.b.holiday a {
//	color: #9A0000;
//}
#calendar .calendar .table td.today {
	background: #EEE;
	color: #12588A !important;
	background-image:none !important;
	a{
		color: #12588A !important;
	}
}
#calendar .calendar .table td.active .today a{
	color: #12588A !important;
}
//#calendar .calendar .table td.b,
/*#calendar .calendar .table td.hover,
#calendar .calendar .table td:hover,*/
#calendar .calendar .table td.active {
	background-image: url(/img/calendar.png);
	background-repeat: no-repeat;
	background-position: 50% -1px;
	.today a {
		color: #12588A;
	}
	a {
		color: #FFF;
		text-decoration: none;
		font-weight: 600;
	}
}

#calendar .calendar .table {
	td a {
		text-decoration: none;
		display: block;
		padding: 5px 5px 5px 5px;
		line-height: 17px;
	}
	.top td a {
		padding-top: 5px;
	}
	td.disabled a {
		color: #CCC;
	}
}

* html #calendar .calendar .table td a {
	height: 1px;
}

#calendar .timetable {
	background: #FFF;
	overflow: auto;
}

#calendar .timetable .spacer {
	height: 9px;
}

#calendar .timetable div.completed {
	text-decoration: line-through;
	color: #B4B4B4 !important;
}
#calendar .timetable div.completed * {
	color: #B4B4B4 !important;
}

/* #2538
#calendar .timetable div.overdue {
	color: #F33;
}
*/

/* #3006:
#calendar .timetable div.current {
	color: #5A0;
	font-weight: bold;
}
*/
#calendar .timetable .day {
	padding: 2px 0;
}
* html #calendar .timetable .day {
	height: 20px;
}

//Item in all day
#calendar .timetable .day {
	.tasks, .event {
		//#calendar #day a {
		//display: block;
		//margin-top: 2px;
		border: @itemBorder;
		.border-radius(@itemBorderRadius);
		background: @collapsedItemBackground;
		//}

		display: block;
		overflow: hidden;
		background-position: 4px 6px;
		background-repeat: no-repeat;
		margin: 2px 5px 0px 5px;
		padding: 5px 10px 5px 5px;
		width: auto;
		height: 20px;
		line-height: 20px;
		//border-bottom: 1px solid #f5f5f5;
		color: #333;
		text-decoration: none;
		white-space: nowrap;
		&:hover {
			border: @ItemHoverBorder;
			.collapsedItemHoverBackground();
		}
	}
}
#calendar .timetable .day {
	.tasks {
		text-overflow: ellipsis;
	}
}

//#calendar .timetable .day a:hover {
//	background-color: #EBF2F9;
//	border-color: #D5E9FC;
//	text-decoration: none;
//}
//#calendar .timetable .day a.tasks {
//	//background-image: none;
//}
//#calendar .timetable .day a.event {
//	//background-image: none;
//}

#calendar .timetable .day .period {
	color: #787878;
}
//checkbox to compelte item in calendar
#calendar .complete_cb input {
	vertical-align: top;
	margin-right: 5px;
}
#calendar .timetable .day a.completed {
	text-decoration: line-through;
	color: #B4B4B4 !important;
}

#calendar .sep {
	height: 3px;
	background-color: #EEEEEC;
}
#calendar .timetable .content {
	width: 100%;
}
#calendar .timetable .time div div {
	border-bottom: 1px solid #E9E9E9;
}
#calendar .timetable .time table {
	height: 37px;
}
// #calendar .timetable .time table.odd {
// 	background: #F7F7F7;
// }
#calendar.invisible .timetable .time table {
	background: none;
}
#calendar .timetable .time td {
	padding: 1px 8px 0 0;
	color: @textMuted;
}
#calendar .timetable .time td:first-child {
	font-size: 17px;
	/*font-size: 140%;*/
	padding-top: 0;
	padding-right: 0;
	padding-left: 7px;
	width: 18px;
	text-align: right;
}
* html #calendar .timetable .time td {
	font-size: ~"!previousSibling ? '150%' : 'inherit'";
	padding-top: ~"!previousSibling ? '0' : 'inherit'";
	padding-right: ~"!previousSibling ? '0' : 'inherit'";
	padding-left: ~"!previousSibling ? '7px' : 'inherit'";
	width: ~"!previousSibling ? '18px' : 'inherit'";
	text-align: ~"!previousSibling ? 'right' : 'inherit'";
}
#calendar .timetable .time td .am_pm {
	color: #AAAAAA;
	font-size: 80%;
}
#calendar .timetable .tasks {
	width: 100%;
	background: url(/img/calendar_timetable_tasks_back.gif) left top repeat;
}
#calendar .timetable .tasks .cont {
	position: relative;
	height: 912px;
}
#calendar .timetable .tasks .task {
	font-size: 95%;
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: none;
	cursor: default;
	box-sizing: border-box;
}
#calendar .timetable .tasks .task.completed {
	text-decoration: line-through;
	color: #B4B4B4 !important;
}
#calendar .timetable .tasks .task.completed * {
	color: #B4B4B4 !important;
}
#calendar .timetable .tasks .task.hover,
#calendar .timetable .tasks .task:hover {
	border: 1px solid #D5E9FC;
	background: #EBF2F9;
	z-index: 1;
	margin-left: -1px;
	margin-top: -1px;
}
#calendar .timetable .tasks .task.active {
	background: #FFEC81 !important;
}
#calendar .timetable .tasks .task.hover.active,
#calendar .timetable .tasks .task.active:hover {
	border-color: #E8C811;
}
#calendar .timetable .tasks .task.multiday {
	width: 4px;
	background: #75A1D9;
	font-size: 0;
}
//vertical bar for item
#calendar .timetable .tasks .task .time {
	position: absolute;
	width: 4px;
	height: 20px;
	background: #E2E2E2;
	font-size: 0;
	left: 0;
}
#calendar .timetable .tasks .task .img {
	float: left;
	margin: 0 4px 0 8px;
	width: 16px;
	height: 18px;
	background-position: left center;
	background-repeat: no-repeat;
}
* html #calendar .timetable .tasks .task .img {
	margin: 0 1px 0 4px;
}
#calendar .timetable .tasks .task.tasks .img {
	//background-image: url(/img/icon_tasks.gif);
}
#calendar .timetable .tasks .task.event .img {
	//background-image: url(/img/icon_event.gif);
}

#calendar .timetable .tasks .task {
	.task_timetable_period {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.period {
		color: #787878;
	}
}
#calendar .timetable .tasks .task p {
	padding: 0 7px;
	line-height: 19px;
	//margin-top: -1px;
}
#calendar .timetable .tasks .task .border {
	 width: 100%;
	 position: absolute;
}
#calendar .timetable .tasks .task .border.top {
	top: 0;
}
#calendar .timetable .tasks .task .border.bottom {
	bottom: 0;
}
#calendar .timetable .tasks .task .border div {
	position: relative;
	background: black;
	z-index: 10;
}
#calendar .timetable .tasks .task .border.top div {
	cursor: n-resize;
}
#calendar .timetable .tasks .task .border.bottom div {
	cursor: s-resize;
}

#calendar #day {
	//padding-top: 5px;
}

#calendar #day .empty {
	border: 0px;
	color: lighten(@textMuted,15%);
	padding-bottom: 10px;
	padding-right: 30px;
	padding-top: 10px;
	position: relative;
	text-align: center;
}

.dijitCalendarMonthLabel {
	text-transform: capitalize;
}
/** Current time tick **/
.timetable_currenctTimeTick {
	color: #EEB9B9; //#DFA6A6;
	margin-top: -9px;
	font-size: 20px;
	position: absolute;
	left: 0;
	border: none !important;
}

/** Time scroller **/
.TimeScroller_up, .TimeScroller_down {
	width: 22px;
	height: 18px;
	margin-left: 12px;
	color: lighten(@secondaryActionColor,15%);
	border: none !important;
	font-size: 16px;
	overflow: hidden;
	cursor: pointer;
	.user-select(none);
}
.TimeScroller_up {

	background-position: 0 -93px;
	position: relative;
}
