/*****	css for bigCalendar	*****/
@bigCalendarEventBackgroundColor: #BCD7EE;
@bigCalendarEventLabelBackgroundColor: #6194BF;
@bigCalendarEventLabelTextColor: #FFFFFF;
@bigCalendarTodayBackgroundColor: #FFF0B4;
@bigCalendarStartEndTimeSummaryColor: #213445;


/*****	define CSS for weekend days *****/
.bigCalendarGridTableWeekend(){
	background-color: #FCFCEF;
}

/*****	define CSS for other month days	*****/
.bigCalendarGridTableOtherMonth(){
}

.claro .dojoxCalendar{
	.buttonContainer{
		.dijitToolbarSeparator{
			display: none;
		}
	}

	.dojoxCalendarEvent.calendarEventCompleted{
		.summary{
			text-decoration: line-through;
		}
	}
	
	.dojoxCalendarEvent{
		border: 1px solid #CACACA;
		.bg{
			color: @bigCalendarStartEndTimeSummaryColor;
		}
		.summary{
			color: @bigCalendarStartEndTimeSummaryColor;
		}

		/* Event header */
		.startTime{
			color: @bigCalendarStartEndTimeSummaryColor;
		}
		.endTime{
			display: none !important;
			color: @bigCalendarStartEndTimeSummaryColor;
		}
	}

	/*****	common color customize for calendar events	*****/
	.dojoxCalendarEvent .bg{
		background-color: @bigCalendarEventBackgroundColor;
		border: none;
	}
	.dojoxCalendarEvent.Hovered .bg{
		background-color: @bigCalendarEventBackgroundColor;
	}
	.dojoxCalendarEvent.Selected .bg{
		background-color: @bigCalendarEventBackgroundColor;
	}

	/************************************	matrix view(month view)		*************************************/
	.dojoxCalendarMatrixView{
		outline: none;
		.dojoxCalendarYearColumnHeader table td {
			background: none;
		}
		.dojoxCalendarColumnHeaderTable td {
			background: none;

			.Hover {
				background-color: #FAFAFA;
			}	
			.Active {
				background-color: #DAE4FF;
			}
		}
		.dojoxCalendarEvent.dojoxCalendarLabel .labels {
			height: 100%;
			left: 1px;
		}
		
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor0 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor0 .bg{
			background-color: @bigCalendarEventBackgroundColor;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor1 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor1 .bg{
			background-color: @color1;
			border-left: 2px solid @color1;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor2 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor2 .bg{
			background-color: @color2;
			border-left: 2px solid @color2;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor3 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor3 .bg{
			background-color: @color3;
			border-left: 2px solid @color3;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor4 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor4 .bg{
			background-color: @color4;
			border-left: 2px solid @color4;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor5 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor5 .bg{
			background-color: @color5;
			border-left: 2px solid @color5;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor6 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor6 .bg{
			background-color: @color6;
			border-left: 2px solid @color6;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel.calendarEventColor7 .labels,
		.dojoxCalendarEvent.dojoxCalendarHorizontal.calendarEventColor7 .bg{
			background-color: @color7;
			border-left: 2px solid @color7;
			border-style: none none none solid;
		}

		/***** user a more specific CSS selector to override the initial rule *****/
		.dojoxCalendarEvent.dojoxCalendarHorizontal .bg{
			border: 1px solid #D5E9FC;
			.border-radius(0px);
		}

		.dojoxCalendarEvent.dojoxCalendarLabel.Hovered {
			color: @bigCalendarStartEndTimeSummaryColor !important;
		}
		
		.dojoxCalendarEvent.dojoxCalendarHorizontal.Edited{
			.bg{
				background-color: #660000 !important;
			}
			.summary{
				color: white;
			}
		}

		.dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
			padding: 0 5px;
			text-overflow: ellipsis;
			color: @bigCalendarStartEndTimeSummaryColor;
		}
		
		.dojoxCalendarEvent.dojoxCalendarLabel > .labels {
			padding: 0 5px;
			text-overflow: ellipsis;
			/*border: 1px solid #D5E9FC;*/
			color: @bigCalendarStartEndTimeSummaryColor;
			/*.border-radius(2px);*/
			background-color: @bigCalendarEventBackgroundColor;
		
			.startTime{
				color: @bigCalendarStartEndTimeSummaryColor;
			}

		}

		.taskParentTitle {
			color: lighten(@projectTitleColor,20);
		}

		.taskParentTitleArrow {
			position: relative;
			top: 2px;
		}

		.dojoxCalendarEvent.dojoxCalendarLabel.Edited > .labels{
			background-color: transparent;
			border: medium none;

			.startTime{
				color: white;
				padding: 2px 2px 2px 2px;
			}
		}

	}

	/************************************	simple column view	*************************************/
	.dojoxCalendarColumnView{
		outline: none;
		/***** user a more specific CSS selector to override the initial rule *****/
		.dojoxCalendarEvent{
			.bg{
				.border-radius(0px);
				background-color: @bigCalendarEventBackgroundColor;
			}
			.summary {
				padding: 2px 5px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				color: @bigCalendarStartEndTimeSummaryColor;
			}
			dd.startTime{
				color: @bigCalendarEventLabelTextColor;
				border: medium none;
				.border-radius(0px);
				background: none;
				color: @bigCalendarStartEndTimeSummaryColor;
			}
		}
		.dojoxCalendarYearColumnHeader table td{
			background: none;
		}
		.dojoxCalendarColumnHeaderTable{
			.dojoxCalendarToday {
				font-weight: normal;
				color: #FF2424;
			}
			td {
				background: none;
			}
		}
		.dojoxCalendarEvent.dojoxCalendarVertical .bg{
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor0 .bg{
			background-color: @bigCalendarEventBackgroundColor;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor1 .bg{
			background-color: @color1;
			border-left: 2px solid @color1;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor2 .bg{
			background-color: @color2;
			border-left: 2px solid @color2;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor3 .bg{
			background-color: @color3;
			border-left: 2px solid @color3;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor4 .bg{
			background-color: @color4;
			border-left: 2px solid @color4;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor5 .bg{
			background-color: @color5;
			border-left: 2px solid @color5;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor6 .bg{
			background-color: @color6;
			border-left: 2px solid @color6;
			border-style: none none none solid;
		}
		.dojoxCalendarEvent.dojoxCalendarVertical.calendarEventColor7 .bg{
			background-color: @color7;
			border-left: 2px solid @color7;
			border-style: none none none solid;
		}

		.dojoxCalendarEvent.dojoxCalendarVertical.Edited .bg{
			background-color: #660000 !important;
		}

		.dojoxCalendarEvent.dojoxCalendarLabel > .labels{
			border: 1px solid #D5E9FC;
			.border-radius(2px);
			background-color: @bigCalendarEventBackgroundColor;
		}


		.dojoxCalendarEvent.dojoxCalendarVertical.Edited{
			.summary{
				color: white;
			}
		}

		.dojoxCalendarEvent.dojoxCalendarLabel.Edited > .labels{
			border: 1px solid #D5E9FC;
			.border-radius(2px);
			background-color: @bigCalendarEventBackgroundColor;
		
			.startTime{
				color: white;
				padding: 2px 2px 2px 2px;
			}

			.summary{
				color: white;
			}
		}

		.dojoxCalendarEvent .startTime{
			background-color: @bigCalendarEventLabelBackgroundColor;
			padding: 2px 2px 2px 4px;
		}
	}

	.dojoxCalendarGrid{
		.dojoxCalendarWeekend{
			.bigCalendarGridTableWeekend();
		}

		.dojoxCalendarDayDisabled{
			.bigCalendarGridTableOtherMonth();
		}
	}
	.dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarToday{
		background-color: @bigCalendarTodayBackgroundColor ;
	}

	.dojoxCalendarExpand {
		color: @secondaryActionTextColor;
	}
}

#bigCalendar {
	.currentMonth {
		font-size: 20px;
		line-height: 32px;
		margin-right: 5px;
		position: absolute;
		right: 0;
		vertical-align: super;
	}
	&.loading {
		#bigCalendarWidget {
			visibility: hidden;
		}

		.loading-icon {
			position: absolute;
			top: 50%;
		}
	}
	#gradient > .vertical(@centralPanelBackground, #FFFFFF);
	background-size: 100% 90px;
	background-repeat: no-repeat;
	background-color: white;

	border-width: 0 2px 2px 2px;
	border-style: solid;
	border-color: #d3d8df;
	
	.border-radius(1px);
	.box-sizing(border-box);

	padding: 12px 10px;
	position: relative;

	.dojoxCalendar .buttonContainer .dijitToolbar{
		border: medium none;
		outline: none;
	}

	#bigCalendarWidget{
		position: relative;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	
	.noStartTimeLabel {
		.startTime {
			// #5735: task item with due date is all day.
			display: none !important;
		}
	}
}