@hiSharingIconColor: #678AAB;
@hiSharingTokenBackground: #F3FFF6;
@hiSharingEveryoneBackground: #CFE1EC;
@hiSharingTokenColor: #333533;


.hiSharingDropDownItem.everyone{
	background: @hiSharingEveryoneBackground;
}

.hiSharingDropDownItem{
	cursor: pointer;

	box-sizing: border-box;
	background-color: @hiSharingTokenBackground;
	border: 1px solid #bfbfbf;
	.border-radius(2px);
	display: inline-block;
	height: 20px;
	margin: 1px;
	position: absolute;
	width: 110px;
	.user-select(none);

	img{
		height: 100%;
		float: left;
		/*position: relative;*/
		/*top: -1px;*/
	}
	.name{
		color: @hiSharingTokenColor;
		display: inline-block;
		line-height: 18px;
		margin-left: 3px;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 74px;
		white-space:nowrap; 
	}
	.iconContainer{
		float: left;
		height: 100%;
		width: 18px;
	}
	.icon{
		color: #548FE2;
		float: right;
		line-height: 17px;
		position: relative;
		right: 2px;
		width: 13px;
	}
}

.hiSharingDropDownItem.overlap .name{
	width: 144px;
}

.hiSharing{
	/*border: 1px solid red;*/

	/*private node*/
	.private{
		/*margin: 0 5px;*/
		overflow-x: hidden;
		text-overflow: ellipsis;
		width: 45px;
	}
	.hiSharingDropDown{
		display: inline-block;
		width: 248px;
		border: 1px solid #bfbfbf;

		.container{
		}

		.itemContainer{
			box-sizing: border-box;
			background-color: white;
			color: #999;
			/*display: inline-block;*/
			float: left;
			max-height: 77px;
			/*overflow: hidden;*/
			width: 160px;
			padding: 2px 0;
			position: relative;
			width: 228px;

			p.placeholder{
				cursor: pointer;
				line-height: 22px;
				padding-left: 3px;
			}

			.item.overlap{
				/*z-index: 100;*/
			}

			.item.everyone{
				background-color: @hiSharingEveryoneBackground;
				border: 1px solid #bfbfbf;
			}
		}
		.button{
			background-color: #efefef;
			background-image: url("../images/standardGradient.png");
			background-repeat: repeat-x;
			background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
			background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
			_background-image: none;

			border-left: 1px solid #bfbfbf;
			box-sizing: border-box;
			cursor: pointer;
			float: left;
			/*display: inline-block;*/
			padding: 2px 0;
			text-align: center;
			position: relative;
			width: 20px;

			span{
				vertical-align: middle;
			}

			.buttonLabel{
				position: absolute;
				top: 50%;
				margin-top: -13px;
				width: 100%;
			}
		}
	}

	.hiSharingDropDown.private{
		width: 200px;

		.itemContainer{
			width: 180px;
		}
	}
/*	.hiSharingDropDown.wide{
		width: 250px;

		.itemContainer{
			width: 230px;
		}

		.button{
		}
	}*/

	.hiSharingDropDown.scroll{
		width: 270px;

		.itemContainer{
			width: 250px;
			overflow: auto;
			overflow-x: hidden;
		}
/*		.itemContainer.inanim{
			overflow-y: hidden !important;
			overflow-x: visible !important;
		}*/
	}
}

.claro{
	.hiSharingItemBaseActionList.everyone{
		ul{
			background-color: @hiSharingEveryoneBackground;

			li{
				border-top: 1px solid @hiSharingEveryoneBackground;
				border-bottom: 1px solid @hiSharingEveryoneBackground;
				border-color: @hiSharingEveryoneBackground;
			}
		}
	}
	.hiSharingItemBaseActionList{
		.selectListBackground();

		ul{
			background-color: #E6F1E9;

			li{
				color: @hiSharingTokenColor;
				border-top: 1px solid #E6F1E9;
				border-bottom: 1px solid #E6F1E9;
				border-color: #E6F1E9;
				cursor: pointer;
				list-style: none outside none;
				line-height: 20px;
				height: 20px;
				/*box-sizing: border-box;*/
				/*padding-left: 21px;*/
				padding-right: 3px;

				span.checkmark{
					/*display*/
					margin-left: 5px;
					margin-right: 4px;
					visibility: hidden;
				}
				span.action{
					line-height: 20px;
				}

				/*remove button*/
				span.remove{
					margin-left: 21px;
					color: #A33A36;
				}

				span.icon{
					color: @hiSharingIconColor;
					float: right;
					line-height: 20px;
				}
			}

			li.selected{
				span.action{
					font-weight: bold;
				}
				span.checkmark{
					visibility: visible;
				}
			}
			li:hover{
				background-color: #E2EEFF;
				border-color: #959595;
			}
		}
	}

	.hiSharingItemBaseActionList.everyone{
		background-color: @hiSharingEveryoneBackground;
	}
}


.claro .hiSharingList.dijitMenu{
	.selectListBackground();
	max-width: none !important;
	max-height: none !important;

	.icon{
		color: @hiSharingIconColor;
	}

	ul{
		color: #717171;

		li{
			padding: 4px;
			list-style: none outside none;
			line-height: 20px;
			height: 20px;

			img.avatar{
				height: 20px;
				float: left;
				margin-left: -100%;
				width: 20px;
			}
			span.avatar{
				color: #5792DE;
				float: left;
				/*font-size: 2em;*/
				margin-left: -100%;
				font-size: 19px;
			}
			div.nameWrapper{
				float: left;
				width: 100%;

				div.name{
					font-size: 12px;
					margin-left: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					/*width: 73%;*/
				}
			}
			div.checkmark{
				display: none;
				float: left;
				margin-top: 5px;
				margin-left: -12px;
				width: 12px;
				/*display: inline-block;*/
			}
		}
		li.selected{
			/*background-color: #DEE5F5;*/
			color: #0C0B0B;
			/*font-weight: bold;*/

			div.name{
				margin-right: 12px;
			}
			div.checkmark{
				display: inline-block;
			}
		}
		li:hover{
			background: #DEE5F5;
		}
	}
}

.chrome .hiSharingDropDownItem .icon {
	line-height: 18px;
}