@tag-border-color: #BFBFBF;

.hiTags{
	.tag{
		border: 1px solid @tag-border-color;
		.border-radius(3px);
		float: left;
		margin: 2px 1px 1px 1px;
		padding: 0px 5px ;
		position: relative;

		.desc {
			float: left;
			max-width: 176px;
			margin-right: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		span {
			color: #A0A4B8;
			cursor: pointer;
			display: table-cell;
			font-weight: bold;
			font-family: verdana;
			margin-left: 5px;
			right: 0;
			vertical-align: middle;

			.remove_tag{
				margin-top: 3px;
				top: 0 !important;
			}
		}
	}

	.dijitDownArrowButton {
		.dijitArrowButtonInner {
			height: 100% !important;
		}
	}

	.dijitInputContainer {
		input.dijitInputInner{
			float: left;
			min-width: 50px;
		}
		input.dijitInputInner:-ms-input-placeholder{
			color: #999;
		}
	}
}

.hiTags .tag .remove_tag {
	transform: scale(0.8);
}


/*hi.widget.tag.combobox*/
.hiTagComboBox {
	.dijitArrowButton.hiTagSet:before {
		font-size: 9px;
	}

	input.dijitInputInner::-ms-clear {
		display: none;
	}
	
}
