
/* hi.widget.ClearTextBox */
.hiClearBox {
	position: relative;
	.textInputLarge();
	padding: 1px 25px 1px 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color: #F9F9F9;
	border: 1px solid @inputBorderColor;
	&:hover {
		border-color: #999;
	}
	.dijitInputField, input, input:focus, input:hover {
		background:none;
	}
	input {
		padding: 2px 0;
	}
}
#archiveSearchContainer .hiClearBox {
	border-radius: 17px;
	padding: 1px 25px 1px 13px;
}
.claro .search.section .hiClearBox a{
	top: 4px;
}

.hiClearBox a.hiClear {
	color: lighten(@secondaryActionColor,15%);
	width: 16px;
	height: 18px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 4px;
	right: 5px;
	z-index: 2000;
	cursor: pointer;
	font-size: 16px;

	span {
		vertical-align: middle;
	}
}

.hiClearBox .hiClearBoxDecoration {
	color: @textMuted;
	width: 16px;
	height: 18px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 7px;
	z-index: 2000;
	font-size: 14px;
}

.hiClearBox a.hiClear:hover {
	background-position:-12px 0;
}
.dj_ie .hiClearBox input::-ms-clear {
	/*For IE10 with native 'clear box' button.*/
	display: none;
}
.dj_ie .hiClearBox,
.period .date, .period .time {
	input:-ms-input-placeholder {
		color: @textMuted;
	}
}
.hiClearBox,
.period .date, .period .time {
	.dijitPlaceHolder {
		color: @textMuted;
		font-style: normal;
	}
}
.dijitPlaceHolder.dijitInputField {
	padding-left: 4px !important;
}

.dijitPlaceHolder {
	color: lighten(@textMuted,10%);
	font-style: normal;
}
.dj_ie .hiClearBox a.hiClear  {
	top:2px;
}