/*******************MESSENGER*****************/
#messenger {
	padding: 0px 1px 1px 1px;
	background-color: @sidePanelBackground;

	.headpane {
		overflow: hidden;
	}
}

#messengerContainer {
	overflow-y: auto;
}

#messenger .dijitSplitterH {
	height: 15px;

	.dijitSplitterThumb {
		background-color: #FAFAFA;
		border: 1px solid #CCC;
		border-width: 1px 0;
		left: 50%;
		margin-left: -10px;
		margin-top: -1px;
		top: 50%;
		height: 1px;
		width: 20px;
	}
}
#messenger .heading {
	line-height: 2em;
	font-size: @panelHeadingFontSize;
	padding-left: 0.6em;
	font-weight: @panelHeadingFontWeight;
	.column-close-icon {
		font-size: 11px;
		padding-right: 0.8em;
	}
}
* html #messenger .heading {
	height: 22px;
}
#messenger .heading .cnt {
	display: inline;
	color: #D1D1D1;
	margin: 4px 0 0 0;
}
#messenger .heading .cnt .online {
	color: #36C;
}
#messenger .heading b {
	font-size: 135%;
}
#messenger .heading h2 {
	color: #5D5D5D;
}
#messenger .heading h2 a {
	color: #5D5D5D;
}
#messenger .heading .message {
	margin: 4px 0 0 0;
	font-size: 0.7em;
}
#messenger .heading .message_count_container {
	display: none;
}
#messenger span.message {
	color: #F45A5A;
}


#messenger .block {
	/*background: #FFF url(/img/column_inner_lt.gif) left top no-repeat;*/
}
#messenger .block .rt {
	background: url(/img/column_inner_rt.gif) right top no-repeat;
}
#messenger .block .rb {
	background: url(/img/column_inner_rb.gif) right bottom no-repeat;
}
#messenger .block .lb {
	background: url(/img/column_inner_lb.gif) left bottom no-repeat;
	padding: 10px 10px 0 10px;
}
#messenger .block .spacer {
	height: 10px;
}

#messenger .team .lb {
	padding-top: 7px;
}
#messenger .team .cont {
	background: @sidePanelInnerBackground;
	/*height: 278px;*/
	height: 100%;
	padding: 5px 10px 10px 10px;
	/*causes ie9 to black out: */
	/*overflow: auto;*/
	position: relative;
	width: auto !important;
}

#messenger .team img.message {
	/*margin-left: 5px;*/
}
#messenger .team ul {
	list-style: none;
	border-bottom: 1px solid #D1D1D1;
	padding: 1px 0 4px 0;
}
#messenger .team li {
	background: url(/img/messenger_team_border.gif) left top repeat-x;
	padding-left: 1px;
	padding-right: 1px;
}
#messenger .team li:first-child {
	background-image: none;
}
* html #messenger .team li {
	background-image: ~"!previousSibling ? 'none' : 'inherit'";
}
#messenger .team li.empty {
	color: #CCC;
	text-align: center;
}
#messenger .team li.hover .border {
	//border: 1px solid #BDD8F7;
	background: #EBF2F9;
	//margin: -1px;
//	position: relative;
}
#messenger .team li .bugger {
	min-height: 0;
}
* html #messenger .team li .bugger {
	height: 0;
}
#messenger .team li .image {
	background-position: 0 5px;
	background-repeat: no-repeat;
	padding: 4px 0 4px 22px;
	/*padding-top: 3px !important;*/
	overflow: hidden;
	/*overflow: visible;*/
}

#messenger .team li.active {
	font-weight: bold;
}
#messenger .team li .name {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	line-height: 150%;
	text-decoration: none;
	a {
		text-decoration: none;
	}
}
#messenger .team li .avatar_overlay {
	position: absolute;
	width: 22px;
	height: 20px;
	margin: -1px 0 0 -24px;
	cursor: pointer;
	background: #fff;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

#messenger .team li .name .pro {
	vertical-align: top;
	margin-top: 3px;
}
#messenger .team li .name .business {
	vertical-align: top;
	margin-top: 3px;
}
* html #messenger .team li .name img {
	marging: 0 !important;
	padding: 0 !important;
	display: inline !important;
}
* html #messenger .team li .name img.hidden {
	display: none !important;
}

#messenger .team li.offline .name {
	color: #B8B8B8;
	a {
		color: @textMuted;
		text-decoration: none;
	}
}

#messenger .team li.offline #avatarbg {
	filter: grayscale(40%);
	-webkit-filter: grayscale(40%);
	-moz-filter: grayscale(40%);
	-ms-filter: grayscale(40%);

}
#messenger .team li.offline {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
}

#messenger .team li .message {
	cursor: pointer;
	vertical-align: top;
	margin: 3px 0 0 0;
	color: #E9C1C1;
}
#messenger .team li .right {
	float: right;
	font-size: 85%;
	margin: 2px 0 0 0;
	padding: 0 0 0 5px;
	font-weight: normal !important;
}
#messenger .team li .right.req {
	cursor: pointer;
	cursor: hand;
	color: #FC0000;
}
#messenger .team li .right.decl {
	color: #FC0000;
}
#messenger .team li .right.msgs {
	color: #FC0000;
}
#messenger .team li .right.wait {
	color: #008F39;
}
#messenger .team li .right.msgs {
	font-size: 95%;
	margin-top: 1px;
	margin-right: -2px;
}

#messenger .team li .button {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 5px;
	display: none;
	z-index: 2;
}
* html #messenger .team li .button {
	right: 10px;
	top: 0;
}
#messenger .team li.hover .button {
	display: block;
}

#messenger .team .add {
	margin: 10px 0 2px 0px;
}
#messenger .team .help {
	margin: 7px 0 2px 22px;
	color: #666666;
}

#messenger .conversation {
	background: @sidePanelInnerBackground;
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: 0;
}
#messenger .conversation .lb {
	padding-top: 0;
}
#messenger .conversation .cont {
	width: auto !important;
	padding: 0 10px 0 0;
}
#messenger .conversation .person {
	/*
	 * background: #E6EEF8 url(/img/messenger_conversation_person_lt.gif) left top no-repeat;
	 */
	/*margin: 0 -10px 3px -10px;*/
	color: #36C;
	font-weight: bold;
	position: relative;
	border-bottom: 3px solid #EEEEEC;
}
#messenger .conversation .person .rt {
	/*background: url(/img/messenger_conversation_person_rt.gif) right top no-repeat;*/
}
#messenger .conversation .person .rb {
	/*background: url(/img/messenger_conversation_person_rb.gif) right bottom no-repeat;*/
	background: none;
	position: relative;
}
#messenger .conversation .person .lb {
	/*background: url(/img/messenger_conversation_person_lb.gif) left bottom no-repeat;*/
	background: none;
	padding: 0;
	width: 100%;
	position: relative;
}
#messenger .conversation .person .close {
	position: absolute;
	width: 14px;
	height: 14px;
	background: url(/img/icon_close.gif) left top no-repeat;
	cursor: pointer;
	cursor: hand;
	right: 10px;
	top: 1px;
	z-index: 3;
	font-size: 0;
}
#messenger .conversation .person .image {
	background-position: 19px 3px;
	background-repeat: no-repeat;
	background-image: url(/avatar/.32.gif);
	padding: 10px 20px 8px 56px;
	height: 20px;
	position: relative;
}
#messenger .conversation .person .image .avatar {
	position: absolute;
	height: 32px;
	width: 32px;
	top: 3px;
	left: 19px;
	cursor: pointer;
	cursor: hand;
	background-color: white;
}
#messenger .conversation .person .name {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
}
#messenger .conversation .person .name .pro {
	vertical-align: top;
	margin-top: 3px;
}
#messenger .conversation .person .name .business {
	vertical-align: top;
	margin-top: 3px;
}

#messenger .conversation ul {
	font-size: 95%;
	list-style: none;
	margin: 0 0 -8px 0;
	//margin-bottom: -7px;
}
#messenger .conversation li {
	padding: 0 0 8px 0;
	//padding-bottom: 7px;
}
#messenger .conversation li .bugger {
	min-height: 0;
}
* html #messenger .conversation li .bugger {
	height: 0;
}
#messenger .conversation li .title {
	background: #E6EEF8 url(/img/messenger_conversation_title_lt.gif) left top no-repeat;
}
#messenger .conversation li .title .rt {
	background: url(/img/messenger_conversation_title_rt.gif) right top no-repeat;
}
#messenger .conversation li .title .rb {
	background: url(/img/messenger_conversation_title_rb.gif) right bottom no-repeat;
}
#messenger .conversation li .title .lb {
	background: url(/img/messenger_conversation_title_lb.gif) left bottom no-repeat;
	padding: 0 10px;
}
#messenger .conversation li.me .title {
	background-color: #F3F3F1;
	background-image: url(/img/messenger_conversation_title_me_lt.gif);
}
#messenger .conversation li.me .title .rt {
	background-image: url(/img/messenger_conversation_title_me_rt.gif);
}
#messenger .conversation li.me .title .rb {
	background-image: url(/img/messenger_conversation_title_me_rb.gif);
}
#messenger .conversation li.me .title .lb {
	background-image: url(/img/messenger_conversation_title_me_lb.gif);
}
#messenger .conversation li .time {
	font-size: 10px;
	color: #A8A8A8;
	margin: 1px 0 0 5px;
	float: right;
}
#messenger .conversation li h3 {
	overflow: hidden;
	white-space: nowrap;
}
#messenger .conversation li.me h3 {
	color: #759BCA;
}
#messenger .conversation li p {
	margin: 5px 10px 0 10px;
	line-height: 13px;
	clear: both;
}
#messenger .conversation li p .assigned,
#messenger .conversation li p .unassigned,
#messenger .conversation li p .deleted {
	font-style: italic;
	color: #AAAAAA;
	display: block;
	padding-left: 20px;
}
#messenger .conversation li p .assigned_task,
#messenger .conversation li p .unassigned_task,
#messenger .conversation li p .deleted_task {
	cursor: default;
	padding: 2px;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
}
#messenger .conversation li p .assigned_task:hover,
#messenger .conversation li p .unassigned_task:hover {
	background-color: #EBF2F9;
}

#messenger .input {
	margin: 9px 5px 4px 10px;
}
#messenger .input td {
	vertical-align: middle;
	padding-left: 5px;
}
#messenger .input td.text {
	width: 100%;
	padding: 1px 5px 0 0;
	//padding-right: 10px !important;
}
#messenger .input td.text, x:-moz-any-link { /* Firefox only */
	padding-right: 8px;
}
#messenger .input td.text input {
	width: 100%;
	color: #5D5D5D;
}
#messenger .input td.full {
	width: 100%;
	padding-left: 0px;
}
#messenger .input td.full input {
	width: 100%;
}


* html .hidden {
	display: none !important;
}
* html div.content {
	zoom: 1;
}


#messenger #team_container_1,
#messenger #team_container_2 {
	background-color: #EAF4F8;
	padding: 10px;
	border: 3px solid #CCC;
	border-radius: 8px;
}


#messenger .input_text {
	background: #F6F6F6;
	color: #666;
	border: 1px solid #B9B9B9;
	border-top-color: #A4A4A4;
	-moz-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-ms-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-webkit-box-shadow: 0 1px 0 white,inset 0 1px 1px rgba(0, 0, 0, .17);
	box-shadow: 0 1px 0 white,inset 0 1px 1px rgba(0, 0, 0, .17);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
