/*******************DRAG**********************/

.projectDropIndicator,
.taskDropIndicator
{
	height: 1px;
	margin-top: -1px;
	border: 1px solid #ACC7E8;
	background-color: #77A4DB;
}
.taskDropIndicator {
	position: absolute;
	z-index: 0;
	pointer-events: none;
	border-color: #788290;
}
.taskDropIndicatorLine {
	height: 0 !important;
}
	.taskDropIndicatorLine .l, .taskDropIndicatorLine .r {
		position: absolute;
		top: -4px;
		width: 4px;
		height: 4px;
		-ms-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: 2px solid #788290;
	}
	.taskDropIndicatorLine .l {
		left: -7px;
	}
	.taskDropIndicatorLine .r {
		right: -7px;
	}

	.ie8 .taskDropIndicatorLine div,
	.ie7 .taskDropIndicatorLine div,
	.ie6 .taskDropIndicatorLine div,
	.opera .taskDropIndicatorLine div {
		display: none;
	}

.taskDropIndicatorBox {
	border-width: 2px;
	background: none;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.HiProjectDragSourceClass
{
	display: none;
}
.HiDragSourceClass
{
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-ms-box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
	box-shadow: 2px 4px 4px rgba(0,0,0,0.3);

	border: 1px solid #D1D1D1;
	text-align: left;
	list-style: none;
	padding: 0 !important;
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 15px;
	background-color: #F5F5F5;
	cursor: move;
	margin: -25px 0 0 0;

	position: absolute;
}

.dojoDndMove, .dojoDndMove * {
	cursor: default !important;
	cursor: grabbing !important;
	cursor: -moz-grabbing !important;
}

body.claro.dojoDndMove.dndNotAllowed, body.claro.dojoDndMove.dndNotAllowed *{
	cursor: no-drop !important;
}

.tasks li.dojoDndItemBefore,
.tasks li.dojoDndItemAfter {
	border: 0;
}

/*
.dojoDndMove #main ul.task_ul {
	position: relative;
	z-index: 1;
}
*/

.HiDragSourceClass.reminder {
	background-image: url(/img/icon_event.gif);
}
.HiDragSourceClass.event {
	background-image: url(/img/icon_event.gif);
}
.HiDragSourceClass.note {
	background-image: url(/img/icon_note.gif);
}
.HiDragSourceClass.tasks {
	background-image: none;
}

.HiDragSourceClass .children {
	display: none;
}
.HiDragSourceClass h3
{
	padding-left: 30px;
	padding-right: 10px;
	white-space: nowrap;
	font-weight: 400;
	font-size: 110%;
	line-height: 150%;
}
.HiDragSourceClass .tasks h3
{
	padding-left: 10px;
}

#main .tasks li.sortDropIndicatorClass {
	width: 98% !important;
	margin-left: auto !important;
	position: relative;
}


.HiSortDragSourceClass
{
	border: 2px solid #333;
	text-align: left;
	list-style: none;
	padding: 0;
	display: none;
}
.HiDragSourceClass li {
	zoom: 1;
	position: relative;
}
.HiDragSourceClass input,
.HiDragSourceClass .date_title,
.HiDragSourceClass .btn,
.HiDragSourceClass .star,
.HiDragSourceClass .check,
.HiDragSourceClass .collapse,
.HiDragSourceClass .drag,
.HiDragSourceClass .private_mark,
.HiDragSourceClass .in_project,
.HiDragSourceClass .person,
.HiDragSourceClass .properties_view
{
	display: none !important;
}

.HiSortDragSourceClass h3
{
	padding-left: 46px;
	line-height: 150%;
}

.dropIndicator {
	position: absolute;
	z-index: 999;
	overflow: visible;
	white-space: nowrap;
	top: -20px;
	left: 0px;
	font-weight: bold;
	height: 15px;
	display: inline;
	background-color: white;
	font-size: 120%;
	color: #666;
}

.dropIndicator.double-line{
	height: 30px;
	top: -40px;
}

.dropIndicator.triple-line{
	height: 45px;
	top: -60px;
}

/*
*:first-child+html .dropIndicator {
	margin-top: -15px;
}
*/

/** Reminder popup **/

#reminder_popup_list {
	margin: 5px 0 0 0;
	padding: 0 10px 0 10px;
}
#reminder_popup_list li {
	list-style-type: none;
	background: url(/img/favicon.ico) no-repeat left 2px;
	padding: 0 0 2px 20px;
}
#reminder_popup_list li .time {
	color: #888888;
}

/** Overdue tasks **/

/* #2538
li.task_li.overdue>.task_div .task_title {
	color: #FF3333;
}
*/

li.task_li .overdue_text {
	display: none;
	color: #FF3333;
	font-weight: bold;
}
li.task_li.overdue>.task_div .overdue_text {
	display: inline;
}
li.task_li.overdue.completed>.task_div .overdue_text {
	display: none;
}

/** Active tasks **/
/* #3006:
li.task_li.current>.task_div .task_title,
li.task_li.current>.task_div .date_title {
	color: #5A0;
	font-weight: bold;
}
*/
/** History block **/

.history .toggle {
	background-image: url(/img/main_project_opened.png);
	background-repeat: no-repeat;
	float: left;
	width: 9px;
	height: 9px;
	margin-right: 4px;
	margin-top: 4px;
}
* html .history .toggle {
	background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/main_project_opened.png, sizingMethod=crop)";
}
.history .link {
	display: block;
	margin-bottom: 0;
}
.history .link .toggle {
	cursor: pointer;
	cursor: hand;
	background-image: url(/img/main_project_closed.png);
}
* html .history .link .toggle {
	background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/main_project_closed.png, sizingMethod=crop)";
}

.history .loading,
.history .data {
	display: none;
	margin-bottom: 0;
}
.history .last {
	display: block;
	padding-top: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.history .link, .history .data, .history .loading {
	-ms-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.history.loading .link {
	display: none;
}
.history.loading .loading {
	display: block;
	color: black;
}
.history.loading .data,
.history.loading .last {
	display: none;
}
.history.data .link {
	display: none;
}
.history.data .loading {
	display: none;
}
.history.data .data {
	display: block;
	color: black;
}
.history.data .last {
	display: none;
}

.history .form {
	padding-top: 0;
	-ms-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	zoom: 1;
	position: relative;
}
	.history-archive .form {
		display: none;
	}

	.history .form .cont-inner {
		//background: #FFFDEE;
		padding: 10px 9px 11px 9px;
		overflow: hidden;
		zoom: 1;
	}

	.history .data .avatar,
	.history .form .avatar {
		background: url("/avatar/.16.gif") no-repeat scroll 0 0 transparent;
		display: block;
		height: 16px;
		width: 16px;
		position: relative;
	}

	.history .form .comment {
		position: relative;
		border: 1px solid #C6D9BB;
		padding: 4px;
		background: #fff;
	}
	.history .data .comment .comment-inner div,
	.history .form .comment div {
		width: 10px;
		height: 12px;
		position: absolute;
		left: -10px;
		top: 6px;
		background: url(/img/v5/comments_sprite.png) 0 -18px no-repeat;
	}
	.history .form textarea {
		background: none;
		width: 100%;
		height: 2.3em;
		padding: 0;
		margin: 0;
		border: 0px;
		color: #949494;
		line-height: 1.15em;
		outline: none;
		resize: none;
		overflow: hidden;
		box-shadow: none;
		font-size: 100%
	}
	.history .form textarea:focus {
		color: #333;
	}

	.history .form .history-button {
	}
/*		.history .form .history-button .dijitButtonNode {
			border-color: darken(@secondaryActionBackground,5%);
			background: @secondaryActionBackground;
			color: @secondaryActionColor;
			box-shadow: none
		}*/
		.history .form .history-button .dijitButtonText {
			line-height: 20px;
		}

	*:first-child+html .history .form .history-button {
		position: relative;
		right: -10px;
	}


.history .data {}
	.history .data .cont-inner {
		padding: 0;
	}
	.history .data .dataEl {
		padding: 0 0 10px 0;
		margin: 0;
	}

	.history .data .caption {
		color: #6E7492;
		padding: 7px 41px 2px 47px;
		overflow: hidden;
	}
		.history .data .caption .name {
			display: block;
			float: left;
		}
		.history .data .caption .datetime {
			display: block;
			float: right;
		}

	.history .data .history-item {
		display: block;
		margin: 0 39px 0 56px;
		padding: 0 0 6px 11px;
		background: url(/img/v5/comments_sprite.png) 0 -84px no-repeat;
		line-height: 1.1em;
		color: #000;
	}

	.history .data .comment {
		position: relative;
		padding: 0 39px 0 46px;
		margin-bottom: 5px;
	}
	.history .data .comment-inner {
		cursor: text;
		position: relative;
		padding: 5px 10px;

		-ms-border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		background: #FFFEF7;
		border: 1px solid #F2DF9F;

		color: #000;
	}
		.history .data .comment .avatar {
			float: right;
			margin: -5px -40px 0 0;
		}
		.history .data .comment .comment-inner div {
			background-position: 0 -68px;
			left: auto;
			right: -10px;
			top: 5px;
		}
	.history .data .comment-owner .comment-inner {
		background: #ECFEE5;
		border-color: #C6D9BB;
	}
		.history .data .comment-owner .avatar {
			float: left;
			margin: -5px 0 0 -40px;
		}
		.history .data .comment-owner .comment-inner div {
			background-position: 0 -56px;
			right: auto;
			left: -10px;
		}

	.history .data .comment a.delete {
		display: block;
		visibility: hidden;
		background: url(/img/icon_delete.gif) 50% 50% no-repeat;
		width: 13px;
		height: 13px;
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 0.6;
		filter: alpha(opacity=60);
		cursor: pointer;
	}
	.history .data .can-delete:hover a.delete {
		visibility: visible;
	}
	.history .last .comment a.delete {
		display: none !important;
	}

	.history .data .comment p a, .history .data .comment p span {
		vertical-align: top;
	}

.history .dataEl {
	max-height: 144px;
	//max-height: 150px;
	line-height: 120%;
	overflow: auto;
	background-color: #FFF;
	padding: 3px 0;
	margin-top: 2px;
	font-size: 0.92em;
	line-height: 1.636em;
	position: relative;
}
.history .dataEl span {
	vertical-align: top;
	vertical-align: baseline;
}
* html .history .dataEl {
	height: 150px;
}
.history .loading .loading,
.time-track-list .loading {
	margin: 10px 0;
	text-align: center;
}
.history .dataEl .htime {
	color: black;
}
.history .dataEl .huser {
	color: #999;
}


/** Resize Handler **/
.dojoxResizeHandle {
	width: 20px;
	margin: 0 auto;
	height: 1px;
	border: solid #CCC;
	border-width: 1px 0;
	background: #FAFAFA;
	cursor: row-resize;
	overflow: hidden;
}
#messenger .dojoxResizeHandle {
	margin: 3px auto;
}
#messenger #conversation_container .dojoxResizeHandle {
	margin: 0 auto;
}

#team_help {
	margin-top: 8px;
	width: auto;
	background: @notificationBackground !important;
	border: 6px solid #EEE;
	border-radius: @notificationBorderRadius;
	padding: 1em;
	overflow: hidden;

	.close {
		float: right;
		color: #9C9C9C;
		cursor: pointer;
	}
}
