/******************* PROMO *********************/

/* Header promo */
.header-promo {
	position: absolute;
	right: 0;
	top: 0px;
	margin-top: -5px;
	width: 20%;
}
	.header-promo-overlay,
	.footer-promo-overlay,
	.team-promo-overlay {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.header-promo:hover a,
	.footer-promo:hover a,
	.team-promo:hover a {
		text-decoration: none;
	}
	
	.footer-promo .c-lt,
	.footer-promo .c-rt,
	.footer-promo .c-rb,
	.footer-promo .c-lb,
	.header-promo .c-lt,
	.header-promo .c-rt,
	.header-promo .c-rb,
	.header-promo .c-lb {
		background: url(/img/v3/corners_promo.gif) left top no-repeat;
		width: 10px;
		height: 10px;
	}
	.footer-promo .c-rt,
	.header-promo .c-rt { background-position: -10px top; }
	.footer-promo .c-rb,
	.header-promo .c-rb { background-position: -30px top; }
	.footer-promo .c-lb,
	.header-promo .c-lb { background-position: -20px top; }
	
	.footer-promo,
	.header-promo div {
		position: relative;
		background: #EEF3E5;
		zoom: 1;
	}
	.header-promo img {
		left: 10px;
		top: 8px;
		position: absolute;
	}
	.header-promo a {
		display: block;
		padding: 14px 12px 12px 100px;
		text-decoration: none;
		color: #313131;
		font-weight: normal;
	}
		.header-promo a span {
			line-height: 1.1em;
		}


/* Team promo */
.team-promo {
	position: relative;
	background: #F5FAF2;
	margin-top: 15px;
	overflow: hidden;
	border-radius: 8px;
	border: 3px solid #DDD;
	a{
		color: inherit;
	}
}
	* html .team-promo {
		zoom: 1;
	}

	* html .team-promo .c-rt,
	* html .team-promo .c-rb {
		right: -1px;
	}
	.team-promo p {
		padding: 10px 6px 10px;
		line-height: 1.55em;
	}
	.team-promo img {
		margin: 0 9px 8px;
	}

.footer-promo-google {
	padding: 10px 0 0;
}
.footer-promo {
	padding: 8px 12px 6px 17px;
	margin-top: 10px;
}
	.footer-promo div.wrapper {
		float: none;
	}
	.footer-promo .left {
		float: left;
		line-height: 1.25em;
		padding: 3px 0 0;
	}
	.footer-promo .right {
		float: right;
	}
	.footer-promo img.price {
		margin-top: 11px;
	}
		.footer-promo .right img {
			vertical-align: top;
		}
		.footer-promo .right span {
			display: -moz-inline-box;
			display: inline-block;
			vertical-align: top;
			padding: 11px 0 0 15px;
		}
		.footer-promo .right span b {
			color: #81BC0E;
			font-size: 1.67em;
			padding-left: 10px;
		}