<div>
	<ul data-dojo-attach-point='listContainer'>
		<li data-dojo-attach-point='removeButton'><span class='action remove'>Remove</span><span class='icon'></span></li>
<!-- 		<li><span class='action'>View, Comment</span><span class='icon icon-eye-open'></span></li>
		<li><span class='action'>Complete, Assign</span><span class='icon icon-checkbox-checked'></span></li>
		<li><span class='action'>Modify</span><span class='icon icon-edit'></span></li>
		<li><span class='action'>Everything</span><span class='icon icon-star'></span></li> -->
	</ul>
</div>