<input type="hidden" value="0" id="offset_">
<div class="wrapper"><div id="main" class="content">
	<div class="page"><div class="archive">
	<div style="text-align: center">
		&{'hi.archive.archive_welcome1'}<br />&{'hi.archive.archive_welcome2'}
	</div>
	<div id="archiveSearchContainer">
		<div class="hidden" dojoType="hi.widget.ClearTextBox" data-dojo-props="placeholder:'&{'hi.properties.search'}'" id="archiveSearchWrapper" style="width: 300px;"></div>
	</div>
	#{app.hi.onkeypress enter: 'Project.add()', escape: 'Project.addCancel()'}
		<div class=""><div class="lt"><div class="rt" id="newItem_wrapper"><div class="new-highlight-inner">
			<div id="newTaskBody" class="body" style="display: none;">
				<input type="hidden" id="newItemOpened" value="-2" />
			<div class="clear"></div>
		</div></div></div></div>
	#{/app.hi.onkeypress}
	
	#{common.loadingGif id: 'archiveLoadingGif' /}
	
	<div class="archive" id="archiveMainBlock"><div class="lc"><div class="rc">
		<div style="width: 100%;padding-top:11px;">
			<div class="column1 left"><!-- --></div>
			<div class="content" style="position: relative;margin-bottom:20px;">
							<div id="notification_archive">
							</div>
			</div>
				<table style="margin:0 13px 10px;width: 96%;">
				<tr>
					<td align="left">
					<div id="headerNav1" style="visibility:hidden" >
						<div id="collapse">
							<div class="btns" onClick="Hi_Archive.getPrev();">
								<div  class="column1 left">
								</div>
								
							</div>
						</div>
						<a style="margin-left:19px; font-size:120%; white-space: nowrap;" href="#" onClick="Hi_Archive.getPrev(); return false;">&{'hi.archive.go_back'}</a>
					</div>
					
					</td>
					<td align="center" width="100%">
						<div id="no_archive_tasks" style="font-size:140%; padding:2em;display:none">
							&{'hi.archive.no_archive_items1'}<br />&{'hi.archive.no_archive_items2'}
						</div>
						<div id="no_archive_tasks_search" style="font-size:140%; padding:2em;display:none">
							&{'hi.archive.no_archive_items_search'}
						</div>
	*{					<a href="@{Application.index}" style="color:#3333; font-size:110%">&{'hi.archive.return_to_active'}</a>}*
					</td>
					<td align="right">
					
					<div id="headerNav2" style="visibility:hidden" >
						<div id="collapse">
							<div class="btns" onClick="Hi_Archive.getNext();">
								<div  class="column2 right">
								</div>
							</div>
						</div>	
						<a style="margin-right:19px; font-size:120%; white-space: nowrap;" href="#" onClick="Hi_Archive.getNext(); return false;">&{'hi.archive.go_forward'}</a>
					</div>
					</td>
				</tr>	
				</table>
			</div>
						
			<div id="_js_container_1" class="dojoDndContainer dojoDndTarget">
			<ul id="projects" class="projects grouped_4 dojoDndSource dojoDndTarget dojoDndContainer">
			</ul>
			<ul id="no_project_tasks" class="task_ul tasks completed-hidden">
			</ul>
			</div>
			<div id="footerNav" style="display:none">
				<table style="margin:0 13px 10px;width: 96%;">
				<tr>
					<td align="left">
						<div id="footerNav1Href">
							<div id="collapse">
								<div class="btns" onClick="Hi_Archive.getPrev();">
									<div  class="column1 left">
									</div>
									
								</div>
							</div>
							<a style="margin-left:19px;" href="#" onClick="Hi_Archive.getPrev(); return false;">&{'hi.archive.go_back'}</a>	
						</div>
					</td>
					<td align="center"><a href="@{Application.index}">&{'hi.archive.return_to_active'}</a></td>
					
					<td align="right">
					<div id="footerNav2Href" >
						<div id="collapse">
							<div class="btns" onClick="Hi_Archive.getNext();">
								<div  class="column2 right">
								</div>
							</div>
						</div>	
						<a style="margin-right:19px;" href="#" onClick="Hi_Archive.getNext(); return false;">&{'hi.archive.go_forward'}</a>
					</div>
					</td>
				</tr>	
				</table>
			</div>	
							
	</div>	
	</div></div></div>
</div></div>