*{{load_locale file="hi.ini" section="Properties" scope="local"}
{load_locale file="hi.ini" section="Tag" scope="local"}

{capture assign="task_message_maxlength"}{supra_ini var="task.message.maxlength"}{/capture}
{assign var="task_message_maxlength" value=$task_message_maxlength|intval}
{if !$task_message_maxlength}
	{assign var="task_message_maxlength" value="10000"}
{/if}}*

<div id="properties_container" class="hidden">
	<div id="properties_container_0">
	</div>
	<div id="properties_container_1">
		<div class="opened hidden">
			
			<div class="star" onclick="Project.changeStarredEditValue(this);"><input type="hidden" name="starred" id="starred1" value="" /></div>
			<div class="title cont-inner"><input name="title" id="title1" class="full txt" type="text" value="" maxlength="200" /></div>
			
			<input type="hidden" name="color" id="color1" />
			<input type="hidden" name="category" id="category1" />
			
			<table class="type type_container"><tr>
				<td class="task first"><div class="left"><div class="right"><div class="mid"><a class="type_1" href="javascript://" title="">&{'js.task.task'}</a></div></div></div></td>
				<td class="event"><div class="left"><div class="right"><div class="mid"><a class="type_2" href="javascript://" title="">&{'js.task.event'}</a></div></div></div></td>
				<td class="note last"><div class="left"><div class="right"><div class="mid"><a class="type_4" href="javascript://" title="">&{'js.task.note'}</a></div></div></div></td>
			</tr></table>
			
			<div class="cont-inner-box period">
				<div class="field">
					<div class="label"><span class="title">&{'js.task.starts'}:</span></div>
					<div class="date">
						<input maxlength="10" name="start_date" id="start_date1" class="txt start_date" type="text" value="" onchange="Hi_Calendar.check(this)" />
						<a href="javascript://" title="${messages.get('js.task.start_date_help').escapeHtml()}">#{common.pickerCalendarIcon onclick: "Hi_Calendar.calendar(event, getParentByClass(this, 'date', 'txt').id, false, false)" /}</a>
					</div>
					<div class="time">
						<input maxlength="${_userPref.timeMaxLength}" name="start_time" id="start_time1" class="txt start_time" type="text" value="" onchange="Hi_Calendar.check(this)" />
						<a href="javascript://" title="&{'js.task.start_time_help'}">#{common.pickerTimeIcon onclick: "Hi_Calendar.timetable(event, getParentByClass(this, 'time', 'txt').id)" /}</a>
					</div>
				</div>
				
				<div class="field">
					<div class="label"><span class="title">&{'js.task.ends'}:</span></div>
					<span class="date">
						<input maxlength="10" id="end_date1" name="end_date" class="txt end_date" type="text" value="" onchange="Hi_Calendar.check(this)" />
						<a href="javascript://" title="&{'js.task.end_date_help'}">#{common.pickerCalendarIcon onclick: "Hi_Calendar.calendar(event, getParentByClass(this, 'date', 'txt').id, false, false)" /}</a>
					</span>
					<span class="time">
						<input maxlength="${_userPref.timeMaxLength}" id="end_time1" name="end_time" class="txt end_time" type="text" value="" onchange="Hi_Calendar.check(this)" />
						<a href="javascript://" title="&{'js.task.end_time_help'}">#{common.pickerTimeIcon onclick: "Hi_Calendar.timetable(event, getParentByClass(this, 'time', 'txt').id)" /}</a>
					</span>
				</div>
				
				<div class="field period_repeat" id="recurring_cont1">
					<div class="label">&{'js.task.recurring'}:</div>
					<select id="recurring1" name="recurring" fill="enabled: hasStartDate">
						<option value="0">&{'js.task.recurring_none'}</option>
						<option value="1">&{'js.task.recurring_daily'}</option>
						<option value="2">&{'js.task.recurring_weekly'}</option>
						<option value="3">&{'js.task.recurring_monthly'}</option>
						<option value="4">&{'js.task.recurring_yearly'}</option>
					</select>
				</div>
				
				<div class="field" id="reminder_cont1">
					<div class="label"><label for="reminder_enabled">&{'js.task.reminder'}:</label></div>
					<input fill="enabled: hasStartDateTime" type="checkbox" name="reminder_enabled" id="reminder_enabled1" />
					<input fill="enabled: hasStartDateTime" type="text" class="txt reminder_time" name="reminder_time" id="reminder_time1" value="0" />
					<select fill="enabled: hasStartDateTime" name="reminder_time_type" id="reminder_time_type1">
						#{list items: _userPref.reminderTimeTypes, as: 'reminderTimeType'}
							<option value="${reminderTimeType.id}" #{if reminderTimeType.id == _userPref.reminderTimeType}selected="selected"#{/if}>${reminderTimeType.title}</option>
						#{/list}
					</select>
					<span class="label-after">&{'js.task.before_start'}</span>
				</div>
			</div>
			
			#{common.propShared userBean: _userBean /}
			
			<div class="description cont-inner description-empty">
				<label onclick="nextElement(this).focus()" fill="hidden: has_message">${messages.get('js.task.message_empty').escapeHtml()}</label>
				<textarea maxlength="${_constants.taskMessageMaxLength}"  id="message1" name="message"></textarea>
				<div class="textarea-resize"></div>
			</div>
			
			<div class="cont-inner-box tag_cont"></div>
		</div>
	</div>
	
	
	<div id="process_properties_buttons" onclick="dojo.stopEvent(event || window.event);">
		<table class="btns"><tr>
			<td>
				<input name="prop_act_cancel" class="cancel" type="button" value="${messages.get('hi.properties.cancel_button').escapeHtml()}" onclick="processProperties(false,{save:false})" />
				<input name="prop_act_cancel_new" class="cancel_new" type="button" value="${messages.get('hi.properties.cancel_button').escapeHtml()}" onclick="Hi_Archive.deleteTask(parseIntRight(this.id), {silent: true, tmpdelete:true})" />
			</td>
			<td>
				<input name="prop_act_save" class="save" type="button" value="${messages.get('js.task.save_button').escapeHtml()}" onclick="processProperties(false,{save:true})" />
				<input name="prop_act_save_new" class="save_new" type="button" value="${messages.get('js.task.save_button').escapeHtml()}" onclick="processProperties(false,{save:true,tmpsave:true})" />
			</td>
		</tr></table>
	</div>
	<div id="properties_view" class="properties_view">
		<div class="closed">
			<div fill="visible: has_time" class="cont"><div class="cont-inner highlight"  style="cursor:default;"  name="start_date" fill="htmlUntrim: time"></div></div>
			<div fill="visible: has_message" class="cont"><div class="cont-inner highlight forceWrap" style="cursor:default;" name="message" fill="htmlRaw: message"></div></div>
			<div fill="hidden: has_message" class="cont"><div class="cont-inner highlight" style="cursor:default;" name="message"><i class="no-description">&{'hi.properties.no_description'}</i></div></div>
			
			<div fill="visible: has_tags" class="cont"><div class="cont-inner">
				<span class="label">&{'js.task.tags'}:</span> <span class="tags tags_view"></span>
			</div></div>
			
			<div onclick="dojo.stopEvent(event);">
			<form class="history history-archive" action="" onsubmit="Hi_Comments.handleAddComment(); return false;" fill="call: Hi_Comments.onReady();">
				<div class="cont link"><div class="cont-inner">
					<a href="javascript://" onclick="Hi_Comments.getTaskId(parseInt(parseIntRight(getParentByClass(this, 'task_li').id))); Hi_Comments.loadComments(); return false;">&{'js.task.show_history'}</a>
					<input class="idElement" type="hidden" name="id" fill="value: id" />
					<span class="label">&{'js.task.last_modified'}</span>
					<b><span fill="htmlUntrim: time_last_update_dif"></span> <span>&{'js.task.ago'}</span></b>
				</div></div>
				<div class="cont data fulllist"><div class="cont-inner">
					<div class="dataEl"></div>
				</div></div>
				<div class="cont data last"><div class="cont-inner">
					<div class="dataEl"></div>
				</div></div>
				<div class="cont loading"><div class="cont-inner">
					<div class="dataEl">
						<div class="loading"><img src="${_userImages.ajaxLoaderImg}" alt="" title="" /> &{'hi.properties.loading'}</div>
					</div>
				</div></div>
				<div class="cont form"><div class="cont-inner">
					<button type="submit">&{'js.task.add_comment'}</button>
					<span class="avatar">#{if _userBean.pictureHash}<img src="/avatar/${_userBean.pictureHash}.16.gif" alt="" title="" onload="this.style.visibility='visible';" />#{/if}</span>
					<div class="comment">
						<div></div>
						<textarea name="comment" rows="1"></textarea>
					</div>
				</div></div>
			</form>
			</div>
			
			<div fill="visible: file_upload_allowed || file_list_allowed" class="file-cont ignore-click">
				<div class="file-upload"></div>
			</div>
			
			<div onclick="processProperties(false)" class="close"><!-- --></div>
		</div>
		
		
		
		<div class="footer">
			<div class="links">
				<a  href="javascript://" onclick="Hi_Archive.deleteTask(parseIntRight(getParentByClass(this, 'task_li').id), {'instance_date': getEventDateByNode(this), from_archive: 1, target: this}); return false;"><span data-icon="" aria-hidden="true"></span>&{'hi.properties.delete_button'}</a>
				<a  href="javascript://" onClick="Hi_Archive.taskRestore(parseIntRight(getParentByClass(this, 'task_li').id));return false;"><span data-icon="&#xe058;" aria-hidden="true"></span>&{'hi.properties.restore'}</a>
				<a fill="visible: !is_file" href="javascript://" onClick="Hi_Archive.taskCopyRestore(parseIntRight(getParentByClass(this, 'task_li').id));return false;"><span data-icon="&#xe016;" aria-hidden="true"></span>&{'hi.properties.restorecopy'}</a>
				<a fill="visible: !my && shared == '0' || assigned_from == '1'" href="javascript://" onclick="unassignTask(parseIntRight(getParentByClass(this, 'task_li').id));"><span data-icon="&#xe020;" aria-hidden="true"></span>${messages.get('js.center.unassign').escapeHtml()}</a>
			</div>
		</div>
	</div>
	
	<span id="history_item_created">
		<span class="history-item"><b>&{'hi.properties.history_created'}</b></span>
	</span>
	<span id="history_item_changed">
		<span class="history-item"><span fill="htmlUntrim: property"></span> changed to: <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_changed_boolean">
		<span class="history-item"><span fill="htmlUntrim: property"></span> <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_assigned">
		<span class="history-item">&{'js.main.assigned_to'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_returned">
		<span class="history-item">&{'hi.properties.history_unassigned_from'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_completed_true">
		<span class="history-item"><b>&{'js.completed.title'}</b></span>
	</span>
	<span id="history_item_completed_false">
		<span class="history-item"><b>&{'hi.properties.history_reopened'}</b></span>
	</span>
	<span id="history_item_category">
		<span class="history-item"><b>&{'hi.properties.history_changed_type'}</b></span>
	</span>
	<span id="history_item_color">
		<span class="history-item">&{'hi.properties.history_color'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_recurring">
		<span class="history-item">&{'hi.properties.history_recurring'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_project">
		<span class="history-item">&{'hi.properties.history_changed_project'}: <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_shared_true">
		<span class="history-item"><b>&{'hi.properties.history_shared'}</b></span>
	</span>
	<span id="history_item_shared_false">
		<span class="history-item"><b>&{'hi.properties.history_unshared'}</b></span>
	</span>
	<span id="history_item_starred_true">
		<span class="history-item"><b>&{'js.center.starred'}</b></span>
	</span>
	<span id="history_item_starred_false">
		<span class="history-item"><b>&{'hi.properties.history_unstarred'}</b></span>
	</span>
	<span id="history_item_archived_true">
		<span class="history-item"><b>&{'hi.properties.history_archived'}</b></span>
	</span>
	<span id="history_item_archived_false">
		<span class="history-item"><b>&{'hi.properties.history_restored'}</b></span>
	</span>
	<span id="history_item_reminder_changed">
		<span class="history-item">&{'hi.properties.history_reminder'}</span>
	</span>
	<span id="history_item_message_changed">
		<span class="history-item">&{'hi.properties.history_description'}</span>
	</span>
	<span id="history_item_copy_restored">
		<span class="history-item"><b>&{'hi.properties.history_copied_and_restored'}</b></span>
	</span>
	<span id="history_item_priority">
		<span class="history-item">&{'hi.properties.history_priority_changed'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_void">
		<span class="history-item"><b><span fill="htmlUntrim: property"></span></b></span>
	</span>
	
	<div id="properties_tag_template">
		<div class="field">
			<div class="label">&{'js.task.tags'}:</div>
			<div class="tag_padd">
				<span class="tags tags_edit"></span>
				<span class="add_tag_template">
					#{app.hi.onkeypress enter: 'Hi_Tag.addTagInput(this, event)', escape: 'Hi_Tag.emptyTagInput(this, event)', tag: 'span'}
						<span class="add_tag_form">
							<input maxlength="20" id="tag_TAG" fill="replace-TAG-id: id" class="new_tag_input txt" type="text" />
							#{common.tagAddIcon /}
						</span>
					#{/app.hi.onkeypress}
				</span>
				<div>
					<div class="tags_label">&{'js.task.add_tags'}</div>
					<div class="tags_list">
						<span class="more_tags_list"></span>
			   			<em class="more_add_tag_list_empty">&{'js.tag.add_no_more_tags'}</em>
			   			<a href="javascript://" onclick="Hi_Tag.fillMoreTags(parseIntRight(getParentByClass(this, 'task_li').id), false); hideElement(this);" class="add_tag">&{'js.task.more_tags'}</a>
		   			</div>
				</div>
			</div>
		</div>
		
		

	</div></div>
	
	<span id="tag_bar_template" fill="addSpace: ;">
		<a title="${messages.get('js.task.tag_click_help').escapeHtml()}" href="javascript://" onclick="Hi_Tag.filter(this)" class="tag sN" fill="html: value; replace-TAG-title: value; replace-N-class: count;"></a>
	</span>
	<span id="more_add_tag_list_item" fill="addSpace: ;">
		<a class="tag sN"  fill="html: value; replace-%tag-title: value; replace-N-class: count" href="javascript://" onclick="Hi_Tag.addTag(getParentByClass(this, 'more_tags_list'), unhtmlspecialchars(this.innerHTML))"></a>
	</span>
	
