<div class="archiveAlert" dojoType="dijit.Dialog" autofocus="false" widgetId="alertElement" id="alertElement" bgColor="white" bgOpacity="0.5" toggle="fade" toggleDuration="#{if _userBean.ieUser}1#{/if}#{else}250#{/else}" style="display: none; position: absolute; top: 0; left: 0;">
	<div class="tooltip bottom tooltip-alert-message" style="position: relative" onclick="dojo.stopEvent(event); return false;">
		<div class="top"><div class="back"></div><div class="right"></div></div>
		<table class="cont">
			<tr>
				<td class="left"></td>
				<td class="back">
					<div class="border"  onclick="event.cancelBubble = true; if (event.stopPropagation) event.stopPropagation();">
						<div id="alertElement_0">
							<h2>&{'hi.archive.file_restore_title'}</h2>
							<div>&{'hi.archive.file_restore_text'}</div>
							<div align="center">
								<button onclick="Project.alertElement.hide();">&{'hi.archive.file_restore_button'}</button>
							</div>
						</div>
					</div>
				</td>
				<td class="right"></td>
			</tr>
		</table>
		<div class="bottom"><div class="back"></div><div class="right"></div></div>
	</div>
</div>
#{app.hi.tooltipTpl name: 'deleteconfirmation'}
	#{app.hi.onkeypress escape: 'Tooltip.close("deleteconfirmation")'}
		<div class='hiTaskTooltipDialog claro' id="deleteconfirmation_tooltip">
			#{app.hi.tooltipCloseIcon name: 'deleteconfirmation' /}
			<table class="cont"><tr><td ></td><td ><div class="border">
	
				<p style='padding-top:10px;' id="deleteconfirmation_message"></p>
				*{
				<table class="input"><tr>
					<td><button type="button">&{'hi.properties.ok_button'} <span></span></td>
					<td class="align-right"><button type="button">&{'hi.properties.cancel_button'} <span></span></td>
				</tr></table>}*
			</div></td></tr></table>
			<div class='dijitDialogPaneActionBar'>
				<div id='deleteConfirmationOKBtn' class='btn-success btn-alt btn-flat' data-dojo-type='dijit.form.Button'>&{'hi.properties.ok_button'}</div>
				<div id='deleteConfirmationCancelBtn' class='secondary_action' data-dojo-type='dijit.form.Button' >&{'hi.properties.cancel_button'}</div>
			</div>
		</div>

	#{/app.hi.onkeypress}
#{/app.hi.tooltipTpl}