<p>
	To add multiple tasks at once, select the <b>Many tasks</b> button when creating a new item:<br/>
	<img src="/img/help/manytasks-2.png" /><br/>
	The task input dialog will change to one big input field. Here you can type one task on each line or import tasks from another program using copy and paste.<br/>
</p>

<h2>How to import tasks, step-by-step</h2>

<p>
	First, export tasks from wherever you have them into a comma-separated format (CSV). 
	If a comma-separated format is not possible, you can simply export tasks to a text file, one task on each line.<br/>
	The file should have one task per line with the following comma-separated fields:<pre>Title, Start Date, End Date, Description</pre><br/>
	Don't worry if you don't have a start date, end date, or a description. You at least need to have the title. If you have the title and description, enter commas after the title like this:
	<pre>Title,,,Description</pre>
	Copy the text from your file to the clipboard: open file, use <i>Select All</i> and <i>Copy</i>.<br/>
	Just like when you add regular items, click on the add new item text box:<br>
	<img src="/img/help/manytasks-1.png" /><br/>
	Select <b>Many tasks</b> button under Descrition field:<br/>
	<img src="/img/help/manytasks-2.png" /><br/>
	Paste the text into the input area and click 'Proceed' to review and create your new tasks.
</p>