<p>
	To assign a task, simply drag and drop it onto a team mates name in the Team sidebar. <br/>
	Or edit the item and choose "Assign to" person:
	<img src="/img/help/assign01.png" />
</p>

<h2>Assign to more than one person</h2>

<p>
	Sometimes you need to make more than one person participate in a task.<br/>
	With Team account you can do that. Simply add Participants using select list just below the Assignee.<br/>
	It's a good idea to keep the primary assignee of a task. Could be that when you remove the primary assignee nobody will be personally responsible for completion of a task.
</p>