<p>
	You can associate tasks with projects and create new tags when typing in the Task Title field, which means fewer clicks for you!
	<ul>
		<li><b>Tags:</b> Add the hash mark '#' before a word that you want to associate the task with.  Or, if there is not an existing tag, a new one will be made.</li>
		<img src="/img/help/newtag1.png" /> <br/>
		And a new tag is automatically created!
		<br/>
		<img src="/img/help/newtag2.png" />
		<br/>
		<li><b>Projects:</b> To add a task to an existing project, add the '@' mark and the Project Name within the Task Title.</li>
		<img src="/img/help/newproject1.png" /><br/>
		And your new task is now in an existing project.<br/>
		<br/>
		<img src="/img/help/newproject2.png" /><br/>
		<br/>
		Using these features will help create and identify tasks more quickly by not having to click as many icons, or making any additional modifications.
		<br /><hr /><br />
		You may also <b>email tasks with projects, dates and tags</b>.<br />
		Simply specify project name and/or tags and/or date at the end of email subject.<br />
		<b>Examples</b>:<br />
		Update user guide @Documentation<br />
		Update user guide #tag1 #tag2<br />
		Update user guide at 2015-07-23<br />
		Update user guide at 12-10-13 11:23 #tag @Documentation<br />
	</ul>
</p>