<p>
	You can automate certain information when typing in the Task Title field.  Dates and times can all be designated in the Task Title, which means fewer clicks for you!<br/>
	<p>For example, if you enter "Today 8am" in the Title
	<img src="/img/help/autofill1.png" /><br/>
	Your task will be automatically set to 8am!
	<br/>
	<img src="/img/help/autofill2.png" /></p>
	<ul>
		<li><b>Time Formats:</b> 8am, 8pm, 08:00, 20:00</li>
		<li><b>Date Formats:</b> Today, Tomorrow, Next Week (begins on the Monday of the next week), July 6, Jul 6</li>
		<li><b>Date and Time Combinations:</b> 18:30 August 6, Tomorrow 4pm, 09:30 Next Week, 10pm Today</li>
	</ul>
	<br/>
	Be sure to leave out any articles (a, an, the) between your dates and times.
</p>