<p class="faq-title"><b>Do you have a trial team account?</b></p>
<p class="faq-question">No.  You may want to try the Team account for one month as a trial. The HiTask subscription is a no-commitment, one-time charge. We do not store your payment information and we will not charge you at the end of your subscription should you decide not to continue using HiTask.</p>
<p class="faq-title"><b>With the purchase of a Team account, is it a cost per month for the entire team or for each user?</b></p>
<p class="faq-question">The monthly subscription includes 5 user licenses (accounts). You may invite your team members to join your Team account and they will have their accounts upgraded to the Team level.<br>
You can upgrade the number of licenses at any time or select more than 5 when you upgrade to a Team account.</p>
<p class="faq-title"><b>When I upgrade to a Team account, will everyone be able to see all of the tasks and projects?</b></p>
<p class="faq-question">Yes, with a HiTask Team account, you are able to set tasks and projects to Private or Shared.<br>
Shared items are visible to all of the members of your team. Private items are visible only to you, or the person you assign the task to.</p>
<p class="faq-title"><b>How can I change my Team Account owner/administrator?</b></p>
<p class="faq-question">We can change the owner for you. To do that, please send a request from the team owner account using the "Support" in the top menu, or Contact Us links. Please, specify the user account (email address) of whom you want to become the new team account owner.</p>
<p class="faq-title"><b>Who is the Team account administrator?</b></p>
<p class="faq-question">The Team account owner and administrator is the person who purchased the account. This person is responsible for making payments for account renewals and responsible for adding/removing users to the team.
</p>
<p class="faq-title"><b>How many users can I add to my Team Account?</b></p>
<p class="faq-question">There is <strong>no limit</strong> of how many users you can have in your Team account.<br>When subscribing to a Team Account you may select 5,10,20 or more user licenses. You can also buy additional number of user licenses at any time in the Settings menu.<br> </p>
<p class="faq-title"><b>How does the Team Account registration work?</b></p>
<p class="faq-question">The Team account is registered by one person, the Team account owner. The owner then invites other users to their Team account and manages all of the aspects of Team account.<br>
All of the users who have been invited to the Team account have full access to the HiTask Team and Premium features.</p>