<p>
	To mark an item complete, simply select the checkbox on the left:
	<img src="/img/help/complete01.png" />
	Completed items appear in the <i>Completed</i> group at the bottom of your list.
	<img src="/img/help/complete02.png" />
	From here you can delete them by selecting <i>Remove completed items</i> or bring them back by checking the left-side checkbox again.
</p>

<h2>Deleting shared tasks</h2>

<p>
	In Team accounts, you are not able to delete tasks created by other people unless you are the account owner (administrator) or have rights to do so.
</p>