<p class="faq-title"><b>How do I add HiTask to Google Calendar?</b></p>
<p class="faq-question">To add to Google Calendar, click on the Sync menu at the top of your screen.</p>
<p class="faq-title"><b>How can I export my tasks to iCalendar, Sunbird, and Outlook?</b></p>
<p class="faq-question">Use the Export button in the top navigation bar to generate an iCalendar link. Then simply paste this link into the application to import your tasks, such as Google Calendar, iCalendar or Outlook.</p>
<p class="faq-title"><b>How do I export data to a text file?</b></p>
<p class="faq-question">To Export to a CSV-formatted text file, click on the Export button in top menu bar and then select CSV file. <br>This file can be imported into spreadsheet applications such as Excel, Numbers, OpenOffice.</p>