<p class="faq-title"><b>I sent an email to my account @hitask.com but a task is not created. Why?</b></p>
<p class="faq-question">The email message must be "From:" an email address associated with your account or one of your team members.<br>
If you want to be able to send yourself tasks from more email accounts, simply add those addresses as your Friends.</p>
<p class="faq-title"><b>Can HiTask notify me about tasks by e-mail?</b></p>
<p class="faq-question">Yes.  Once you confirmed your email address, go to Settings and check "Notify me by e-mail" in the Reminders tab.
</p>
<p class="faq-title"><b>When I try to enter my e-mail address on the "Settings" page, it says that address is already in use by somebody else</b></p>
<p class="faq-question">It may be that there is another account registered for your e-mail address. Please use the "Forgot password" link at the login page and the password for that account will be sent to your e-mail address. Then you will be able to login and delete that account and register the new one.</p>
<p class="faq-title"><b>I haven't received a confirmation e-mail. I checked my SPAM and it's not there either.</b></p>
<p class="faq-question">For reasons beyond our control, your email service provider may not accept confirmation messages or is unable to deliver it. <br> This is usually caused by anti-spam measures.<br>
<br>You may try one of the following:
</p><ul>
<li>Double-check the e-mail address you're entering. This mistake is more common than you think.</li>
<li>Add noreply@hitask.com to your contacts. With services like Msn, Hotmail, Yahoo Mail you have more chances receiving the message if our email address noreply@hitask.com is added to your contacts.</li>
<li>Try using a different email address. For example, if you don't have success receiving a confirmation email to Hotmail account, try using your Gmail address.<br>
We recommend Gmail as most reliable: there are no problems receiving confirmation email with Gmail accounts. </li>
</ul><p></p>