<p>
	You can create tasks by sending emails to hiTask.<br><br>
	Sometimes it's just easier to email a task in, rather than going through the browser interface. For example adding tasks from a mobile phone or PDA while your'e on the move.<br>
	Another use is hiTask's integration with your website, or another system that sends you an automated emails.<br>
</p>

<h2>How to send</h2>

<p>
	Simply send an email to <b>[your user name]</b>@hitask.com, where <b>[your user name]</b> is the username that you use to log in to hiTask.<br>
	For example, if you use "joe" as your username then you should send the task to <b>joe</b>@hiTask.com.<br>
	The subject of the email message is the title of the task, and the message text is the task description.<br>
	<br>
	<b>IMPORTANT:</b> The email message must be "From:" email address associated with your account or one of your team members. This is required, otherwise anyone would be able to send email to your @hitask.com address and spam you with random tasks. This won't happen because you're actually in control of who can send tasks.<br> If you want to be able to send yourself tasks from more accounts simply add those addresses as contacts.<br>
</p>