<p class="faq-title"><b>I am dragging a file into the browser window, but instead of uploading, the browser tries to open file.</b></p>
<p class="faq-question">Not all browsers support the drop upload feature. Modern browsers that support HTML5, such as FireFox and Chrome, support drop upload functions.</p>
<p class="faq-title"><b>I am uploading a file and getting "File upload failed" error.</b></p>
<p class="faq-question">There are multiple factors that may cause upload error:

</p><ul>
<li>Internet connection problems. Try to upload file again</li>
<li>If you're using Internet Explorer we recommend using FireFox or Chrome instead</li>
<li>Browser add-ons and plugins. Add-ons like FireBug, Greasemonkey and similar are not compatible</li>
</ul><p></p>