<div class="help_cont_inner"><p>
You can easily attach files to tasks and projects.
To attach a file to a task, simply expand the task and select "Attach file":<br>
<img src="/img/help/files-attach-1.png" border="0" alt=""><br>
The attached file can later be deleted or detached. To do that, simply click on Modify... next to file name:<br>
<img src="/img/help/files-attach-2.png" border="0" alt=""><br>
</p>
<p>
	In addition to attachments, you can upload standalone files that will appear alongside tasks and projects.
	Manage files in the same way as you manage tasks: assign, move to project, and so on.
	With a Team account, files can be shared in the same way as you share tasks and projects.
</p>

<p>
	To upload a file, simply click on the Item Title box, just like when you create a new task, and select the File button below:<br>
	<img src="/img/help/files-3.png" border="0" alt="" /><br>
	Click on the "Select file to upload" button.<br>
	You may enter a file comment and change properties; assignment, sharing, tags, etc.<br>
	Click "Upload!" to upload file.<br>
</p>

<h2>Drag-n-drop uploads</h2>

<p>
	HiTask supports drag-n-drop everywhere and file uploads is no exception. With modern browsers, like FireFox and Chrome, you can simply drag files into the browser window to attach files to a task or upload as standalone file.<br>
	To attach files using drag-n-drop, expand the task you want to attach a file to and then start dragging the files into browser window. HiTask will show you where you can drop the file to attach or upload.
	Same about uploading standalone files: click to create a new file and then drag your file into that area. <br>
	Remember that this will work only in modern HTML5 browsers: FireFox or Chrome. If your browser supports drag-n-drop, you will see the prompt “drop files here” when you attach or create the file.<br>
</p>

<h2>It's secure!</h2>

<p>
	Your files are safe. Files are stored on a secure server and accessed only through HTTPS/SSL secure connection. Files can be accessed only by you or people you share it with.
</p>

<h2>Your file storage size</h2>

<p>
	Your storage size depends on what kind of account you have:<br>
</p>

<h2>Team account</h2>

<p>
	Team accounts have 2.5GB of file storage per user. This means if you have 5 user licenses in your account you have 12.5GB of storage.<br>
	All team account members share same storage quota: files uploaded by any team member will use up the common quota for the team account.<br>
</p>

<h2>Premium accounts</h2>

<p>
	Premium accounts have 1GB of file storage.<br>
</p>

<h2>Free accounts</h2>

<p>
	Free users receive 50MB of file storage. To get more storage upgrade to Premium or Team account.
</p>