<p class="faq-title"><b>Do you accept other payment methods than Credit Card?</b></p>
<p class="faq-question">Yes. You can pay using PayPal or Bank Transfer. Please contact us for details. Please note that this will require manual processing and we require more than one month subscription for manual payments.</p>
<p class="faq-title"><b>I can't hear sounds when reminder pops up or when I go to Alarm Settings.</b></p>
<p class="faq-question">Sounds require Adobe Flash plugin.<br> 
Please make sure your browser has the Flash plugin installed.<br> 
This plugin is included with Internet Explorer. For other browsers like Chrome or Firefox you may need to <a href="http://get.adobe.com/flashplayer/">download it yourself.</a></p>
<p class="faq-title"><b>I am managing a small project or company with few teammates involved. Do all of my team members need to have Premium or Team accounts?</b></p>
<p class="faq-question">You will only need one Team account for yourself. You will invite your team members into your Team, their accounts will become members of your Team account.</p>
<p class="faq-title"><b>Which browsers are supported?</b></p>
<p class="faq-question">All modern browsers are supported. This includes Internet Explorer, Firefox, Chrome, Opera, Safari.<br>
It's not recommended to use old versions of browsers such as Firefox 1.0, Internet Explorer 8 and earlier. With these browsers HiTask may work slowly and some features may not work at all.<br>
For best performance we recommend using the latest versions of Chrome, Firefox or Safari.</p>