<p>
	The tabs at the top of your screen represent different grouping views. <img src="/img/help/group01.png" />
	Click on the tabs to see your tasks from different perspectives:
</p>

<h2>My View</h2>

<p>
	Arrange items by your own preference. Use the drag handle to move items up or down.
	<br/> Move important items to the top, non-important ones to the bottom.
</p>

<h2>By Date</h2>

<p>
	View your tasks in chronological order.<br/>
	Items can be arranged in the following groups:
	<ul>
		<li><b>Overdue</b>: Here you can see items that are not yet completed and have passed their due date</li>
		<li><b>Today</b>: Items scheduled for today</li>
		<li><b>Tomorrow</b>: Items scheduled for tomorrow</li>
		<li><b>During week</b>: Items scheduled within 7 days from today. That may be this week or next week.</li>
		<li><b>After week</b>: Any other future items</li>
	</ul>
	<p>At the bottom you can see all the items that have no date set.
</p>

<h2>By Project</h2>

<p>
	Create projects and organize tasks inside relevant projects.<br/>
	Click on the project to expand it and see what tasks are in it. Drag and drop tasks around in and out of projects.<br/>
	To change the project title, delete or share it, click on <i>Modify project</i> when project is expanded.
</p>

<h2>By Team</h2>

<p>
	View tasks that are assigned according to the team member.
	<br/>Each team member who has a task assigned to them is represented as a group. 
	In this view you can drag and drop items between people.
</p>