<p>
	You can organize tasks in hierarchies. This makes your complex tasks easier to understand.
	<img src="/img/help/subtasks1.png" />
	<br/>
	To create a sub-task, click on <i>Add new item</i> inside the expanded task:
	<img src="/img/help/subtasks2.png" />
	<br/>
	And, you can arrange your hierarchy by using the drag-n-drop feature. Simply drag one item on top of another and you will be prompted to make it a sub-task:
	<img src="/img/help/subtasks3.png" />
</p>