<p>
	Using shortcuts, you can quickly perform various operations without your hands ever leaving the keyboard.
</p>

<p>
	For example, press <b>n</b> key on your keyboard. You will be transported into Add task mode. 
	Simply start typing the title. Press Enter to add task. Or press Tab to add more information.
</p>

<table class="help" width="100%">
	<colgroup>
		<col width="100px">
		<col>
	</colgroup>
	<tbody>
		<tr><th>Key</th><th>Action</th></tr>
		<tr><td align="center"><b>n</b></td><td>Add new item</td></tr>
		<tr><td align="center"><b>Ctrl <span style='font-size:13px'>&#8594;</span></b></td><td>Switch to next tab</td></tr>
		<tr><td align="center"><b>Ctrl <span style='font-size:13px'>&#8592;</span></b></td><td>Switch to previous tab</td></tr>
		<tr><td align="center"><b>m</b></td><td>Group by My View</td></tr>
		<tr><td align="center"><b>d</b></td><td>Group by Date</td></tr>
		<tr><td align="center"><b>p</b></td><td>Group by Project</td></tr>
		<tr><td align="center"><b>e</b></td><td>Group by Team</td></tr>
		<tr><td align="center"><b>f</b> or <b>s</b></td><td>Open search box</td></tr>
		<tr><td align="center"><b>a</b></td><td>Add project (when grouped by Project)</td></tr>
		<tr><td align="center"><b>c</b></td><td>Mark completed</td></tr>
		<tr><td align="center"><b>h</b></td><td>Open history of currently selected item</td></tr>
		<tr><td align="center"><b>Delete</b></td><td>Delete selected item</td></tr>
		<tr><td align="center"><b>Enter</b> or <b>o</b></td><td>Open selected item for editing</td></tr>
		<tr><td align="center"><b>Ctrl-S</b></td><td>Save item (when editing)</td></tr>
		<tr><td align="center"><b>Esc</b></td><td>Cancel editing</td></tr>
	</tbody>
</table>