<p class="faq-title"><b>How can I create project templates?</b></p>
<p class="faq-question">Project templates are easy with HiTask. Create a project and its tasks. Then Archive the whole project.<br>
The next time you need to create a project from the template, go to Archive and expand the project and select "Restore copy".</p>
<p class="faq-title"><b>How to move existing task into a project?</b></p>
<p class="faq-question">Simply drag and drop it into the project:<br>
- Switch to Group by Project tab. <br>
- Expand "Items not in project"<br>
- Drag item into the project.<br></p>
<p class="faq-title"><b>I click on Remove Completed Tasks but some tasks are not removed. Why?</b></p>
<p class="faq-question">Tasks assigned to you by other users cannot be removed by you. Instead, when you use Remove Completed, these tasks will return to their original owner.</p>
<p class="faq-title"><b>How do I delete tasks and projects?</b></p>
<p class="faq-question">To delete a task click on it and at the bottom of expanded panel click "More..." or "Delete" button. To delete a project, click "Remove..." in the menu below the project title.</p>
<p class="faq-title"><b>How can I change the order in which projects are listed?</b></p>
<p class="faq-question">You can rearrange projects when in Sort By Priority mode. Use the drag handle, located to the right from project name. Grab it with your mouse and drag up/down where you want the project to move.</p>
<p class="faq-title"><b>Can my team see all my projects and tasks?</b></p>
<p class="faq-question">Nobody will see your projects or tasks unless you assign a private task to that person (drag task and drop it on team mate).<br>
In a Team Account, you may select if item is private or shared. Private items stay private and nobody can see them. Shared items are visible to selected team members or everyone.</p>
<p class="faq-title"><b>We use HiTask in a team and we don't understand why we can't see each others tasks without having to drag them to individual people</b></p>
<p class="faq-question">With Free and Premium accounts your tasks are not shared. You need to explicitly assign task to other person.<br>
To share tasks and projects with team upgrade to a HiTask Team account.</p>
<p class="faq-title"><b>How can I print my tasks?</b></p>
<p class="faq-question">There is an "Print" button at the top of your screen. Select it to print your tasks in various layouts.</p>
<p class="faq-title"><b>Is it possible to have recurring items, like birthdays or weekly meetings?</b></p>
<p class="faq-question">While you are modifying an item, look for the "Repeat:" selection below the dates.<br>
Note that the "Repeat" option will not appear until you set the start date.</p>
<p class="faq-title"><b>Is there any way to invite a team member to an event?</b></p>
<p class="faq-question">You can send an event to team member by dropping it on their name in contact list or by assigning it to them in the "Assign To" or "Participants" selection in the Task details menu.</p>