<p class="faq-title"><b>How can I delete my account?</b></p>
<p class="faq-question">To delete your account, sign in to HiTask click on Settings and select My HiTask Account tab. Then click on "Cancel and remove my HiTask account" to proceed.</p>
<p class="faq-title"><b>My team members can currently see only the tasks/notes assigned to them specifically. How can I get all my team members to see certain items?</b></p>
<p class="faq-question">HiTask Personal account  support only assignment of tasks, but not sharing.
To share items between team members, upgrade to Team account.
If you upgrade your Premium account, everything you paid for it will be credited toward the Team account.
HiTask Team account have 5 user licenses initially that you can assign to your team members. You can add more user licenses at any time.<br>

Please go to <a href="http://hitask.com/signup"> Signup page</a> to upgrade your account.</p>
<p class="faq-title"><b>Do I need to delete my Free account if I want to upgrade to Personal Premium or Team?</b></p>
<p class="faq-question">No.  Simply upgrade your current account. <br>Go Settings and click on "My account" then "Upgrade to Premium" or "Upgrade to Team".
<br>
All your tasks,projects, and friends will be carried over!</p>
<p class="faq-title"><b>How to change the date format?</b></p>
<p class="faq-question">Just click on the Settings link at the top of the screen while you're logged into HiTask.<br> On the Settings screen you can adjust your preferences such as date and time format, and the starting day of the week.</p>
