<h2>What are Tags, and how to use them.</h2>

<p>
	Tags are simple text labels that you attach to your tasks and events.<br/>You can add as many tags as you like.
	The purpose of tags is to enable you to quickly find a group of related items. 
	After you have some items <i>tagged</i> just click on a tag and you will see only the items that have this particular tag.<br/>
	Tags work regardless of grouping mode thus bringing you an extra dimension for managing your tasks.	
</p>

<h2>Commonly used tags</h2>

<p>
	To get you started, here are some commonly used tags:
	<ul>
		<li><b>Location:</b> (things to do at) <i>home, work, shop, city</i></li>
		<li><b>Context:</b> <i>work, private, errand</i></li>
		<li><b>Priority:</b> <i>important, urgent, eventually</i></li>
		<li><b>Difficulty:</b> <i>easy, medium, hard</i></li>
		<li><b>Tracking leads:</b> <i>successful, promising, pending</i></li>
		<li><b>Task status:</b> <i>in process, pending, need more info</i></li>
	</ul>
</p>

<h2>Example</h2>

<p>
	Let's say we're going for a trip and going to create a few related tasks for that. To group these tasks together, we will tag the task with the tag <b>trip</b>.<br/>
	First we create a task:<br/>
	<img src="/img/help/tags01.png" />
	In Tags entry field, enter the word <i>trip</i> and press space, comma or Enter key on your keyboard:
	<img src="/img/help/tags02.png" />
	We've created a tag! Click Save to create your task and let's create another task:
	<img src="/img/help/tags03.png" />
	Now, to add existing tag, click on Arrow on the right side of "Tags:" box and select <i>trip</i> tag:<br/>
	<img src="/img/help/tags04.png" />
	Click Save. Now we have two tasks tagged with <i>trip</i>.<br/> How do we separate them from other tasks when our trip-related tasks are mixed with other tasks?
	To view only these items simply click on the tag link above the tasks:<br/>
	<img src="/img/help/tags07.png" />
	Only tagged items are shown now:
	<img src="/img/help/tags05.png" />
	To return to all items click <i>Show all items</i>.<br/>
	Try it for yourself! You can add more tags, and combine multiple tags in the same task.
</p>