<p>
	With hiTask, you can format text easily without the need to remember HTML syntax or use a complex text editor.<br/>
	Text styling is done with Textile markup language. Textile a well known and widely used lightweight text formatting standard.<br/>
	You can read more about it at this <a href="http://en.wikipedia.org/wiki/Textile_%28markup_language%29" target=_blank> Wikipedia page</a>.<br><br>
</p>

<h2>Available text styles</h2>

<table class="help" width="100%">
	<colgroup>
		<col width="160px">
		<col>
	</colgroup>
	<tbody>
		<tr><th>You type</th><th>Output</th></tr>
		<tr><td align="left">*bold*</td><td><b>bold</b></td></tr>
		<tr><td align="left">_italic_</td><td><i>italic</i></td></tr>
		<tr><td align="left">+underline+</td><td><u>underline</u></td></tr>
		<tr><td align="left">h1. heading</td><td><h2>heading</h2></td></tr>
		<tr><td align="left">* bullet list<br>* bullet list</td><td><ul><li>bullet list</li><li>bullet list</li></ul></td></tr>
		<tr><td align="left"># numbered list<br># numbered list</td><td><ol><li>numbered list</li><li>numbered list</li></ol></td></tr>
		<tr><td align="left">&gt; blockquote<br>&gt; blockquote</td><td><blockquote>blockquote<br>blockquote</blockquote></td></tr>
		<tr>
			<td align="left">
				&nbsp;&nbsp;&nbsp;&nbsp;preformatted text:<br>
				&nbsp;&nbsp;&nbsp;&nbsp;add 4 spaces at the <br>
				&nbsp;&nbsp;&nbsp;&nbsp;beginning of line<br>
				&nbsp;&nbsp;&nbsp;&nbsp;to get fixed width text<br>
			</td>
			<td>
				<pre>preformatted text:
add 4 spaces at the
beginning of line
to get fixed width text</pre>
			</td>
		</tr>
		<tr><td align="left">^superscript^ normal ~subscript~</td><td><sup>superscript</sup> normal <sub>subscript</sub></td></tr>
	</tbody>
</table>

<br />You can also combine styles:

<table class="help" width="100%">
	<colgroup>
		<col width="160px">
		<col>
	</colgroup>
	<tbody>
		<tr><td align="left">_*bold italic*_</td><td><i><b>bold italic</b></i></td></tr>
		<tr><td align="left">+*bold underline*+</td><td><u><b>bold underline</b></u></td></tr>
	</tbody>
</table>