<p>
	With Time tracking, you can record time spent on a particular day on a particular task. You, or any of your team members, are able to log time on a task.<br/>
	You can use time logging data for client billing, budgeting or resource activity reporting.<br/>
	To track time for a particular task, you first need to enable the time tracking feature when modifying or creating the item. Simply enable the time tracking checkbox located below start and end date and reminder settings.<br/>
	<img src="/img/help/time-tracking-enable.gif" border="0" alt="" /><br/>
	To manually enter time spent on a task, expand the task and click on Log Time:<br/>
	<img src="/img/help/time-tracking-logtime.gif" border="0" alt="" /><br/>
	You can enter time in various formats. Entering any number means how many hours you have spent. You may use decimal numbers like 0.5 ( means half hour, 30 minutes). You can also write "hour" "minutes" "h" "m", e.g. "1 hour 30 minutes", "1h 30m".<br/>
	Once you have logged some hours you can see the time log by clicking on "Details..." link in expanded task.
</p>