<p>
	Record exactly how much time you spent on a task with the help of the timer. Start the timer when you start working on a task and stop when you are finished. The time spent will be recorded in your task.<br/>
	To use the timer, first enable the time tracking for your task:<br/>
	<img style="border: 1px solid black;" src="/img/help/timer-enable.png" alt="" width="276" height="258" /><br/>
	Now expand the task and click <strong>Start timer</strong>:<br/>
	<img src="/img/help/timer-start.png" alt="" width="424" height="166" /><br/>
	The timer window will appear in menu bar:<br/>
	<img src="/img/help/timer-popup.png" alt="" width="345" height="188" /><br/>
	It displays hours and minutes in HH:MM format. Initially it will show 00:00, after a minute it will be 00:01 and so on. Blinking colon ":" means that the timer is running.<br/>
	The clickable buttons in that window:<br/>
	<ul>
		<li><strong>Pause</strong>: pause timer. Have a break.</li>
		<li><strong>Stop </strong>button to end the work session. Time spent will be saved and the timer window will close.</li>
		<li><strong>Complete</strong> button to end the work session and complete the task. The timer will stop, time spent will be recorded and the task will be marked as completed.</li>
	</ul>
	You may close the timer window. While the timer is running you will be able to see the running time in the menu bar:<br/>
	<img src="/img/help/timer-bar.png" alt="" width="182" height="41" /><br/>
	If you stop the timer and start it again, it will start over from 00:00. That doesn't mean that the time you spent in the previous session is lost. The timer only shows the time spent in the current session. All of the spent time is added regardless of how many times you start and stop the timer.<br/>
	While the timer is running, the time is saved to server every minute. You will not lose recorded time if you accidentally close your browser. Time is also saved when you sign out of hiTask.<br/>
</p>