<p>hiTask has many uses</p>

<h2>Issue tracking</h2>

<h2>Working with clients.</h2>

<p>
	HiTask is a great communication tool for working with clients. Many companies use hiTask to send and receive tasks from clients, exchange messages.
</p>

<h2>No training required</h2>

<p>
	HiTask is easy enough for everyone!<br/>
	Your client creates a task by typing the title in the big text box on the top and then assign the task to you by dragging it onto your name. Can't be simpler than that!
</p>

<h2>Organizing</h2>

<p>
	Simply add your clients as contacts. They will receive an invitation to hiTask and as soon as they register you will be able to exchange tasks with them.<br/>
	No need to invite into your Team if you don't want them to see your "internal" tasks and events.<br/>
</p>