<h2>Tasks, Events and Notes</h2>

<p>
	Select one of the three types of tasks when you are creating a new item.
	<br/> The selection is right below the task description:<img src="/img/help/itemtype01.png" />
</p>

<h2>Looking at the items</h2>

<p>
	<img src="/img/help/item01.png" />
	<ol>
		<li><b>Item Complete checkbox and color tag.</b> Click the checkbox to mark the item complete. Modify the item to set the color tag.</li>
		<li><b>Star.</b> Use the star feature to mark important items.</li>
		<li><b>Item title.</b></li>
		<li><b>Project name.</b> If an item is in the project, the project name is written next to the item title. (Except for when in a Group by Project mode.)</li>
		<li><b>Item date.</b> Item start or due date.</li>
		<li><b>Private item icon.</b> Team accounts only. When you see a lock icon, this means that the item is private and only you can see it. The item will stay private unless you assign it to someone, then other people will be able to see it in their list.</li>
		<li><b>Drag handle.</b> Press and hold the mouse button here, then drag up and down to rearrange the priority level of your tasks.</li>
	</ol>
</p>