@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/Common.less";
@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/form/Common.less";
@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/form/Button.less";
@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/form/Select.less";
@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/layout/TabContainer.less";


@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/Calendar.less";
@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/Menu.less";


@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/ProgressBar.less";
@import "../lib/dojo.1.10.hitask.src/dijit/themes/claro/TimePicker.less";

/* Feature #1786 - This does not appear to be used, but adding it anyway from claro-arena.css Offscreen */
.dijitOffScreen {
	top: -90000px; /* -10000 is not enough with very large message */
}

/* Remove outline */
.dijitReset,
.dijitButtonContents,
.dijitTabContent>div {
	outline: 0;
}

.dijitTab * {
	outline:0;
}

/* Tabs */
.dijitTab {
	font-size: 12px;
//	font-family: Helvetica,Arial,sans-serif;
}

/* Buttons
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
	padding-bottom: 3px;
	background: @primaryActionForeground;
	color: @primaryActionBackground;
	box-shadow:none;
	.border-radius(@primaryActionBorderRadius);
	border: @primaryActionBorder;
	font-size: 100%;
	:active {

	}
}
.claro .dijitArrowButtonInner{
	background-image: none;
}
.claro .dijitButton .dijitButtonNode:active {
	background: @primaryActionBackground;
		color: @primaryActionForeground;
}
*/
/* Jason Thompson - override hover css in 1.8, which causes list items to jump up */
.claro .dojoDndItemOver {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat;
	border: none;
	cursor:pointer;
}

/* Jason Thompson - the above rule messes up the padding on list items styled with task_li */
li.task_li.dojoDndItemOver {
	padding: 0 0 5px;
	color: rgb(51,51,51);
}

/* Jason Thompson - remove border on list items and background color - which appears when the item is clicked to modify */
.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	border:none;
	background-color:transparent;
	color:rgb(51,51,51);
}

/* Jason Thompson - padding gets messed up when you click on an item styled with task_li class */
li.task_li.dojoDndItemAnchor {
	padding: 0 0 5px;
}

/* Jason Thompson - Center down arrow on dijit.form.ComboBox */
.dijitButtonNode.dijitDownArrowButton {
	padding:1px 2px 2px 1px;
}

.claro .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 2px 1px 1px;
}
.claro .dijitComboBox .dijitArrowButtonInner {
	border:none;

}

.claro .dijitSelect .dijitArrowButtonInner {
	border:none;
}
/*
.claro table.dijitSelect {
	border-collapse: separate;
	empty-cells: show;
}
.claro table.dijitSelect td div.dijitInputField {
	margin:3px 0 0 2px;
}

.claro .dijitSelectFocused .dijitArrowButton {
	background-color: #EFEFEF;
	background-image:linear-gradient(rgba(255, 255, 255, 0.698) 0%, rgba(255, 255, 255, 0) 100%);
	padding:1px;
}

.claro .dijitSelect .dijitArrowButton {
	padding:1px;
}

.claro .dijitSelectHover .dijitArrowButton {
	background-color:#EFEFEF;
}

.claro .dijitSelectHover .dijitSelectToComboBoxTheme {
	background-color:#ABD6FF;
}

.claro .dijitSelect .dijitArrowButtonContainer {
	border-width:0;
	transition-property:none;
}



.claro .dijitTextBox .dijitInputInner {
	padding-top: 2px;
}

.claro .dijitTextBox .dijitInputField {
	padding: 1px 1px 0px 3px;
}
*/

/*MENU*/
.claro .dijitMenu {
	/*box-sizing: border-box;*/
	max-width: 248px;
	max-height: 250px;
//	.selectListBackground();
}

.claro .dijitCalendarMonthMenu.dijitMenu{
	max-height: none;
}

.claro .dijitMenuExpand {
	background-image: none;
}

.claro .dijitComboBoxMenu .dijitMenuItem {
	border:0px;
	&:hover {
		background: @selectListSelectionBackground;
	}
}
/*To uniquely style the None selection in assignee and participant comboboxes*/
.comboboxNoneSelection, .comboboxNoneSelectionAutoHeight,
.comboboxNewProjectSelection, .comboboxNewPersonSelection {
	font-weight: normal;
	vertical-align: middle;
}

.comboboxNoneSelection, .comboboxNoneSelectionAutoHeight {
	color: @secondaryActionColor;
}

.comboboxNoneSelection {
	height: 24px;
	line-height: 24px;
}

.comboboxNewProjectSelection, .comboboxNewPersonSelection {
	color: @primaryActionColor;
}

/* #2812 */
.dijitComboBox .dijitInputField {
	input.comboboxNoneSelected, input.comboboxItemSelected {
		font-weight: normal;
	}

	input.comboboxNoneSelected {
		color: #999;
	}
}

.claro .dijitMenu .dijitNoneOption td{
	color: #999 !important;
}

.dijitSelect{
	.comboboxNoneSelected{
		color: #999;
	}
}

/*So participant label will be centered with participant combobox and selected participants*/
.participant_padd_extra {margin:3px 0 0 0}
.participantLabel {margin:4px 0 0 0}
.participantLabelWithParticipants {margin:8px 0 0 0}


/*Feature #1721 - remove outline when popup for tooltipdialog is focused/clicked on*/
.dijitTooltipDialog {
	outline:none;
}


/*Feature #1721 Close button styling for taskedit (and probably others?) tooltip*/

.hiTaskTooltipDialogTaskClose {
	position:absolute;
	display: block;
	right: 0;
	top: 1px;
	width: 28px;
	height: 28px;
	background: url(/img/v5/item_sprite_2.png) 0 -28px no-repeat;
}

/*Feature #1721 We must hide the close icon in the taskedit tooltip since it shares its template
with items in Project, Team, etc. tasks*/

.taskEdit_Close {display:none;}

/*#2019*/
.tooltipCloseIcon {
	position: absolute;
	right: -5px;
	top: -3px;
	cursor: hand !important;
	cursor: pointer;
	z-index: 3;
	.user-select(none);
	color: @secondaryActionColor;
	font-family: 'hitask';
	font-size: 10px;
}

.tooltipCloseIconExtraMargin {
	margin-top: 20px;
	margin-right: 20px;
}

/*Feature #1721 Override TooltipContainer CSS*/
.dijitTooltipContainer {
	background: none;
	border: none;
	font-size: 13px;
}

/*Feature #1721*/
.dijitTooltip, .dijitTooltipDialog {
	background: none repeat scroll 0 0 transparent;
}

/*Feature #1721 - add .dijitDialog when convert dijit.dialog to new styling*/
.dijitDialog,.dijitTooltipContainer {
	background-color: @popupDialogBackgroundColor;
	border: 1px solid #FFFFFF;
	border-radius: @popupDialogBorderRadius;
	.box-shadow(0 0px 2px 2px rgba(0, 0, 0, 0.12));//): 0 0 1px 4px rgba(0, 0, 0, 0.12);
	color:#333333;
	font-size: 12px;
	padding: 6px 8px;
}

/*Feature #1721 This specifies the orientation of the triangle*/
.dijitTooltipBelow {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 7px;
}

/*Feature #1721 This specifies the orientation of the triangle*/
.dijitTooltipBelow .dijitTooltipConnector {
	background-position: left top;
	height: 18px;
	left: 3px;
	top: -9px;
	width: 39px;
}

/*Feature #1721 This specifies the orientation of the triangle*/
.dijitTooltipConnector {
	background-image: url(/img/tooltip_triangle_top.png);
	background-repeat: no-repeat;
	border: 0 none;
	height: 14px;
	width: 16px;
	z-index: 1005;
}

.dijitTooltipLeft {
	padding-right: 14px;

	.dijitTooltipConnector {
		background-image: url(/img/tooltip_triangle_right.png);
		background-repeat: no-repeat;
		border: 0 none;
		z-index: 1005;
		background-position: left center;
		height: 18px;
		/*left: -1px;*/
		width: 39px;
		right:-25px;
	}
}
.dijitTooltipRight {
	padding-left:14px;

	.dijitTooltipConnector {
		background-image: url(/img/tooltip_triangle_left.png);
		background-repeat: no-repeat;
		background-position: left center;
		border: 0 none;
		left: -1px;
		height: 18px;
		width: 39px;
		z-index: 1005;
	}
}

/*Feature #1721 For the delete confirmation box - this is the same entry for .tooltip .input in tooltip.css*/
.hiTaskTooltipDialog .input {
	width: 100%;
	margin: 10px 0 0 0;
}

.hiTaskTooltipDialog .cont .border,{
	border: 0;
	padding: 0 20px 6px 10px;
	/*padding-right: 10px;*/
	position: relative;
	margin: -4px -11px -5px;
	z-index: 1;
}

.hiTaskTooltipDialog .cont {
	width:100%;
}

.hiTaskTooltipDialog .input td {
	padding-left:5px;
	vertical-align:middle;
}

.hiTaskTooltipDialog .input .align-right button {
	margin-left:47px;
	margin-right:5px;
}

/*Feature #1721 Using ._txt class, instead of .txt because this gets overridden with the wrong style from 80-main.css*/
.hiTaskTooltipDialog td._txt {
	width: 100%;
}

/*Feature #1721 for table elements and labels, etc.*/
.hiTaskTooltipDialog td {
	vertical-align: middle;
}

/*Feature #1721 for table elements and labels, etc.*/
.hiTaskTooltipDialog td._txt {
	width: 100%;
	padding-left:0;
	padding-right:12px;
}

/*Feature #1721 for table elements and labels, etc.*/
.hiTaskTooltipDialog ._txt label {
	display: block;
	position: absolute;
	margin: 8px 0 0 5px;
	font-style: normal;
	cursor: text;
	color: #999;
}

/*Feature #1721 for table elements and labels, etc.*/
.hiTaskTooltipDialog ._txt label.label-title {
	font-size: 130%;
}

/*Feature #1721 for table elements and labels, etc.*/
.hiTaskTooltipDialog ._txt label.label-description {
  margin-top: 16px;
}


.hiTaskNewProjectinput {
	/* Maybe obliterate? width: 100%;*/
	padding-left:5px;
	margin: 16px 0 0 0;
}

/*Feature #1721 button bar theme*/
.claro .dijitDialogPaneActionBar {
  /* gray bar at bottom of dialog with OK/Cancel buttons */

  	padding: 5px 5px 5px 7px;
  	text-align: right;
 	margin: 5px -8px -10px;
  /*border-top: 1px solid #d3d3d3;*/
  	border-top: 0px;
	background-color: #F5F5F5;
}
.claro .dijitTooltipDialog .dijitDialogPaneActionBar {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	margin: 5px -10px -1px 3px;
}

.dijitDialogPaneActionBar .btn {
	padding-right:8px;
}


.dijitTabContainerLeft-container
{
	border-left:1px solid;
}

.claro  .dijitTabController {
	border-right-width:0;
}

/* #2535 Drag and Drop and text selectable*/
.dojoDndItem {
	padding: 2px;  /* will be replaced by border during drag over (dojoDndItemBefore, dojoDndItemAfter) */

	/* Prevent magnifying-glass text selection icon to appear on mobile webkit as it causes a touchout event */
	-webkit-touch-callout: none;
	-webkit-user-select: text; /* Disable selection/Copy of UIWebView */
}

/*
input {outline:0;}
span {outline:0;}
div {outline:0;}
*/
/* #2581
 * Today date highlight in Calendar
 */
.claro .dijitCalendarDateTemplate.todayDate {
	background-color:#C4F0CE;
}
.claro .dijitCalendarDateTemplate {
	font-weight:normal !important;
	font-family: inherit !important;
}

.dijitColorPalette{
border: 0px;
background: none;
position: relative;
}

// #2582
.dijitMenu.dijitComboBoxMenu .dijitMenuItem .selected {
	color: #77AFDB;
	font-weight: bold;
}
/* #2757 */
.dijitReadOnly *, .dijitDisabled *, .dijitReadOnly, .dijitDisabled {
  color: @disabledActionColor;
  cursor: default;
}

/* hi.widget.ClearTextBox */
.claro .hiClearBox,
.hiClearBox  {
	position: relative;
	.textInputLarge();
	padding: 1px 25px 1px 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color: #F9F9F9;
	border: 1px solid @inputBorderColor;
	&:hover {
		border-color: #999;
	}
	.dijitInputField, input, input:focus, input:hover {
		background:none;
	}
}
#archiveSearchContainer .hiClearBox {
	border-radius: 17px;
	padding: 1px 25px 1px 13px;
}
.claro .search.section .hiClearBox a{
	top: 10%;
}

.claro .hiClearBox a.hiClear,
.hiClearBox a.hiClear {
	color: lighten(@secondaryActionColor,15%);
	width: 16px;
	height: 18px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 4px;
	right: 5px;
	z-index: 2000;
	cursor: pointer;
	font-size: 16px;

	span {
		vertical-align: middle;
	}
}

.claro .hiClearBox .hiClearBoxDecoration,
.hiClearBox .hiClearBoxDecoration {
	color: @textMuted;
	width: 16px;
	height: 18px;
	display: block;
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 7px;
	z-index: 2000;
	font-size: 14px;
}


.hiClearBox a.hiClear:hover {
	background-position:-12px 0;
}
.dj_ie .hiClearBox input::-ms-clear {
	// For IE10 with native 'clear box' button.
    display: none;
}
.dj_ie .hiClearBox,
.period .date, .period .time {
	input:-ms-input-placeholder {
		color: @textMuted;
	}
}
.hiClearBox,
.period .date, .period .time {
	.dijitPlaceHolder {
		color: @textMuted;
		font-style: normal;
	}
}
.dijitPlaceHolder.dijitInputField {
	padding-left: 4px !important;
}

.dijitPlaceHolder {
	color: lighten(@textMuted,10%);
	font-style: normal;
}
.dj_ie .hiClearBox a.hiClear	{
	top:2px;
}

/*Icons, arrows, etc.*/
@image-base-url: "dijit/themes/claro";
@image-arrow-sprite: "@{image-base-url}/images/spriteArrows.png";
@image-calendar-arrows: "@{image-base-url}/images/calendarArrows.png";
@image-calendar-arrows-ie6: "@{image-base-url}/images/calendarArrows8bit.png";
@image-checkmark: "@{image-base-url}/images/checkmarkNoBorder.png";
@image-checkmark-ie6: "@{image-base-url}/images/checkmarkNoBorder.gif";
@image-dialog-close: "@{image-base-url}/images/dialogCloseIcon.png";
@image-dialog-close-ie6: "@{image-base-url}/images/dialogCloseIcon8bit.png";
@image-dnd: "@{image-base-url}/images/dnd.png";
@image-editor-icons-enabled: "../../icons/images/editorIconsEnabled.png";
@image-form-button-arrows: "@{image-base-url}/form/images/buttonArrows.png";
@image-form-checkbox-and-radios: "@{image-base-url}/form/images/checkboxRadioButtonStates.png";
@image-form-checkbox-and-radios-ie6: "@{image-base-url}/form/images/checkboxAndRadioButtons_IE6.png";
@image-form-common-arrows: "@{image-base-url}/form/images/commonFormArrows.png";
@image-form-error: "@{image-base-url}/form/images/error.png";
@image-form-slider-thumbs: "@{image-base-url}/form/images/sliderThumbs.png";
@image-layout-tab-close: "@{image-base-url}/layout/images/tabClose.png";	// [x] icon to close a tab
@image-loading-animation: "@{image-base-url}/images/loadingAnimation.gif";
@image-tooltip: "@{image-base-url}/images/tooltip.png";	// arrow connectors
@image-tooltip-ie6: "@{image-base-url}/images/tooltip8bit.png";	// arrow connectors (8 bit)
@image-tree-expand: "@{image-base-url}/images/treeExpandImages.png";
@image-tree-expand-ie6: "@{image-base-url}/images/treeExpandImages8bit.png";
@image-progressbar-anim: "@{image-base-url}/images/progressBarAnim.gif";

@image-calendar-arrows: "../@{image-base-url}/images/calendarArrows.png";

.claro .dijitCalendarIncrementControl {
	background-image: url("@{image-calendar-arrows}");
}

.publishLink {
	text-decoration: none;
}

.dojoxLightboxText {
	text-align: center;
}

.claro .dijitTextBoxHover {
    background-color : @inputHoverBackground;
    background-image : none;
//    background-repeat : repeat-x;
}
