/* dojo flat theme migration */
/* add overrides here when flat theme itself not compatible with our UI requirement. */

* {
	outline: none;
}

.dijitComboBox .dijitArrowButtonInner {
	margin: 0;
}

.dj_gecko .dijitInputInner {
	height: auto;
}

.claro .dojoxCalendar .viewContainer {
	top: 40px;
}

/*Bug #5464*/
.dijitCalendarMonthMenu.dijitMenu {
	max-height: none;
}

/* #2535 Drag and Drop and text selectable*/
.dojoDndItem {
	padding: 2px;  /* will be replaced by border during drag over (dojoDndItemBefore, dojoDndItemAfter) */

	/* Prevent magnifying-glass text selection icon to appear on mobile webkit as it causes a touchout event */
	-webkit-touch-callout: none;
	-webkit-user-select: text; /* Disable selection/Copy of UIWebView */
}

.dijitTooltipDialog {
	overflow: auto;
	overflow-x: hidden;
}

.dijitButton.full-width {
	.dijitButtonNode {
		box-sizing: border-box;
		width: 100%;
	}
}

/*Feature #5361*/
.dijitToolbar .dijitComboBox .dijitButtonNode {
	padding: 4px 12px;
}
.dijitToolbar .dijitComboBox .dijitInputInner {
	padding: 4px;
}

.dijitCheckedMenuItemIcon:before {
  /*content: "\f096"*/
}

.dijitTextBoxHover {
	/*border: 1px solid #007ac2 !important;*/
}

.dijitTextBoxFocused {
	/*border: 1px solid #007ac2 !important;*/
}

.chrome .dijitTooltipDialog {
	overflow: overlay;
}

.dijit.full {
	width: 100%;
}

.btn-flat, .btn-alt {
	font-size: 15px;
}

.dijitDialogPaneActionBar {
	padding: 8px;
}

.dijitButtonContents {
	outline: 0;
}

.dijitSelect td.dijitReset {
	vertical-align: inherit;
}

.dijitIconDelete {
	background-image: none;
	vertical-align: baseline;
}

.dijit input.dijitArrowButtonInner {
	border: medium none;
}

.dj_ie .dijitSplitterCover {
	background: inherit;
}
/*Feature #1721 Close button styling for taskedit (and probably others?) tooltip*/
.hiTaskTooltipDialogTaskClose {
	background: url(/img/v5/item_sprite_2.png) 0 -28px no-repeat;
	display: block;
	height: 28px;
	position:absolute;
	right: 0;
	top: 1px;
	width: 28px;
}

/*tooltipDialog close button*/
.tooltipCloseIcon {
	display: block;
	left: 100%;
	margin-left: -10px;
	position: relative;
	right: -9px;
	top: -6px;
	z-index: 3;
}

.taskEdit_Close {
	display: none;
}

span.tooltipCloseIcon.dijitDialogCloseIcon:hover {
	opacity: 1;
}
/*https://red.hitask.net/issues/5273#note-7*/
/*override flat theme background*/
.dijitContentPane {
	background: transparent;
}

.dijitInputInner {
	text-overflow: ellipsis;
}

/*Bug #5404*/
.dijitMenu {
	/*box-sizing: border-box;*/
	max-width: 248px;
	max-height: 250px;
}

.dijitMenuItem {
	overflow: hidden;
	text-overflow: ellipsis;
}

[dijitpopupparent^=parent_hi_widget_TaskItemNewEdit] > .dijitMenu {
	max-width: 800px;
}

/*add project tooltip*/
.hiTaskNewProjectinput {
	/* Maybe obliterate? width: 100%;*/
	padding-left:5px;
	margin: 16px 0 0 0;

}

.hiTaskTooltipDialog {
	.cont .border {
		border: 0;
		padding: 0 10px 6px 10px;
		/*padding-right: 10px;*/
		position: relative;
		margin: -4px -11px -5px;
		z-index: 1;
	}
}

.settings {
	.dijitProgressBarTile {
		-webkit-animation: initial;
		-moz-animation: initial;
		-o-animation: initial;
		-ms-animation: initial;
		animation: initial;
	}

	.dijitSelect input.dijitInputField,
	.dijitComboBox input.dijitInputField {
		border: medium none;
		margin: 0;
		padding: 0;
		width: 0;
	}
}

.dijitComboButtonHover .dijitButtonNode {
	/*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);*/
	.box-shadow(0 1px 1px rgba(0,0,0,0.2));
	.transition(all 0.1s);
	background: #e1e1e1;
	background: -webkit-linear-gradient(#f6f6f6, #e1e1e1);
	background: -moz-linear-gradient(#f6f6f6, #e1e1e1);
	background: -o-linear-gradient(#f6f6f6, #e1e1e1);
	background: -ms-linear-gradient(#f6f6f6, #e1e1e1);
	background: linear-gradient(#f6f6f6, #e1e1e1);
}