
/* list of all xhtml tags */
/* simply comment unnecessary */
html, head, body, div, span,
/*DOCTYPE, title, link, meta, style,*/
p, h1, h2, h3, h4, h5, h6, strong, em, abbr, acronym, address, bdo, blockquote, cite, q, code, ins, del, dfn, kbd, pre, samp, var, br,
a, base,
img, area, map, object, param,
ul, ol, li, dl, dt, dd,
table, tr, td, th, tbody, thead, tfoot, col, colgroup, caption,
form, /*input, textarea, select, option, optgroup, button,*/ label, fieldset, legend,
b, i, tt, sub, sup, big, small, hr
{
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#loading_done{
	width: 100%;
	height: 100%;
	/*margin: 0 2%;*/
}
/*
*, body {
	scrollbar-3dlight-color: #;
	scrollbar-arrow-color: #;
	scrollbar-darkshadow-color: #;
	scrollbar-face-color: #;
	scrollbar-highlight-color: #;
	scrollbar-shadow-color: #;
	scrollbar-track-color: #;
}
*/
/* png as background in IE (sizingMethod=crop/scale/image)
* html ... {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=px/.png, sizingMethod=crop);
}
*/
html {
	border: none;
	/*overflow-y: auto;*/
}
body {
	background: #FFF;
	color: #222;
	font: 12px "Open Sans", "Helvetica Neue", Helvetica,Arial, sans-serif;
}
/* :hover for any element in IE */
/*
* html body {
	behavior: url(/lib/csshover.htc) !important;
}
*/
img {
	vertical-align: middle;
	border: none;
}
input,
select,
textarea {
	vertical-align: middle;
}

/* button padding for IE */
/*
* html input.btn {
	padding: 1px 5px 1px 5px;
}
*/
table {
	border-collapse: collapse;
	empty-cells: show;
}
table td {
	vertical-align: top;
}
a:link, a:visited, a:hover, a:active  {
	color: #36C;
	outline: none;
}

a.cancel {
	text-decoration: none;
}

strong, b {
	//Using Open Sans weight
	font-weight: 600;
}
/* .png in IE */
* html .png {
	behavior: url(/lib/png.htc);
}

/* .png as background in IE (background-image need to be written in HTML, not CSS) */
/*
* html .pngback {
	background-image: none !important;
	behavior: url(lib/pngback.htc);
}
*/
.borderBox{
	box-sizing: border-box;
}

.fullSize {
	height: 100%;
	width: 100%;
}

.full {
	width: 100%;
}
.half {
	width: 50%;
}
.quarter {
	width: 25%;
}
.clear {
	clear: both;
	height: 0;
}
.nowrap {
	white-space: nowrap;
}
.wrap {
	white-space: normal;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.hidden {
	display: none !important;
}
.invisible {
	visibility: hidden;
}
.error {
	color: #F00;
}

wbr:after {
	content: "\00200B";
}
.drag {
	cursor: move !important;
	cursor: hand !important;
	cursor: grab !important;
	cursor: -moz-grab !important;
	cursor: -webkit-grab !important;
}
html.dj_ie, html.dj_safari {
	.drag {
		cursor: url(/img/openhand.cur), default !important;
	}
}
body.claro.dojoDndMove, body.claro.dojoDndMove * {
	cursor: grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
}
html.dj_ie, html.dj_safari {
	body.claro.dojoDndMove, body.claro.dojoDndMove * {
		cursor: url(/img/closedhand.cur), default !important;
	}
}
.pointer {
	cursor: pointer;
}
html.loading {
	background-image: none;
	padding-top: 0;
}
html.loading body {
	font-size: 12px !important;
	color: #333333 !important;
	overflow: hidden;
}
#loading_progress {
	width: 390px;
	margin: 100px auto 0 auto;
	display: none;
}
#loading_progress .bar_container {
	width: 202px;
	//width: 204px;
	margin: 0 auto;
}
#loading_progress .text {
	margin: 5px 0;
	text-align: center;
}
#loading_progress .percentage {
	text-align: right;
	display: none;
}
#loading_progress .bar_container {
	border: 1px solid #aaa;
	height: 18px;
	display: none;
}
#loading_progress .bar_container div {
	width: 18px;
	height: 16px;
	margin: 1px;
	float: left;
}
#loading_progress .tip {
	text-align: center;
	padding: 60px 0 0;
}
#loading_progress .tip div {
	padding: 6px 0 0;
}
#preload_progress_bar_0 {
	background: url(/img/icon_tasks.gif) no-repeat center center;
}
#preload_progress_bar_1 {
	background: url(/img/icon_birthday.gif) no-repeat center center;
}
#preload_progress_bar_2 {
	background: url(/img/icon_search.gif) no-repeat center center;
}
#preload_progress_bar_3 {
	background: url(/img/icon_meeting.gif) no-repeat center center;
}
#preload_progress_bar_4 {
	background: url(/img/icon_message.gif) no-repeat center center;
}
#preload_progress_bar_5 {
	background: url(/img/icon_note.gif) no-repeat center center;
}
#preload_progress_bar_6 {
	background: url(/img/icon_project.gif) no-repeat center center;
}
#preload_progress_bar_7 {
	background: url(/img/icon_event.gif) no-repeat center center;
}
#preload_progress_bar_8 {
	background: url(/img/icon_search.gif) no-repeat center center;
}
#preload_progress_bar_9 {
	background: url(/img/favicon.ico) no-repeat center center;
}
#loading_progress.started .bar_container {
	display: block;
}
/* Feature #1786 remove
#loading_progress .animation {

}
*/
#loading_progress .animation div {
	background-image: url(/img/loading.gif);
	width: 16px;
	height: 16px;
	margin: 0 auto;
}
#loading_progress.started .animation {
	display: none;
}
html.loading #loading_progress {
	display: block;
}
html.loading #loading_done
{
	display: none;
}
.image_cache_container
{
	visibility: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
html.loading .image_cache_container.last {
	display: none;
}

#googleWidget {
	font: 12px Helvetica,Arial, sans-serif;
	color: #333;
	width: 100%;
	overflow: hidden;
}
#googleWidget ul {
	padding: 2px;
	padding-bottom: 5px;
	margin: 0;
	list-style: none;
}
#googleWidget li {
	border: 1px solid #E5E5E5;
	background: #fff;
	margin-top: -1px;
	/*position: relative;*/
	padding: 2px;
}
#googleWidget li:hover {
	background: #F1F1EF;
}
#googleWidget li input {
	position: absolute;
	right: 2px;
	cursor: pointer;
	z-index: 4;
	margin-top: 2px;
	//right: 4px;
	//margin-top: -2px;
}
#googleWidget li label {
	//margin-top: -22px;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 5;
	padding-right: 20px;
	font-size: 13px;
}
#googleWidget li.linethrough label {
	text-decoration: line-through;
}

#googleWidget #main .menu table td {
	font-size: 12px;
}
#googleWidget #main .menu table {
	margin: 0;
}
#googleWidget .divider {
	position: relative;
	margin: -2px;
	padding: 0 1px;
	background: url(/img/main_submenu_back.png) left top repeat-x;
}

#googleWidget #main .menu table td a {
	padding: 0;
}
#googleWidget #main .menu table td a div {
	padding: 3px 10px 0;
}

.forceWrap {
	.force-wrap();
}

.forceSoftWrap {
	.force-soft-wrap();
}

#googleSyncTargets .googleCalendarTarget, .initSyncTarget {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 4px;
}

#googleSyncTargets {
	margin-top: 10px;

	h3{
		padding:3px;
	}
	input {
		margin: auto;
	}

	.googleSyncTargetSoon {
		padding: 3px;
	}
}

#googleSyncTargets.settingsSection {
	width: 500px;
}

@import "hitask/common/mixins.less";
