/*@import "hitask/app/91-bigcalendar.less";*/
@import "hitask/common/loadingProgress.less";
.latest_news_wrapper,
#calendar, 
#messenger,
#collapse,
#notification,
#feeds,
.submenu .cont,
.submenu .tag_bar,
.top,
#footer {
	display: none;
}

body {
	font: 12px "Trebuchet MS",Geneva,Helvetica,sans-serif;
}
h1 {
	font: 14px "Trebuchet MS",Geneva,Helvetica,sans-serif;
}

/*******************HEADER********************/

#header {
	margin: 0;
}

#header #header_myself,
#header .links,
#header .buttons {
	display: none !important;
}
#header .logo,
#header .section-logo {
	display: inline-block;
}
#headerPane {
	display: none;
}
/*********************MENU**********************/

.menu td {
	display: none;
}
.menu td,
.menu td div,
.menu td div a {
	background: none;
}
.menu .tasks.active,
.menu .event.active,
.menu .note.active {
	display: none;
}

/*******************PROJECTS********************/

#main .projects .project .tasks {
	display: block !important;
}
#main .projects .project table.tasks {
	display: table !important;
}
.add_item_to_project {
	display: none;
}

#main .tasks .history,
#main .projects .purge_completed {
	display: none !important;
}

#main .projects .project .header .private_mark,
#main .projects .project.sortable .header img.drag,
#main .projects .project .header img.drag,
#main .projects .project .header.opened .cnt,
.pointer,
#main .tasks li .private_mark,
#main .tasks li .check,
#main .tasks li.dojoDndItem img.drag,
#main .tasks li .right,
#main .projects .project .header h1 .img_out,
#main .projects .project .header h1 .img_over,
#main .projects .project .header h1 a {
	display: none !important;
}

#main .projects .project .header h1 {
	display: block !important;
	margin: 0 !important;
	padding: 34px 0 17px !important;
	font-size: 17px;
	font-weight: bold;
	line-height: 14px;
	color: #222;
	width: 100%;
	border-bottom: 1px solid #E3E3E3;
}
#main .projects .project .header table {
	width: 100%;
}

#main .projects .project.no_title .header,
#main #submenu,
#main .projects .submenus {
	display: none !important;
}

#main .projects .project {
	background: none;
	margin-top: 10px !important;
	padding: 0 !important;
}
#main #no_project_tasks {
	margin-top: 10px !important;
}

#main .projects .project div.lb {
	padding: 0 !important;
	margin: 0;
}

#main .projects .project.color1 .header h1 {
	color: #F28080;
}
#main .projects .project.color2 .header h1 {
	color: #EFBE6E;
}
#main .projects .project.color3 .header h1 {
	color: #A78F0A;
}
#main .projects .project.color4 .header h1 {
	color: #B8D872;
}
#main .projects .project.color5 .header h1 {
	color: #91C8DE;
}
#main .projects .project.color6 .header h1 {
	color: #E497C2;
}
#main .projects .project.color7 .header h1 {
	color: #B09280;
}
#main .projects .project.day .header h1 {
	color: #3D3D3D;
}
#main .projects .project.today .header h1 {
	color: #3A5F8D;
}

#no_project_tasks {
	margin-top: 10px;
}
#no_project_tasks,
#no_project_tasks li,
#no_project_tasks li div.color {
	border-left: 1px solid #f9f9f9;
}

#main ul.tasks  {
	margin: 5px 0 !important;
	padding: 0 !important;
	list-style: none;
}
#main .tasks li {
	margin: 0 !important;
	padding: 0 !important;
}

#main .tasks li .color {
	padding: 0 0 0 5px !important;
	margin: 0 !important;
}
#main .tasks li .border {
	border: 1px solid #E5E5E5 !important;
	border-width: 0 1px 1px !important;
	width: 95% !important;
	padding: 5px 0 3px 5px;
	margin: 0;
}

#main .tasks li .task_title {
	font-weight: normal;
	padding: 0 5px 0 0 !important;
}
#main .tasks li.overdue .task_title {
	color: #f33 !important;
}
#main .tasks li .type h3 .to {
	color: #019 !important;
	font-size: 9px !important;
	font-weight: normal;
	line-height: 1.6em;
	margin-right: 5px !important;
}
#main .tasks li .type h3 .in_project {
	color: #CCCCCC !important;
	font-size: 9px !important;
	line-height: 1.6em;
	font-weight: normal;
}
#main .tasks li .type h3 .task_icon {
	display: table-cell !important;
	padding-right: 3px;
}

#main .tasks li.task_empty div {
	display: none !important;
}

#main .tasks li.task_li {
	padding: 6px 0 8px;
	border-bottom: 1px solid #E3E3E3 !important;
}

#main .tasks li .heading h3 {
	font-size: 14px;
}
#main .tasks li .date_title {
	color: #666;
	float: right;
	display: block;
}
#main .tasks li.overdue .date_title {
	color: #f33 !important;
}


#main .tasks li .properties_view_container {
	display: block !important;
	height: auto !important;
}
#main .tasks li .properties_view {
	display: none !important;
}
#main .tasks li .history,
#main .tasks li .buttons,
#main .tasks li .close,
#main .tasks li .tags,
#main .tasks li .overdue_text,
#main .tasks li .cont-tags {
	display: none !important;
}

#main .tasks li .cont-time,
#main .tasks li .cont-message {
	padding: 3px 0 0 20px;
}


#main .submenu .tag_bar {
	padding: 15px 0 5px !important;
}
#main .submenu .tag_bar.selected {
	display: block !important;
}
#main .submenu .tag_bar .more,
#main .submenu .tag_bar #tag_bar_cont,
#main .submenu .tag_bar .show_all,
#main .submenu .tag_bar .not_selected {
	display: none;
}
#main .submenu .tag_bar #tag_bar_selected_tag {
	font-weight: bold;
	font-size: 14px;
}

#main .tasks li .type h3 .type-icon {
	display: -moz-inline-block;
	display: inline-block;
	margin-right: 5px;
}
#main .tasks li .type h3 span.person {
	display: inline;
}

#main .projects .project .lb {
	position: static !important;
}

#googleAdsPlaceholder,
.footer-promo {
	display: none !important;
}

/**
 * Completed task list
 */
.tasks li.task_hidden {
	display: none !important;
}
.tasks li.task_completed {
	display: block !important;
}

#DEBUG_CHILD {
	display: none;
}

#singleTask .footer,
#singleTask .cont.loading,
#singleTask .cont.form,
#singleTask .check,
#singleTask .cont-inner a{
	display: none;
}

#singleTask .cont.data{
	margin-top: 2em;
}

#singleTask .history .data .caption {
	margin-top: 2em;
	overflow: hidden;
	border-bottom: 1px solid #8d8d8d;
}

#singleTask .history .data .caption .name {
	display: block;
	float: left;
}

#singleTask .history .data .caption .datetime {
	display: block;
	float: right;
}

#singleTask .history .data .comment .forceWrap {
	display: block;
}

#singleTask .file-inner b {
	display: none;
}

#centerPane {
	position: static !important;
}

#bigCalendarWidget {
	/*position: relative;*/
	
	.buttonContainer {
		display: none;
	}

	/*.dojoxCalendar*/
}

#bigCalendarLoadingContainer {
	display: none;
}
.claro .dojoxCalendar {
	.dojoxCalendarHeader {
		border-top: 1px solid #b5bcc7;
		border-bottom: 1px solid #b5bcc7;
	}
	table {
		/*border-collapse: initial !important;*/
	}
/*	div, td {
		background: none !important;
	}*/
	.dojoxCalendarToday, 
	.dojoxCalendarWeekend {
		background-color: initial !important;
	}
	.dojoxCalendarMatrixView {
		.dojoxCalendarGridTable .dojoxCalendarDayDisabled {
			background-color: initial;
		}
		.dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
			text-overflow: ellipsis;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel > .labels {
			text-overflow: ellipsis;
		}
		.dojoxCalendarEvent .bg{
			/*border: 1px solid #CACACA;*/
			.border-radius(0px);
			border: medium none;
			color: #555;
		}
		.dojoxCalendarEvent.dojoxCalendarHorizontal {
			color: #555;
		}
		.dojoxCalendarEvent.dojoxCalendarLabel > .labels {
			/*border: 1px solid #CACACA;*/
			/*margin-right: -2px;*/
			/*margin-left: -1px;*/
		}

		.dojoxCalendarEvent.dojoxCalendarLabel.Selected {
			color: initial;
		}

		.dojoxCalendarYearColumnHeader table td,
		.dojoxCalendarColumnHeaderTable td {
			background: none;
		}

	}
	.dojoxCalendarColumnView {
		.dojoxCalendarColumnHeader {
			overflow: inherit;

			table {
				/*border-collapse: initial;*/
			}
		}
		.summary {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.dojoxCalendarEvent {
			white-space: nowrap;
			.bg {
				opacity: 1;
				border: none;
				/*background: white !important;*/
			}
			.startTime {
				border: none;
			}
			color: #555;
		}
		.dojoxCalendarColumnHeaderTable td,
		.dojoxCalendarYearColumnHeader table td {
			background: none;
			border-top: medium none;
			border-bottom: medium none;
		}
		.dojoxCalendarMatrixView {
			border-bottom: 1px solid #b5bcc7;
		}
		.dojoxCalendarYearColumnHeader {
			border-top: none;
/*			table {
				border-collapse: initial;
			}*/
		}
		.dojoxCalendarRowHeaderTable td {
			background-color: initial;
		}
		.dojoxCalendarGridTable tr:first-child td.dojoxCalendarWeekend {
			border-top: medium none;
		}
		.dojoxCalendarRowHeaderTable tr:first-child td {
			border-top: medium none;
		}
	}

	.dojoxCalendarEvent {
		border: 1px solid #555;
		box-sizing: border-box;
	}
	.dojoxCalendarEvent.calendarEventCompleted {
		.summary {
			text-decoration: line-through;
		}
	}

	.dojoxCalendarTimeIndicator {
		border: 1px solid red;
		box-sizing: border-box;
	}
}