@import "themes/theme1.less";
@import "hitask/common/mixins.less";
@import "hitask/common/50-layout.less";
@import "hitask/common/60-header.less";
@import "hitask/common/B0-footer.less";
@import "hitask/common/tooltip.less";
@import "hitask/common/cropper.less";


@import "hitask/common/loadingProgress.less";


form {
	margin:0;
}

.flex {
	/*display: flex;*/
	.flex()
}

.notification_table {
	border-top:1px solid #CAD5DB;
}

.notification_table, .invoice_table {
	h2 {
		margin-bottom:0;
		border: none;
	}

	.notification_table_row_heading {
		height:43px;
		border-bottom:1px solid #CAD5DB;
	}

	.notification_table_row {
		height:33px;
		border-bottom:1px solid #CAD5DB;
	}

	.html5notifydisabled {
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 5px;
		border: 2px solid @notifyWarnBorderColor;
		.border-radius(3px);
		background-color: @notifyWarnBackgroundColor;
	}

	.notification_table_row h2 {
		margin-bottom:0;
	}

	.notification_table_row .notification_table_left {
		padding-top:6px;
	}

	.notification_table_row .notification_table_right {
		padding-top:2px;
	}
}

.notification_table_left_heading {
	position:relative;
	top:50%;
	margin-top:-22px;
}

.notification_table_row_heading > div {
	position:relative;
	top:50%;
	margin-top:-9px;
}

.notification_table_row:hover {
	background: #eee;
}

.notification_table_row > div {
	position:relative;
	top:50%;
	margin-top:-16px;
}

.notification_table_left {
	float:left;
	width:70%;
}

.notification_table_right {
	float:left;
	width:10%;
	text-align: center;
}

.notification_table_right h3 {
	font-size: 1.1em;
	padding-right: 11px;
	padding-top: 10px;
}

.notification_table_left .check {
	margin-left:5px;
	font-size: 100%;
}

.notification_table_right .check {
	padding-left:0;
}

div.settings {
  margin: 0 auto;
  width: 752px;
}
div.settings-large {
  width: 814px;
}
div.settings-large:lang(ru) {
  width: 914px;
}

.setting_cont {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: none repeat scroll 0 0 #EFEFED;
	font-size: 100%;
	padding: 20px 89px 40px 59px;

	background: none repeat scroll 0 0 transparent;
	display: none;
	padding: 0;

	label {
		color: #3D3D3D;
		font-size: 14px;
	}

	.clear{
		clear: both;
	}

	p{
		font-weight: 600;
	}

	select {
	/*	height: 1.8em;*/
		font-size: 1em;
		width: 315px;
		border: 1px solid #7F9DB9;
	}

	h2 {
		/*border-bottom: 1px solid #ccc;*/
		font-weight: normal;
		color: rgb(59, 101, 124);
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1.5em !important;
		margin: 30px 0 10px;
		padding: 0 0 5px;
	}

	div.section{
		margin-bottom: 20px;
	}

	div.submit {
		color: #333333;
		background: none repeat scroll 0 0 #F7F7F7;
		/*https://red.hitask.net/issues/5401#note-20*/
		margin: 0 -4px;
		padding: 16px 34px 11px;
	}

	.submit {
		margin-bottom: 0;
		padding-top: 22px;
	}

	input[type=password].validationError, textarea.validationError
	{
		border:1px solid #FF887D;
	}

	/*For the My Profile form*/
	fieldset, div.fieldset {
		border: 0 none;
		padding: 25px 35px 40px;
	}

	/*Feature #1741 submit section of changepassword tooltip*/
	.changePasswordSubmit {
		color: #333333;
		background: none repeat scroll 0 0 #F2F2F2;
		margin: 0 -9px -7px;
		padding: 10px;
	}

	.dijitSelect{
		min-width: 170px;
		margin-right: 30px;

		input.dijitArrowButtonInner{
			box-shadow: none;
			background-color: transparent !important;
		}
	}
}

/*my profile*/
#wrapSettingsMyData {
	/*display: flex;*/
	.flex();
	.justify-content-center();

	input[type=text] {
		margin: 0;
		/*padding: 0;*/
	}

	.dijitButton {
		margin: 0;
	}

	div.avatar {
		width: 20%;
		padding-left: 33px;
		box-sizing: border-box;
	}

	section.flex {
		.justify-content-space-between();
		margin-bottom: 20px;
	}

	.half {
		box-sizing: border-box;
		width: 45%;

		.dijitButtonNode {
			width: 100%;
			box-sizing: border-box;
		}
	}

	section.name {
		input[type=text] {
			/*width: 40%;*/
		}
	}

	section.email {
		.flex-direction-column();
	}

	section.username { 
		.flex-direction-column();

		section.edit {
			.justify-content-space-between();
			margin-bottom: 0;
		}
	}

	section.password {
		.flex-direction-column();

		section.edit {
			.justify-content-space-between();
			margin-bottom: 0;
		}

		.password-input {
			position: relative;

			input {
				box-sizing: border-box;
				width: 100%;
			}

			.icon-lock {
				font-size: 16px;
				position: absolute;
				top: 6px;
				left: 10px;
			}
		}
	}
}

#changeFirstname {
	width: 45%;
}

#changeLastname {
	width: 45%;
}

#tooltip_changepassword{
	fieldset{
		min-height: inherit;
	}
}

#timezones_dropdown{
	max-height: 150px !important;
	max-width: 170px !important;
	overflow-y: scroll !important;

	.dijitMenu, .dijitPopup, .dijitMenuTable, tbody.dijitReset{
		overflow-x: hidden !important;
	}
}
.dj_ie #timezones_dropdown{
	max-width: 154px !important;
}

label {
	display:inline;
}
div.dijitTabContainer {
  overflow:hidden;
  display: block;
}

.column-left {
  float: left;
  padding-top: 10px;
  width: 360px;
}

.column-right {
  float: left;
  padding-top: 35px;
  width: 180px;
}

.avatar-preference {
	/*display: flex;*/
	.flex();
	.flex-direction-column();
	padding-top: 25px;
	width: 90px;

	.dijitButton {
		width: 100%;

		.dijitButtonNode {
			box-sizing: border-box;
			width: 100%;
		}
	}


	div.wrapper {
		margin-bottom: 10px;
	}
	/*padding-left: 35px;*/
}

/*Feature #1741 fieldset in changepassword tooltip*/
.hiTaskTooltipDialog div.setting_cont fieldset, .hiTaskTooltipDialog div.setting_cont div.fieldset {
  padding: 10px;
}

/*Feature #1741 horizontal bar on changepassword tooltip*/
.hiTaskTooltipDialog .setting_cont h2.empty {
  height: 0;
  margin: 0 0 18px;
  overflow: hidden;
}

/*https://red.hitask.net/issues/5401#note-19*/
.setting_cont [type="text"]:hover,
.setting_cont input[type="password"]:hover {
	border: 1px solid #007ac2;
	.transition-duration(.25s);
}
.setting_cont [type="text"].disabled:hover,
.setting_cont input[type="password"].disabled:hover {
	border: 1px solid #d0d0d0 !important;
}

/*https://red.hitask.net/issues/5401#note-19*/
.setting_cont [type="text"]:focus, .setting_cont input[type="password"]:focus {
	border: 1px solid rgba(0,122,194,0.8);
	.box-shadow(0 1px 2px rgba(0,0,0,0.15) inset);
	.transition-duration(0.1s);
}
.setting_cont textarea, .setting_cont [type="text"], .setting_cont input[type="password"] {
	color: #333;
	font-size: 12px;
	margin-top: 5px;
	padding: 6px 6px;
	width: 305px;
	/*https://red.hitask.net/issues/5401#note-19*/
	background: #fff;
	border: 1px solid #d0d0d0;
	.box-shadow(0 1px 1px rgba(0,0,0,0.1) inset);
	.border-radius(2px);
	@settingInputTransition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	.transition(@settingInputTransition);
	padding-left: 4px;
}

.setting_cont input, .setting_cont select, .setting_cont textarea {
  color: black;
  margin-bottom: 25px;
  margin-top: 5px;
}
.setting_cont input.dijitInputInner {
	margin-bottom: 0;
	margin-top: 0;
	box-shadow: none;
}

.setting_cont .TaskAssignTo{
	margin-top: 10px;
}

.setting_cont .TaskAssignTo .dijitInputInner {
/*	padding: 0;
	margin: 0;*/
}

.setting_cont .TaskAssignTo .dijitArrowButtonContainer .dijitArrowButtonInner {
	box-shadow: none;
}

/* ----- Date time preference ---- */
.setting_cont .datetime-preference select {
	width: auto;
	min-width: 170px;
	margin-right: 30px;
}

.setting_cont h2:first-child, .setting_cont h2.large-gap:first-child {
  margin-top: 0;
}

input, select, textarea {
  font: 95% Helvetica,Arial,sans-serif;
  vertical-align: middle;
}

//Feature #1741 Settings throbber message
._settingsResultsTooltipMsg {
  color: #333333;
  font: 14px Helvetica,Arial,sans-serif;
  margin-left: 30px;
  top:0;
  position: relative;
}

.settingsConfirm {
  margin-left: 55px;
  margin-right: 55px;
  padding-top: 15px;
  padding-bottom:15px;

}

.setting_cont input.radio {
  margin-bottom: 10px !important;
  margin-top: 2px !important;
	vertical-align: middle;
}

.setting_cont label.checkbox {
  position: relative;
  top: -0.15em;
}

.setting_cont input.check {
  margin-bottom: 15px;
  margin-top: 6px;
}
/**********IMAGE CROP************/

#ava {
	border: 1px solid gray;
	width: 200px;
}
#ava_img {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
#ava_overlay {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('/img/crop_overlay.png');
	z-index: 50;
}
* html #ava_overlay {
	background: none;
	filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/crop_overlay.png, sizingMethod=crop)";
}
#ava_drager {
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: 100;
	color: #fff;
	cursor: move;
}
#avatar {
	position: absolute;
}
#ava_slider {
	width: 200px;
	height: 27px;
	background: #eee;
	position: relative;
	border-top: 1px solid gray;
	background: url('/img/slider_back.png');
}
#ava_handle {
	width: 19px;
	height: 20px;
	background: blue;
	position: absolute;
	background: url('/img/crop_handle.png');
}
* html #ava_handle {
	background: none;
	filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/crop_handle.png, sizingMethod=crop)";
}
#ava_submit {
	width: 75px;
	margin-top: 10px;
	margin-left: 62px;
}

.dijitTab .tabLabel {
	min-height: 25px;
	display: inline-block;
	margin: 12px 0px 0px 6px;
}

.settings-fieldset {
	overflow-y: auto;
}

.developer-fieldset {
	height: 380px;
}

.wrap-settings-fieldset {
	overflow-y: auto;
	min-height: 325px;
	height: 100%;
}

.wrap-business-fieldset {
	.wrap-settings-fieldset();
	min-height: 380px;
}

#settingsPageContent {
	margin-bottom: 15px;
	min-height: 385px;
}

#settingsPageContent {
	.twitter-share-button{
		vertical-align: middle;
	}
}

#licenseProgressBar	, #storageProgressBar, #premiumstorageProgressBar{
	width:50%;
}

#accountsUpgradeTable{
	.border-radius(4px);
	border: 1px solid #DDECF8;
	margin:0.5em 0 0.5em 0;
	background:#F5F8FC;
	border-spacing: 0px;
	border-collapse:collapse;
	text-align:center;

	tbody tr {
	&:nth-child(-n+3) {
		td {
			&:nth-child(2) {
				border-left: 1px solid #D9E6EC;
			}
			}
		}
	}

	td {
		padding: 15px;
		border-top: 1px solid #D9E6EC;
	}
	th{
		padding: 15px;
		width: 200px;
		text-align:center;
		font-size: 120%
	}
}

.emailErrorText {
	background: #FCF0F0;
	padding: 0.5em;
	margin: 0.5em;
	overflow: hidden;
}

#devicesTable {
	width: 100%;


	span[data-icon] {
		font-size:120%;
		vertical-align: bottom;
		cursor: pointer;
	}
}

table.settingsExternalTable {
	width: 100%;

	td, th {
		padding: 5px;
		text-align: left;
	}

	tr:hover td {
		background-color: #eee;
	}

	.green {
		color: green;
	}

	.red {
		color: red;
	}

	[data-icon] {
		font-size: 16px;
		cursor: pointer;
	}
}

html.dj_safari {
	// #3536
	.syncNowButton, .syncDisableButton, .downloadPdf {
		display: inline-block;
	}
}

input#settingsUsername:disabled {
	color: #BBB;
}

#settingsUsernameEdit {
	font-size: 13px !important;
	color: @primaryActionColor !important;
	vertical-align: middle;
	cursor: text;
}

.recentRunCell {
	min-width: 100px;
}

.actionsCell {
	min-width: 70px;
}

.lockOn {
	display: block;
	visibility: visible;
	z-index: 999;
	background-color: fadeout(rgba(50, 50, 50, 0.8), 30%);
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.15;
}

#invoicesTableBody {
	.downloadPdf {
		cursor: pointer;
		font-size: 16px;
	}
}

.paymentFailedWrapper {
	margin: 15px 0;
	border: 1px solid red;
	padding: 3px;
	border-radius: 5px;
}

#no_current_photo, #business_no_current_photo {
	border: 1px dashed #777;
	width: 64px;
	height: 64px;
	text-align: center;
	color: #777;
	display: table-cell;
	vertical-align: middle;
}

#current_photo {
	margin-left: 0.2em;
	width: 100%;
}

#no_current_photo{
	/*display: flex;*/
	.flex();
	.flex-direction-column();
	.justify-content-center();
	position: relative;
	height: 90px;
	width: 90px;

	.dijitUploader{
		height: 100%;
		left: 0;
		margin: 0;
		top: 0;
		position: absolute !important;
		width: 100%;
		opacity: 0;

		input[type=file]{
			height: 100%;
			cursor: pointer;
			/*border: 1px solid red;*/
		}
	}

}

#wrapCropper {
	text-align: center;

	#cropperImageContainer .image-cropper, #cropperResultContainer {
		margin: 0 auto;
	}
	#cropperResultContainer {
		width: 80px;
		height: 80px;
		overflow: hidden;
		border: 1px dashed #777;
	}
}

/*task preference*/
.setting_cont .hiSharing .private label {
	font-size: 13px;
}

#task_preferences_form input.radio {
	margin-bottom: 4px !important;
}

#task_preferences_form .section .input {
	margin-top: 10px;
}

#assigneeWidget {
	.dijitComboBox {
		width: 250px;
		box-sizing: border-box;
	}

	input.dijitInputInner {
		padding: 4px;
	}
}

/*Change #5401*/
/*#personal_delete_avatar_label,*/
#business_delete_avatar_label {
	display: none;
}

#updateBillingAddressLink {
	display: block;
}

#billingAddressText {
	margin-bottom: 0;
}