@import "webfont/style.css";
[data-icon]:before {
	font-family: 'hitask';
	text-decoration:none;
	content: attr(data-icon) " ";
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	top: 0.15em;
}
a, div {
	[data-icon] {
		text-decoration:none;
		vertical-align: baseline;
	}
}
