<li class="file" id="%id%"><div class="file-inner">
	<a class="modify %modifyClass%">&{'hi.properties.file_modify'}</a>
	<a class="filename" href="javascript://">%filename%</a> <b class="filesize">%fileSize%</b>
	<img class="fileAttachedPreviewImg hidden" src="" />
	<div class="file-controls">
		<a class="close">&{'hi.properties.file_close'}</a>
		<a class="delete">&{'hi.properties.file_delete'}</a>
		<a class="detach">&{'hi.properties.file_detach'}</a>
	</div>
</div></li>