<li class="project color8" id="project%id%" dndType="project">
	<input type="hidden" class="drop_hidden_text" value="%move_name%" />
	<input type="hidden" class="drop_hidden" value="%id%" />
	<div class="t" style="border-color: %borderColor%"><div class="r"><div class="b"><div class="l"><div class="lt"><div class="rt"><div class="rb"><div class="lb">
		
		<div class="header" style="background: %gradientTopValue%;
			background: -moz-linear-gradient(top, %gradientTopValue% 0%, %gradientBottomValue% 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, %gradientTopValue%), color-stop(100%, %gradientBottomValue%));
			background: -webkit-linear-gradient(top, %gradientTopValue% 0%, %gradientBottomValue% 100%);
			background: -o-linear-gradient(top, %gradientTopValue% 0%, %gradientBottomValue% 100%);
			background: -ms-linear-gradient(top, %gradientTopValue% 0%, %gradientBottomValue% 100%);
			background: linear-gradient(to bottom, %gradientTopValue% 0%, %gradientBottomValue% 100%);">
			
			<div class="header-left"><div class="header-right">
			<table><tr>
			<td onclick="toggleProject(this);" class="pointer toggleCell" title="&{'js.project.click_to_open_project'}"><div class="toggle">
				<span>
					<span data-icon="&#xf0da;" aria-hidden="true"></span>
					<span data-icon="&#xe01f;" aria-hidden="true" class="folder" style="color: %folderIconColor%"></span>
				</span>
				<span class="hidden">
					<span data-icon="&#xf0d7;" aria-hidden="true"></span>
					<span data-icon="&#xf07c;" aria-hidden="true" class="folder" style="color: %folderIconColor%"></span>
				</span>
			</div></td>
			<td class="full" onclick="if(!Project.openEdit) toggleProject(this);">
			#{app.hi.ajaxInline class: 'project_name_input', function: 'Project.ajax', validate: 'Hi_Validate.ptitle'}
				#{app.hi.ajaxInlineClosed}
					<h1 class="pointer" id="project_title_%id%">
						<span class="project_name_input">%name%</span>
						<div class="add_item_to_project" onclick="dojo.stopEvent(event); return false;">
							
						</div>
					</h1>
				#{/app.hi.ajaxInlineClosed}
				#{app.hi.ajaxInlineOpened class: 'project_inline_opened'}
					#{app.hi.onkeypress enter: 'dojo.query(".save", this)[0].onclick()', escape: 'dojo.query(".cancel", this)[0].onclick()'}
						<table class="edit" onclick="dojo.stopEvent(event); return false;"><tr>
							<td class="title"><input type="hidden" name="id" class="id" value="%id%" /><input maxlength="200" type="text" class="project_name_input" name="title" /></td>
							<td><input class="btn save" type="button" value="&{'hi.project.save'}" onclick="#{app.hi.ajaxInlineSave url: 'ptitle' /}" /></td>
							<td>
								<input class="btn cancel" type="button" value="&{'hi.project.cancel'}" onclick="#{app.hi.ajaxInlineCancel /}" />
							</td>
						</tr></table>
					#{/app.hi.onkeypress}
				#{/app.hi.ajaxInlineOpened}
			#{/app.hi.ajaxInline}
				</td>
				<td><div class="cnt pointer" id="cnt%id%" onclick="toggleProject(this);" title="&{'js.project.click_to_open_project'}"><span class="cnt_span"></span> <span class="cnt_one"></span> <span class="cnt_mult"></span></div></td>
				<td></td>
				<td><span class="private_mark"><img src="${_userImages.lockProjectImg}" alt="P" title="&{'js.project.private_project'}" %private_project_visible% /></span></td>
				<td><img class="drag dojoDndHandle" src="${_userImages.btnProjectDragImg}" alt="" title="&{'js.project.drag_to_sort'}" /></td>
			</tr><tr><td colspan="6" class="submenus %submenusClass%">
				<div class="submenu"><ul>
					<li><a  href="javascript://" onclick="if(!confirm('&{'js.project.delete_project_confirmation'}'))return;Hi_Archive.deleteProject(parseIntRight(getParentByClass(this, 'project').id))" title="&{'js.project.delete_project'}">&{'js.project.delete_project'}</a></li>
					<li><a  href="javascript://" onclick="Hi_Archive.restoreProject(parseIntRight(getParentByClass(this, 'project').id))" title="&{'hi.project.restore'}">&{'hi.project.restore'}</a></li>
					<li><a  href="javascript://" onclick="Hi_Archive.restoreCopyProject(parseIntRight(getParentByClass(this, 'project').id))" title="&{'hi.properties.restorecopy'}">&{'hi.properties.restorecopy'}</a></li>
					
				</ul></div>
				
			</td></tr>
			<tr>
				<td colspan="6">
					<div class="project-description forceSoftWrap">
						<div data-dojo-attach-point="projectMessageNode" class="hidden" id="project_description%id%">%project_description%</div>
					</div>
				</td>
			</tr>
			</table>
		</div></div></div>
		
		<div class="tasks hidden full" id="project_tasks%id%"><div class="lt"><div class="rt"><div class="rb"><div class="lb">
			<form class="purge_completed" action="" onsubmit="#{app.hi.ajaxSubmit function: 'Project.ajax', action: 'tpurge', disable: 'true' /}">
				<a href="javascript://" onclick="Project.removeCompleted(this, this.parentNode);" title="&{'js.completed.removeLinkTitle'}">&{'js.completed.removeLink'}</a> &{'js.completed.removeLinkText'}
			</form>
			<div class="spacer"><!-- --></div>
		</div></div></div></div></div>
		<div class="spacer"><!-- --></div>
	</div></div></div></div></div></div></div></div>
</li>