<li id="%id%" dndType="task" class="task_li %admin_class% %children_class% %business_class% %completed_class% %shared_class% %owned_class%" onclick="Click.setClickFunction(function() {hidePropertiesIfNotEditing()}, this, &quot;task&quot;);" >
<a class="toggle-children" onclick="Hi_Archive.toggleChildren(parseIntRight('%id%'))">
	<span data-icon="&#xf0da;" aria-hidden="true" class="toggle-children-expand"></span>
	<span data-icon="&#xf0d7;" aria-hidden="true" class="toggle-children-collapse"></span>
</a>
<div class="task_div" onclick="if (!Project.openEdit) processPropertiesClick(this)">
	<div class="heading %type_class%">
		<div style="cursor:default;" onClick="return false;" class="check %color_class%"><input %completed_checked% eventdate="%eventdate%" type="checkbox" onchange="completeTaskClick(this);" onclick="this.blur(); event.cancelBubble = true;" disabled="disabled" /></div>
		<div style="cursor:default;" class="star %starred_class%" title=""></div>
		
		<div class="btn collapse" onclick="hidePropertiesDocumentClick(false); event.cancelBubble = true;"></div>
		<div class="private_mark"></div>
		<div class="btn collapse" data-icon="&#xe000;" onclick="hidePropertiesDocumentClick(false); event.cancelBubble = true;"></div>
		
		<h3><div><div>
			<span>%task_title%</span>
			<span class="in_project %project_name_class%">%project_name%</span>
			<span class="person %person_name_class%">%person_name%</span>
		</div></div></h3>
	</div>
	<div>
		<div class="opened hidden" style="padding-bottom: 0;"></div>
	</div>
</div>
<ul class="children" id="children_%id%"></ul>
</li>