<div #{if _wrapperClass}class="${_wrapperClass}"#{/if} id="syncContentWrapper">
	<div class="padding" id="syncGoogleCalendarWrapper">
		<h3>Synchronize with Google Calendar</h3><br/>
		<p>Your tasks and events will appear in Google Calendar	and Google events will appear in hiTask.<br/>
				Your tasks will be automatically updated in Google when you change them in hiTask.<br/>
				Changes you make in Google Calendar will appear in hiTask.
		</p>
		<br />
		%{
			showConnectWithGoogle = false;
		}%
		#{if _userBean.emailConfirmed}
			#{if _userBean.hasGoogleAccount && _userBean.hasGoogleSync}
				#{if _userBean.googleSyncDisabled}
					<p class="error">Synchronization is disabled due to error.&nbsp;<a href="@{Application.settings}#external" data-icon="" aria-hidden="true" class="syncInfoLink"></a></p>
					<script type="text/javascript">
						require(["dojo/on"], function(on) {
							on(window, "load", function() {
								var alerted = false;
								var interval = setInterval(function() {
									if (!alerted && Project.alertElement) {
										Project.alertElement.showItem(26);
										alerted = true;
										clearInterval(interval);
									}
								}, 1000);
							});
						});
					</script>
					#{common.googleAuthAgain userBean: _userBean /}
				#{/if}
				#{else}
					<div id="googleSyncEnableContainer">
						<p>Synchronization is enabled.&nbsp;<a href="@{Application.settings}#external" data-icon="" aria-hidden="true" class="syncInfoLink"></a></p>
						#{common.googleCalendarTargets userBean: _userBean /}
						#{if _userBean.googleSync.targets && _userBean.googleSync.targets.size() > 0}
							<div data-dojo-type='dijit.form.Button' id="enableGoogleSyncButton">&{'settings.sync.google.remove'}
								<script type='dojo/method' event='onClick'>
									Tooltip.close('sync');
									dijit.byId('removeSyncVerifyDialog').show();
								</script>
							</div>
							#{common.googleCalendarRemoveSyncDialog /}
							<script type="text/javascript">
								require(['dojo/parser', 'dojo/query', 'dojo/dom-class', 'dojo/on', 'dojo/dom-attr', 'dojo/request/xhr', 'dojo/dom-construct', 'dojo/ready'], 
									function(dojoParser, dojoQuery, domClass, dojoOn, domAttr, xhr, domConstruct, dojoReady) {
										dojoReady(function() {
											dojo.removeClass(dojo.byId('removeSyncGoogleWrapper'), 'hidden');
											if (!dijit.byId('removeSyncVerifyDialogNo')) {
												dojoParser.parse(dojo.byId('removeSyncVerifyDialog'));
											}
											dojo.connect(dijit.byId('removeSyncVerifyDialogNo'), 'onClick', function() {
												dijit.byId('removeSyncVerifyDialog').hide();
											});
											dojo.connect(dijit.byId('removeSyncVerifyDialogYes'), 'onClick', function() {
												var buttonDijit = dijit.byId('enableGoogleSyncButton');
												var hidePromise = dijit.byId('removeSyncVerifyDialog').hide();
												buttonDijit.set('disabled', true);
												
												var data = {session_id: '${_userBean.api2SessionId}', type: 'GOOGLE'};
												if (dojo.byId('removeSyncGoogleRemote').checked) {
													data.removeRemote = true;
												}
												
												xhr(Project.api2_full_url + '/sync', {
													handleAs: "json",
													data: data,
													method: 'DELETE'
												}).then(function(data) {
													dojo.addClass('googleSyncEnableContainer', 'hidden');
													var alertMsg = function() {
														alert('Google Sync will be disabled shortly.');
													};
													if (hidePromise) {
														hidePromise.then(function() {
															alertMsg();
														});
													} else {
														alertMsg();
													}
												}, function(err) {
													if (err && err.response && err.response.data && err.response.data.error_message) {
														alert(err.response.data.error_message);
													} else {
														alert('Could not delete sync now. Error occurred.');
													}
													
													buttonDijit.set('disabled', false);
												});
											});
										});
									}
								);
							</script>
						#{/if}
					</div>
				#{/else}
			#{/if}
			#{elseif _userBean.hasGoogleAccount && !_userBean.hasGoogleSync}
				<div class="enableGoogleSyncMessage">
					<div data-dojo-type='dijit.form.Button' id="enableGoogleSyncButton">Enable Synchronization
						<script type='dojo/method' event='onClick'>
							Hi_Calendar.googleCalendarSyncEnable(this, function() {
								Tooltip.close('sync');
								dojo.query('.enableGoogleSyncMessage').toggleClass('hidden');
								dojo.toggleClass(dijit.byId('enableGoogleSyncButton').domNode, 'hidden');
								#{if _forceRefresh}
									window.location.reload();
								#{/if}
								#{else}
									Project.alertElement.showItem(25);
								#{/else}
							}, '@{OAuth.socialAuth('google.sync.enableSync', true)}', 
								#{if _userBean.externalGoogleEmail}'${_userBean.externalGoogleEmail.escapeJavaScript()}'#{/if}#{else}''#{/else}
							);
						</script>
					</div>
				</div>
				<div class="enableGoogleSyncMessage hidden">
					<p>Synchronization is enabled.&nbsp;<a href="@{Application.settings}#external" data-icon="" aria-hidden="true" style="font-size:1.2em"></a></p>
					<p>&{'settings.sync.google.targets.soon'}</p>
					#{if request.actionMethod != 'settings'}
						<p><a href="@{Application.settings}#external">&{'settings.sync.google.more.details'}</a></p>
					#{/if}
				</div>
			#{/elseif}
			#{else}
				%{
					showConnectWithGoogle = true;
				}%
			#{/else}
			<div id="connectWithGoogleWrapper" class="#{if !showConnectWithGoogle}hidden#{/if}">
				<p>
					In order to synchronize with Google Calendar please connect with your Google Account.
					<br/>
					<br/>
					<div class='btn-success btn-alt btn-flat' data-dojo-type='dijit.form.Button'>Connect with Google Account
						<script type='dojo/method' event='onClick'>window.location.href='@{OAuth.socialAuth('google.link.' + _userBean.api2SessionId)}';</script>
					</div>
				</p>
			</div>
		#{/if}
		#{else}
			<p class="error">Confirm your email to start using Google Sync!</p>
		#{/else}
	</div>
	<div class="padding" id="exportContentCal" style="display: none;">*{ Calendar }*
		<p>&{'hi.feed.calendar_info'}</p>
		<p class="forceWrap" fill="htmlRaw: ical_link">&nbsp;</p>
		<hr />
		<p>&{'hi.feed.calendar_manual', '<br /><br /><a href="http://support.hitask.com/knowledgebase/articles/210287-synchronize-hitask-with-calendar-apps-on-your-comp" target="_blank">Synchronize hiTask with calendar apps on your computer or mobile device</a><br /><br />'}</p>
	</div>
	<div class="padding" id="exportContentCal" style="display: none;">*{ Calendar }*
		<p>&{'hi.feed.outlook_info'}</p>
		<p><a target="_blank" href="${play.configuration.get('outlook.addin.setup_url', '#')}?r=${new Random().nextLong()}">&{'hi.feed.outlook_link'}</a></p>
		<p>&{'hi.feed.outlook_info.32'}</p>
		<p><a target="_blank" href="${play.configuration.get('outlook.addin.setup_url.32', '#')}?r=${new Random().nextLong()}">&{'hi.feed.outlook_link.32'}</a></p>
		<hr />
		<p>&{'hi.feed.outlook_manual', '<br /><br /><a href="http://support.hitask.com/knowledgebase/articles/627900-how-to-sync-with-microsoft-outlook" target="_blank">Synchronize hiTask with Microsoft Outlook</a><br /><br />'}</p>
	</div>
	<div data-dojo-type='dijit.Dialog' id='selectGoogleSyncTargetsInitDialog' style='display:none; width: 400px;' data-dojo-props="title:'&nbsp;'">
		<div class='dijitDialogPaneContentArea'>
			<table >
				<tr>
					<td><h2>&{'hi.sync.init.targets.header'}</h2></td>
				</tr>
			</table>
		</div>
		<div id="selectGoogleSyncTargetsInitWrapper"></div>
		<div class='dijitDialogPaneActionBar'>
			<div data-dojo-type='dijit.form.Button' id="enableGoogleSyncDijitButton" class='btn-success btn-alt btn-flat'>&{'hi.sync.init.targets.enable'}</div>
			<div data-dojo-type='dijit.form.Button' class='btn-flat'>&{'hi.sync.init.targets.cancel'}
				<script type='dojo/method' event='onClick'>dijit.byId('selectGoogleSyncTargetsInitDialog').hide();</script>
			</div>
		</div>
	</div>
</div>