<div data-dojo-type='dijit.Dialog' id='removeSyncVerifyDialog' style='display:none;' data-dojo-props='title:"&nbsp;"'>
	<div>&{'settings.sync.disable_question'}</div>
	<p>&nbsp;</p>
	<p id="removeSyncGoogleWrapper" class="hidden">
		<label>
			<input type="checkbox" value="1" name="removeSyncGoogleRemote" id="removeSyncGoogleRemote" />
			&{'settings.sync.remove_remote_question'}
		</label>
		<p style="max-width: 640px;"><i>&{'settings.sync.remove_remote_info'}</i></p>
	</p>
	<div style='float: right;'>
		<div data-dojo-type='dijit.form.Button' id='removeSyncVerifyDialogYes' class='btn-alt btn-flat btn-success'>&{'settings.account.yes'}</div>
		<div data-dojo-type='dijit.form.Button' id='removeSyncVerifyDialogNo' class='btn-flat'>&{'settings.account.no'}</div>
	</div>
</div>