#{if _userBean.externalGoogleEmail && _userBean.googleSyncForbiddenError}
	<br /><span class="error">&{'settings.sync.google.forbidden'}</span>
	<div data-dojo-type='dijit.form.Button' id="enableGoogleSyncButton">&{'settings.sync.google.auth_again'}
		<script type='dojo/method' event='onClick'>
			alert('If you have multiple Google accounts you must choose exactly this account "${_userBean.externalGoogleEmail.escapeJavaScript()}"');
			window.location = '@{OAuth.socialAuth('google.sync.clearGoogleSync', true)}';
		</script>
	</div><br /><br />
#{/if}