#{if _userBean.googleSync}
	<div id="googleSyncTargets">
		<h3>&{'settings.sync.choose_targets'}</h3>
		
		#{if _userBean.googleSync.targets && _userBean.googleSync.targets.size() > 0}
			#{list items: _userBean.googleSync.targets, as: 'target'}
				<div class="googleCalendarTarget">
					<label>
						<input class="googleSyncTarget" type="checkbox" value="${target.targetId}" #{if target.enabled}checked="checked"#{/if} />
						&nbsp; ${target.targetTitle}
					</label>
				</div>
			#{/list}
			<script type="text/javascript">
				require(['dojo/ready', 'dojo/request/xhr', 'dojo/query'],
					function(dojoReady, xhr, dojoQuery) {
						dojoQuery('.googleSyncTarget').on('click', function() {
							var targets = [];
							var targetInputs = dojoQuery('.googleSyncTarget');
							targetInputs.attr('disabled', true);
							
							targetInputs.forEach(function(x) {
								if (x.checked) {
									targets.push(x.value);
								}
							});
							
							xhr(Project.api2_full_url + '/sync/targeting', {
								handleAs: "json",
								data: {session_id: '${_userBean.api2SessionId}', syncId: ${_userBean.googleSync.id}, targets: targets},
								method: 'PUT'
							}).then(function(data) {
								targetInputs.attr('disabled', false);
							}, function(err) {
								alert('Sorry but error occurred');
							});
						});
					}
				);
			</script>
		#{/if}
		#{else}
			<div class="googleSyncTargetSoon">
				<div>&{'settings.sync.google.targets.soon'}</div>
				<div><a href="@{Application.settings}#external">&{'settings.sync.google.more.details'}</a></div>
			</div>
		#{/else}
	</div>
#{/if}