<!-- <div class="header-whitespace"></div> -->

<div id="header">
	#{if _userBean.teamBasic}
		<div class="notification-alert-global notification-alert notification-alert-danger">
			<a href="#" class="icon-uniE07A" onclick='closeTrialWarning();'></a>
			<div>
				#{if _userBean.expireIn != 0}
					<span id="section-trial-expire-notification">&{'hi.products.trial_warning.text', _userBean.expireIn} </span>
				#{/if}
				#{else}
					&{'hi.products.trial_warning.expired'}
				#{/else}
				&nbsp;<a href='/teambasic/upgrade?ga_affiliation=top_banner_trial_upgrade' class="btn btn-small btn-primary-alt">&{'hi.products.trial_warning.subscribe'} <span style='font-size: 13px'>→</span></a>
			</div>
		</div>
	#{/if}
	<div class="header-inner">
		<div class="header-back-c">
			#{if request.actionMethod=='index'}
			<div data-dojo-type="dijit/DropDownMenu" id="personal_menu" class='hidden' data-dojo-props="">
				<div data-dojo-type="dijit/MenuItem" id='notifyMenuState' data-dojo-props="" class='hidden'><div id='notifyState'></div></div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick:function(){window.open('http://support.hitask.com');dojo.toggleClass('personal_menu','hidden');}">&{'hi.footer.support'}</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick:function(){window.open('/contact');dojo.toggleClass('personal_menu','hidden');}">&{'hi.footer.contact'}</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-props="onClick:function(e){logOut && logOut(e);dojo.toggleClass('personal_menu','hidden');}">&{'hi.header.logout'}</div>
			</div>
			#{/if}

			<div class="section user_name" id="header_myself">
				<div>
					#{if request.actionMethod != 'settings'}
						<a id="settingsLink" href="@{Application.settings}" title="&{'hi.header.settings'}"><span data-icon="&#xe01b;" aria-hidden="true"></span>&{'hi.header.settings'}</a>
					#{/if}

					<a href="javascript://" #{if request.actionMethod == 'index'}onclick="Click.setClickFunction(function(){hideElement('personal_menu');},true,'personal_menu');dojo.toggleClass('personal_menu','hidden');"#{/if}>
						<span class="avatar">
							#{if _userBean.pictureHash}
								<img class="retinaReplace" src="/avatar/${_userBean.pictureHash}.32.png" data-retina-replace="/avatar/${_userBean.pictureHash}.64.png" width="32" height="32" alt="" onload="this.style.visibility='visible';" />
							#{/if}
						</span>
					</a>

					#{if _backLink == 'return'}
						<span class="logout"><a href="@{Application.index}">&{'hi.header.return'}</a></span>
					#{/if}
					#{else}
						#{if request.actionMethod=='index'}
							<a id="usermenu" class="icon-caret-down" href="#" onclick="Click.setClickFunction(function(){hideElement('personal_menu');},true,'personal_menu');dojo.toggleClass('personal_menu','hidden');"></a>


						#{/if}
						#{if request.actionMethod=='settings'}
							<span class="logout"><a href="/app" >&{'hi.header.return'}</a></span>
						#{/if}
					#{/else}
				</div>
			</div>

			#{if _linksSection || _specificLinks}

				<div class="links section">
				*{	#{if _linksSection || 'printLink' in _specificLinks}
						<a class="fixed iconLink" id="printLink" href="#" onclick="var printWindow = window.open(Project.api2_base_url + '/' + Project.api2_url_index + '/report/print?' + Project.api2_session_name + '=' + Project.api2_session_id, 'printwindow', 'scrollbars=yes,resizable'); printWindow.document.title = '&{'hi.header.print'}'; printWindow.print(); return false;" title="&{'hi.header.print'}"><span data-icon="&#xe600;" aria-hidden="true"></span></a>
					#{/if}*
					#{if _linksSection || 'archiveLink' in _specificLinks}
						<a class="fixed paddedLink" id="archiveLink" href="@{Application.archive}"><span data-icon="&#xe04d;" aria-hidden="true"></span>&{'hi.header.archive'}</a>
					#{/if}
					#{if _linksSection || 'supportLink' in _specificLinks}
						<a class="fixed paddedLink" id="supportLink" href="#"  title="&{'hi.footer.support'}"><span data-icon="&#xe05a;" aria-hidden="true"></span>&{'hi.footer.support'}</a>
					#{/if}
					#{if _linksSection || 'helpLink' in _specificLinks}
						<a class="fixed paddedLink" id="helpLink" href="#" onclick="#{app.hi.tooltip name: 'help', position: 'below', onClick: 'Hi_Help._show();' /} return false;" title="&{'hi.header.help'}"><span data-icon="&#xe04c;" aria-hidden="true"></span>&{'hi.header.help'}</a>
					#{/if}
				</div>

			#{/if}

			#{if _buttonsSection}
				<div class="buttons section">
					<a class="fixed hidden" id="queueLink" href="#" onclick="markTooltipButton && markTooltipButton(this, 'queue'); #{app.hi.tooltip name: 'queue', position: 'below' /} return false;" title=""><span><i></i></span></a>
					<a class="fixed hidden" id="timerLink" href="#" onclick="markTooltipButton && markTooltipButton(this, 'timer'); #{app.hi.tooltip name: 'timer', position: 'below-centered' /} return false;" ><span>00:00</span></a>
					<a class="fixed hidden" id="uploadLink" href="#" onclick="markTooltipButton && markTooltipButton(this, 'upload'); #{app.hi.tooltip name: 'upload', position: 'below' /} return false;" title="&{'hi.header.upload'}" titleDone="&{'hi.header.upload_complete'}"><em></em><span>&{'hi.header.upload'} 0%</span></a>
					<a class="fixed" href="#" onclick="Hi_Preferences.send(); markTooltipButton && markTooltipButton(this, 'report'); #{app.hi.tooltip name: 'report', position: 'below' /} return false;" title="&{'hi.header.report'}"><span data-icon="" aria-hidden="true"></span>&{'hi.header.report'}</a>
					<a class="fixed" href="#" onclick="markTooltipButton && markTooltipButton(this, 'export'); Hi_Calendar.cal(); #{app.hi.tooltip name: 'export', position: 'below' /} return false;" title="&{'hi.header.export'}"><span data-icon="" aria-hidden="true"></span>&{'hi.header.export'}</a>
					<a class="fixed" href="#" onclick="markTooltipButton && markTooltipButton(this, 'sync'); #{app.hi.tooltip name: 'sync', position: 'below' /} return false;" title="&{'hi.header.sync'}"><span data-icon="" aria-hidden="true"></span>&{'hi.header.sync'}</a>
				</div>
			#{/if}
			#{if _linksSection}
				<div id="headerSearchSection" class="search section">
					<div id="hiSearchWidget" dojoType="hi.widget.ClearTextBox" data-dojo-props="placeholder:'&{'hi.properties.search'}'"></div>
				</div>
			#{/if}
			#{if _titleClassName && _titleValue}
				<div class="${_titleClassName}">
					${_titleValue}
				</div>
			#{/if}

			#{if _logoPosition == 'first'}
				#{common.logo userBean: _userBean, build: _build /}
			#{/if}
			#{if !_logoPosition || _logoPosition == 'last'}
				#{common.logo userBean: _userBean, build: _build /}
			#{/if}
		</div>
	</div>
</div>

#{common.latestNews userPref: _userPref, latestNews: _latestNews /}
