#{if _latestNews && _userPref.showNews && _userPref.closedNews != _latestNews.id}
	<div class="latest_news_wrapper wrapper" id="latest_news_${_latestNews?.id}">
		<div class="content">
			<div id="latest_news">
				<div class="border">
					<strong>&{'hi.header.hitask_news'}</strong> <a href="/blog/${_latestNews?.permalink}" target="_blank" onclick="return Hi_News.show(event, this);">${_latestNews?.title}</a>
					<div class="close" title="&{'hi.header.click_to_hide'}" onclick="Hi_Preferences.hideNews(${_latestNews?.id})"><!--  --></div>
				</div>
			</div>
		</div>
	</div>
#{/if}