<div id='loading_overlay' style='position:absolute;left:0;top:0;height:100%;width:100%;z-index:10100;display:none;'>
	<div id='loadingPageThrobber' class="loading-well" >
		<div id='loadingThrobberMsg' class='_loadingThrobberMsg' style='position:relative;'>&{'hi.loading_page'}</div>
		<div id='loadingThinker' class="progress progress-striped active loading-throbber">
			<div id='loadingThinkerBar' class="bar" style="width: 100%;"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// #1896 (fix for IE8/9)
	(function() {
		var appVersion = navigator.appVersion;
		if (appVersion && typeof(appVersion) == 'string') {
			if (appVersion.search('MSIE 9.') != -1) {
				var bar = document.getElementById('loadingThinkerBar');
				dojo.addClass(bar, 'bar-ie9');
				
				var inc = 35;
				
				var animate = function(top) {
					dojo.animateProperty({
						node: bar, duration: 1000,
						properties: {
							backgroundPositionX: { start: top - inc, end: top -  2 * inc }
						},
						onEnd: function(){
							animate(top);
						}
					}).play();
				}
				
				animate(inc);
			} else if (appVersion.search('MSIE 8.') != -1) {
				dojo.addClass(document.getElementById('loading_overlay'), 'bar-ie8');
			}
		}
	})();
</script>