#{if _userBean.business}
	#{if request.actionMethod != 'index' || request.actionMethod == 'archive'}
		<a href="@{Application.index}" class="logo" title="&{'hi.header.return'}">
	#{/if}
	#{elseif _userBean.deleted}
		<a href="/" >
	#{/elseif}
	#{else}
		<a href="javascript://" class="logo">
	#{/else}
			#{if _userBean.business.getPictureUrl(80)}
				<img src="${_userBean.business.getPictureUrl(80)}" height="40" width="40" title="hiTask ${_build}" class="png teamlogo" />
			#{/if}
			#{else}
				<img src="/img/hi-2015-48px.png" height="24" title="hiTask ${_build}" class="png productlogo" />
			#{/else}
		</a>
		<div class='section section-logo'>
			<div>${_userBean.business?.title}</div>
		</div>

#{/if}
#{elseif _userBean.accountLevel}
	#{if request.actionMethod != 'index' || request.actionMethod == 'archive'}
		<a href="@{Application.index}" class="logo" title="&{'hi.header.return'}">
	#{/if}
	#{elseif _userBean.deleted}
		<a href="/">
	#{/elseif}
	#{else}
		<a href="javascript://" class="logo"  title="hi!">
	#{/else}
			<img src="/img/hi-2015-48px.png" height="24" title="hiTask ${_build}" class="png productlogo" />
		</a>
#{/elseif}
#{else}
	#{if request.actionMethod != 'index' || request.actionMethod == 'archive'}
		<a href="@{Application.index}" class="logo" title="&{'hi.header.return'}">
	#{/if}
	#{elseif _userBean.deleted}
		<a href="/">
	#{/elseif}
	#{else}
		<a href="javascript://" class="logo"  title="hi!">
	#{/else}
			<img src="/img/hi-2015-48px.png" height="24" title="hiTask ${_build}" class="png productlogo" />
		</a>

	#{if !_userBean.noSubscribe && !_userBean.deleted}
		<div class="section section-logo">
		</div>
	#{/if}
#{/else}
