#{if _userBean.accountLevel || _userBean.emailConfirmed}
	<div class="cont-inner-box period">
	
		#{if _userBean.business}
			<div class="field field-sharing" fill="remove: !my&&shared!='1'" id="reminder_cont1">
				<div class="label">&{'js.task.sharing'}</div>
				<div class="shared_inputs_cont">
					<input name="shared" fill="replace-ID-id: id" type="radio" id="private_ID" value="0" checked="checked" onclick="Hi_Team.sharedChanged(this)" />
					<label for="private_ID" fill="replace-ID-for: id">&{'hi.properties.private'}</label>
					<input name="shared" fill="replace-ID-id: id" type="radio" id="shared_ID" value="1" onclick="Hi_Team.sharedChanged(this)" />
					<label for="shared_ID" fill="replace-ID-for: id">&{'js.task.shared'}</label>
				</div>
			</div>
		#{/if}
		
		<div class="field">
			<div class="label"><label for="assign_ID" fill="replace-ID-for: id">&{'hi.properties.assign_to'}</label></div>
			<select name="assign" id="assign_ID" fill="replace-ID-id: id" class="assign">
				<option value="">&{'hi.properties.none'}</option>
			</select>
		</div>
		
		#{if _userBean.business}
			<div class="field participant_cont">
				<div class="label">&{'js.task.participants'}:</div>
				<div class="participant_padd">
					<span class="add_participant_template">
						<span class="add_participant_form">
						<select name="participant_select" id="participant_select_ID" fill="replace-ID-id: id" class="new_participant_select">
							<option value="">&{'hi.properties.none'}</option>
						</select>
						<span data-icon="" aria-hidden="true" onclick="Hi_Participant.addParticipantInput(this)"></span>
						</span>
					</span>
					&nbsp;
					<span class="participants participants_edit"></span>
				</div>
			</div>
		#{/if}
		
	</div>
#{/if}