#{if _as == 'small'}
<footer class="navbar navbar-fixed-bottom">
		<div class="container">
		    <ul class="nav">
	    		<img src="@{'/public/images/footer_logo.gif'}">
	    		Service provided by HiTask, online task and project management for you and your business.<br><small>&copy; human &gt; computer</small>
		    </ul>
		</div>
</footer>
#{/if}

#{else}
<footer>
	<div class="container">
	    <div class="row">
	    	<div class="span2">
		        <ul>
		            <li>
	            		<select class="input-small" id="select01">
	            			<option>English</option>
	            			<option>Espa&ntilde;ol</option>
	            		</select>
        			</li>
		            <li><a href="/tour">Take a Tour</a></li>
		            <li><a href="/signup">Business Account</a></li>
		            <li><a href="/signup">Premium Account</a></li>
		        </ul>
	    	</div>
	    	<div class="span2">
	    		<h4>Prices and Plans</h4>
		        <ul>
		            <li><a href="/signup">Compare Accounts</a></li>
		            <li><a href="/signup/free">Sign Up</a></li>
		            <li><a href="/signin">Sign In</a></li>
		        </ul>
	    	</div>
	    	<div class="span2">
	    		<h4>Information</h4>
		        <ul>
		            <li><a href="/about">About HiTask</a></li>
		            <li><a href="/contact">Contact Us</a></li>
		            <li><a href="/terms">Terms of Use</a></li>
		            <li><a href="/privacy">Privacy Policy</a></li>
		        </ul>
	    	</div>
	    	<div class="span3">
	    		<h4>Connect</h4>
		        <ul class="connect">
		            <li><a href="/blog">HiTask Blog</a></li>
		            <li><a href="http://www.facebook.com/pages/HiTask/234744895301" target="_blank">Join us on Facebook</a></li>
		            <li><a href="http://twitter.com/hitask" target="_blank">Follow us on Twitter</a></li>
		            <li><a href="http://hitask.uservoice.com/" target="_blank">Submit your ideas on UserVoice</a></li>
		        </ul>
	    	</div>
	        <div class="span3">
	        	<p><em><strong>HiTask</strong> was conceived as a friendly and easy-to-use task management system that anyone can start using right away. It is designed to satisfy both followers of David Allen’s “Getting Things Done” methodology and anyone who just needs a quick and easy to-do list tool to manage their everyday tasks.</em></p>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="span12 copy">
	    		<small>&copy; human &gt; computer</small>
	    	</div>
	    </div>
	</div>
</footer>
#{/else}