#{if play.configuration.get('intercom.id') && _intercom}
<script id="IntercomSettingsScriptTag">
  window.intercomSettings = {
    user_id: "${_intercom['user_id']}",
    email: "${_intercom['email']?.escapeJavaScript().raw()}",
    name: "${_intercom.name?.escapeJavaScript().raw()}",
    user_hash: "${_intercom.user_hash}",
    created_at: "${_intercom.created_at}",
    app_id: "${play.configuration.get('intercom.id')}",
    contacts:'${_intercom.contacts_count}',
    items_count:'${_intercom.items_count}',
	projects_count:'${_intercom.projects_count}',
    archived_count:'${_intercom.archived_count}',
    *{last_seen_ip:'${request.remoteAddress}',}*
	plan:'${_intercom.plan}',
	business_owner:${_intercom.business_owner},  
		    
    #{if _intercom.company_id && _intercom.plan in ["business", "team.basic"]}
		company: {
		    id: '${_intercom.company_id}',
		    name: '${_intercom.company_name?.escapeJavaScript().raw()}',
		    created_at: '${_intercom.company_created_at}',
		    upgraded_at: '${_intercom.company_created_at}',
		    expires_at: '${_intercom.company_expires_at}',
		    user_licenses:'${_intercom.company_license_count}',
		    user_licenses_used:'${_intercom.company_license_usage}',
		    items_count:'${_intercom.company_items_count}',
		    projects_count:'${_intercom.company_projects_count}',
		    archived_count:'${_intercom.company_archived_count}',
		    plan:'${_intercom.plan}',
		    domain:'${_intercom.company_domain}',
		    ltv:'${_intercom.company_ltv}',
		    monthly_spend: '${_intercom.monthly_rate}' || '${_intercom.company_license_count}'
		}
	#{/if}
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
#{/if}