<div  id='thinker'  style='position:relative;height:18px;width:100%;opacity:0;filter: alpha(opacity=0);margin-bottom:0px;' class="progress progress-striped active">
	<div id="thinkerBar" class="bar" style="width: 100%;"></div>
</div>

<script type="text/javascript">
	// #1896 (fix for IE8/9)
	$(document).ready(function() {
		var appVersion = navigator.appVersion;
		if (appVersion && typeof(appVersion) == 'string') {
			if (appVersion.search('MSIE 9.') != -1) {
				var bar = document.getElementById('thinkerBar');
				$(bar).addClass('bar-ie9');
				
				var ieanimate = function() {
					$(bar).animate({
						'background-position-x': '-15%'
					}, 1000, 'linear', 
					function() {
						ieanimate();
					});
				};
				
				ieanimate();
			} else if (appVersion.search('MSIE 8.') != -1) {
				$('#thinker').addClass('bar-ie8');
			}
		}
	});
</script>