<body ${_as == 'small' ? 'class=navbar-small' : ''}>

    #{if _as == 'small'}
    <div class="navbar navbar-fixed-top navbar-small">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>
                        <a class="brand" href="/"><img src="@{'/public/images/header-logo.gif'}" alt="HiTask logo"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    #{/if}
	#{elseif _as == 'none'}
	*{just to insert <body> tag }*
	#{/elseif}
    #{else}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                *{ .btn-navbar is used as the toggle for collapsed navbar content }*
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                     <span class="icon-chevron-down icon-white pull-right"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </a>

                 *{Be sure to leave the brand out there if you want it shown }*
                 <a class="brand" href="/"><img src="@{'/public/images/header-logo.gif'}" alt="HiTask logo"></a>

                 <div class="nav-collapse">
                     <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/tour">Tour</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/help">Help</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/blog">Blog</a></li>
                        <li class="divider-vertical"></li>
                        <li><a class="signin-button" href="/signin">Sign In</a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    #{/else}