<form class="form form-horizontal signin-form novalidate" onsubmit="formUtils.submitForm(event); return false;" method="post" id="signinForm">
	<fieldset>
		<legend>
			#{if _businessItem && _businessItem.logoPath}
				<img title="&{'hi.login.signin.title'}" src="${_businessItem.logoPath}" class="logo"/>
			#{/if}
			
			#{if _businessItem && _businessItem.title}
				<h3>${_businessItem.title}</h3>
			#{/if}
			
			#{if !_businessItem || (!_businessItem.title && !_businessItem.logoPath)}
				<img title="&{'hi.login.signin.title'}" src="/public/images/header-logo.gif" class="logo"/>
			#{/if}
		</legend>
		
		<input data-content="" type="text" class="span3" id="username" name="username" placeholder="${messages.get('hi.login.login_name').escapeHtml()}" autofocus="autofocus">
		<input data-content="" type="password" class="span3" id="password" name="password" placeholder="${messages.get('hi.login.password').escapeHtml()}">
		<button type="submit" class="btn btn-success center">&{'hi.login.signin_button'}</button>
		
		#{if _oauth2clients?.size() > 0}
			<div>
				<hr />
				#{if params.get('externalLoginError')}
					<div class="alert alert-error">${params.get('externalLoginError')}</div>
				#{/if}
				<span>&{'hi.login.with'}</span>
				#{list items: _oauth2clients, as: 'oauth2client'}
					<span>
						<a class="btn btn-small btn-${oauth2client.buttonClass}" href="@{OAuth.socialAuth(oauth2client.providerName)}">
							<span aria-hidden="true" data-icon="#{if oauth2client.icon}${oauth2client.icon.raw()}#{/if}#{else}&#xe036;#{/else}">&nbsp;${oauth2client.providerName?.capFirst()}</span>
						</a>
					</span>
				#{/list}
			</div>
		#{/if}
	</fieldset>
</form>

#{if params.get('externalLoginFailed') != null && params.get('externalLoginFailed') != ''}
	<script type="text/javascript">
		$(document).ready(function() {
			formUtils.handleLoginError(${params.get('externalLoginFailed').escapeJavaScript()}, null, null, '${params.get('externalLoginType').escapeJavaScript()}');
		});
	</script>
#{/if}