#{extends 'main.html' /}

#{set title:'HiTask: Service Error' /}

#{navbar as:'small' /}

<div class="signin center">
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well">
				<p>Oops! Service error occurred. (Error 1101)</p>
				<p><a href="#" onclick="window.location.reload(); return false;">Please try again</a> or <a href="@{Login.index}">Login</a>.</p>
			</div>
		</div>
	</div>
</div>

