#{extends 'main.html' /}

#{set title: 'HiTask: Published Project' /}
#{set withoutGlobalScripts: true /}
#{navbar as:'small' /}

<div class="itemPublished center">
	<div class="itemPublishedOuter">
		<div class="itemPublishedInner">
			<div class="well">
				<div style="border: 2px solid ${item.colorValue};" class="project">
					<div class="header">
						<div class="titleWrapper">
							<div class="folder">
								<span data-icon="" aria-hidden="true" class="folder" style="color: ${item.colorValue};"></span>
							</div>
							<div class="title">
								<span>${item.title}</span>
							</div>
							#{if item.dueDateShort}
								<div class="date">
									<span>${item.dueDateShort}</span>
								</div>
							#{/if}
						</div>
						#{if item.description}
							<div class="description">${item.descriptionTextiled?.raw()}</div>
						#{/if}
					</div>
					<div class="tasks">
						#{if item.items.size()}
							#{list items: item.items, as: 'thisItem'}
								#{published.task item: thisItem, level: 0 /}
							#{/list}
						#{/if}
						#{else}
							<div class="noItems">Empty Project</div>
						#{/else}
					</div>
				</div>
			</div>
			<div class="follow-social">
				&{'hi.published.item.share'}
				<div onclick="openFbDialog();" class="facebook">Facebook</div>
				<div class="twitter"></div>
				<div id="fb-root"></div>
				<script type="text/javascript">
					var shortHost = '${host.escapeJavaScript()}';
					var projLink = location.href.replace(location.host, shortHost).replace('https://', 'http://');
					var pTitle = document.getElementsByClassName("title")[0].getElementsByTagName("span")[0].innerHTML;
					var pDescr = "View project on " + shortHost + ": " + projLink;
					var initCalledOnce = false;
					
					var staticPart = " on " + shortHost;
					var pTwProjTitle = pTitle.substring(0, 140 - staticPart.length - projLink.length - 1);
					if (pTwProjTitle.length < pTitle.length) {
						pTwProjTitle = pTwProjTitle.substring(0, pTwProjTitle.length - 3) + "...";
					}
					var pTwTitle = pTwProjTitle + staticPart;
					var tw = document.createElement('a');
					tw.setAttribute('class', 'twitter-share-button');
					tw.setAttribute('href', 'https://twitter.com/share');
					tw.setAttribute('data-lang', 'en');
					tw.setAttribute('data-size', 'large');
					tw.setAttribute('data-count', 'none');
					tw.setAttribute('data-url', projLink);
					tw.innerHTML = "Twitter";
					tw.setAttribute('data-text', pTwTitle);
					document.getElementsByClassName("twitter")[0].appendChild(tw);

					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					
					var openFbDialog = function() {
						if (initCalledOnce === false) {
							FB.init({
								// appID temporarily hardcoded just for testing
								appId      : '${play.configuration.get('social.facebook.id').escapeJavaScript()}', // App ID from the App Dashboard
								//channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File for x-domain communication
								status     : true, // check the login status upon init?
								cookie     : true, // set sessions cookies to allow your server to access the session?
								xfbml      : true  // parse XFBML tags on this page?
							});
							initCalledOnce = true;
						}

						// Additional initialization code such as adding Event Listeners goes here
						FB.ui({
								method: 'feed',
								name: pTitle, // name of the product or content you want to share
								link: projLink, // link back to the product or content you are sharing
								picture: 'https://secure.hitask.com/public/images/logo.png', // path to an image you would like to share with this content
								//caption: pTitle, // caption
								description: pDescr // description of your product or content
							},
							function(response) {
								if (response && response.post_id) {} 
								else {}
							}
						);
					};

					(function(d){
						var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
						if (d.getElementById(id)) {return;}
						js = d.createElement('script'); js.id = id; js.async = false;
						js.src = "//connect.facebook.net/en_US/all.js";
						ref.parentNode.insertBefore(js, ref);
					}(document));
				</script>
			</div>
		</div>
	</div>
</div>
