.logo_heading{
padding:20px;
}

img {
 padding: 2px;
padding-right:5px;
vertical-align: middle;
}
a img{
border: 0px;
vertical-align: middle;
}
.label{
width: 200px; 
padding: 4px; 
font-weight: bold; 

}
.right{
text-align: right;
}
.value{
padding: 4px; 
font-weight: none;
}
.ok{
	font-weight: bold; 
	color:#33AA33;
}
.error {
font-weight: bold; 
color:#EE3333;
}
.blockLeft{
	margin:10px;
	padding:10px;
	border: 1px solid #E9E9E9;
	width: 200px;
	float:left;
}
.blockRight{
	width: auto;
	margin-left: 220px;
	padding:15px;
}
/* main box header and borders */
.mainhead {
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid #E9E9E9;
	background-color: #E9E9E9;
	padding: 10px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 500px;
}

.mainbox {
	margin-top: 0px;
	margin-left: 10px;
	border: 1px solid #E9E9E9;
	padding: 10px;
	padding-top: 0px;
	width: 500px;
}

.message {
	font-size: 12px;
	margin-top: 10px;
	margin-left: 10px;
	border: 4px solid #E9E9E9;
	padding: 10px;
}



.blockheading {
	border: 1px solid #E9E9E9;
	background-color: #D1D1D1;
	padding: 2px;
	color:#FFFFFF;
}
.darkshade {
	border: 1px solid #E9E9E9;
	background-color: #D1D1D1;
	padding: 2px;
}

.headshade {
	border: 1px solid #E9E9E9;
	background-color: #E9E9E9;
	padding: 2px;
}

.midshade {
	border: 1px solid #E9E9E9;
	background-color: #F5F5F5;
	padding: 2px;
}

.lightshade {
	border: 1px solid #E9E9E9;
	background-color: #FCFCFC;
	padding: 2px;
}

/* for lighter text */
.darkshadelight {
	border: 1px solid #E9E9E9;
	background-color: #D1D1D1;
	padding: 2px;
	color: #909090;
}

.headshadelight {
	border: 1px solid #E9E9E9;
	background-color: #E9E9E9;
	padding: 2px;
	color: #909090;
}

.midshadelight {
	border: 1px solid #E9E9E9;
	background-color: #F5F5F5;
	padding: 2px;
	color: #909090;
}

.lightshadelight {
	border: 1px solid #E9E9E9;
	background-color: #FCFCFC;
	padding: 2px;
	color: #909090;
}

/* same font, size and color in all elements */
BODY {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Arial, Verdana, Lucida Sans Unicode, sans-serif;
	font-size: 11px;
	color: #646464;
}

INPUT {
	font-size: 11px;
	color: #646464;
}

SELECT {
	font-size: 11px;
	color: #646464;
}

TEXTAREA {
	font-size: 11px;
	color: #646464;
}

TABLE {
	font-size: 12px;
	color: #646464;
}

FORM {
	padding: 0px;
	margin: 0px;
}

/* All links */
A {
	font-size: 11px;
	text-decoration: none;
	color: #329C0F;
}

A:hover {
	font-size: 11px;
	text-decoration: underline;
	color: #329C0F;
}

A:visited {
	font-size: 11px;
	text-decoration: none;
	color: #329C0F;
}

A:visited :hover {
	font-size: 11px;
	text-decoration: underline;
	color: #329C0F;
}

/* header */
.logo_back {
	background-color: #381499;
}

.logo_large {
	font-size: 20px;
	color: #FFF;
}

.logo_small {
	font-size: 11px;
	color: #FFF;
}

.search {
	width: 16px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	cursor: pointer;
}

/* left box header and borders */
.lefthead {
	margin-top: 10px;
	border: 1px solid #E9E9E9;
	background-color: #E9E9E9;
	padding: 10px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 170px;
}

.leftbox {
	margin-top: 0px;
	border: 1px solid #E9E9E9;
	padding: 10px;
	width: 170px;
}



/* clickable headers in View reported bugs */
.sortHeader {
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #646464;
	padding: 1px;
	padding-right: 0px;
	padding-left: 0px;
	border-top: 0px solid #FFF;
	border-left: 0px solid #FFF;
	border-bottom: 0px solid #000;
	border-right: 0px solid #000;
	background-color: #F5F5F5;
	cursor: pointer;
}

H3 {
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}

H4 {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

.topmenu {
	padding: 2px;
	padding-left: 13px;
	background-color: #FAFAEF;
	border-bottom: 1px solid #99998C;
}

table.plugingroup
{
	border: 1px solid #E9E9E9;
	border-collapse: collapse;
}

table.plugingroup caption
{
	background-color: #FFFFB0;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	border: 1px solid #E9E9E9;
	border-bottom: none;
}

table.plugingroup tr td.description
{
	padding: 5px;
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	background-color: #FFFFF0;
}

table.plugin
{
	border: 1px solid #E9E9E9;
	margin-bottom: 5px;
	border-collapse: collapse;
}

table.plugin caption
{
	background-color: #E8FFFF;
	font-weight: bold;
	text-align: left;
	padding: 5px;
}

table.plugin tr td.description
{
	padding: 5px;
	border-top: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
	background-color: #F5FFFF;
}
