<div class='TaskAssignTo'>
	<div 	data-dojo-type="hi/project/store/friendsStore"
			data-dojo-attach-point="assigneeStore" data="[]"></div>
	<input 	data-dojo-type="dijit/form/ComboBox" value="None" intermediateChanges=true
			data-dojo-props="searchAttr:'name'"
			data-dojo-attach-point="assigneeComboBox" id="assign_1_${id}" labelType="html" labelAttr="label" />
</div>