<li class="project ${groupClassName}" dndType="project" data-dojo-attach-point="outerNode">
	<input type="hidden" class="drop_hidden_text" data-dojo-attach-point="projectMoveTitleNode" />
	<input type="hidden" class="drop_hidden" value="${projectId}" data-dojo-attach-point="projectIdInputNode" />
	 	
	<div class="t">
		
		<table class="header opened" data-dojo-attach-point="headerNode">
			<tr>
				<td data-dojo-attach-event="onclick: handleToggle" class="pointer" title="{#project.click_to_open_project#}">
					<div class="toggle">
						<span class="hidden" data-dojo-attach-point="headerExpandNode">
							<span data-icon="&#xf0da;" aria-hidden="true"></span>
						</span>
						<span class="hidden" data-dojo-attach-point="headerCollapseNode">
							<span data-icon="&#xf0d7;" aria-hidden="true"></span>
						</span>
					</div>
				</td>
				<td class="full" data-dojo-attach-event="onclick: handleToggle">
					<div class="ajax_inline">
						<div class="ajax_inline_closed">
							<h1 class="pointer uneditable">
								<span class="group_title" data-dojo-attach-point="projectTitleNode"></span>
							</h1>
						</div>
						<form action="" onsubmit="return false" class="ajax_inline_opened hidden project_inline_opened"></form>
					</div>
				</td>
				<td>
					<div class="cnt pointer" data-dojo-attach-event="onclick: handleToggle" title="{#project.click_to_open_project#}">
						<span class="cnt_span" data-dojo-attach-point="itemCountNode"></span>
					</div>
				</td>
			</tr>
			<tr><td colspan="3" class="submenus hidden" data-dojo-attach-point="groupSubmenusNode">
				<div class="submenu"><ul>
					<li><a href="javascript://" data-dojo-attach-point="groupSubmenuDeleteCompleted" data-dojo-attach-event="onclick: handleRemoveCompleted" title="{#completed.removeLinkTitle#}"><span data-icon="" aria-hidden="true"></span>&nbsp;{#completed.submenuRemoveLink#}</a></li>
					<li><a href="javascript://" data-dojo-attach-point="groupSubmenuArchiveCompleted" data-dojo-attach-event="onclick: handleArchiveCompleted" title="{#completed.archiveLinkTitle#}"><span data-icon="" aria-hidden="true"></span>&nbsp;{#completed.submenuArchiveLink#}</a></li>
				</ul></div>
			</td></tr>
		</table>
		<div class="tasks full" data-dojo-attach-point="tasksNode">
			<div class="tasks-content" data-dojo-attach-point="contentNode"></div>
		</div>
		
	</div>
</li>