<div class="opened hidden" data-dojo-attach-point="topLevelNode">
	<div id='itemEditSaveThrobber' class='itemNewThrobberMsg hidden'><img src="/img/loading.gif"/> &nbsp;Saving...</div>
	<div data-dojo-attach-point="topLevelWrapper">
	<div class='formWrapper'>
		<div class="star" data-dojo-attach-point="starredNode" data-dojo-attach-event="onclick: handleStarredClick"><input type="hidden" name="starred" value="" /></div>
		<div class="file-cont cont-inner" data-dojo-attach-point="fileUploadContainer">
			<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="fileUploadButton" name="prop_act_upload" class="btn-upload" type="button" data-dojo-attach-event="onClick: save">{#common.start_upload#}</button>
			<div class="file-upload" id="file_upload_form_${taskId}" data-dojo-attach-point="fileUploadForm"></div>
		</div>

		<div class="title cont-inner" data-dojo-attach-point="titleContainerNode">
			{include_title}
		</div>

		<input type="hidden" name="color" data-dojo-attach-point="colorInput" value="0" />
		<input type="hidden" name="category" data-dojo-attach-point="categoryInput" value="1" />

		<div class="description cont-inner description-empty" data-dojo-attach-point="messageContainerNode">
			<!--  <label data-dojo-attach-point="messageLabelNode" for="message_${id}" onclick="nextElement(this).focus()" fill="hidden: has_message">{#task.message_empty#}</label>-->

			<textarea data-dojo-type='hi.widget.Textarea' id="message_${id}" name="message"
						data-dojo-attach-point="messageInput" data-dojo-attach-event="onkeyup: handleMessageKeyUp, oninput: handleMessageKeyUp"></textarea>
			<div class="textarea-resize"></div>
			<a href="#" data-dojo-attach-event="onclick: handleTooltipCallerClick" data-tooltip-name="formattinghelp" data-tooltip-position="below-centered" class="formating-help">{#common.text_formatting_help#}</a>
		</div>

		<table class="type type_container" data-dojo-attach-point="categorySelectionNode"><tr>
			<td class="task first active type_selector" data-type="1"><div class="left"><div class="right"><div class="mid">
				<a class="type_1" href="javascript://" title="" data-type="1" data-dojo-attach-event="onclick: handleCategoryClick">{#task.task#}</a>
			</div></div></div></td>
			<td class="event type_selector" data-type="2"><div class="left"><div class="right"><div class="mid">
				<a class="type_2" href="javascript://" title="" data-type="2" data-dojo-attach-event="onclick: handleCategoryClick">{#task.event#}</a>
			</div></div></div></td>
			<td class="note type_selector" data-type="4"><div class="left"><div class="right"><div class="mid">
				<a class="type_4" href="javascript://" title="" data-type="4" data-dojo-attach-event="onclick: handleCategoryClick">{#task.note#}</a>
			</div></div></div></td>
			<td class="file type_selector" data-type="6"><div class="left"><div class="right"><div class="mid">
				<a class="type_6" href="javascript://" title="" data-type="6" data-dojo-attach-event="onclick: handleCategoryClick">{#task.file#}</a>
			</div></div></div></td>
			<td class="many last type_selector" data-type="5"><div class="left"><div class="right"><div class="mid">
				<a class="type_5" href="javascript://" title="" data-type="5" data-dojo-attach-event="onclick: handleCategoryClick">{#task.many#}</a>
			</div></div></div></td>
		</tr></table>

		<div class="cont-inner-box period" data-dojo-attach-point="timeContainerNode">
			<div class="field" data-dojo-attach-point='startTimeContainer'>
				<div class="label"><span class="title">{#task.starts#}:</span></div>
				<div class="date">
					<input class="txt start_date" type="text" name="start_date" value="" maxlength="10"
							data-dojo-type="hi.widget.form.hiDateTextBox"
							data-dojo-attach-point="startDateWidget"
							data-dojo-attach-event="onClick:handleStartDateClick, onChange: handleStartDateChange"
							required="false"
							trim="true"
							constraints="{strict:true}"
							invalidMessage=""/>
				</div>

				<div class="time">
					<input name="start_time" class="txt start_time" type="text" value="" maxlength="10"
						data-dojo-type="dijit.form.TimeTextBox"
						data-dojo-attach-point="startTimeWidget"
						data-dojo-attach-event="onClick:handleStartTimeClick, onChange: handleStartTimeChange"
						required="false"
						invalidMessage=""/>
				</div>
				<div data-dojo-attach-point='isAllDayWidget'>
					<input type="checkbox" name="is_all_day" id="is_all_day_${id}" data-dojo-attach-point="isAllDayInput" data-dojo-attach-event="onclick: handleIsAllDayInputClick" />
					<label for="is_all_day_${id}">{#task.is_all_day#}</label>
				</div>
			</div>

			<div class="field" data-dojo-attach-point='endTimeContainer'>
				<div class="label"><span class="title">{#task.ends#}:</span></div>
				<span class="date">
					<input class="txt end_date" type="text" name="end_date" value="" maxlength="10"
					data-dojo-type="hi.widget.form.hiDateTextBox"
					data-dojo-attach-point="endDateWidget"
					data-dojo-attach-event="onClick:handleEndDateClick,onChange: handleEndDateChange"
					required="false"
					trim="true"
					constraints="{strict:true}"
					invalidMessage=""
					/>
				</span>

				<span class="time">
					<input name="end_time" class="txt end_time" type="text" value="" maxlength="10"
						data-dojo-type="dijit.form.TimeTextBox"
						data-dojo-attach-point="endTimeWidget"
						data-dojo-attach-event="onClick:handleEndTimeClick,onChange: handleEndTimeChange" required="false"
						invalidMessage=""/>
				</span>
			</div>

			<div class="field" data-dojo-attach-point="dueDateContainer">
				<div class="label"><span class="title">{#task.due#}:</span></div>
				<span class="date">
					<input class="txt due_date" type="text" name="due_date" value="" maxlength="10"
					data-dojo-type="hi.widget.form.hiDateTextBox"
					data-dojo-attach-point="dueDateWidget"
					data-dojo-attach-event="onClick:handleDueDateClick,onChange:handleDueDateChange"
					required="false"
					trim="true"
					constraints="{strict:true}"
					invalidMessage=""
					/>
				</span>
			</div>

			<div class="field period_repeat" data-dojo-attach-point="recurringContainerNode">
				<div class="label">{#task.recurring#}:</div>
				<div class="period_repeat_wrapper">
					<div class="repeat_select_wrapper">
						<select class="repeat_select" id="recurring_${id}"
							data-dojo-type="dijit/form/Select"  name="recurring" data-dojo-attach-point="recurringInput"
							data-dojo-attach-event='onChange:changeRecurrence' disabled="false" style="width: 38px;">
								<option value="0">{#task.recurring_none#}</option>
								<option value="1">{#task.recurring_daily#}</option>
								<option value="2">{#task.recurring_weekly#}</option>
								<option value="3">{#task.recurring_monthly#}</option>
								<option value="4">{#task.recurring_yearly#}</option>
						</select>
					</div>

					<div class="hidden recurrence_details_wrapper" data-dojo-attach-point="recurrence_details_wrapper">
						<div>
							<select data-dojo-type="dijit/form/ComboBox" id="recurring_interval_${id}" class="" labelType="html"
								data-dojo-attach-point="recurringIntervalNode" disabled="disabled" data-dojo-attach-event='onChange:handleRecurringIntervalChange,onBlur:handleRecurringIntervalBlur'
								data-dojo-props="searchAttr: 'name'">
							</select>
							<input type="hidden" name="recurring_interval" value="1" data-dojo-attach-point='recurringIntervalHiddenInput' />
						</div>
					</div>
					<div class="recurrence_end_date_field" data-dojo-attach-point='recurrence_end_date_field_wrapper'>
						<div>
							<span class="label-text">{#task.recurring_end#}</span>
							<span class="recurrence_end_date">
								<input class="txt end_date" type="text" name="recurring_end_date" value="" maxlength="10"
								data-dojo-type="hi.widget.form.hiDateTextBox"
								data-dojo-attach-point="recurrenceEndDateWidget"
								data-dojo-attach-event="onClick:handleRecurrenceEndDateClick,onChange: handleRecurrenceEndDateChange"
								required="false"
								disabled="true"
								trim="true"
								constraints="{strict:true}"
								invalidMessage=""/>
							</span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<!-- reminder -->
			<div class="field" id="reminderContainerNode" data-dojo-attach-point="reminderContainerNode">
				<div class="label">
					<label for="reminder_enabled">{#task.reminder#}:</label>
				</div>
				<div style='width:80%'>
					<select disabled="disabled" id="reminder_time_type_${id}" style='width:248px'
							data-dojo-props='maxHeight:400'
							data-dojo-attach-point="reminderTimeNode" name="reminder_time_type"
							data-dojo-type="dijit/form/Select"
							data-dojo-attach-event="onChange: handleReminderChange">
					</select>
					<button data-dojo-type='dijit/form/Button' data-dojo-props='disabled:true' data-dojo-attach-point='addReminderButton'
							data-dojo-attach-event='onClick:handleAddReminderClick'>+</button>
					<span class="label-after" data-dojo-attach-point="reminderHelperTextNode">{#task.before_start#}</span>
				</div>
			</div>

			<div class="field time-tracking-disabled" data-dojo-attach-point="timeTrackingContainerNode">
				<div class="label"><label for="time_track_${id}">{#task.time_tracking#}:</label></div>
				<input type="checkbox" id="time_track_${id}" name="time_track" data-dojo-attach-point="timeTrackingInput" data-dojo-attach-event="onclick: handleTimeTrackingInputClick" />
				<label for="time_track_${id}" class="label-before">{#task.time_tracking_enable#}</label>
				<span class="label-after-semi">{#task.time_tracking_estimation#}:</span>
				<input data-dojo-type='dijit/form/TextBox' data-dojo-props="placeHolder:'{#task.time_tracking_hours#}'" data-dojo-attach-point="timeTrackingEstInput" data-dojo-attach-event="onBlur: handleTimeTrackingEstimateChange" type="text" class="txt time_est" name="time_est" defaultValue="{#task.time_tracking_hours#}"/>
			</div>
		</div>

		<!-- task sharing -->
		<div class="cont-inner-box period" data-dojo-attach-point="sharingContainerNode">
			<!-- start of Sharing -->
<!-- 			<div class="field field-sharing" data-dojo-attach-point="sharingSharingNode">
				<div class="label">{#task.sharing#}</div>
				<div class="shared_inputs_cont">
					<input name="shared" type="radio" id="private_${id}" value="0" checked="checked" data-dojo-attach-point="sharedInputPrivate" data-dojo-attach-event="onclick: handleSharedChange" />
					<label for="private_${id}">{#task.private#}</label>
					<input name="shared" type="radio" id="shared_${id}" value="1" data-dojo-attach-point="sharedInputShared" data-dojo-attach-event="onclick: handleSharedChange" />
					<label for="shared_${id}">{#task.shared#}</label>
				</div>
			</div> -->
			<div class="field field-sharing" data-dojo-attach-point="sharingSharingNode">
				<div class="label">{#task.sharing#}</div>
				<div data-dojo-type='hi.widget.Sharing' data-dojo-attach-point="sharingWidget" data-dojo-props="taskId:'${task.id}'"></div>
				<div data-dojo-attach-point='rememberPermission' class='' style='display:none'>
					<label><input type='checkbox' data-dojo-attach-point='rememberPermissionCheckbox' data-dojo-attach-event='onclick: handlerRememberPermissionCheckboxClick'>{#task.remember_other_sharing#}</label>
				</div>
<!-- 				<div class="shared_inputs_cont">
					<input name="shared" type="radio" id="private_${id}" value="0" checked="checked" data-dojo-attach-point="sharedInputPrivate" data-dojo-attach-event="onclick: handleSharedChange" />
					<label for="private_${id}">{#task.private#}</label>
					<input name="shared" type="radio" id="shared_${id}" value="1" data-dojo-attach-point="sharedInputShared" data-dojo-attach-event="onclick: handleSharedChange" />
					<label for="shared_${id}">{#task.shared#}</label>
				</div> -->
			</div>
			<!-- end of sharing -->

			<!-- start of Assign to -->
			<div class="field" id="f-assignee">
				<input type='hidden' value='0' name='assignee' data-dojo-attach-point='assigneeHiddenInput' />
				<div class="label">
					<label for="assign_1_${id}">{#task.assign_to#}</label>
				</div>
				<!-- start of assignee store -->
				<div data-dojo-type="hi/project/store/friendsStore" data-dojo-id="assigneeStore" data="[]"></div>
				<!-- end of assignee store -->
				<input data-dojo-type="dijit/form/ComboBox"
						value="None" intermediateChanges=true
						data-dojo-props="store:assigneeStore, searchAttr:'name'"
						data-dojo-attach-event="onChange: handleAssigneeChange,onClick:openAssigneeDropDown,onBlur:blurAssigneeDropDown"
						data-dojo-attach-point="assigneeDijit"
						id="assign_1_${id}" labelType="html" labelAttr="label" />

				<input id="new_person_assign_${id}"  type="button" style='display:none;' value="New person..." data-dojo-attach-event="onclick:handleAddNewAssignee" data-dojo-attach-point='newAssigneeBtn'/>
			</div>
			<!-- end of Assign to -->

			<!-- start of participants -->
			<div class="field participant_cont" data-dojo-attach-point="sharingParticipantsNode">
				<!-- start of participant store -->
				<div data-dojo-type="hi/project/store/friendsStore" data-dojo-id="participantStore" data="[]"></div>
				<!-- end of participant store -->
				<div class="label participantLabel">{#task.participants#}:</div>
				<div class="participant_padd participant_padd_extra" >
					<span class="add_participant_template">
						<span class="add_participant_form">

						<input type='hidden' value='0' class="new_participant_select" name='_participant_select' data-dojo-attach-point='participantHiddenInput' />
						<input data-dojo-type="dijit/form/ComboBox"
							value="None" intermediateChanges=true
							data-dojo-props="store:participantStore, searchAttr:'name'"
							data-dojo-attach-event="onChange: handleParticipantChange,onClick:openParticipantDropDown,onBlur:blurParticipantDropDown"
						data-dojo-attach-point="participantDijit"
						id="_participant_select_${id}" labelType="html" labelAttr="label" />
						<input id="new_person_participant_${id}" style='display:none;' type="button" value="New person..." data-dojo-attach-point="addNewParticipantBtn" data-dojo-attach-event="onclick:handleAddNewParticipant" />
						</span>
					</span>
					&nbsp;
					<span class="participants participants_edit"></span>
				</div>
			</div>
			<!-- end of participants -->
		</div>
		<!-- task sharing -->

		<div class="cont-inner-box tag_cont">
			<div class="field" data-dojo-attach-point="parentContainerNode">
				<!-- PROJECT -->
				<div class="label"><label for="parent_${id}">{#task.project#}</label></div>
				<select data-dojo-type="dijit/form/ComboBox" id="parent_${id}" class="parent" labelType="html"
					data-dojo-attach-point="parentInput" data-dojo-attach-event="onChange: handleParentChange,onClick: handleParentClick,onBlur: handleParentBlur"
					data-dojo-props="searchAttr: 'name'">
				</select>
				<input type="hidden" name="parent" value="" data-dojo-attach-point='parentHiddenInput' />
			</div>

			<div class="field">
				<!-- PRIORITY -->
				<div class="label">{#task.priority#}</div>
				<div class="priority_inputs_cont">
					<input name="priority" type="radio" id="priority_low_${id}" value="10000" data-dojo-attach-point="priorityInputLow" data-dojo-attach-event="onclick: handlePriorityChange" />
					<label for="priority_low_${id}">{#task.priority_low#}</label>
					<input name="priority" type="radio" id="priority_medium_${id}" value="20000" data-dojo-attach-point="priorityInputMedium" data-dojo-attach-event="onclick: handlePriorityChange" />
					<label for="priority_medium_${id}">{#task.priority_medium#}</label>
					<input name="priority" type="radio" id="priority_high_${id}" value="30000" data-dojo-attach-point="priorityInputHigh" data-dojo-attach-event="onclick: handlePriorityChange" />
					<label for="priority_high_${id}">{#task.priority_high#}</label>
				</div>
			</div>

			<div class="field">
				<!-- TAG SELECTOR -->
				<div class="label">{#task.tags#}:</div>
				<div class="tag_padd">
					<span class="tags tags_edit"></span>
					<span class="add_tag_template">
						<div>
							<div data-dojo-type='hi.widget.Tag' data-dojo-attach-point='tagInput'></div>
						</div>
		<!-- 				<span data-dojo-attach-event="onkeypress: handleTagKeyPress">
							<span class="add_tag_form">
								<input maxlength="20" id="tag_${id}" class="new_tag_input txt" type="text" />
								<span data-icon="&#xe022;" aria-hidden="true" data-dojo-attach-event="onclick: handleTagAddButton"></span>
							</span>
						</span> -->
					</span>
				</div>
			</div>

			<div class="field colors">
				<!-- COLOR PICKER -->
				<div class="label"><label>{#task.color#}:</label></div>
				<div class="color_picker" data-dojo-attach-point="colorPickerNode">
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="0" class="c-0 selected"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="1" class="c-1"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="2" class="c-2"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="3" class="c-3"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="4" class="c-4"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="5" class="c-5"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="6" class="c-6"><span></span></div>
					<div data-dojo-attach-event="onclick: handleColorSelection" data-color="7" class="c-7"><span></span></div>
				</div>
			</div>
		</div>

		<div class="cont-inner-box many_tasks_cont" data-dojo-attach-point="manyTasksContainerNode">
			<div class="many_tasks_step_1" data-dojo-attach-point="manyTasksContainerNode">
				<!--  <label onclick="nextElement(this).focus()">{#task.many_tasks_description#}</label>-->
				<textarea wrap="off" data-dojo-type='hi.widget.Textarea' class="manyTasksTextArea" data-dojo-attach-event="onblur: handleManyTasksBlur, onfocus: handleManyTasksFocus" data-dojo-attach-point="manyTasksInput" data-dojo-props="placeHolder: '{#task.many_tasks_description#}'"></textarea>
				<p>{#task.many_tasks_format#}</p>
			</div>
			<div class="many_tasks_step_2">
				<fieldset class="result-table">
				<table>
					<thead>
						<th class="col-title"></th>
					</thead>
					<tbody></tbody>
				</table>
				</fieldset>
				<p>{#task.many_tasks_go_back#}</p>
			</div>
		</div>
	</div>

	<div data-dojo-attach-event="onclick: handleEventHalt" data-dojo-attach-point="buttonsNode">
		<table class="btns">
			<tr>
				<td></td>
				<td>
					<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="multipleForwardButton" data-dojo-attach-event="onClick: handleMultipleStepForward" class="proceed btn-success btn-alt btn-flat" type="button">{#task.proceed_button#}</button>
					<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="multipleCreateButton"  data-dojo-attach-event="onClick: handleMultipleCreate" class="create btn-alt btn-flat btn-success" type="button">{#task.create_tasks_button#}</button>

					<button class='btn-success btn-alt btn-flat save' data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick: save" class="save" type="button">{#task.save_button#}</button>
					<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="uploadButton" data-dojo-attach-event="onClick: save" class="btn-upload btn-flat btn-success btn-alt" type="button">{#common.start_upload#}</button>

					<button class='btn-flat' data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick: cancel" class="save" type="button">{#task.cancel_button#}</button>
				</td>
			</tr>
		</table>
	</div>
	</div>
</div>
