<div class="dijitInline dijitColorPalette dijitItemColorPalette" role="grid">
	<table class="dijitPaletteTable itemColorValuePaletteTable" cellspacing="0" cellpadding="0" role="presentation">
		<tbody><tr tabindex="-1" role="row" data-dojo-attach-event="onclick: handleColorCellClick"></tr></tbody>
	</table>
</div>