<div class="properties_view">

	<div class="hiTaskTooltipDialogTaskClose taskEdit_Close" data-dojo-attach-event="onclick: handleCloseTooltip"></div>
	<div class="closed">
		<div class='openFileWrapper hidden' data-dojo-attach-point='openFileWrapperNode'>
			<button data-dojo-attach-point="openFileNode" data-dojo-attach-event="onClick: handleOpenFile" data-dojo-type="dijit.form.Button" type="button" class="action-button highlight" ><span data-icon="&#xe034;" aria-hidden="true"></span>{#task.open_file#}</button>
		</div>

		<div data-dojo-attach-point="messageContainerNode" class="cont"><div class="cont-inner highlight description forceSoftWrap" title="{#project.double_click_to_edit#}" name="message" data-dojo-attach-point="messageNode" data-dojo-attach-event="onmousedown:handleOnMouseDown, onmousemove:handleOnMouseMove, ondblclick: handleMessageDblClick"></div></div>
		<div class="filePreviewWrapper hidden" data-dojo-attach-point="filePreviewWrapperNode"><img data-dojo-attach-event="onClick: handlePreviewImageClick" src="" data-dojo-attach-point="filePreviewImageNode" /></div>
		<div data-dojo-attach-point="timeContainerNode" class="cont"><div class="cont-inner highlight" title="{#project.click_to_edit#}" name="start_date" data-dojo-attach-point="timeNode" data-dojo-attach-event="onclick: handleModifyClick"></div></div>

		<div class="cont time_track" class="cont" data-dojo-attach-point="timeTrackContainer"><div class="cont-inner" name="time_track">
			<div class='itemTimetrackThrobberMsg hidden' data-dojo-attach-point="logTimeThrobber"><img src="/img/loading.gif" /></div>
			<div class="cont-inner-wrapper time-tracking-container" data-dojo-attach-point="timeTrackingContainer">
				<div class="time_tracking_buttons" data-dojo-attach-point="timeTrackButtonGroup" data-dojo-props="action:'timetrackAction'">
					<button type="button" data-dojo-type="dijit.form.Button" class="secondary_action" data-dojo-attach-event="onClick: handleTimeTrackFormShow" data-dojo-attach-point="logTimeButton">
						<span data-icon="&#xe01a;" aria-hidden="true"></span>{#task.time_tracking_track#}
					</button>

					<button data-dojo-attach-point="timeTrackingStartLink" type="button" data-dojo-type="dijit.form.Button" class="secondary_action" data-dojo-attach-event="onClick: handleTimeTrackStart">
						<span data-icon="&#xe03a;" aria-hidden="true"></span>{#task.time_tracking_timer#}
					</button>

					<button data-dojo-attach-point="timeTrackingShowLink" type="button" data-dojo-type="dijit.form.Button" class="secondary_action hidden" data-dojo-attach-event="onClick: handleTimePopupShow">
						<span data-icon="&#xe03a;" aria-hidden="true" class="timeValue"></span>
					</button>
					<button data-dojo-attach-point="timeTrackingReportLink" type="button" data-dojo-type="dijit.form.Button" class="secondary_action" data-dojo-attach-event="onClick: handleTimeTrackReportOpen">
						<span data-icon="&#xe024;" aria-hidden="true"></span>{#task.report#}
					</button>
				</div>

				<div class="estimated_container" data-dojo-attach-point="timeTrackingEstContainer">
					<span class="label">{#task.time_tracking_estimated#}:</span>
					<span class="estimated" data-dojo-attach-point="timeTrackingEst"></span>
					<div class="clear"></div>
				</div>

				<div class="spent-details spent_container" data-dojo-attach-event="onclick: handleTimeTrackListShow">
					<span class="label">{#task.time_tracking_spent#}:</span>
					<a href="javascript://" class="spent" data-dojo-attach-point="timeTrackingSpentNode"></a>
					<a href="javascript://" class="details hidden">{#task.time_tracking_details#}</a>
				</div>



				<div class="clear"><!-- --></div>
			</div>

			<div class="time-track-report cont-inner-wrapper">
				<div class="time-track-report-inner" data-dojo-attach-point="timeTrackReportInner">
					<span class="progress_percentage"></span>
					<div class="progress-bar"><div></div></div>

				</div>
			</div>

			<div class="time-track-add-entry cont-inner-wrapper">
				<span class="label">{#task.time_tracking_spent#}</span>

				<input class="invisible" constraints="{datePattern:'MM/dd/yyyy'}" type="text" data-dojo-attach-point="timeTrackAddDateWidget" data-dojo-type="hi.widget.form.hiDateTextBox" name="date" value="" onChange="Hi_TimeTracking.addForm._onDateChange();" invalidMessage="" />
				<a href="javascript://" class="spent">{#task.time_tracking_today#}</a>
				<span class="label">{#task.time_tracking_by#}</span>

				<a href="javascript://" class="user" onclick="Hi_PersonSelect.show(this, nextElement(this, 'INPUT')); dojo.stopEvent(event);"></a>:
				<input type="hidden" name="user" value="" />

				<input type="text" name="minutes" class="txt time_est" value="{#task.time_tracking_hours#}" />
				<button type="button" data-dojo-type="dijit.form.Button" class="save-time btn-success btn-flat btn-alt" onclick="Hi_TimeTracking.addForm.save();">{#task.time_tracking_save#}</button>
				<button type="button" data-dojo-type="dijit.form.Button" class="cancel-time cancel btn-flat" onclick="Hi_TimeTracking.addForm.reset();">{#task.cancel_button#}</button>
			</div>

			<div class="time-track-list cont-inner-wrapper" data-dojo-attach-point="timeTrackingListContainer">
				<div class="loading"><img src="/img/loading.gif" alt="" title="" /> &nbsp;{#task.loading#}</div>
				<ul></ul>
			</div>

		</div></div>

		<div data-dojo-attach-point="participantsContainerNode" class="cont"><div class="cont-inner">
			<span class="label">{#task.participants#}:</span> <span class="participants participants_view" data-dojo-attach-point="participantsNode"></span>
		</div></div>

		<div data-dojo-attach-point="tagsContainerNode" class="cont"><div class="cont-inner">
			<span class="label">{#task.tags#}:</span> <span class="tags tags_view" data-dojo-attach-point="tagsNode"></span>
		</div></div>

		<form class="history" action="" data-dojo-attach-point="commentNode" data-dojo-attach-event="onsubmit: handleCommentSubmit">
			<div class="cont link"><div class="cont-inner">
				<a href="javascript://" onclick="Hi_Comments.loadComments();"><span data-icon="&#xf0da;" aria-hidden="true"></span> {#task.show_history#}</a>
				<input class="idElement" type="hidden" name="id" fill="${id}" />
				<span class="label">{#task.last_modified#}</span>
				<span class="timeLastUpdateDif" data-dojo-attach-point="timeLastUpdateNode"></span> <span>{#task.ago#}</span>
			</div></div>
			<div class="cont data fulllist"><div class="cont-inner">
				<div class="dataEl"></div>
			</div></div>
			<div class="cont data last"><div class="cont-inner">
				<div class="dataEl"></div>
			</div></div>
			<div class="cont loading"><div class="cont-inner">
				<div class="dataEl">
					<div class="loading"><img src="/img/loading.gif" alt="" title="" /> &nbsp;{#task.loading#}</div>
				</div>
			</div></div>
			<div class="cont form"><div class="cont-inner">
				<div class="commentWrapper">
					<div class='column commentAvatar'>
						<span class="avatar" data-dojo-attach-point="userPictureNode"></span>
					</div>
					<div class='column commentCell'>
						<div class="comment">
							<textarea name="comment" data-dojo-type="hi.widget.Textarea" rows="3"></textarea>
						</div>
					</div>
					<div class='column'>
						<button class="history-button " data-dojo-type="dijit.form.Button" type="submit"><span data-icon=""></span</button>
					</div>
				</table>
			</div></div>
		</form>

		<div data-dojo-attach-point="fileListContainerNode" class="file-cont cont hidden">
			<div class="cont-inner">
				<div class="file-upload" data-dojo-attach-point="fileListNode"></div>
			</div>
		</div>

		<div data-dojo-attach-event="onclick: handleCloseClick" class="close"><!-- --></div>

	</div>
	<div class="footer">
		<div class="links" style='float:right'>
			<div class='TaskAssignToContainer hidden' data-dojo-attach-point='assignTo'>
				<div data-dojo-attach-point='assignToWidget'></div>
				<button class="action-button"
						data-dojo-attach-point="assignToOkLinkButton"
						data-dojo-attach-event="onClick: handleAssignToOkClick"
						data-dojo-type="dijit.form.Button" type="button" class="highlight"
				>ok</button>
			</div>

			<div class="action-button" data-dojo-type="dijit/form/ComboButton" data-dojo-attach-point='buttonGroup'
				data-dojo-attach-event='onClick: handleButtonGroupClick'>
				<div data-dojo-type="dijit/DropDownMenu">
					<div data-dojo-type="dijit/MenuItem" class="action-button highlight" data-action='archiveAction'
						data-dojo-attach-point="newItemLinkNode"
						data-dojo-attach-event="onClick: handleAddItem">
						<span data-icon="&#xe007;" aria-hidden="true"></span>{#task.add_item#}
					</div>
					<div data-dojo-type="dijit/MenuItem" class="action-button highlight" data-action='archiveAction'
						data-dojo-attach-point="attachFileLinkNode"
						data-dojo-attach-event="onClick: handleAttachFile">
						<span data-icon="&#xe008;" aria-hidden="true"></span>{#properties.attach_file#}
					</div>
					<div data-dojo-type="dijit/MenuItem" class="action-button highlight" data-action='archiveAction'
						data-dojo-attach-point="itemLink"
						data-dojo-attach-event="onClick: handleItemLink">
						<span data-icon="&#xe03f;"></span>{#properties.copy_link#}
					</div>

					<div data-dojo-type="dijit/MenuItem" class="action-button highlight"
						data-action='duplicateAction'
						data-dojo-attach-point="duplicateLinkNode"
						data-dojo-attach-event="onClick: handleDuplicateTreeClick"
						data-dojo-type="dijit.form.Button">
						<span data-icon="&#xe012;" aria-hidden="true"></span>{#task.duplicate_button#}
					</div>
					<div data-dojo-type="dijit/MenuItem" class="action-button highlight" data-action='archiveAction'
						data-dojo-attach-point="archiveLinkNode"
						data-dojo-attach-event="onClick: handleArchiveClick">
						<span data-icon="&#xf019;" aria-hidden="true"></span>{#task.archive#}
					</div>
					<div data-dojo-type="dijit/MenuItem" class="action-button delete-button highlight"
						data-action='deleteAction'
						data-dojo-attach-point="deleteLinkNode"
						data-dojo-attach-props="action:'deleteAction'"
						data-dojo-attach-event="onClick: handleDeleteClick"
						data-dojo-type="dijit.form.Button">
						<span data-icon="&#xf057;" aria-hidden="true"></span>{#task.delete_button#}
					</div>
				</div>
			</div>
		</div>
		<button data-dojo-attach-point="modifyButtonNode" data-dojo-props="action:'modifyAction'" data-dojo-attach-event="onClick: handleModifyClick" data-dojo-type="dijit.form.Button" type="button" class="highlight btn-success btn-alt btn-flat">{#task.modify#}</button>
	</div>
</div>
