<li id="${id}" class="task_li dojoDndItem" data-dojo-attach-point="itemNode"
	data-dojo-attach-event="onclick: handleItemClick" onmouseover="hoverElement(this)" onmouseout="houtElement(this)"
	title="${localeClickToView}"
	data-task-id="${taskId}">
	
	<a class="toggle-children" data-dojo-attach-event="mousedown: toggleChildren" >
		<span data-icon="&#xf0da;" aria-hidden="true" class="toggle-children-expand"></span>
		<span data-icon="&#xf0d7;" aria-hidden="true" class="toggle-children-collapse"></span>
	</a>
	<div class="task_div">
		<div class="heading" data-dojo-attach-point="headingNode" onselectstart="return false;" data-dojo-attach-event="onclick: handleExpandClick">
			<div class="check" data-dojo-attach-point="completeClassNode">
				<input data-dojo-attach-point="completeNode" eventdate="" type="checkbox" title="${localeClickToComplete}" data-dojo-attach-event="onclick: handleClickComplete" />
			</div>
			<div class="star" title="Click to mark item starred" data-dojo-attach-point="starredNode" data-dojo-attach-event="onclick: handleClickStarred"></div>
			
			<div class="btn collapse" data-icon="&#xe000;" data-dojo-attach-event="onclick: handleCollapseClick"></div>
			<div class="dojoDndHandle btn drag" data-dojo-attach-point="dragHandle"></div>
			<div class="date_title" data-dojo-attach-point="dateTitleNode"></div>
			
			<h3><div><div class="heading-inner">
				<span data-dojo-attach-point="priorityHighNode" data-icon="&#xe090;" aria-hidden="true" class="priority-high hidden"></span>
				<span data-dojo-attach-point="priorityLowNode" data-icon="&#xe096;" aria-hidden="true" class="priority-low hidden"></span>
				
				<span class="hidden" data-dojo-attach-point="parentTitleNode"></span>
				<span class="task_title title highlight forceWrap" data-dojo-attach-point="titleNode"></span>
				
				<span class="in_project hidden" data-dojo-attach-point="projectTitleNode"></span>
				<span class="person hidden" data-dojo-attach-point="personNode"></span>
			</div></div></h3>
			
		</div>
		
		<div data-dojo-attach-point="propertiesViewNode">
			<div class="opened hidden" style="padding-bottom: 0;"></div>
		</div>
		
	</div>
	
	<ul class="children" id="children_${id}" data-task-id="${taskId}" data-dojo-attach-point="childrenNode"></ul>
</li>