<li id="${id}" class="task_li" data-dojo-attach-point="itemNode"
	title=""
	data-task-id="${taskId}">
	
	<a class="toggle-children hidden" data-dojo-attach-event="mousedown: toggleChildren" ></a>
	<div class="task_div new-highlight-inner">
		<div id='itemNewThrobberMSG' class='itemNewThrobberMsg hidden'><img src="/img/loading.gif"/> &nbsp;Saving...</div>
		<div class="heading" data-dojo-attach-point="headingNode" onselectstart="return false;" data-dojo-attach-event="onclick: handleExpandClick">
			<div class="check hidden" data-dojo-attach-point="completeClassNode">
				<input data-dojo-attach-point="completeNode" eventdate="" type="checkbox" title="${localeClickToComplete}" data-dojo-attach-event="onclick: handleClickComplete" />
			</div>
			<div class="star hidden" title="Click to mark item starred" data-dojo-attach-point="starredNode" data-dojo-attach-event="onclick: handleClickStarred"></div>
			
			<div class="btn collapse hidden" data-dojo-attach-event="onclick: handleCollapseClick"></div>
			<div class="dojoDndHandle btn drag hidden" data-dojo-attach-point="dragHandle"></div>
			<div class="private_mark hidden" data-icon=""></div>
			<div class="date_title hidden" data-dojo-attach-point="dateTitleNode"></div>
			
			<h3><div class="heading-inner">
				<div data-dojo-attach-point="priorityClassNode">
					
					<span class="hidden" data-dojo-attach-point="parentTitleNode"></span>
					<span class="task_title title highlight" data-dojo-attach-point="titleNode"></span>
					
					<div class="title cont-inner">
						<table width="100%"><tr>
							<td class="txt">
								<input accesskey="N"  type="text" name="title" value="${localeNewItemText}" class="txt  placeHolder" data-dojo-attach-event="onfocus: showEditForm, onkeydown: handleTitleNewKeydown" />
							</td>
							<td class="btn">
								<button type="button" class='btn-success btn-alt btn-flat' data-dojo-type="dijit/form/Button" tabindex="-1"  disabled="disabled" >${localeAdd}</button>
							</td>
						</tr></table>
					</div>
					<!-- 
					<div class="file-cont cont-inner">
						<div class="file-upload"></div>
					</div>
					 -->
					
					<span class="in_project hidden" data-dojo-attach-point="projectTitleNode"></span>
					<span class="person hidden" data-dojo-attach-point="personNode"></span>
					
				</div>
			</div></h3>
			
		</div>
		
		<div data-dojo-attach-event="onkeypress: handleKeyPress" data-dojo-attach-point="propertiesViewNode" id="itemPropertiesViewNode">
			<div class="opened hidden" style="padding-bottom: 0;"></div>
		</div>
		
	</div>
	
	<ul class="children" id="children_${id}" data-task-id="${taskId}" data-dojo-attach-point="childrenNode"></ul>
</li>