<ul class="tasks task_ul" data-dojo-attach-point="listNode" data-list-id="${parentId}">
	<li class="task_empty" data-dojo-attach-point="noItemsNode"><div>${localeNoItems}</div></li>
	<!-- Feature #2697 -->
	<li class="project_task_empty" data-dojo-attach-point="noProjectItemsNode">
		<div data-dojo-attach-event="onclick: handleAddProjectItem"><b>${localeNoProjectItems}</b></div>
	</li>
	<!-- Feature #2697 -->
	<li class="task_completed hidden" data-dojo-attach-point="completedLabelNode">
		<div>
			<span class="t-1 icon-caret-right" data-dojo-attach-event="onclick: toggleCompletedList"></span>
			<span class='t-1' data-dojo-attach-point='completedLabelNodeCount' data-dojo-attach-event="onclick: toggleCompletedList"></span>
			<span class="t-2" data-dojo-attach-point="completedLabelNodeTitle" data-dojo-attach-event="onclick: toggleCompletedList"></span>
		</div>
	</li>
	<li class="task_hidden" data-dojo-attach-point="collapsedNode" data-dojo-attach-event="onclick: toggleCollapsed">
		<span class='icon-caret-right' data-dojo-attach-point="iconNode"></span>
		<span data-dojo-attach-point='collapsedTextNode'></span>
		<!-- <div>0 ${localeItemsCollapsed}</div> -->
	</li>
</ul>