<li class="project ${groupClassName} dojoDndItem" dndType="project" data-dojo-attach-point="outerNode" data-task-id="${projectId}">
	<input type="hidden" class="drop_hidden_text" data-dojo-attach-point="projectMoveTitleNode" />
	<input type="hidden" class="drop_hidden" value="${projectId}" data-dojo-attach-point="projectIdInputNode" />
	 	
	<div class="t" data-dojo-attach-point="projectInnerDiv">
		
		<div class="header opened" data-dojo-attach-point="headerNode">
			<table><tr data-dojo-attach-point="projectHeaderRow">
				<td data-dojo-attach-event="onclick: handleToggle" class="pointer project-pointer" title="{#project.click_to_open_project#}">
					<div class="toggle" data-dojo-attach-point="projectHeaderIconWrapper">
						<span class="hidden" data-dojo-attach-point="headerExpandNode">
							<span data-icon="&#xf0da;" aria-hidden="true"></span>
							<span data-icon="&#xe01f;" aria-hidden="true" class="folder"></span>
						</span>
						<span class="hidden" data-dojo-attach-point="headerCollapseNode">
							<span data-icon="&#xf0d7;" aria-hidden="true"></span>
							<span data-icon="&#xf07c;" aria-hidden="true" class="folder"></span>
						</span>
					</div>
				</td>
				<td class="full" data-dojo-attach-event="onclick: handleToggle">
					<div class="ajax_inline">
						<div class="ajax_inline_closed" data-dojo-attach-point="editClosedNode">
							<h1 class="pointer">
								<span class="project_name_input" data-dojo-attach-point="projectTitleNode"></span>
								<span style='float:right;font-size:12px' data-dojo-attach-point='projectDueDateNode'><span>
							</h1>
						</div>
						<form action="" onsubmit="return false" class="ajax_inline_opened hidden project_inline_opened" data-dojo-attach-point="editOpenedNode">
							<div data-dojo-attach-event="onkeypress: handleEditKeyPress">
								<div class="edit">
									<div class="title">
										<input type="hidden" name="id" class="id" value="${projectId}" />
										<input maxlength="200" type="text" class="project_name_input" name="title" data-dojo-type='dijit/form/TextBox' data-dojo-attach-point="projectTitleInput" data-dojo-props="placeHolder:'{#project.project_title#}'"/>
									</div>
									<div class="description">
										<!-- <label onclick="nextElement(this).focus()"></label> -->
										<textarea data-dojo-type='hi.widget.Textarea' class="project_description_input" name="message" data-dojo-attach-point="projectMessageInput" data-dojo-props="placeHolder:'{#project.project_description#}'"></textarea>
										<div class="textarea-resize"><div></div></div>
										<a href="#" data-dojo-attach-point="projectMessageTooltip" data-dojo-attach-event="onclick: handleMessageTooltip" class="formating-help">{#common.text_formatting_help#}</a>
									</div>
									<div class='field-block'>
										<div class="colorValuePicker form-container">
											<label class='label'>Color:</label>
											<div class='dijitInline' data-dojo-attach-point="projectColorValuePickerWrapper"></div>
										</div>
										
										<div class="startDate form-container">
											<div class="label dijitInline">
												<label class="title">{#task.starts#}:</label>
											</div>
											<div class="date dateWrapper dijitInline">
												<input class="txt start_date" type="text" name="start_date" 
														value="" maxlength="10" style=''
														data-dojo-type="hi.widget.form.hiDateTextBox"
														data-dojo-attach-point="startDateWidget"
														data-dojo-attach-event="onChange: handleStartDateChange"
														required="false"
														trim="true"
														constraints="{strict:true}"
														invalidMessage=""/>
											</div>
										</div>

										<div class="dueDate form-container">
											<div class="label dijitInline">
												<label class="title">{#task.due#}:</label>
											</div>
											<div class="date dateWrapper dijitInline">
												<input class="txt due_date" type="text" name="end_date" 
														value="" maxlength="10" style=''
														data-dojo-type="hi.widget.form.hiDateTextBox"
														data-dojo-attach-point="dueDateWidget"
														data-dojo-attach-event="onChange: handleDueDateChange"
														required="false"
														trim="true"
														constraints="{strict:true}"
														invalidMessage=""/>
											</div>
										</div>

										<div class='projectSharing' data-dojo-attach-point="projectSharingWidgetContainer">
											<div class='dijitInline'>
												<label class='label'>{#task.sharing#}</label>
											</div>
											<div class='sharingWrapper'>
												<div data-dojo-type='hi.widget.Sharing' data-dojo-attach-point="projectSharingWidget"></div>
											</div>
										</div>
									</div>

									<div class="buttons" onclick="dojo.stopEvent(event)">
										<button data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick: save" class="btn save btn-success btn-alt btn-flat" type="button">{#project.save#}</button><button data-dojo-type="dijit.form.Button" data-dojo-attach-point="saveButton" data-dojo-attach-event="onClick: cancel" class="btn save btn-flat" type="button">{#project.cancel#}</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</td>
				<td  class="project-item-count">
					<div class="cnt pointer" data-dojo-attach-event="onclick: handleToggle" title="{#project.click_to_open_project#}">
						<span class="cnt_span" data-dojo-attach-point="itemCountNode"></span>
					</div>
				</td>
				<td class="project-percentage" data-dojo-attach-point="itemPercentageNodeCell">
					<span class="percentage" data-dojo-attach-point="itemPercentageNode"></span>
				</td>
				<td class="project-private-mark" data-dojo-attach-point="privateProjectNodeCell">
					<span class="private_mark" >
					</span>
				</td>
				<td class="project-drag">
					<span class="drag dojoDndHandle" data-icon="&#xe02c;" aria-hidden="true" title="{#project.drag_to_sort#}"></span>
				</td>
			
			</tr><tr><td colspan="6" class="submenus" data-dojo-attach-point="submenusNode">
				
				<div class="submenu" data-dojo-attach-point='menuContainer'>
					<ul>
						<li>
							<a href="javascript://" data-dojo-attach-point='addNewButton'
								data-dojo-attach-event="onclick: handleAddItem" title="{#project.click_to_add_task#}">
								<b>{#project.create_new#}</b>
							</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-point='reportButton' data-dojo-attach-event="onclick: handleToggleSubMenu" data-submenu="subsubmenu-reports">{#project.reports#}</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-point='editButton' data-dojo-attach-event="onclick: edit">{#project.edit#}</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-point='publishButton' data-dojo-attach-event="onclick: handleToggleSubMenu" class="hidden" data-submenu="subsubmenu-publish" data-dojo-attach-point="publishButton">Publish...</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-point='duplicateButton' data-dojo-attach-event="onclick: handleToggleSubMenu" data-submenu="subsubmenu-duplicate">{#project.duplicate#}</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-point='removeButton' data-dojo-attach-event="onclick: handleToggleSubMenu" data-submenu="subsubmenu-delete">{#project.delete#}</a>
						</li>
					</ul>
				</div>
				<div class="subsubmenu subsubmenu-duplicate hidden"><ul>
					<li><a href="javascript://" data-dojo-attach-event="onclick: handleDuplicateClick">{#project.duplicate_project#}</a></li>
				</ul></div>
				<div class="subsubmenu subsubmenu-delete hidden">
					<ul>
						<li>
							<a href="javascript://" data-dojo-attach-event="onclick: handleArchiveClick">
								<span data-icon=""></span>
								{#project.move_to_archive#}
							</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-event="onclick: handleDeleteAllClick">
								<span data-icon=""></span>
								{#project.delete_project#}
							</a>
						</li>
						<li>
							<a href="javascript://" data-dojo-attach-event="onclick: handleDeleteClick">
								<span data-icon=""></span>
								{#project.delete_but_keep_tasks#}
							</a>
						</li>
					</ul>
				</div>
				<div class="subsubmenu subsubmenu-share hidden"><ul>
					<li><a href="javascript://" data-dojo-attach-event="onclick: handleProjectShareAll">{#project.share_project_and_tasks#}</a></li>
					<li><a href="javascript://" data-dojo-attach-event="onclick: handleProjectShare">{#project.share_project_only#}</a></li>
				</ul></div>
				<div class="subsubmenu subsubmenu-publish hidden"><ul>
					<li data-dojo-attach-point="submenuPublishNode" class="hidden"><a href="javascript://" data-dojo-attach-event="onclick: handlePublishClick"><span data-icon="&#xe027;"></span>Publish Project</a></li>
					<li data-dojo-attach-point="submenuPublishedNode" class="hidden"><a data-dojo-attach-point="submenuPublishedLink" href="" target="_blank">Published at <span data-dojo-attach-point="submenuPublishedText"></span></a></li>
					<li data-dojo-attach-point="submenuUnpublishNode" class="hidden"><a href="javascript://" data-dojo-attach-event="onclick: handleUnpublishClick"><span data-icon="&#xf05c;"></span>Stop publishing</a></li>
				</ul></div>
				<div class="subsubmenu subsubmenu-unshare hidden">
					<ul>
						<li><a href="javascript://" data-dojo-attach-event="onclick: handleProjectUnShare">{#project.unshare_project#}</a></li>
					</ul>
				</div>
				<div class="subsubmenu subsubmenu-reports hidden">
					<ul>
						<li><a href="javascript://" data-dojo-attach-event="onclick: handleProgressReportClick">Progress report</a></li>
						<li><a href="javascript://" data-dojo-attach-event="onclick: handleTimeReportClick">Time tracking</a></li>
					</ul>
				</div>
			</td></tr>
				<tr>
					<td colspan="6">
						<div class="project-description hidden forceSoftWrap">
							<div data-dojo-attach-point="projectMessageNode" class='project-description-txt'></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="tasks full" data-dojo-attach-point="tasksNode">
			<div class="tasks-content" data-dojo-attach-point="contentNode"></div>
		</div>
		
	</div>
</li>
