<label id="label_max_comments_${_report}" for="${_report}_max_comments">Include Comments:</label>
<select id="${_report}_max_comments" name="max_comments_per_task">
	<option value="0" selected="selected">None</option>
	<option value="1">Last Comment</option>
	<option value="10">Last 10</option>
	<option value="25">Last 25</option>
	<option value="50">Last 50</option>
</select>