@font-face {
	font-family: 'hitask';
	src:url('fonts/hitask.eot?-qh85y4');
	src:url('fonts/hitask.eot?#iefix-qh85y4') format('embedded-opentype'),
		url('fonts/hitask.woff?-qh85y4') format('woff'),
		url('fonts/hitask.ttf?-qh85y4') format('truetype'),
		url('fonts/hitask.svg?-qh85y4#hitask') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hitask';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
	content: "\e950";
}

.icon-bell2:before {
	content: "\e951";
}

.icon-stopwatch:before {
	content: "\e952";
}

.icon-calendar4:before {
	content: "\e953";
}

.icon-drawer3:before {
	content: "\e95c";
}

.icon-drawer2:before {
	content: "\e95d";
}

.icon-box-add2:before {
	content: "\e95e";
}

.icon-box-remove:before {
	content: "\e95f";
}

.icon-bubble3:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubble22:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-equalizer:before {
	content: "\e992";
}

.icon-equalizer2:before {
	content: "\e993";
}

.icon-magic-wand:before {
	content: "\e997";
}

.icon-stats-bars:before {
	content: "\e99c";
}

.icon-stats-bars2:before {
	content: "\e99d";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-menu2:before {
	content: "\e9be";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-cloud:before {
	content: "\e9c1";
}

.icon-cloud-download2:before {
	content: "\e9c2";
}

.icon-cloud-upload2:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-loop2:before {
	content: "\ea2e";
}

.icon-move-up:before {
	content: "\ea46";
}

.icon-move-down:before {
	content: "\ea47";
}

.icon-sort-alpha-asc:before {
	content: "\ea48";
}

.icon-sort-alpha-desc:before {
	content: "\ea49";
}

.icon-sort-numeric-asc:before {
	content: "\ea4a";
}

.icon-sort-numberic-desc:before {
	content: "\ea4b";
}

.icon-sort-amount-asc:before {
	content: "\ea4c";
}

.icon-sort-amount-desc:before {
	content: "\ea4d";
}

.icon-checkbox-checked2:before {
	content: "\ea52";
}

.icon-checkbox-unchecked2:before {
	content: "\ea53";
}

.icon-libreoffice:before {
	content: "\eade";
}

.icon-search2:before {
	content: "\f002";
}

.icon-star2:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-check:before {
	content: "\f00e";
}

.icon-times:before {
	content: "\f00f";
}

.icon-gear:before {
	content: "\f013";
}

.icon-trash-o:before {
	content: "\f014";
}

.icon-file-o:before {
	content: "\f016";
}

.icon-clock-o:before {
	content: "\f017";
}

.icon-inbox3:before {
	content: "\f01d";
}

.icon-refresh2:before {
	content: "\f023";
}

.icon-tag4:before {
	content: "\f02d";
}

.icon-tags2:before {
	content: "\f02e";
}

.icon-calendar5:before {
	content: "\f073";
}

.icon-folder2:before {
	content: "\f07b";
}

.icon-folder-open3:before {
	content: "\f07d";
}

.icon-bar-chart-o:before {
	content: "\f081";
}

.icon-bell-o:before {
	content: "\f0a3";
}

.icon-paperclip:before {
	content: "\f0c6";
}

.icon-comment-o:before {
	content: "\f0e5";
}

.icon-bell3:before {
	content: "\f0f3";
}

.icon-plus-square:before {
	content: "\f0fe";
}

.icon-location-arrow:before {
	content: "\f124";
}

.icon-calendar-o:before {
	content: "\f133";
}

.icon-ellipsis-h:before {
	content: "\f141";
}

.icon-ellipsis-v:before {
	content: "\f142";
}

.icon-sort-alpha-asc2:before {
	content: "\f15d";
}

.icon-sort-alpha-desc2:before {
	content: "\f15e";
}

.icon-sort-amount-asc2:before {
	content: "\f160";
}

.icon-sort-amount-desc2:before {
	content: "\f161";
}

.icon-sort-numeric-asc2:before {
	content: "\f162";
}

.icon-sort-numeric-desc:before {
	content: "\f163";
}

.icon-archive2:before {
	content: "\f187";
}

.icon-plus-square-o:before {
	content: "\f196";
}

.icon-send:before {
	content: "\f1d8";
}

.icon-send-o:before {
	content: "\f1d9";
}

.icon-sliders:before {
	content: "\f1de";
}

.icon-share-alt:before {
	content: "\f1e0";
}

.icon-share-alt-square:before {
	content: "\f1e1";
}

.icon-uniF000:before {
	content: "\f000";
}

.icon-chevron-up:before {
	content: "\e000";
}

.icon-chevron-down:before {
	content: "\e001";
}

.icon-question-sign:before {
	content: "\e002";
}

.icon-comment-alt:before {
	content: "\e003";
}

.icon-trash:before {
	content: "\e004";
}

.icon-star-empty:before {
	content: "\e005";
}

.icon-star:before {
	content: "\e006";
}

.icon-plus:before {
	content: "\e007";
}

.icon-attachment:before {
	content: "\e008";
}

.icon-play:before {
	content: "\e009";
}

.icon-pause:before {
	content: "\e00a";
}

.icon-stop:before {
	content: "\e00b";
}

.icon-arrow-up:before {
	content: "\e00c";
}

.icon-arrow-down:before {
	content: "\e00d";
}

.icon-eye-blocked:before {
	content: "\e00e";
}

.icon-lock:before {
	content: "\e00f";
}

.icon-box-add:before {
	content: "\e010";
}

.icon-drawer:before {
	content: "\e011";
}

.icon-copy:before {
	content: "\e012";
}

.icon-calendar:before {
	content: "\e014";
}

.icon-file:before {
	content: "\e015";
}

.icon-copy2:before {
	content: "\e016";
}

.icon-unlock:before {
	content: "\e017";
}

.icon-filter:before {
	content: "\e018";
}

.icon-sort:before {
	content: "\e019";
}

.icon-cog:before {
	content: "\e01b";
}

.icon-cogs:before {
	content: "\e01c";
}

.icon-search:before {
	content: "\e01d";
}

.icon-folder-close-alt:before {
	content: "\e01e";
}

.icon-folder-close:before {
	content: "\e01f";
}

.icon-user:before {
	content: "\e020";
}

.icon-group:before {
	content: "\e021";
}

.icon-plus-sign:before {
	content: "\e022";
}

.icon-google-plus:before {
	content: "\f0d5";
}

.icon-bullhorn:before {
	content: "\f0a1";
}

.icon-github-sign:before {
	content: "\f092";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-facebook-sign:before {
	content: "\f082";
}

.icon-twitter:before {
	content: "\f099";
}

.icon-suitcase:before {
	content: "\f0f2";
}

.icon-info-sign:before {
	content: "\f05a";
}

.icon-folder-open-alt:before {
	content: "\f115";
}

.icon-folder-open:before {
	content: "\f07c";
}

.icon-bell:before {
	content: "\f0a2";
}

.icon-download-alt:before {
	content: "\f019";
}

.icon-briefcase:before {
	content: "\e023";
}

.icon-table:before {
	content: "\e024";
}

.icon-skype:before {
	content: "\e025";
}

.icon-eye:before {
	content: "\e026";
}

.icon-pencil:before {
	content: "\f040";
}

.icon-tag:before {
	content: "\f02b";
}

.icon-cloud-download:before {
	content: "\f0ed";
}

.icon-cloud-upload:before {
	content: "\f0ee";
}

.icon-quote-left:before {
	content: "\f10d";
}

.icon-quote-right:before {
	content: "\f10e";
}

.icon-circle:before {
	content: "\f111";
}

.icon-copy3:before {
	content: "\f0c5";
}

.icon-upload-alt:before {
	content: "\f093";
}

.icon-uniE081:before {
	content: "\e081";
}

.icon-uniE07E:before {
	content: "\e07e";
}

.icon-uniE027:before {
	content: "\e027";
}

.icon-uniE07D:before {
	content: "\e07d";
}

.icon-uniE07A:before {
	content: "\e07a";
}

.icon-uniE028:before {
	content: "\e028";
}

.icon-uniE029:before {
	content: "\e029";
}

.icon-uniE02A:before {
	content: "\e02a";
}

.icon-uniE02B:before {
	content: "\e02b";
}

.icon-uniE02C:before {
	content: "\e02c";
}

.icon-uniE040:before {
	content: "\e040";
}

.icon-uniE04E:before {
	content: "\e04e";
}

.icon-uniE053:before {
	content: "\e053";
}

.icon-uniE05E:before {
	content: "\e05e";
}

.icon-uniE06D:before {
	content: "\e06d";
}

.icon-uniE06C:before {
	content: "\e06c";
}

.icon-uniE073:before {
	content: "\e073";
}

.icon-uniE074:before {
	content: "\e074";
}

.icon-uniE075:before {
	content: "\e075";
}

.icon-uniE087:before {
	content: "\e087";
}

.icon-uniE08E:before {
	content: "\e08e";
}

.icon-uniE090:before {
	content: "\e090";
}

.icon-uniE096:before {
	content: "\e096";
}

.icon-remove-sign:before {
	content: "\f057";
}

.icon-close:before {
	content: "\e02d";
}

.icon-cancel-circle:before {
	content: "\e02e";
}

.icon-caret-down:before {
	content: "\f0d7";
}

.icon-caret-right:before {
	content: "\f0da";
}

.icon-uniE07F:before {
	content: "\e07f";
}

.icon-uniE060:before {
	content: "\e060";
}

.icon-uniE02F:before {
	content: "\e02f";
}

.icon-caret-left:before {
	content: "\f0d9";
}

.icon-caret-up:before {
	content: "\f0d8";
}

.icon-calendar3:before {
	content: "\e030";
}

.icon-folder-open2:before {
	content: "\e031";
}

.icon-tag3:before {
	content: "\e032";
}

.icon-folder:before {
	content: "\e033";
}

.icon-file2:before {
	content: "\e034";
}

.icon-file3:before {
	content: "\e035";
}

.icon-share:before {
	content: "\e036";
}

.icon-eye-open:before {
	content: "\f06e";
}

.icon-checkbox-partial:before {
	content: "\e037";
}

.icon-checkbox-unchecked:before {
	content: "\e038";
}

.icon-checkbox-checked:before {
	content: "\e039";
}

.icon-new-tab:before {
	content: "\e03b";
}

.icon-checkmark:before {
	content: "\e03c";
}

.icon-checkmark2:before {
	content: "\e03d";
}

.icon-globe:before {
	content: "\e03e";
}

.icon-link:before {
	content: "\e03f";
}

.icon-cog2:before {
	content: "\e041";
}

.icon-settings:before {
	content: "\e042";
}

.icon-users:before {
	content: "\e043";
}

.icon-user2:before {
	content: "\e044";
}

.icon-user3:before {
	content: "\e045";
}

.icon-bubble:before {
	content: "\e046";
}

.icon-bubble2:before {
	content: "\e047";
}

.icon-chevron-right:before {
	content: "\f054";
}

.icon-chevron-left:before {
	content: "\f053";
}

.icon-uniE03A:before {
	content: "\e03a";
}

.icon-popout:before {
	content: "\e048";
}

.icon-popout2:before {
	content: "\e049";
}

.icon-refresh:before {
	content: "\f021";
}

.icon-repeat:before {
	content: "\f01e";
}

.icon-tags:before {
	content: "\f02c";
}

.icon-remove-circle:before {
	content: "\f05c";
}

.icon-history:before {
	content: "\e013";
}

.icon-earth:before {
	content: "\e04a";
}

.icon-remove:before {
	content: "\e04b";
}

.icon-warning-sign:before {
	content: "\f071";
}

.icon-edit:before {
	content: "\f044";
}

.icon-ok-circle:before {
	content: "\f05d";
}

.icon-inbox2:before {
	content: "\f01c";
}

.icon-bar-chart:before {
	content: "\f080";
}

.icon-exclamation-sign:before {
	content: "\f06a";
}

.icon-plus-sign2:before {
	content: "\f055";
}

.icon-minus-sign:before {
	content: "\f056";
}

.icon-ok-sign:before {
	content: "\f058";
}

.icon-reply:before {
	content: "\f112";
}

.icon-th-large:before {
	content: "\f009";
}

.icon-th:before {
	content: "\f00a";
}

.icon-ok:before {
	content: "\f00c";
}

.icon-remove2:before {
	content: "\f00d";
}

.icon-list-alt:before {
	content: "\f022";
}

.icon-qrcode:before {
	content: "\f029";
}

.icon-time:before {
	content: "\e01a";
}

.icon-book:before {
	content: "\e04c";
}

.icon-comments-alt:before {
	content: "\f0e6";
}

.icon-radio-checked:before {
	content: "\e04f";
}

.icon-radio-unchecked:before {
	content: "\e050";
}

.icon-inbox:before {
	content: "\e04d";
}

.icon-trash2:before {
	content: "\e051";
}

.icon-tag2:before {
	content: "\e052";
}

.icon-archive:before {
	content: "\e054";
}

.icon-clock:before {
	content: "\e055";
}

.icon-calendar2:before {
	content: "\e056";
}

.icon-popup:before {
	content: "\e057";
}

.icon-sent:before {
	content: "\e058";
}

.icon-chat:before {
	content: "\e059";
}

.icon-question:before {
	content: "\e05a";
}

.icon-minus:before {
	content: "\e05b";
}

.icon-plus2:before {
	content: "\e05c";
}

.icon-cancel:before {
	content: "\e05d";
}

