
/*******************DATE AND TIME*************/

#datetime .calendar {
	position: relative;
	width: 156px;
	z-index: 10;
	margin-left: 5px;
	margin-top: -5px;
}

#datetime .calendar .top {
    background: url(/img/datetime_calendar_top_left.png) left top no-repeat;
	padding: 0 0 0 5px;
	height: 10px;
	position: relative;
}
* html #datetime .calendar .top {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/datetime_calendar_top_left.png, sizingMethod=crop);
}
#datetime .calendar .top .back {
    height: 10px;
    margin: 0 10px 0 0;
    background: #86AEDE;
}
#datetime .calendar .top .right {
    background: url(/img/datetime_calendar_top_right.png) left top no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}
* html #datetime .calendar .top .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/datetime_calendar_top_right.png, sizingMethod=crop);
}

#datetime .calendar .bottom {
    background: url(/img/datetime_calendar_bottom_left.png) left top no-repeat;
    padding: 0 0 0 25px;
    height: 15px;
    position: relative;
}
* html #datetime .calendar .bottom {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/datetime_calendar_bottom_left.png, sizingMethod=crop);
}
#datetime .calendar .bottom .back {
    height: 15px;
    margin: 0 11px 0 0;
    background: url(/img/datetime_calendar_bottom_back.png) left top repeat-x;
}
* html #datetime .calendar .bottom .back {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/datetime_calendar_bottom_back.png, sizingMethod=scale);
}
#datetime .calendar .bottom .right {
    background: url(/img/datetime_calendar_bottom_right.png) left top no-repeat;
    height: 15px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
* html #datetime .calendar .bottom .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/datetime_calendar_bottom_right.png, sizingMethod=crop);
}

#datetime .calendar .cont {
    width: 100%;
}
#datetime .calendar .cont .left {
    width: 1px;
	background: #83ACDE;
}
#datetime .calendar .cont .right {
    width: 6px;
    background: url(/img/datetime_calendar_cont_right.png) left top repeat-y;
}
* html #datetime .calendar .cont .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/datetime_calendar_cont_right.png, sizingMethod=scale);
}
#datetime .calendar .cont .back {
    background: #FFF url(/img/datetime_calendar_cont_back.png) left bottom repeat-x;
	padding: 0 10px;
}

#datetime .calendar .navigation {
	background: #83ACDE;
	text-align: center;
	margin: -8px -10px 0 -10px;
	padding: 0 10px;
	font-weight: bold;
	position: relative;
}
#datetime .calendar .navigation.topNav {
	height: 19px;
	padding-bottom: 2px;
	//padding-bottom: 1px;
}
#datetime .calendar .navigation.bottomNav {
	margin-top: 0;
	height: 21px;
	//height: 22px;
}
#datetime .calendar .navigation table {
	margin: 0 auto;
}
#datetime .calendar .navigation.bottomNav table {
	border-top: 1px solid #6891BF;
}
#datetime .calendar .navigation.bottomNav table td {
	padding-top: 1px;
}
#datetime .calendar .navigation .text {
	color: #FFF;
	width: 120px;
	text-align: center;
	line-height: 150%;
}
#datetime .calendar .navigation a {
	color: #FFF;
}
#datetime .calendar .navigation img {
	vertical-align: top;
	margin: 6px 0 0 0;
}
#datetime .calendar .navigation .prev {
	margin: 0 6px 0 0;
}
#datetime .calendar .navigation .next {
	margin: 0 0 0 6px;
}

#datetime .calendar .lt {
	background: url(/img/datetime_calendar_lt.gif) left top no-repeat;
	margin: 0 0 0 -10px;
	padding: 0 0 0 10px;
}
#datetime .calendar .rt {
	background: url(/img/datetime_calendar_rt.gif) right top no-repeat;
	margin: 0 -10px 0 0;
	padding: 0 10px 0 0;
}

#datetime .calendar .table {
	width: 100%;
	border-bottom: 1px solid #78A4DB;
}
#datetime .calendar .table td,
#datetime .calendar .table th {
	line-height: 12px;
	font-size: 95%;
	width: 14%;
}
#datetime .calendar .table th {
	border-bottom: 1px solid #78A4DB;
	font-weight: normal;
	padding: 8px 0 1px 0;
}

#datetime .calendar .table td.today {
	background: #D9E6F5;
}

#datetime .calendar .table td a {
	text-align: center;
	font-weight: bold;
	display: block;
	text-decoration: none;
	height: 12px;
	padding: 1px;
	color: #000;
}
#datetime .calendar .table td.disabled a {
	font-weight: normal;
	color: #CFCFCF;
}
#datetime .calendar .table td.today a {
	color: #759BCA;
}
#datetime .calendar .table td.selected a {
	border: 1px solid #438DC3;
	padding-top: 0;
	padding-bottom: 0;
}
#datetime .calendar .table td a:hover {
	background: #438DC3;
	color: #FFF;
}

#datetime .calendar div.today {
	text-align: center;
	margin: 2px 0 -5px 0;
	position: relative;
	z-index: 1;
	line-height: 150%;
}

#datetime .time {
	position: relative;
	width: 50px;
	z-index: 10;
	margin-left: 5px;
	margin-top: -71px;
}
#datetime.time_format_12 .time {
	width: 65px;
}

#datetime .time .top {
    background: url(/img/popup_top_left.png) left top no-repeat;
	padding: 0 0 0 6px;
	height: 30px;
	position: relative;
}
* html #datetime .time .top {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_top_left.png, sizingMethod=crop);
}
#datetime .time .top .back {
    height: 29px;
	border-top: 1px solid #86AEDE;
    margin: 0 11px 0 0;
    background: #FFF;
}
#datetime .time .top .right {
    background: url(/img/popup_top_right.png) left top no-repeat;
    height: 30px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
* html #datetime .time .top .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_top_right.png, sizingMethod=crop);
}

#datetime .time .bottom {
    background: url(/img/popup_bottom_left.png) left top no-repeat;
    padding: 0 0 0 30px;
    height: 10px;
    position: relative;
}
* html #datetime .time .bottom {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_left.png, sizingMethod=crop);
}
#datetime .time .bottom .back {
    height: 10px;
    margin: 0 11px 0 0;
    background: url(/img/popup_bottom_back.png) left top repeat-x;
}
* html #datetime .time .bottom .back {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_back.png, sizingMethod=scale);
}
#datetime .time .bottom .right {
    background: url(/img/popup_bottom_right.png) left top no-repeat;
    height: 10px;
    width: 11px;
    position: absolute;
    right: 0px;
    top: 0px;
}
* html #datetime .time .bottom .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_bottom_right.png, sizingMethod=crop);
}

#datetime .time .cont {
    width: 100%;
}
#datetime .time .cont .left {
    width: 1px;
	background: #83ACDE;
}
#datetime .time .cont .right {
    width: 6px;
    background: url(/img/popup_cont_right.png) left top repeat-y;
}
* html #datetime .time .cont .right {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/popup_cont_right.png, sizingMethod=scale);
}
#datetime .time .cont .back {
    background: #FFF url(/img/popup_cont_back.png) left bottom repeat-x;
}

#datetime .time ul {
	margin: -23px 0 1px 0;
	position: relative;
	list-style: none;
}
#datetime .time li {
	padding: 2px 0;
	//padding: 1px 0;
	font-size: 95%;
	text-align: center;
	line-height: 150%;
}
#datetime .time li a {
	color: #999;
}
#datetime .time li.side {
	background: #B5C9E3;
}
#datetime .time li.side a {
	color: #7C91AA;
}
#datetime .time li.active {
	border: 3px solid #ED0000;
	margin: 0 -1px;
	padding: 0;
	position: relative;
	font-size: 100%;
	text-align: left;
}
* html #datetime .time li.active {
	height: 0;
	margin-bottom: -5px;
}
#datetime .time li.active div {
	text-align: center;
}
#datetime .time li.active a {
	color: #36C;
	font-weight: bold;
}

#datetime .time .arrow {
	position: absolute;
	left: 0;
	width: 100%;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(/img/datetime_time_arrows.gif);
	cursor: pointer;
}
#datetime .time .arrow.prev {
	top: -23px;
	background-position: center top;
}
#datetime .time .arrow.next {
	bottom: -23px;
	background-position: center -20px;
}
#datetime .time .arrow a {
	display: block;
	height: 20px;
}
#datetime .time .arrow img {
	display: block;
	margin: 0 auto;
	padding: 7px 0 0 0;
}

#team_menu {
	width: 150px;
	z-index: 10;
	margin-top: 13px;
	margin-left: -144px;
	position: relative;
}