/* form main css */
.image_cache_container
{
	visibility: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/* */

html {
	background: #FFF url(/img/buffer/html_back.png) left top repeat-x;
	padding: 30px 10px;
}
body {
    font-family: HelveticaNeue,Arial, sans-serif;
	background: none;
	width: 756px;
	margin: 0 auto;
	font-size: 16px;
	color: #383838;
	position: relative;
}
a:link, a:visited, a:hover, a:active  {
	color: #165E98;
}
a:hover {
	text-decoration: none;
}
a img {
	border: 0;
}
h1 {
	font-family: HelveticaNeue,Arial, sans-serif;
	font-weight: bold;
	font-size: 188%;
	color: #0081C1;
}
h2 {
	font-size: 157%;
	font-weight: normal;
}
h3 {
	font-size: 130%;
}
h4 {
	font-size: 100%;
}
.lt, .rt, .rb, .lb {
	background-repeat: no-repeat;
}
.lt {
	background-position: left top;
}
.rt {
	background-position: right top;
}
.rb {
	background-position: right bottom;
}
.lb {
	background-position: left bottom;
}
.error {
	color: #F00 !important;
	font-weight: bold;
}

/*******************HEADER********************/

#header {
	text-align: center;
}

/*******************SCREEN********************/

#screen {
	width: 611px;
	margin: 35px auto 0 auto;
	position: relative;
}
#screen .tooltip {
	position: absolute;
}
#screen .tooltip.tooltip1 {
	bottom: 98px;
	left: -72px;
}
#screen .tooltip.tooltip2 {
	bottom: 96px;
	left: 192px;
}
#screen .tooltip.tooltip3 {
	bottom: 93px;
	left: 451px;
}

/*******************TEXT**********************/

#text {
	margin: 0 -7px;
	position: relative;
}
#text table {
	width: 100%;
}
#text td {
	padding: 0 7px;
	width: 33%;
}
#text .lt {
	background: #D4EFFC url(/img/buffer/text_lt.gif) left top no-repeat;
}
#text .rt {
	background: url(/img/buffer/text_rt.gif) right top no-repeat;
}
#text .lb {
	background: url(/img/buffer/text_lb.gif) left bottom no-repeat;
}
#text .rb {
	background: url(/img/buffer/text_rb.gif) right bottom no-repeat;
}
#text .number {
	padding: 18px 25px 20px 45px;
	line-height: 1.2em;
	background-position: 15px 19px;
	background-repeat: no-repeat;
	min-height: 77px;
}
* html #text .number {
	height: 77px;
}
#text td.number1 .number {
	background-image: url(/img/buffer/text_number1.gif);
}
#text td.number2 .number {
	background-image: url(/img/buffer/text_number2.gif);
}
#text td.number3 .number {
	background-image: url(/img/buffer/text_number3.gif);
}

/*******************LINK**********************/

#link {
	text-align: center;
	margin: 30px 0 0 0;
}
* html #link {
	padding-bottom: 1px;
}