* {	margin: 0; padding: 0; }

HTML { height: 100%}

BODY { font: 12px Helvetica, Arial, sans-serif; height: 100%; }

A {	color: blue; outline: none;	text-decoration: underline; }
A:hover { text-decoration: none; }


IMG { border: none; margin: 0px; padding: 0px; }
INPUT { vertical-align: middle }
P, FORM, H1, H2, H3, H4, H5, H6 { padding: 0; margin: 0; font-weight: normal; display: block; }
BR {font-size: 1;}

INPUT { vertical-align: middle; }

H1 { font-size: 14px; }
H2 { font-size: 12px; }
H3 { font-size: 18px; }
H4 { font-size: 13px; }
H5 { font-size: 12px; }
H6 { font-size: 11px; }

#wrapper { width: 100%; min-width: 980px; min-height: 100%; height: auto !important; height: 100%; }

/* Header -----------------------------------------------------------------------------*/

#header { height: 40px;	background: url(/img/top_bg.gif) repeat-x left top; }

#top { width: 980px; margin: 0 auto; height: 40px; background: url(i/top_bg_pic.gif) no-repeat left top; }


/* Middle -----------------------------------------------------------------------------*/

#content {
background:transparent url(i/middle_bg.gif) repeat-x scroll left 90px;
height:200px;
padding:0;
width:350px;
} 

#block1 {  /*border: 1px solid #4481d1;*/ }

#b1_header { background-color: #4481d1; height: 21px; text-align: center; }
#b1_header H5 { color: #fff; text-align: center; font-weight: bold; float: left; width: 315px;}
#b1_header A { display: block; float: right; margin: 3px 3px 0 0; }

#block1 H6 { color: #0e6bab; background-color: #f4f8fe; height: 45px; border-bottom: 1px dotted #c0c0c0; }
#block1 H6 A IMG { margin: 9px 0 0 10px; }
#loginLogo { display: block; float: right; margin: 14px 20px 0 0;}

#block1 H6 A.logo { display: block;  margin: 14px 20px 0 0;}


#b1_content { display: block; }
#b1_content TABLE { border: 1px; margin: 20px 0 0 0; }
#b1_content TABLE  { font-size: 14px; font-weight: bold;  }
#b1_content TABLE INPUT { height: 20px; width: 150px; }





#create_task_content TABLE { border: 1px;font-size: 12px;}
#create_task_content TABLE  SELECT { height: 20px;}
#create_task_content TABLE .task_title { height: 20px; width: 282px; }
#create_task_content TABLE .task_datetime { height: 20px; width: 68px; }


#create_task_content TABLE .task_reminder { height: 20px; width: 22px; }
#create_task_content TABLE LABEL { padding-right: 5px;}

SPAN.btn { background: url(/img/googlecal/btn.gif) no-repeat left top; font-size: 12px; height: 18px; width: 60px; display: block; text-align: center; cursor: pointer; margin: 7px 0 0 0; }
SPAN.btn_return { background: url(/img/googlecal/btn.gif) no-repeat left top;
font-size: 12px;
height: 18px;
width: 60px;
display: block;
text-align: center;
cursor: pointer;
margin:132px 1px 1px -6px; }



#b1_content A { font-size: 11px; font-weight: normal; }


#block2 { width: 99%; border: 1px solid #4481d1; }

#b2_header { background-color: #4481d1; height: 21px; text-align: center; }
#b2_header H5 { color: #fff; text-align: center; font-weight: bold; float: left; width: 315px; }
#b2_header A { display: block; float: right; margin: 3px 3px 0 0; }

#block2 H4 { color: #0e6bab; background-color: #f4f8fe; height: 35px; border-bottom: 1px dotted #c0c0c0; }
#block2 H4 .logo { margin: 3px 0 0 10px; }
#block2 H4 .add_new { margin: -2px 2px 0 10px; }
#block2 H4 .add_new_href{ margin: -2px 2px 0 -1px; }


#block2 H4 DIV { display: inline; float: left; margin: 12px 0 0 0; text-align: center; color: #000; font-size: 18px;}

#b2_content { display: block; }


.form1 { overflow-y	: scroll; height: 210px;  }
.form1 table { margin: 10px; width: 300px; }
.form1 table TR:hover { background-color: #e6e6e6; }
.form1 table TD H2 { color: blue; text-align: right; }
.form1 table TD { padding: 0 0 5px 0; }
.form1 .check { text-decoration: line-through; }
.form1 INPUT { padding: 0 0 2px 0; }

#block3 {}

#b3_header { background-color: #4481d1; height: 21px; text-align: center; }
#b3_header H5 { color: #fff; text-align: center; font-weight: bold; float: left; margin: 1px 0 0 0; width: 315px; }
#b3_header A { display: block; float: right; margin: 3px 3px 0 0; }

#block3 H4 { color: #0e6bab; background-color: #f4f8fe; height: 45px; border-bottom: 1px dotted #c0c0c0; }
#block3 H4 IMG { margin: 9px 0 0 10px; }
#block3 H4 A { display: block; float: right; margin: 14px 20px 0 0;}

#b3_content { display: block; }
#b3_content H1 { margin: 10px; font-weight: bold; }
#b3_content H1 DIV { display: inline; float: right; font-size: 12px; color: blue; font-weight: normal; }
#b3_content H1 P { padding: 5px 0 0 0; font-size: 12px; }
/* Footer -----------------------------------------------------------------------------*/

#footer { margin: -40px auto 0; min-width: 980px; height: 40px; background: url(i/bottom_bg.gif) repeat-x left top; } 
#bottom { width: 980px; margin: 0 auto; }




#datetime .calendar .cont {
	border-collapse: collapse;
}
#datetime .time .cont {
	border-collapse: collapse;
}
TD .text {
	font-size:	10px;
}

#datetime .calendar .table td, #datetime .calendar .table th {
	font-size:10px;
	line-height:12px;
	width:14%;
}
DIV .today {
	font-size:10px;
}

#datetime .time li {
	font-size:12px;
}

#datetime .time li.active {
	font-size:12px;
}

#return_anchor {
	padding-left:10px;
	padding-top:7px;
}

.googlecal_loading_img {
	padding-top:93px;
	padding-left:157px;
}
.googlecal_loading_label {
	padding-top:98px;
	padding-left:150px;
}