.products {
	background: url(/img/promo2010/products-background-shadow.png) 50% 100% no-repeat;
	padding-bottom: 53px;
}

.products h1 {
	height: 70px;
	padding: 16px 0 0;
	text-align: center;
	font: 2.66em Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.products .content_wrapper {
	width: 858px;
}

.heading-over-content .header-whitespace {
	height: 0;
}
.heading-over-content .products .content_wrapper {
	padding-top: 50px;
}
.heading-over-content #main {
	height: 0;
}

.products .products-list {
	background: url(/img/promo2010/products-background-ie.png) 0 0 repeat;
	background: rgba(0,0,0,0.18);
	
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	
	padding: 9px;
}
* html .products .products-list {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo2010/products-background-ie.png, sizingMethod=scale);
	zoom: 1;
}

.products-list .background {
	background: #fff;
	
	/* IE6 fix */
	width: 100%;
	position: relative;
}

.products-list table {
	width: 100%;
	font: 1.5em Helvetica, Arial, sans-serif;
	color: #666;
	border: 1px solid #E0E0E0;
}
	/* Using prefixes tour, subscribe to fix IE6 link color */
	.products-list td a,
	.products .products-list td a,
	.tour .products-list td a,
	.subscribe .products-list td a {
		color: #666;
	}
	.products-list h2 {
		font-size: 1.44em;
		color: #434343;
	}
	
	.products-list th,
	.products-list td {
		vertical-align: middle;
		text-align: center;
		border-left: 1px solid #E5E5E5;
		border-top: 1px solid #E5E5E5;
		text-align: center;
		background: #F3F3F3;
	}
	
	.products-list th {
		font-weight: bold;
		color: #494949;
		border-top: 0;
		padding: 2px 5px 0;
	}
		.products-list th.title-business {
			vertical-align: top;
			
			padding: 18px 5px 5px;
		}
			.products-list th.title-business h2 {
				color: #F26522;				
			}
		.products-list th.title-premium {
			vertical-align: top;
			color: #CE8C35;
			padding: 19px 5px 7px;
		}
			.products-list th.title-premium h2 {
				color: #CE8C35;				
			}
			
		.products-list th p {
			font-weight: normal;
			color: #333;
		}
		
	.products-list td {
		padding: 8px 5px 9px;
	}
	
	.products-list td.label,
	.products-list th.label {
		border-left: 0;
		text-align: left;
		font-size: 0.8em;
		background: #fff;
		padding-left: 19px;
		padding-right: 19px;
	}
	
	.products-list td.inner_col,
	.products-list th.title-premium,
	.products-list td.center_col,
	.products-list th.title-business {
		background: #FDFBDF;
		color: #664949;
		font-weight: bold;
	}
	.products-list td.inner_col a,
	.products-list td.center_col a {
		color: #664949;
	}
	
	.products-list .buttons td {
		padding: 19px 5px 17px;
	}
	
	.products-list .button {
		display: inline-block;
		border: 0;
		padding: 0;
		margin: 0;
		background: url(/img/promo2010/products-buttons.png) 0 0 no-repeat;
		width: 88px;
		height: 34px;
		overflow: hidden;
		cursor: pointer;
	}
		.products-list td.outter_col .button {
			background-position: 0  -34px;
		}
	
	.products-list .button-renew {
		background-position: 0 -68px;
	}
		.products-list td.outter_col .button-renew {
			background-position: 0 -102px;
		}
	
	.products-list .button-upgrade {
		background-position: 0 -136px;
	}
		.products-list td.outter_col .button-upgrade {
			background-position: 0 -170px;
		}
		
	.products-list .button-renew-later {
		width: 119px;
	}
		.products-list td.outter_col .button-renew-later {
			background: url(/img/promo2010/products-buttons-renew.png) 0 0 no-repeat;
		}
			
.tour .products-list table {
	font-size: 1.285em;
}