/*******************ABSTRACT******************/

html {
	background: #FFF url(/img/promo/html_back.png) left top repeat-x;
	padding: 15px 10px 30px 10px;
}
body {
	background: none;
	width: 790px;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
	position: relative;
}
a:link, a:visited, a:hover, a:active  {
	color: #165E98;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
//	font-family: "Trebuchet MS", Geneva, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 315%;
}
h2 {
	font-size: 174%;
}
h3 {
	font-size: 130%;
}
h4 {
	font-size: 100%;
}
.lt, .rt, .rb, .lb {
	background-repeat: no-repeat;
}
.lt {
	background-position: left top;
}
.rt {
	background-position: right top;
}
.rb {
	background-position: right bottom;
}
.lb {
	background-position: left bottom;
}
.error {
	color: #F00 !important;
	font-weight: bold;
}

/*******************HEADER********************/

#header {
	margin: 0 25px 10px 25px;
	font-size: 115%;
}
#header .logo {
	position: relative;
	z-index: 1;
}
#header ul {
	list-style: none;
	margin: 15px 0 0 0;
	position: absolute;
	right: 25px;
}
#header li {
	float: left;
	margin: 0 0 0 70px;
}
#header li.active {
	font-weight: bold;
}

/*******************MAIN**********************/

#main {
	background: #FFF url(/img/promo/main_back_bottom.png) left bottom repeat-x;
	position: relative;
	margin: 0 0 15px 0;
}
#main .border {
	border: 5px solid #E7F1FF;
	background: url(/img/promo/main_back_top.png) left top repeat-x;
}
#main .lt {
	margin: -5px;
	background-image: url(/img/promo/main_lt.gif);
}
#main .rt {
	background-image: url(/img/promo/main_rt.gif);
}
#main .rb {
	background-image: url(/img/promo/main_rb.gif);
}
#main .lb {
	background-image: url(/img/promo/main_lb.gif);
	padding: 25px 50px 50px 50px;
}

#main h2 {
	color: #1B6099;
	padding: 10px 0 30px 50px;
	margin: -10px 0 0 0;
	background-position: left top;
	background-repeat: no-repeat;
	font-weight: normal;
}
#main .text {
	color: #364650;
	margin: 0 50px;
}
#main .text h3 {
	font-weight: normal;
	margin: 0 0 15px 0;
}
#main .text p {
	margin: 15px 0;
}
#main .text .list {
	margin: -15px 0;
}
#main .text .list li {
	margin: 15px 0;
}
#main .text .list ol {
	margin: 15px 30px;
	list-style: lower-alpha;
}
#main .text .list ol li {
	margin: 0;
}

#main .madeby {
	margin: 15px 10px 30px 10px; 
}
#main .madeby table {
	width: 100%;
	color: #999;
	font-size: 86%;
}
#main .madeby td {
	padding: 0 10px;
}
#main .madeby img {
	display: block;
	margin: 20px 0 0 0;
}

#main .columns {
	position: relative;
	width: 100%;
}
#main .columns .wrapper {
	float: left;
	width: 100%;
}
#main .columns .right {
	margin: 0 0 0 30%;
	padding: 0 0 0 20px;
}
#main .columns .left {
	float: left;
	margin: 0 0 0 -100%;
	width: 30%;
}

#main .columns .left .submenu {
	list-style: none; 
	margin: -10px 0;
}
#main .columns .left .submenu li {
	margin: 10px 0;
	font-size: 16px;
}
#main .columns .left .submenu li.active {
	font-weight: bold;
}
#main .columns .left .submenu li.active a {
	color: #E6820D;
}

#main .columns .left .signup {
	margin: 40px 0 50px -25px;
}
#main .columns .left .signup .back {
	width: 100%;
	background: #ECFFC3 url(/img/promo/main_columns_left_signup_lt.gif) left top no-repeat;
	position: relative;
}
#main .columns .left .signup .rt {
	background-image: url(/img/promo/main_columns_left_signup_rt.gif);
	position: relative;
}
#main .columns .left .signup .rb {
	background-image: url(/img/promo/main_columns_left_signup_rb.gif);
}
#main .columns .left .signup .lb {
	background-image: url(/img/promo/main_columns_left_signup_lb.gif);
	padding: 4px 10px 10px 10px;
	text-align: center;
}

#main .columns .left .signup h3 {
	margin: 0 0 5px 0;
	color: #76AA28;
/*	font-style: italic;*/
	font-size: 115%;
}

#main .columns .right h3 {
	font-weight: normal;
	color: #333;
	margin: 0 0 20px 0;
}

#main .columns .right .questions {
	margin: 0 0 80px 0;
}
#main .columns .right .questions .openAll {
	font-size: 12px;
	float: right;
	margin: -43px 0 0 0;
}
#main .columns .right .questions ul {
	list-style: none;
}
#main .columns .right .questions li {
	margin: 10px 0;
	font-size: 16px;
}

#main .columns .right .questions a.active {
	color: #E6820D;
	font-weight: bold;
	text-decoration: none;
	background: url(/img/promo/main_columns_right_questions_active_border.gif) left bottom repeat-x;
}

#main .columns .right .questions .answer {
	position: relative;
	background: #E7EFF9 url(/img/promo/main_columns_right_questions_answer_back.jpg) left top repeat-x;
	margin: 20px 10px;
}
#main .columns .right .questions .answer .border {
	border: 1px solid #C9D3E1;
	position: relative;
	background: none;
}
#main .columns .right .questions .answer .lt {
	background-image: url(/img/promo/main_columns_right_questions_answer_lt.gif);
	margin: -1px;
}
#main .columns .right .questions .answer .rt {
	background-image: url(/img/promo/main_columns_right_questions_answer_rt.gif);
}
#main .columns .right .questions .answer .rb {
	background-image: url(/img/promo/main_columns_right_questions_answer_rb.gif);
	position: relative;
	width: 100%;
}
#main .columns .right .questions .answer .lb {
	background-image: url(/img/promo/main_columns_right_questions_answer_lb.gif);
	padding: 1px;
	position: relative;
}
#main .columns .right .questions .answer .pic {
	margin: -9px 0 0 0;
	padding: 25px 25px 15px 25px;
	background: url(/img/promo/main_columns_right_questions_answer_pic.gif) 25px 0px no-repeat;
	font-size: 90%;
}
#main .columns .right .questions .answer .close {
	background: url(/img/promo/main_columns_right_questions_answer_close.gif) left top no-repeat;
	width: 13px;
	height: 13px;
	position: absolute;
	right: 10px;
	top: 10px;
	//top: 18px;
	cursor: pointer;
}
* html #main .columns .right .questions .answer .close {
	right: 9px;
}

#main .logo {
	margin: 30px 0;
	overflow: hidden;
	width: 100%;
}
#main .logo h3 {
	color: #396192;
	margin: 0 0 30px 0;
}
#main .logo .vector {
	float: right;
	margin: -10px 0 0 0;
}
#main .logo .vector a {
	font-size: 16px;
	font-weight: bold;
	font-size: 115%;
}
#main .logo .vector a img {
	display: block;
	padding: 0 0 20px 0;
}
#main .logo .vector p {
	font-size: 86%;
	color: #25689F;
}

#main .logo table {
	margin: -30px 0 0 10px;
}
#main .logo td {
	padding: 30px 0 0 0;
}
#main .logo td:first-child {
	padding-right: 70px;
}
* html #main .logo td {
	padding-right: expression(!previousSibling ? '70px' : 'inherit');
}

#main .screenshots {
	margin: 30px -22px 30px 0;
}
#main .screenshots h3 {
	color: #396192;
	margin: 0 0 30px 0;
}
#main .screenshots ul {
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin: -30px 0 0 0;
}
#main .screenshots li {
	float: left;
	margin: 30px 20px 0 0;
}
#main .screenshots li img {
	background: url(/img/promo/main_screenshots_back.gif) left top no-repeat;
	padding: 4px 5px 5px 5px;
}

#main .ul {
	list-style: none;
	margin: 0 20px;
}
#main .ul li {
	margin: 30px 0;
}
#main .ul li h4 {
	color: #396192;
	margin: 0 0 15px 0;
}

#main .screenshot {
	margin: 15px 0;
	background: #ECF2FA url(/img/promo/main_screenshot_lt.gif) left top no-repeat;
}
#main .screenshot .rt {
	background-image: url(/img/promo/main_screenshot_rt.gif);
}
#main .screenshot .rb {
	background-image: url(/img/promo/main_screenshot_rb.gif);
	position: relative;
	width: 100%;
}
#main .screenshot .lb {
	background-image: url(/img/promo/main_screenshot_lb.gif);
	padding: 30px 30px 10px 30px;
	text-align: center;
	color: #333;
}

#main .screenshot .pic {
	margin: 0 0 25px 0;
}
#main .screenshot p {
	font-size: 86%;
}

#main .forms {
	margin: 25px 25px 80px 25px;
}
#main .forms .cont {
	overflow: hidden;
	position: relative;
	width: 100%;
}
#main .forms .wrapper {
	float: left;
	width: 100%;
}
#main .forms .signup {
	margin: 0 45% 0 0;
}
#main .forms .login {
	float: left;
	margin: 0 0 0 -40%;
	width: 40%;
}
#main .forms.nosignup .login {
	float: left;
	margin: 0;
	width: 60%;
}

#main .forms a {
	color: #2596F6;
}

#main .forms table {
	width: 100%;
	margin: 0 0 -15px 0;
}
#main .forms td {
	width: 59%;
	padding: 0 10px 15px 0;
	//padding-right: 14px !important;
	vertical-align: middle;
}
#main .forms td, x:-moz-any-link { /* Firefox only */
	padding-right: 12px;
}
#main .forms td:first-child {
	padding-right: 10px;
	width: 42%;
}
* html #main .forms td {
	padding-right: expression(!previousSibling ? '10px' : 'inherit');
	width: expression(!previousSibling ? '42%' : 'inherit');
}
#main .forms td .txt {
	width: 100%;
	border: 1px solid #96B5DB;
}
#main .forms td .btn {
	font-size: 11px;
	width: 75px;
}
#main .forms td h3 {
	font-size: 115%;
	margin: 30px 0 0 0;
}
#main .forms td p {
	font-size: 86%;
	line-height: 1.2em;
}

#main .forms h2 {
	font-size: 130%;
	margin: 0;
	padding: 5px 0 15px 40px;
}
#main .forms .active h2 {
	font-size: 174%;
	padding-top: 0;
	font-weight: bold;
	margin-bottom: -1px;
}


#main .forms .signup .border {
	border: 3px solid #F7E5B7;
	background: none;
	position: relative;
}
#main .forms .signup .lt {
	margin: -3px;
	background-image: url(/img/promo/main_forms_signup_lt.gif);
}
#main .forms .signup .rt {
	background-image: url(/img/promo/main_forms_signup_rt.gif);
}
#main .forms .signup .rb {
	background-image: url(/img/promo/main_forms_signup_rb.gif);
}
#main .forms .signup .lb {
	background-image: url(/img/promo/main_forms_signup_lb.gif);
	padding: 23px 15px 23px 25px;
}
#main .forms .signup .bugger {
	width: 100%;
	position: relative;
}

#main .forms .signup .active .border {
	background: #F7E5B7;
}
#main .forms .signup .active .lt {
	background-image: url(/img/promo/main_forms_signup_active_lt.gif);
}
#main .forms .signup .active .rt {
	background-image: url(/img/promo/main_forms_signup_active_rt.gif);
}
#main .forms .signup .active .rb {
	background-image: url(/img/promo/main_forms_signup_active_rb.gif);
}
#main .forms .signup .active .lb {
	background-image: url(/img/promo/main_forms_signup_active_lb.gif);
}

#main .forms .signup h2 {
	color: #D29D16;
}
#main .forms .signup td .lt {
	margin: 0 !important;
	background-color: #F1F5F9;
	background-image: url(/img/promo/main_forms_signup_btn_lt.gif) !important;
	float: left;
}
#main .forms .signup td .rt {
	background-image: url(/img/promo/main_forms_signup_btn_rt.gif) !important;
}
#main .forms .signup td .rb {
	background-image: url(/img/promo/main_forms_signup_btn_rb.gif) !important;
}
#main .forms .signup td .lb {
	background-image: url(/img/promo/main_forms_signup_btn_lb.gif) !important;
	padding: 7px !important;
}

#main .forms .signup .active td .lt {
	background-image: url(/img/promo/main_forms_signup_active_btn_lt.gif) !important;
	background-color: #F4D79C;
}
#main .forms .signup .active td .rt {
	background-image: url(/img/promo/main_forms_signup_active_btn_rt.gif) !important;
}
#main .forms .signup .active td .rb {
	background-image: url(/img/promo/main_forms_signup_active_btn_rb.gif) !important;
}
#main .forms .signup .active td .lb {
	background-image: url(/img/promo/main_forms_signup_active_btn_lb.gif) !important;
}

#main .forms .signup .active td .txt {
	border-color: #F2C764;
}
#main .forms .signup td #signup_agree {
	margin: 0 3px 2px 0;
	//margin-bottom: 1px;
}

#main .forms .signup .overlay {
	background: url(/img/promo/main_forms_signup_overlay_back.png) left top repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
* html #main .forms .signup .overlay {
	background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/main_forms_signup_overlay_back.png, sizingMethod=scale);
	height: expression(parentNode.offsetHeight + 'px');
}
#main .forms .signup .overlay .t {
	margin: 200px 0 0 0;
	height: 57px;
	background: url(/img/promo/main_forms_signup_overlay_text_top.png) left top no-repeat;
}
* html #main .forms .signup .overlay .t {
	background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/main_forms_signup_overlay_text_top.png, sizingMethod=crop);
}
#main .forms .signup .overlay .m {
	background: url(/img/promo/main_forms_signup_overlay_text_middle.png) left top repeat;
	text-align: center;
	padding: 25px 10px;
	color: #FFF;
}
#main .forms .signup .overlay .b {
	height: 46px;
	background: url(/img/promo/main_forms_signup_overlay_text_bottom.png) left top no-repeat;
}
* html #main .forms .signup .overlay .b {
	background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/main_forms_signup_overlay_text_bottom.png, sizingMethod=crop);
}

#main .forms .login .border {
	border: 3px solid #DCE7F6;
	background: none;
	position: relative;
}
#main .forms .login .lt {
	margin: -3px;
	background-image: url(/img/promo/main_forms_login_lt.gif);
}
#main .forms .login .rt {
	background-image: url(/img/promo/main_forms_login_rt.gif);
}
#main .forms .login .rb {
	background-image: url(/img/promo/main_forms_login_rb.gif);
}
#main .forms .login .lb {
	background-image: url(/img/promo/main_forms_login_lb.gif);
	padding: 23px 15px 23px 25px;
}

#main .forms .login .active .border {
	background: #DCE7F6;
}
#main .forms .login .active .lt {
	background-image: url(/img/promo/main_forms_login_active_lt.gif);
}
#main .forms .login .active .rt {
	background-image: url(/img/promo/main_forms_login_active_rt.gif);
}
#main .forms .login .active .rb {
	background-image: url(/img/promo/main_forms_login_active_rb.gif);
}
#main .forms .login .active .lb {
	background-image: url(/img/promo/main_forms_login_active_lb.gif);
}

#main .forms .login h3 {
	margin: 55px 0 15px 0;
}
#main .forms .login ul {
	margin: 15px 20px;
}
#main .forms .login .remember td {
	padding-right: 0 !important;
	width: auto;
	vertical-align: bottom;
}
#main .forms .login .remember #remember {
	margin-bottom: 3px;
	//margin-bottom: 1px;
}
#main .forms .login .label label {
	line-height: 150%;
}
#main .forms .login .error {
	margin-bottom: 10pt;
}

#main .register {
	margin: 0 105px;
}
#main .register .box {
	border: 2px solid #D5E7FF;
	margin: 0 0 20px 0;
}
#main .register .box .lt {
	margin: -2px;
}
#main .register .box .lb {
	padding: 15px 10px 25px 10px;
}

#main .register .box.main {
	background: #F4F9FF;
}
#main .register .box.main .lt {
	background-image: url(/img/promo/main_register_main_lt.gif);
}
#main .register .box.main .rt {
	background-image: url(/img/promo/main_register_main_rt.gif);
}
#main .register .box.main .rb {
	background-image: url(/img/promo/main_register_main_rb.gif);
}
#main .register .box.main .lb {
	background-image: url(/img/promo/main_register_main_lb.gif);
}
#main .register .box.main h3 {
	background-image: url(/img/promo/main_register_main_title_back.gif);
}

#main .register .box.optional {
	background: #FFF;
}
#main .register .box.optional .lt {
	background-image: url(/img/promo/main_register_optional_lt.gif);
}
#main .register .box.optional .rt {
	background-image: url(/img/promo/main_register_optional_rt.gif);
}
#main .register .box.optional .rb {
	background-image: url(/img/promo/main_register_optional_rb.gif);
}
#main .register .box.optional .lb {
	background-image: url(/img/promo/main_register_optional_lb.gif);
}
#main .register .box.optional h3 {
	background-image: url(/img/promo/main_register_optional_title_back.gif);
}

#main .register .box h3 {
	font-size: 115%;
	float: left;
	margin: -26px 0 0 5px;
	padding: 0 5px;
	position: relative;
	background-position: left center;
	background-repeat: repeat-x;
}
* html #main .register .box h3 {
	margin-left: 2px;
}

#main .register .box table {
	width: 100%;
}
#main .register .box td {
	width: 50%;
	padding: 9px 20px 0 20px;
	//padding-right: 30px;
}
#main .register .box td, x:-moz-any-link {
	padding-right: 30px;
}
#main .register .box td.info {
	font-size: 79%;
}
#main .register .box td.error {
	font-weight: normal;
}
#main .register .box td p {
	margin: 0 0 3px 5px;
}
#main .register .box input.txt {
	border: 1px solid #96B5DB;
	padding: 1px 4px;
	//margin: -1px 0;
	width: 100%;
}
#main .register .box td.error input.txt {
	border-color: #F00;
}
#main .register .box div.info {
	background: #E1FAD7;
	width: 100%;
	position: relative;
	margin: 25px 0 0 0;
}
#main .register .box div.info .lt {
	margin: 0;
	background-image: url(/img/promo/main_register_info_lt.gif);
	position: relative;
}
#main .register .box div.info .rt {
	background-image: url(/img/promo/main_register_info_rt.gif);
}
#main .register .box div.info .rb {
	background-image: url(/img/promo/main_register_info_rb.gif);
}
#main .register .box div.info .lb {
	background-image: url(/img/promo/main_register_info_lb.gif);
	padding: 25px 50px;
	font-size: 86%;
}
#main .register .box div.info .check {
	padding: 0 0 7px 0;
}
#main .register .box div.info input {
	position: absolute;
	margin: 0 0 0 -20px;
	//margin: -1px 0 0 -23px !important;
}
#main .register .box div.info input, x:-moz-any-link {
	margin: 3px 0 0 -19px;
}

#main .register .box .errors {
	background: #FFD2D2;
	color: #FE0000;
	width: 100%;
	font-weight: bold;
	margin: 5px 0;
}
#main .register .box .errors .lt {
	background-image: url(/img/promo/main_register_errors_lt.gif);
	margin: 0;
}
#main .register .box .errors .rt {
	background-image: url(/img/promo/main_register_errors_rt.gif);
}
#main .register .box .errors .rb {
	background-image: url(/img/promo/main_register_errors_rb.gif);
}
#main .register .box .errors .lb {
	background-image: url(/img/promo/main_register_errors_lb.gif);
	padding: 10px 25px;
}

#main .register .submit {
	float: left;
	background: #D5E7FF;
	position: relative;
	margin: -5px 0 100px 0;
}
#main .register .submit .lt {
	background-image: url(/img/promo/main_register_submit_lt.gif);
	margin: 0;
	position: relative;
}
#main .register .submit .rt {
	background-image: url(/img/promo/main_register_submit_rt.gif);
}
#main .register .submit .rb {
	background-image: url(/img/promo/main_register_submit_rb.gif);
}
#main .register .submit .lb {
	background-image: url(/img/promo/main_register_submit_lb.gif);
	padding: 7px 15px;
}
#main .register .submit input {
	font-size: 86%; 
	//margin-top: -1px;
}

/*******************PROMO*********************/

#promo {
	border: 5px solid #E7F1FF;
	background: url(/img/promo/promo_back.jpg) left top repeat-x;
	position: relative;
	margin: 0 0 15px 0;
}
#promo .lt {
	margin: -5px;
	background-image: url(/img/promo/promo_lt.gif);
}
#promo .rt {
	background-image: url(/img/promo/promo_rt.gif);
}
#promo .rb {
	background-image: url(/img/promo/promo_rb.gif);
}
#promo .lb {
	background-image: url(/img/promo/promo_lb.gif);
	padding: 25px 40px;
}

#promo .links {
	margin: -10px -34px 0 -34px;
	position: relative;
	z-index: 1;
}
#promo .links .cont {
    width: 100%;
	position: relative;
}
#promo .links .w {
    float: left;
    width: 100%;
}
#promo .links .c {
    background: #FFF;
}
#promo .links .l,
#promo .links .r {
    float: left;
}
#promo .links .l {
    margin: 0 0 0 -100%;
    background-position: right top;
    background-repeat: no-repeat;
}
#promo .links .r {
    background-position: left top;
    background-repeat: no-repeat;
}
* html #promo .links .l,
* html #promo .links .r {
    background: none !important;
}

#promo .links .t * {
	height: 117px;
}
#promo .links .t .c {
	margin: 0 28px;
}
#promo .links .t .l,
#promo .links .t .r {
	width: 28px;
}
#promo .links .t .l {
    background-image: url(/img/promo/promo_links_lt.png);
}
* html #promo .links .t .l {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_lt.png, sizingMethod=crop);
}
#promo .links .t .r {
	margin: 0 0 0 -28px;
    background-image: url(/img/promo/promo_links_rt.png);
}
* html #promo .links .t .r {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_rt.png, sizingMethod=crop);
}

#promo .links .b {
	position: relative;
	width: 100%;
}
#promo .links .b * {
	height: 41px;
}
#promo .links .b .c {
	margin: 0 54px;
}
#promo .links .b .l,
#promo .links .b .r {
	width: 54px;
}
#promo .links .b .l {
    background-image: url(/img/promo/promo_links_lb.png);
}
* html #promo .links .b .l {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_lb.png, sizingMethod=crop);
}
#promo .links .b .r {
	margin: 0 0 0 -54px;
    background-image: url(/img/promo/promo_links_rb.png);
}
* html #promo .links .b .r {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_rb.png, sizingMethod=crop);
}
#promo .links .b .c {
    background: url(/img/promo/promo_links_cb.png) left top repeat-x;
}
* html #promo .links .b .c {
	background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_cb.png, sizingMethod=scale);
}
#promo .links .b .triangle {
	width: 54px;
	height: 51px;
    background: url(/img/promo/promo_links_triangle.png) left top no-repeat;
	position: absolute;
	right: 175px;
	top: 28px;
	z-index: 2;
}
* html #promo .links .b .triangle {
	background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_triangle.png, sizingMethod=crop);
}

#promo .links .m {
	width: 100%;
    clear: both;
}
#promo .links .m .l,
#promo .links .m .r,
#promo .links .m .l .spacer,
#promo .links .m .r .spacer {
	width: 9px;
	float: none;
	background-repeat: repeat-y;
}
#promo .links .m .l {
    background-image: url(/img/promo/promo_links_lm.png);
}
* html #promo .links .m .l {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_lm.png, sizingMethod=scale);
}
#promo .links .m .r {
    background-image: url(/img/promo/promo_links_rm.png);
}
* html #promo .links .m .r {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo/promo_links_rm.png, sizingMethod=scale);
}
#promo .links .m .c {
	width: 100%;
}
#promo .links .m .c .spacer {
	margin: -130px 0 -36px 0;
	position: relative;
	z-index: 1;
	padding: 20px 25px;
}

#promo .links h1 {
	color: #036CB4;
	font-size: 186%;
	text-align: center;
}
#promo .links h3 {
	font-size: 108%;
	font-weight: normal;
	line-height: 1.2em;
	text-align: center;
	margin: 0 0 5px 0;
}

#promo .links .floater {
	width: 100%;
	overflow: hidden;
}

#promo .links .signup {
	width: 53%;
	margin: 0 auto;
}
#promo .links .signup {
	padding: 9px 0 0 0;
}
#promo .links .signup .lt {
	background-color: #FFEAC6;
	background-image: url(/img/promo/promo_links_signup_lt.gif);
	margin: 0;
	position: relative;
}
#promo .links .signup .rt {
	background-image: url(/img/promo/promo_links_signup_rt.gif);
}
#promo .links .signup .rb {
	background-image: url(/img/promo/promo_links_signup_rb.gif);
}
#promo .links .signup .lb {
	background-image: url(/img/promo/promo_links_signup_lb.gif);
	padding: 0
}
#promo .links .signup .pic {
	padding: 6px 20px 6px 20px;
	min-height: 41px;
}
* html #promo .links .signup .pic {
	height: 35px;
}

#promo .links .signup .btn {
	float: right;
	display: block;
}
#promo .links .signup .btn img {
	display: block;
}
#promo .links .signup h2 {
	letter-spacing: -0.05em;
	color: #E66D06;
}
#promo .links .signup h2 a {
	text-decoration: none;
	color: #E66D06;
}
#promo .links .signup p {
	letter-spacing: -0.01em;
	line-height: 120%;
	margin: -7px 0 0 0;
	color: #F6B13C;
}

#promo .links .signin {
	position: absolute;
	right: 0;
	margin: 25px 25px 0 0;
}

#promo .text {
	width: 100%;
	clear: both;
	position: relative;
}
#promo .text td {
	padding: 7px 0 0 0;
}

#promo .screen {
	float: right;
}
#promo .screen .tour {
	position: relative;
}
#promo .screen .tour img {
	position: absolute;
	right: -5px;
	top: -85px;
}

#promo .features {
	overflow: hidden;
	width: 50%;
	margin: -25px 0 0 0;
}
#promo .features table {
	width: 100%;
}
#promo .features td {
	padding: 25px 0 0 0;
	vertical-align: middle
}
#promo .features .pic {
	background: url(/img/promo/promo_features_pic_back.gif) left top no-repeat;
	padding: 7px;
	margin: 0 15px 0 0;
}

#promo .features h3 {
	display: inline;
	font-size: 115%;
	line-height: 1.1em;
}
* html #promo .features h3 {
	display: block;
}
#promo .features p {
	margin: 5px 0 0 0;
	color: #666;
	font-size: 86%;
	line-height: 1.2em;
}

/*******************LINK**********************/

#link {
	background: #E4FFDF url(/img/promo/link_lt.gif) left top no-repeat;
	margin: 15px 0;
	color: #34C11F;
	font-weight: bold;
	text-align: center;
	position: relative;
}
#link .rt {
	background-image: url(/img/promo/link_rt.gif);
}
#link .rb {
	background-image: url(/img/promo/link_rb.gif);
}
#link .lb {
	background-image: url(/img/promo/link_lb.gif);
	padding: 15px 40px 0 40px;
}
#link .spacer {
	height: 15px;
}

#link a {
	color: #34C11F;
	text-decoration: none;
}
#link a:hover {
	text-decoration: underline;
}

/*******************FORGOT********************/

#forgot {
	border: 3px solid #EB8C8F;
	background: #FFF url(/img/promo/forgot_back.jpg) left bottom repeat-x;
	position: relative;
	margin: 15px 0;
}
#forgot .lt {
	margin: -3px;
	background-image: url(/img/promo/forgot_lt.gif);
}
#forgot .rt {
	background-image: url(/img/promo/forgot_rt.gif);
}
#forgot .rb {
	background-image: url(/img/promo/forgot_rb.gif);
}
#forgot .lb {
	background-image: url(/img/promo/forgot_lb.gif);
	padding: 30px 120px 60px 120px;
	color: #333;
}

#forgot h2 {
	color: #C00;
	padding: 10px 0 20px 50px;
	margin: -10px 0 0 -50px;
	background-position: left top;
	background-repeat: no-repeat;
}
#forgot input.btn {
	font-size: 86%;
	width: 110px;
	//margin-top: -1px;
}
#forgot input.txt {
	width: 100%;
	border: 1px solid #D46569;
}

#forgot table {
	width: 100%;
	position: relative;
	margin: 30px 0 0 0;
}
#forgot table td {
	vertical-align: middle;
	white-space: nowrap;
}
#forgot table td.txt {
	width: 100%;
	padding: 0 15px;
	//padding-right: 19px !important;
}
#forgot table td.txt, x:-moz-any-link {
	padding-right: 17px;
}
#forgot table input.btn {
	position: relative;
}

#forgot .error {
	margin: 30px -50px -25px -50px;
	padding: 0 0 13px 0;
	background: url(/img/promo/forgot_error_triangle.gif) right bottom no-repeat;
}
#forgot .error .back {
	border-bottom: 1px solid #CD2127;
	background: #CD2127 url(/img/promo/forgot_error_back.gif) left center repeat-x;
}
#forgot .error .lt {
	margin: 0 0 -1px 0;
	background-image: url(/img/promo/forgot_error_lt.gif);
}
#forgot .error .rt {
	background-image: url(/img/promo/forgot_error_rt.gif);
}
#forgot .error .rb {
	background-image: url(/img/promo/forgot_error_rb.gif);
}
#forgot .error .lb {
	background-image: url(/img/promo/forgot_error_lb.gif);
	color: #FFF;
	font-weight: bold;
	padding: 10px 40px;
	text-align: center;
}

/*******************CONFIRM*******************/

#confirm {
	border: 3px solid #FDDC8F;
	background: #FFF url(/img/promo/confirm_back.jpg) left bottom repeat-x;
	position: relative;
	margin: 15px 0;
}
#confirm .lt {
	margin: -3px;
	background-image: url(/img/promo/confirm_lt.gif);
}
#confirm .rt {
	background-image: url(/img/promo/confirm_rt.gif);
}
#confirm .rb {
	background-image: url(/img/promo/confirm_rb.gif);
}
#confirm .lb {
	background-image: url(/img/promo/confirm_lb.gif);
	padding: 30px 120px 60px 120px;
	color: #333;
}

#confirm h2 {
	color: #F0AB08;
	padding: 10px 0 20px 50px;
	margin: -10px 0 0 -50px;
	background-position: left top;
	background-repeat: no-repeat;
}
#confirm a {
	color: #0F80D0;
}

/*******************SENT**********************/

#sent {
	border: 3px solid #8CD082;
	background: #FFF url(/img/promo/sent_back.jpg) left bottom repeat-x;
	position: relative;
	margin: 15px 0;
}
#sent .lt {
	margin: -3px;
	background-image: url(/img/promo/sent_lt.gif);
}
#sent .rt {
	background-image: url(/img/promo/sent_rt.gif);
}
#sent .rb {
	background-image: url(/img/promo/sent_rb.gif);
}
#sent .lb {
	background-image: url(/img/promo/sent_lb.gif);
	padding: 30px 120px 60px 120px;
	color: #333;
}

#sent h2 {
	color: #4A8F40;
	padding: 10px 0 20px 50px;
	margin: -10px 0 0 -50px;
	background-position: left top;
	background-repeat: no-repeat;
}
#sent a {
	color: #0F80D0;
}

/*******************FOOTER********************/

#footer {
	margin: 35px 45px 0 45px;
}

#footer .links {
	list-style: none;
	margin: 0 0 15px 0;
	font-size: 86%;
}
#footer .links li {
	display: inline;
	margin: 0 10px 0 0;
}
#footer .creator {
	float: right;
	font-size:70%;
}
#footer .banners {
	float: right;
	list-style: none;
}
#footer .banners li {
	float: left;
	margin: 0 0 0 25px;
}
#footer .copyright {
	font-size: 70%;
	line-height: 1.2em;
}

/****************PREMIUM************/

#main_premium {
	font-size: 95%;
	margin-bottom: 70px;
}
#main_premium .premium ul {
	list-style: none;
}
#main_premium .premium li {
	padding: 4px 0 3px 0;
	color: #333;
	font-size: 117%;
	white-space: nowrap;
}
#main_premium h4 {
	color: #333;
	font-weight: normal !important;
	font-size: 107%;
	margin: 0 0 10px 0;
}
#main_premium #free, #main_premium #premium {
	float: left;
	position: relative;
	text-align: center;
}

#main_premium #free {
	margin: 0;
	margin-top: 20px;
	width: 260px;
	text-align: left;
}
#main_premium #free .border {
	border: 5px solid #EDEDED;
	border-right: 0;
	position: relative;
	background: none;
}
#main_premium #free .lt {
	margin: -5px;
	background: url(/img/settings_gray_t.gif) left top no-repeat;
}
#main_premium #free .lb {
	background: url(/img/settings_gray_b.gif) left bottom no-repeat;
	padding: 5px 0 5px 0;
}
#main_premium #free .right {
	width: 140px;
	position: absolute;
	left: 120px;
	top: 0;
	margin: 0;
	padding: 0;
}
* html #free .right{
	margin-top: 5px !important;
}
#main_premium #free .right .border2 {
	border: 0;
	background: #F6F6F6;
}
#main_premium #free .right .lt {
	margin: 0;
	background: url(/img/settings_gray2_t.gif) left top no-repeat;
}
#main_premium #free .right .lb {
	margin: 0;
	background: url(/img/settings_gray2_b.gif) left bottom no-repeat;
}
#main_premium #free .right h2 {
	font-size: 100%;
	padding: 8px 0 0 15px;
	height: 24px;
	margin: 0;
}
#main_premium #free .left {
	width: 125px;
	float: none;
	margin: 0;
}
#free .right ul {
	margin-bottom: 25px;
}
#free .left ul {
	margin: 37px 0 30px 10px;
}
#free .left ul li {
	margin-right: 0;
	padding-left: 10px !important;
}
#free li {
	border-top: 1px solid #DEDEDE;
	text-align: left;
	margin-right: 14px;
	padding-left: 15px !important;
}
#free li:first-child {
	border: none;
}
* html #free li{
	border-top: expression(!previousSibling ? 'none' : 'inherit');
}

#main_premium #premium {
	width: 200px;
	margin: 0;
}
#main_premium #premium .border {
	background: #FFFCD6;
	border: 5px solid #FFA800;
	position: relative;
}
#main_premium #premium .background {
	margin: -5px;
	background: url(/img/settings_premium_background.gif) left 15px repeat-x !important;
}
#main_premium #premium .lt {
	background: url(/img/settings_premium_lt.gif) left top no-repeat !important;
	margin: 0;
}
#main_premium #premium .rt {
	background: url(/img/settings_premium_rt.gif) right top no-repeat !important;
}
#main_premium #premium .rb {
	background: url(/img/settings_premium_rb.gif) right bottom no-repeat !important;
}
#main_premium #premium .lb {
	background: url(/img/settings_premium_lb.gif) left bottom no-repeat !important;
	padding: 15px 5px 15px 5px;
}
#main_premium #premium .cont2 {
	background: #FFFCD6;
	min-height: 323px;
	padding-top: 10px !important;
}
* html #premium .cont2 {
	height: 322px;
}
#premium h2 {
	padding: 4px 0 0 0;
	font-size: 228%;
	color: #333;
	font-weight: bold;
}
#premium h3 {
	color: #333;
	margin: 10px 0 0 0 !important;
	padding: 0;
	line-height: 1.5em;
}
#premium h3 small {
	font-size: 129%;
}
#premium h3 strong {
	font-size: 258%;
}
#premium ul {
	margin: 5px 26px 0 16px;
}
#premium li {
	border-bottom: 1px solid #F0B67B;
}
#premium select {
	font-size: 89%;
	margin-top: 10px;
	margin-bottom: 6px;
	width: 59px;
}
#subscribe_block {
	margin-left: -70px;
}

/*******************CONTACT US********************/

#contact .error_messages {
	width: 490px;
	background: #E00000;
	padding: 9px;
	color: #fff !important;
	text-align: center;
	font-weight: bold;
}
#contact p {
	margin: 5px 0 5px 0;
}
#contact .field {
	margin-bottom: 17px;
}
#contact .wide input{
	width: 498px;
	margin: 4px 0 4px 0;
}
html:not([lang*=""]) #contact .wide input{
	width: 508px;
} 
#contact .field input {
	clear: none;
	position: absolute;
	width: 378px;
	margin-left: 120px;
	margin-top: -3px;
}
html:not([lang*=""]) #contact .field input {
	width: 388px;
}
#contact .field.error input, #contact input.error, #contact textarea.error {
	border: 2px solid #EA352E;
	color: #000 !important;
	font-weight: normal;
}
#contact .btn {
	margin-top: 10px;
}
#contact form {
	padding-top: 10px;
}

/********NAVIGATION*************/

ul.navigation {
	margin: 0;
	padding: 0;
}
ul.navigation li:first-child {
	border: none;
}
* html ul.navigation li{
	border-left: expression(!previousSibling ? 'none' : 'inherit');
}
ul.navigation li {
	margin: 0;
	padding: 0 5px;
	display: block;
	float: left;
	border-left: 1px solid black;
}
ul.navigation li a {
	display: block;
	width: 20px;
	text-align: center;
	text-decoration: none;
}
ul.navigation li.prev a,
ul.navigation li.next a {
	width: auto;
}
ul.navigation li a:hover {
	text-decoration: underline;
}
ul.navigation li.active a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
ul.navigation li.active a:hover {
	background-color: transparent;
	color: black;
	text-decoration: none;
}

