.itemPublished {
	padding-top: 64px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0;

	.itemPublishedOuter {
		height: 100%;
		display: table;
		margin: 0 auto;
		max-width: 900px;
		min-width: 300px;
	}

	.itemPublishedInner {
		display: inline-block;
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 40px;
		max-width: 900px;
	}
}

.itemPublishedInner {
	.project {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 0;
		
		.header {
			width: 100%;
			background: #e9e9e9;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			
			.titleWrapper {
				display: table;
				width: 100%;
				table-layout: fixed;
				
				.folder {
					font-size: 18px;
					position: relative;
					width: 30px;
					
					span {
						line-height: 10px;
					}
				}
				
				.title {
					text-align: left;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				
				.date {
					width: 64px;
					text-align: right;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				
				.title, .folder, .date {
					padding: 5px 5px;
					display: table-cell;
					vertical-align: middle;
				}
			}
			
			.description {
				background: #FCFCFC;
				padding: 7px 9px;
				border-bottom: 1px solid #e8e8e8;
				color: #66697E;
				text-align: justify;
				
				blockquote {
					border-left-color: rgba(0, 0, 0, 0.14902);
					border-left-style: solid;
					border-left-width: 5px;
				}
			}
		}
		
		.tasks {
			margin-top: 10px;
			
			.noItems {
				height: 38px;
				line-height: 38px;
				color: #bbbbbb;
			}
			
			.taskWrapper {
				margin-right: 10px;
				margin-bottom: 5px;
				
				.task {
					background-color: #fafafa;
					
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					border: 1px solid #dbdbdb;
					
					display: table;
					table-layout: fixed;
					width: 100%;
					
					padding: 5px 0;
					
					.completed, .starred, .icon {
						display: table-cell;
						width: 20px;
						vertical-align: middle;
					}
					
					.starred, .icon {
						span {
							top: 1px;
							position: relative;
						}
					}
					
					.completed {
						color: #3795d3;
						line-height: 8px;
					}
					
					.starred {
						color: gold;
					}
					
					.title {
						display: table-cell;
						text-align: left;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					
					.icon {
						color: #3795d3;
					}
				}
			}
		}
	}
	.follow-social {
		margin-top:20px;
		
		.facebook {
			-moz-user-select: none; 
			background: #3b5998; 
			border: 1px solid #082783; 
			.box-shadow(0 1px #4C6BC7 inset);
			.border-radius(3px);
			color: white; 
			padding: 3px 5px; 
			text-decoration: none; 
			text-shadow: 0 -1px 0 #082783; 
			margin-left: 8px; 
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
			font-weight: bold; 
			width: 80px; 
			cursor: pointer; 
			display: inline-block; 
			height: 20px; 
			position: relative;
		}
		
		.twitter {
			position: relative;
			top: 9px;
			margin-left: 10px;
			display: inline-block;
		}
	}
}