
html {
	padding: 0 0 20px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.content {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}
.main_result {
	margin: 0 0 25px 0;
}
.error {
	font-weight: bold;
	color: #D50E13;
	padding: 0 0 5px 0;
}
.ok {
	font-weight: bold;
	color: green;
}
small.ok, small.error, small {
	display: block;
	font-weight: normal;
	font-size: 80%;
	line-height: 120%;
	margin-top: 5px;
}
small.error a {
	color: #D50E13;
}
.mchange {
	position: relative;
	height: 10px;
}
.mchange small {
	position: absolute;
	top: 0;
	opacity:.00;
	filter: alpha(opacity=0);
	-moz-opacity: 0.0;
}

.off-screen {
	position: absolute;
	left: -9000px;
	top: -9000px;
}

.dijitTabContainerTop-tabs {
	height: 28px;
}

#notification {
	width: 302px;
	margin: 0 0 0 -151px;
	position: fixed;
	z-index: 99999;
	left: 50%;
	top: 0;
}
* html #notification {	/* IE doesn't suppoer 'fixed' */
	position: absolute;
}
#notification .border {
	border: 1px solid #57647A;
	border-top: 0;
	position: relative;
	z-index: 99999;
	background: #F7EFC5;
	
	height: 18px;
	padding: 2px 0 1px 5px;
	
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 150%;
	text-align: center;
	
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	
	-ms-border-radius: 4px;
	-ms-border-top-left-radius: 0;
	-ms-border-top-right-radius: 0;
	
	-moz-border-radius: 4px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}

/*******************HEADER********************/

.header-whitespace {
	height: 65px;	/* Empty space at the top of the page for header */
}
#header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 860px;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 140%;
	
	font: 0.916em Arial, Helvetica, sans-serif;
}
	* html #header {
		position: absolute;
		top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop);
	}
	#header .header-inner {
		margin: 0 2%;
	}
	#header .header-back-l {
		position: relative;
		background: url(/img/header-sprite.png) 0 0 no-repeat;
		margin: 0 -9px;
	}
	#header .header-back-r {
		background: url(/img/header-sprite.png) 100% -94px no-repeat;
		padding: 0 25px;
	}
	#header .header-back-c {
		background: url(/img/header-sprite.png) 0 -47px repeat-x;
		height: 47px;
	}
	
	* html #header .header-back-l,
	* html #header .header-back-r,
	* html #header .header-back-c { background-image: url(/img/header-sprite.gif); }

	#header .section {
		float: right;
		margin: 0;
		height: 27px;
		padding: 8px 40px 0 0;
	}

/* Logo */
#header .logo {
	display: block;
	float: left;
	padding: 8px 12px 5px 0;
}
#header .section-logo {
	border-right: 0;
	border-left: 1px solid #CDDEEF;
	padding: 9px 0 0 13px;
	height: 28px;
	color: #613C3D;
	text-transform: uppercase;
	float: left;
	font-weight: bold;
}
	#header .section-logo a {
		color: #F26522;
	}
	#header .section-logo a:hover {
		text-decoration: none;
	}

/* User */
#header .user_name {
	float: right;
	border-right: 0;
	border-left: 1px solid #C8D5DD;
	padding: 0;
	height: auto;
}

#header .user_name div {
	border-left: 1px solid #FAFBFD;
	padding: 8px 0 0 12px;
	margin-top: 0;
	height: 29px;
	float: left;
}

#header .user_name #session_full_name {
		color: #222;
	}
	#header .user_name .logout a {
		color: #666;
		font-weight: normal;
	}
	
	#header .user_name #session_full_name {
		color: #613C3D;
		display: inline-block;
		padding-left: 5px;
		padding-bottom: 2px;
		vertical-align: middle;
	}
	
	#header .user_name .avatar {
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		height: 24px;
		background: url(/avatar/header.24.gif) 0 0 no-repeat;
	}
	#header .user_name .pro {
		vertical-align: middle;
		padding-bottom: 2px;
	}
	
	#header .user_name #session_full_name,
	#header .user_name .pro,
	#header .user_name .logout {
		padding-bottom: 4px;
	}

	#header .user_name a {
		text-decoration: none;
		vertical-align: middle;
		color: #613C3D;
	}
	
	#header .user_name .logout {
		padding-left: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	#header .user_name .logout a {
		color: #353535;
		text-decoration: none;
		font-weight: bold;
		display: inline-block;
		padding-top: 1px;
	}
	#header .user_name .logout a:hover {
		color: #36c;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#header .user_name .logout a {
			padding-top: 3px;
		}
	}

/*******************MENU**********************/

#menu {
	background-image: url(/img/settings.gif);
	background-position: left top;
	background-repeat: repeat-x;
	font-size: 110%;
	margin-bottom: 50px;
}
* html #menu
{
	padding-left: 130px;
}
#menu .back {
	position: absolute;
	margin: 8px 0 0 -150px;
	padding: 0 0 0 15px;
	z-index: 1;
	background: url(/img/settings_menu_back_arrow.gif) 0 7px no-repeat;
}
#menu .back a {
	color: #D50E13;
}
#menu td {
	text-align: center;
	white-space: nowrap;
	padding: 0 30px 0 30px;
	height: 36px;
}
#menu td .borders {
	height: 8px;
}
#menu td.active {
	background: #FFF url(/img/settings.gif) 0 -31px repeat-x;
}
#menu td.active .borders {
	position: relative;
	margin: 0 -10px;
	text-align: left;
}
#menu td.active .borders div {
	width: 17px;
	height: 36px;
	top: 0;
	background-repeat: no-repeat;
	background-image: url(/img/settings.gif);
	position: absolute;
}
#menu td.active .borders .left {
	background-position: 0 -67px;
	left: -26px;
}
#menu td.active .borders .right {
	background-position: 100% -103px;
	right: -26px;
}
* html #menu td.active .borders .right {
	right: -27px;
}
#menu td a {
	font-weight: bold;
}
#menu td.active a {
	color: #353535;
	text-decoration: none;
	font-size: 115%;
}

/*******************MAIN**********************/

#main {
	font-size: 110%;
	color: #5D5D5D;
}
#main .cont {
	margin: 0; /* 70px; */
}

#main .block{
	border: 2px solid #DBDBDB;
	margin-bottom: 30px;
	position: relative;
}
#main .block h3{
	margin: -40px 0 15px -14px;
	font-size: 120%;
	color: #999999;
}
#main .block h3 span{
	padding: 6px;
	background: #fff;
}
#main .block .lt{
	margin: -2px;
	background: url(/img/settings_box_lt.gif) no-repeat left top;
}
#main .block .rt{
	background: url(/img/settings_box_rt.gif) no-repeat right top;
}
#main .block .rb{
	background: url(/img/settings_box_rb.gif) no-repeat right bottom;
}
#main .block .lb{
	background: url(/img/settings_box_lb.gif) no-repeat left bottom;
	padding: 30px 30px 15px 40px;
}
* + html #main .txt {
	padding-right: 4px !important;
}
#main .txt, x:-moz-any-link {
	padding-right: 2px;
}
#main .txt input {
	font-size: 100%;
	color: #919191;
	width: 100%;
}
#main .btn {
	width: 60px;
	font-size: 93%;
}
* html #main .btn {
	margin-bottom: 1px;
}

html:first-child #main .block .overl {
	margin-top: 15px;
}
#main .block .overl {
	visibility: hidden;
	position: absolute;
	background-color: white;
}

#main .userpic {
	position: absolute;
	margin: 22px 0 0 -94px;
	cursor: pointer;
	cursor: hand;
	visibility: hidden;
	background-color: white;
}
#main .userpic.default {
	visibility: visible;
}

#main .fields {
	list-style: none;
}
#main .fields li {
	margin: 0 0 12px 0;
	//margin-bottom: 11px;
}
#main .fields li .txt {
	padding: 4px 0 0 0;
	//padding-top: 3px;
}
#main .fields li .txt input {
	font-size: 100%;
	color: #919191;
	width: 90%;
}
#main .fields li .select {
	position: relative;
	left: 150px;
	margin-top: -20px;
}
#main .fields li .select select{
	width: 150px;
}
#main .fields li .select.reminder input{
	width: 50px;
}
#main .fields li .select.reminder select{
	width: 90px;
}
#main .fields li .select.reminder select, x:-moz-any-link {
	width: 92px;
	//width: 90px;
}
#main .fields li .checkbox {
	position: relative;
	left: 30px;
	margin-top: -18px;
}
#main .picture {
	margin: 0px 0 0 20px;
	position: relative;
}
#main .more {
	font-size: 86%;
	color: #919191;
	margin: 18px 0 0 0;
	//margin-top: 17px;
}
#main .more .check {
	position: absolute;
	margin: 0 0 0 -20px;
	//margin-left: -23px !important;
	//margin-top: -2px !important;
}
#main .more .check, x:-moz-any-link {
	margin-left: -19px;
	margin-top: 2px;
}
#main .more h3 {
	color: #5D5D5D;
}
#main .pic_userpic {
	width: 64px;
	height: 64px;
	background-color: white;
	visibility: hidden;
	position: absolute;
}
#main .pic_userpic.default {
	visibility: visible;
	position: static;
}
#main .current_picture {
	margin: 5px 0px 10px 0px;
}
#main .save {
	margin: -10px 0 10px 40px;
}
#main .save.avatar {
	margin: 10px 0 10px 40px;
}
#main .result {
	margin-top: 10px;
}

/****************PREMIUM************/

#main{
	width: 600px;
}
#main .premium .cont {
	width: 600px;

	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
}
#main .premium ul {
	list-style: none;
}
#main .premium li {
	padding: 4px 0 3px 0;
	color: #333;
	font-size: 117%;
}
#main h4 {
	color: #333;
	font-weight: normal !important;
	font-size: 107%;
	margin: 0 0 10px 0px;
}
#main #free, #main #premium {
	float: left;
	position: relative;
	text-align: center;
}

#main #free {
	margin: 0;
	margin-top: 20px;
	width: 310px;
	text-align: left;
}
#main #free .border {
	border: 5px solid #EDEDED;
	border-right: 0;
	position: relative;
}
#main #free .lt {
	margin: -5px;
	background: url(/img/settings_gray_t.gif) left top no-repeat;
}
#main #free .lb {
	background: url(/img/settings_gray_b.gif) left bottom no-repeat;
	padding: 5px 0 5px 0;
}
#main #free .right {
	width: 165px;
	position: absolute;
	left: 145px;
	top: 0;
}
* html #free .right{
	margin-top: 5px;
}
#main #free .right .border2 {
	border: 0;
	background: #F6F6F6;
}
#main #free .right .lt {
	margin: 0;
	background: url(/img/settings_gray2_t.gif) left top no-repeat;
}
#main #free .right .lb {
	margin: 0;
	background: url(/img/settings_gray2_b.gif) left bottom no-repeat;
}
#main #free .right h2 {
	font-size: 100%;
	padding: 8px 0 0 46px;
	height: 24px;
}
#main #free .left {
	width: 150px;
}
#free .right ul {
	margin-bottom: 25px;
}
#free .left ul {
	margin: 37px 0 30px 18px;
}
#free .left ul li {
	margin-right: 0;
	padding-left: 30px !important;
}
#free li {
	border-top: 1px solid #DEDEDE;
	text-align: left;
	margin-right: 14px;
	padding-left: 46px !important;
}
#free li:first-child {
	border: none;
}
* html #free li{
	border-top: expression(!previousSibling ? 'none' : 'inherit');
}

#main #premium {
	width: 232px;
	margin: 0;
}
#main #premium .border {
	background: #FFFCD6;
	border: 5px solid #FFA800;
	position: relative;
}
#main #premium .background {
	margin: -5px;
	background: url(/img/settings_premium_background.gif) left 15px repeat-x !important;
}
#main #premium .lt {
	background: url(/img/settings_premium_lt.gif) left top no-repeat !important;
}
#main #premium .rt {
	background: url(/img/settings_premium_rt.gif) right top no-repeat !important;
}
#main #premium .rb {
	background: url(/img/settings_premium_rb.gif) right bottom no-repeat !important;
}
#main #premium .lb {
	background: url(/img/settings_premium_lb.gif) left bottom no-repeat !important;
	padding: 15px 5px 15px 5px;
}
#main #premium .cont2 {
	background: #FFFCD6;
	min-height: 322px;
}
* html #premium .cont2 {
	height: 322px;
}
#premium h2 {
	padding-top: 4px;
	font-size: 228%;
	color: #333;
}
#premium h3 {
	color: #333;
	margin-top: 10px;
	padding: 0;
	line-height: 1.5em;
}

#premium h3 small {
	font-size: 129%;
	line-height: 1.5em;
}
#premium h3 strong {
	font-size: 258%;
}
#premium ul {
	margin: 5px 26px 0 16px;
}
#premium li {
	border-bottom: 1px solid #F0B67B;
}
#premium select {
	font-size: 89%;
	margin-top: 10px;
	margin-bottom: 6px;
	width: 59px;
}
#subscribe_block {
	margin-left: -70px;
}

/**********ACCOUNT DELETED*******/

#main .account_removed .image {
	float: left;
	margin: 5px;
}
#main .account_removed h2 {
	margin-bottom: 5px;
}

/**********IMAGE CROP************/

#ava {
	border: 1px solid gray;
	width: 200px;
}
#ava_img {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
}
#ava_overlay {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('/img/crop_overlay.png');
	z-index: 50;
}
* html #ava_overlay {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/crop_overlay.png, sizingMethod=crop);
}
#ava_drager {
	width: 400px;
	height: 400px;
	position: absolute;
	z-index: 100;
	color: #fff;
	cursor: move;
}
#avatar {
	position: absolute;
}
#ava_slider {
	width: 200px;
	height: 27px;
	background: #eee;
	position: relative;
	border-top: 1px solid gray;	
	background: url('/img/slider_back.png');
}
#ava_handle {
	width: 19px;
	height: 20px;
	background: blue;
	position: absolute;
	background: url('/img/crop_handle.png');
}
* html #ava_handle {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/crop_handle.png, sizingMethod=crop);
}
#ava_submit {
	width: 75px;
	margin-top: 10px;
	margin-left: 62px;
}

/***************NEW SETTINGS******************/

/* BOX */
div.settings {
	width: 752px;
	margin: 0 auto;
}
div.settings-large {
	width: 814px;
}

/* CONTENT */
.setting_cont {
	color: #666;
	padding: 20px 89px 40px 59px;
	font-size: 110%;
	background: #EFEFED;
}
* html .setting_cont {
	height: 325px;
}

div.setting_cont {
	padding: 0;
	background: none;
	display: none;		/* Don't show unstyled content */
}
div.dijitTabContainer {
	display: block;		/* Show when tabs are styled */
}

* html div.setting_cont {
	height: auto;
}
div.setting_cont .dijitContentPane {
	display: none;
}
div.setting_cont fieldset,
div.setting_cont div.fieldset {
	padding: 30px 37px 40px 37px;
	border: 0;
}
div.setting_cont .submit {
	background: #E6E6E6;
	padding: 16px 34px 11px;
	color: #333;
}
	div.setting_cont .submit a {
		color: #333;
	}
	
.tooltip div.setting_cont fieldset,
.tooltip div.setting_cont div.fieldset {
	padding: 10px;
}
.tooltip .setting_cont h2.empty {
	margin: 0 0 18px;
}
.tooltip div.setting_cont .submit {
	padding: 0 10px 10px;
	background: none;
}

.setting_cont h1 {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 172%;
	margin-bottom: 36px;	
}
.setting_cont h2 {
	font-size: 14px;
	color: #356A88;
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #CAD5DB;
	margin: 30px 0 20px 0;
	padding: 0 0 5px;
}
.setting_cont h2.large-gap {
	margin: 40px 0 20px 0;
}
.setting_cont h2.empty {
	margin: 20px 0 32px;
	height: 0;
	overflow: hidden;
}
.setting_cont h2:first-child,
.setting_cont h2.large-gap:first-child {
	margin-top: 0;
}

.setting_cont img {
	margin-bottom: 7px;
}
.setting_cont .tabLabel img {
	margin: 0 8px 0 0;
}
.setting_cont label {
	font-size: 14px;
	color: #3D3D3D;
}
.setting_cont label.checkbox {
	top: -4px;
	position: relative;
}
.setting_cont p.checkbox {
	padding-left: 24px;
	padding-bottom: 17px;
	margin-top: -10px;
	position: relative;
}
.setting_cont input, .setting_cont select {
	margin-bottom: 17px;
	margin-top: 5px;
	color: black;
}
.setting_cont .submit {
	padding-top: 22px;
	margin-bottom: 0;
}
.setting_cont .submit input {
	margin-top: 0;
	margin-bottom: 0;
	color: #000;
}
.setting_cont textarea,
.setting_cont input[type="text"], .setting_cont input[type="password"] {
	margin-top: 5px;
/*	border: 1px solid #E3E3E3;*/
	color: black;
	font-size: 12px;
	padding: 8px 10px;
	width: 305px;
	
	
	background: #F6F6F6;
	color: #666;
	border: 1px solid #B9B9B9;
	border-top-color: #A4A4A4;
	-moz-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-ms-box-shadow: 0 1px 0 #fff,inset 0 1px 1px rgba(0,0,0,.17);
	-webkit-box-shadow: 0 1px 0 white,inset 0 1px 1px rgba(0, 0, 0, .17);
	box-shadow: 0 1px 0 white,inset 0 1px 1px rgba(0, 0, 0, .17);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.setting_cont input[type="button"], .setting_cont input[type="submit"] {
	color: #333;
}
.setting_cont input.check {
	margin-top: 6px;
	margin-bottom: 15px;
}
.setting_cont input.radio {
	margin-top: 2px !important;
	margin-bottom: 10px !important;
}
.setting_cont input.picture {
	margin-bottom: 2px;
}

.setting_cont select {
	width: 315px;
	border: 1px solid #7F9DB9;
}
* html .setting_cont input {
	width: expression(getAttribute('type') == 'text' || getAttribute('type') == 'password' ? '315px' : 'inherit');
	border: expression(getAttribute('type') == 'text' || getAttribute('type') == 'password' ? '1px solid #7F9DB9' : 'inherit');
	color: expression(getAttribute('type') == 'button' || getAttribute('type') == 'submit' ? '#333' : 'inherit');
}
.setting_cont input.auto_width, .setting_cont select.auto_width {
	width: auto !important;
}
.setting_cont input.auto_width {
	border-color: #7F9DB9;
	padding: 1px 2px;
}

.setting_cont input.shorter, .setting_cont select.shorter {
	width: 180px;
}

.setting_cont #chat_sound,
.setting_cont #reminder_sound {
	margin-bottom: 0;
	margin-top: 1px;
}
* html .setting_cont #chat_sound,
* html .setting_cont #reminder_sound {
	margin-bottom: 5px;
	margin-top: 0;
}

/* ----- Date time preference ---- */
.setting_cont .datetime-preference select {
	width: auto;
	min-width: 170px;
	margin-right: 30px;
}


/* ------ Return button -----*/

.settings .return_button {
	margin: 25px auto 0;
}

.return_button {
	background: url(/img/v2/signup_btn_l.gif) left top no-repeat;
	padding-left: 4px;
	width: 128px;
}
.return_button .r {
	background: url(/img/v2/signup_btn_r.gif) right top no-repeat;
	padding-right: 4px;
}
.return_button .c {
	background: url(/img/v2/signup_btn_c.gif) left top repeat-x;
	height: 30px;
	text-align: center;
}
.return_button a, .return_button input {
	display: block;
	padding: 5px 0;
	font-size: 110% !important;
	font-weight: bold;
	color: #686868;
}
.return_button input {
	border: 0;
	background: transparent;
	width: 100%;
	text-decoration: underline;
}

/* Columns */
.column-left {
	width: 400px;
	float: left;
	padding-top: 10px;
}
.column-right {
	width: 270px;
	float: left;
	padding-top: 10px;
}

/*******************FOOTER********************/

#footer {
	position: relative;
	margin: 20px 22px 0;
	text-align: left;
	color: #999;
	font: 10px Helvetica, Arial, sans-serif;
	border-top: 1px solid #E2E2E2;
	padding: 10px 8px 0 9px;
}
* html #footer {
	margin-bottom: -8px;
}

#footer a {
	color: #288CD0;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

#footer .nav {
	float: right
}