.image_cache_container
{
	visibility: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
}


/*******************ABSTRACT******************/

html {
	padding: 0 0 20px;
}
.content,
.term-wrapper {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.heading-over-content .header-whitespace {
	height: 0;
}
.heading-over-content .term-wrapper {
	padding-top: 80px;
}

.main_result {
	margin: 0 0 25px 0;
}
.error {
	font-weight: bold;
	color: #D50E13;
	padding: 0 0 5px 0;
}
.ok {
	font-weight: bold;
	color: green;
}
small.ok, small.error, small {
	display: block;
	font-weight: normal;
	font-size: 80%;
	line-height: 120%;
	margin-top: 5px;
}
small.error a {
	color: #D50E13;
}
.mchange {
	position: relative;
	height: 10px;
}
.mchange small {
	position: absolute;
	top: 0;
	opacity:.00;
	filter: alpha(opacity=0);
	-moz-opacity: 0.0;
}

.content {
	min-height: 100%;
}
* html .content {
	height: 100%;
}
.content_wrapper {
	width: 826px;
	margin: 0 auto;
}

.center {
	text-align: center;
}
.clearInner {
	width: 100%;
	overflow: hidden;
}

/********************* Boxes **********************/

.box {
	position: relative;
	border: 1px solid;
}
	* html .box {
		display: inline-block;
	}
	
	.box .c-lt, .box .c-rt, .box .c-rb, .box .c-lb {
		position: absolute;
		width: 11px;
		height: 11px;
		background: url(/img/promo2010/subscribe-corners.png) 0 0 no-repeat;
	}
	.box .c-lt, .box .box .c-lt { left: -1px; top: -1px; }
	.box .c-rt, .box .box .c-rt { right: -1px; top: -1px; }
	.box .c-rb, .box .box .c-rb { right: -1px; bottom: -1px; }
	.box .c-lb, .box .box .c-lb { left: -1px; bottom: -1px; }
	
	* html .box .c-lb { bottom: -2px; }
	* html .box .c-rb { bottom: -2px; }

/* Gray, no corners */
.box-outter { background: #EEF2F8; border: 0; margin-bottom: 20px; }
	.box-outter .c-lt { background-position: 0px 0; left: 0; top: 0; }
	.box-outter .c-rt { background-position: -11px 0; right: 0; top: 0; }
	.box-outter .c-lb { background-position: 0 -11px; left: 0; bottom: 0; }
	.box-outter .c-rb { background-position: -11px -11px; right: 0; bottom: 0; }

/* Yellow, gray border */
.box-inner {
	border: 1px solid #E9E9E9;
	background: #FFFCEB;
}
	.box-inner .c-lt { background-position: 0 -22px; }
	.box-inner .c-rt { background-position: -11px -22px; }
	.box-inner .c-lb { background-position: 0 -33px; }
	.box-inner .c-rb { background-position: -11px -33px; }

/******************** SLIDER 2 *******************/

.slider-2 {
	background: url(/img/v3/slider2.gif) left -22px repeat-x;
	position: relative;
}
	.slider-2 .r {
		background: url(/img/v3/slider2.gif) right -88px no-repeat;
	}
	.slider-2 .c {
		width: 100%;
		overflow: hidden;
		background: url(/img/v3/slider2.gif) left top no-repeat;
	}
	.slider-2 a {
		float: left;
		display: block;
		width: 6.25%;
		height: 21px;
		padding-top: 1px;
		line-height: 1.35em;
		
		position: static;
		z-index: 3;		
		
		text-decoration: none;
	}
		* html .slider-2 a {
			position: relative;
		}
		
		.slider-2 a.color2 {
			background: url(/img/v3/slider2.gif) left -44px repeat-x;
		}
		.slider-2 a span {
			text-align: center;
			display: block;
			color: #333;
			
			position: relative;
			z-index: 4;
			
			height:18px;
			line-height:1.7em;
			overflow:hidden;
		}
		
		.slider-2 a.active {
			height: 20px;
			padding-top: 2px;
			position: static;
			z-index: 0;
		}
			.slider-2 a.active span {
				color: #fff;
				font-weight: bold;
			}
		
		.slider-2 a.last-child span {
			background: none;
		}
		.slider-2 a.last-child {
			margin-right: -3px;
		}
		
	.slider-2 .deco {
		background: url(/img/v3/slider_selected.png) left top no-repeat;
		width: 38px;
		height: 20px;
		position: absolute;
		z-index: 4;
		margin-left: 0px;
		margin-top: 1px;
		left: 0;
	}
	
	*:first-child+html .slider-2 .deco {
		margin-left: 0;
	}
	* html .slider-2 .deco {
		background: none;
		margin-left: 0;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/v3/slider_selected.png, sizingMethod=crop);
	}

.slider-3 {
	font-size: 117%;
	overflow: hidden;
	position: relative;
	float: left;
	width: 168px;
	margin: 12px 0 0;
}
	.slider-3 a {
		background: url(/img/promo2010/subscribe-slider-button.png) left top no-repeat;
		
		display: block;
		display: inline-block;
		float: left;
		width: 46px;
		height: 20px;
		padding: 2px 0 0;
		margin-right: 10px;
		
		overflow: hidden;
		
		text-align: center;
		text-decoration: none;
		color: #333 !important;
		line-height: 18px;
	}
		.slider-3 a.active {
			background-position: 0px -22px;
			color: #fff !important;
			font-weight: bold;
		}
		
			
/******************** Term *******************/	

.background-m {
	background: #8BB6C9 url(/img/promo2010/intro-background-m.jpg) 50% 0 repeat-y;
	position: relative;
	margin-top: -15px;
}
.background-t {
	background: url(/img/promo2010/intro-background-t.jpg) 50% 0 no-repeat;
}
.background-b {
	background: url(/img/promo2010/intro-background-b.jpg) 50% 100% no-repeat;
}

.term-wrapper {
	padding-top: 30px;
	width: 837px;
}

.term {
	background: url(/img/promo2010/subscribe-background.png) 0 0 no-repeat;
	font: 1em Helvetica, Arial, sans-serif;
}
	* html .term {
		background: none;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/promo2010/subscribe-background.png, sizingMethod=crop);
		zoom: 1;
	}
	.term-bottom {
		background: url(/img/promo2010/subscribe-background.png) -1674px 100% no-repeat;
		padding: 75px 0;
	}
	.term-center {
		background: url(/img/promo2010/subscribe-background.png) -837px 0 repeat-y;
		padding: 0 40px 0 32px;
		position: relative;
	}

	.term h1 {
		color:#333333;
		font: 217% "Trebuchet MS", Geneva, Helvetica, sans-serif;
		font-weight: bold;
		padding: 0 0 8px 8px;
		white-space:nowrap;
		
		position: absolute;
		top: -43px;
		left: 32px;
	}
		.term h1 i {
			font-style: normal;
			color: #B12223;
		}
		
	.term h4 {
		color: #FF8C00;
		font-size: 117%;
		font-weight: normal;
		padding: 22px 0 14px 0;
	}
		.term .first-slider h4 {
			padding-top: 2px;
		}
	
	.term p {
		font-size: 166%;
		color: #747474;
		padding: 12px 0 35px 10px;
	}
	
	.term p.currency-text {
		font-size: 100%;
		color: #797979;
		padding: 15px 8px 0 0;
		width: 290px;
		text-align: right;
		float: left;
	}
	
	.term p.description strong {
		font-weight: normal;
		color: #FF9900;
	}
	
	.term .box-outter {
		padding: 5px 6px 4px;
	}
	
	.term .box_wrapper {
		padding: 14px 64px 23px 30px;
		width: 363px;
		overflow: hidden;
	}
		.term .box_wrapper_smaller {
			padding-bottom: 13px;
		}
	
	.term td {
		text-align:left;
		vertical-align:top;
	}
	
	.term .slider-2 {
		position: relative;
		zoom: 1;
	}
	
	.term .box-inner .price-info {
		padding: 6px 0 0 207px;
		font-size: 1.25em;
		font-weight: bold;
		color: #999;
		text-align: left;
		position: relative;
		margin-right: -64px;
	}
		.term .box-inner .price-info div {
			padding-top: 4px;
		}
		.term .box-inner .price-info .price {
			font-size: 1.466em;
			color: #E57E39;
		}
	
	.term td.price-info {
		text-align: center;
		padding-top: 53px;
		padding-bottom: 3px;
		color: #686868;
		font-weight: bold;
	}
		.term td.price-info .team {
			font-size: 133%; /* 16px */
		}
		.term td.price-info .duration {
			font-size: 183%; /* 22px */
			padding: 8px 0 0;
		}
		.term td.price-info .price {
			color: #39A91E;
			font-size: 233%; /* 28px */
			padding: 8px 0 0;
		}
		.term td.price-info .small {
			font-size: 150%; /* 18px */
			padding-top: 4px;
		}
		.term td.price-info .remainder {
			color: #1E689A;
			padding-bottom: 10px;
		}
		
	.term td.price-info-business,
	.term td.price-info-remainder {
		padding-top: 72px;
		padding-left: 40px;
		text-align: left;
	}
		.term td.price-info-business .price,
		.term td.price-info-business .team,
		.term td.price-info-business .duration {
			padding-top: 4px;
		}
		
	.term td.price-info-remainder {
		padding-top: 35px;
	}
	
	.term td.price-info-error {
		
	}
	
	.term td.price-info .subscribe_comment,
	.term td.price-info-licenses .subscribe_comment,
	.term td.price-info .license_comment,
	.term td.price-info-comment .license_comment {
		display: none;
	}
	.term td.price-info-comment .subscribe_comment,
	.term td.price-info-licenses .license_comment {
		display: block;
		color: #E45939;
		font-weight: bold;
		position: relative;
		margin-top: -4px;
	}
	.term td.price-info-comment .price,
	.term td.price-info-licenses .price {
		display: none;
	}
	
.term-footer {
	zoom: 1;
	overflow: hidden;
}
	

/*******************Signup button********************/
.terms-button {
	height: 39px;
	width: 195px;
	overflow: hidden;
	background: url(/img/promo2010/subscribe-button.png) 100% 0 no-repeat;
	float: left;
	padding-left: 50px;
}
	.terms-button input {
		border: 0;
		background: none;
		height: 39px;
		width: 195px;
		cursor: pointer;
	}
	
	.terms-button.disabled {
		background-position: 100% -39px;
	}
		.terms-button.disabled input {
			cursor: default;
		}

.terms-button-upgrade {
	background-position: 100% -78px;
}
	.terms-button-upgrade.disabled {
		background-position: 100% -117px;
	}

/*******************HEADER********************/

.header-whitespace {
	height: 65px;	/* Empty space at the top of the page for header */
}
#header {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 860px;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 140%;
	
	font: 0.916em Arial, Helvetica, sans-serif;
}
	#header .header-inner {
		margin: 0 2%;
	}
	#header .header-back-l {
		position: relative;
		background: url(/img/header-sprite.png) 0 0 no-repeat;
		margin: 0 -9px;
	}
	#header .header-back-r {
		background: url(/img/header-sprite.png) 100% -94px no-repeat;
		padding: 0 25px;
	}
	#header .header-back-c {
		background: url(/img/header-sprite.png) 0 -47px repeat-x;
		height: 47px;
	}

	* html #header .header-back-l,
	* html #header .header-back-r,
	* html #header .header-back-c { background-image: url(/img/header-sprite.gif); }

	#header .section {
		float: right;
		margin: 0;
		height: 27px;
		padding: 8px 40px 0 0;
	}

/* Logo */
#header .logo {
	display: block;
	float: left;
	padding: 8px 12px 5px 0;
}
#header .section-logo {
	border-right: 0;
	border-left: 1px solid #CDDEEF;
	padding: 9px 0 0 13px;
	height: 28px;
	color: #613C3D;
	text-transform: uppercase;
	float: left;
	font-weight: bold;
}
	#header .section-logo a {
		color: #F26522;
	}
	#header .section-logo a:hover {
		text-decoration: none;
	}

/* User */
#header .user_name {
	float: right;
	border-right: 0;
	border-left: 1px solid #C8D5DD;
	padding: 0;
	height: auto;
}

#header .user_name div {
	border-left: 1px solid #FAFBFD;
	padding: 8px 0 0 12px;
	margin-top: 0;
	height: 29px;
	float: left;
}

#header .user_name #session_full_name {
		color: #222;
	}
	#header .user_name .logout a {
		color: #666;
		font-weight: normal;
	}
	
	#header .user_name #session_full_name {
		color: #613C3D;
		display: inline-block;
		padding-left: 5px;
		padding-bottom: 2px;
		vertical-align: middle;
	}
	
	#header .user_name .avatar {
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		height: 24px;
		background: url(/avatar/header.24.gif) 0 0 no-repeat;
	}
	#header .user_name .pro {
		vertical-align: middle;
		padding-bottom: 2px;
	}
	
	#header .user_name #session_full_name,
	#header .user_name .pro,
	#header .user_name .logout {
		padding-bottom: 4px;
	}

	#header .user_name a {
		text-decoration: none;
		vertical-align: middle;
		color: #613C3D;
	}
	
	#header .user_name .logout {
		padding-left: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	#header .user_name .logout a {
		color: #353535;
		text-decoration: none;
		font-weight: bold;
		display: inline-block;
		padding-top: 1px;
	}
	#header .user_name .logout a:hover {
		color: #36c;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#header .user_name .logout a {
			padding-top: 3px;
		}
	}

/*******************Bottom text********************/

.bottom-text {
	font: 1.166em Helvetica,Arial,sans-serif;
	color: #333;
	background: #fff;
}
	.bottom-text .content_wrapper {
		width: 800px;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.bottom-text h2 {
		font-size: 1.5em;
		font-weight: normal;
		color: #747474;
		padding: 18px 0 18px;
	}
		.bottom-text h2 b, .bottom-text h2 strong {
			font-weight: bold;
		}
		
	.bottom-text h3 {
		font-size: 1em;
		font-weight: bold;
		padding: 10px 0 0;
	}
	.bottom-text p {
		padding: 0 0 8px;
	}
	
	.bottom-text a {
		color: #020568;
	}
		.bottom-text a:hover {
			text-decoration: none;
		}

/*******************FOOTER********************/

#footer {
	position: relative;
	text-align: left;
	text-transform: uppercase;
	color: #999;
	font: 10px Arial, Helvetica, sans-serif;
	border-top: 1px solid #E2E2E2;
	padding: 10px 8px 0 9px;
	margin: 10px 22px 0;
}
* html #footer {
	margin-bottom: -8px;
}

#footer a {
	color: #288CD0;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

#footer .nav {
	float: right
}
