/* scaffolding */

html {
	height: 100%;
}

body {
	background-color: @white;
	background: top center url('/public/images/bgwhitenoise.jpeg') repeat @white;
	&.navbar-small {
		// padding-top: 40px;
		height: 100%;
	}
}

.main {
	
	padding: 60px 0;
}

/* utility classes */

.clearBoth {
	clear: both;
}

.navbar-padding {
	padding-top: 120px;
}

.spaced {
	margin-top: 40px;
}

.spaced-2x {
	margin-top: 80px;
}

.spaced-3x {
	margin-top: 120px;
}

.center {
	text-align: center;
}

.shadow {
	.box-shadow(1px 1px 1px @hrBorder);
}

.text {

	h1, h2, h3, h4, h5, h6, p {
		margin-left: 40px;
	}
}

div.clear {
	clear: both;
}

.stripe {
	position: relative;
	background: top center url('../../images/stripe-tile.png') repeat #98BFD0;
}

.reflect {
	-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.9, transparent), to(rgba(255, 255, 255, 0.5)));
}

.glow {
	// font-weight: bold;
	text-shadow: 0 0 14px rgba(255, 255, 255, 0.8);
}

.glow-box {
	.box-shadow(0 0 30px rgba(255, 255, 255, 0.6));
}

/* fancybox */

.fancybox-skin {
	background-color: #fff !important;
}

.fancybox[rel="tour"],
.fancybox[rel="features"] {

	display: inline-block;
	position: relative;

	&:hover:before {
		content: url('../../images/features-zoom.png');
		position: absolute;
		top: -5px;
		right: -5px;
	}
}

/* form validation */

.error {
	color: @red;
}

/* typography */

h1 {
	margin-bottom: 20px;
	font-size: 34px;
	line-height: 50px;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	line-height: 26px;

	[class^="icon-"], [class*=" icon-"] {
		vertical-align: 0;
	}
}

h4 {
	font-size: @baseFontSize;
}

ul {
	margin-bottom: 20px;
}

small {
	font-size: 12px;
	color: @textColor;
}

blockquote {
	margin-top: 20px;
	border: none;
}

p {
	margin-bottom: 18px;

	small {
		color: @textColor;
	}
}

p + p {
	margin-top: 10px;
}

/* bootstrap */

.navbar {

	z-index: 100;

	.navbar-inner {
		height: @navbarHeight;
		min-height: @navbarHeight;
		.box-shadow(0 4px 12px rgba(0, 0, 0, 0.2));
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	}

	.nav > li > a {

	    // .transition(all 0.1s ease);

		font-size: 18px;
		font-weight: bold;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);

		&:hover {
			text-decoration: underline;
		}

		&.signin-button {
			color: @orange;
		}
	}

	.brand {
		.transition(all 0.1s ease);
		padding: 14px 20px 10px;
	}

	.divider-vertical {
		// .transition(all 0.1s ease);
		height: @navbarHeight;
	}

	.btn-navbar {
		padding: 7px 5px 7px 10px;
		background-image: none;
		background-color: @blue;

		&:hover {
			background-color: @red;
		}

		.icon-bar {
			margin-right: 20px;
		}

		.icon-chevron-down {
			margin-top: -2px;
		}
	}

	&.navbar-small {

		.navbar-inner {
			height: 40px;
			min-height: 40px;
			.box-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
		}

		.nav {
			z-index: 10;
		}

		.brand {
			padding: 10px 20px 7px;

			& > img {
				width: 50px;
			}
		}
	}

	&.navbar-scroll {
		// .transition(all 0.5s ease);
		// opacity: 0.8;

		.navbar-inner {
			.transition(all 0.5s ease);
			height: 50px;
			min-height: 40px;
			background-image: none;
			background-color: rgba(215, 230, 239, 0.9);
		}

		.nav > li > a {
			// .transition(all 0.5s ease);
			padding: 14px 10px 16px;
		}

		.brand {
			// .transition(all 0.5s ease);
			padding: 4px 20px 0px;
		}

		.divider-vertical {
			// .transition(all 0.5s ease);
			height: 40px;
			margin-top: 5px;
			opacity: 0.5;
		}
	}
}

footer {
	padding: 40px 0 20px;
	background-color: @navbarBackground;

	.row:first-child [class*="span"] {
		min-height: 160px;
		box-sizing: border-box;
		.box-shadow(1px 0 0 @hrBorder);

		&:last-child {
			.box-shadow(none);
		}
	}

	.copy {
		height: auto;
	}

	p {
		margin-top: 0;
		margin-bottom: 20px;
	}

	small {
		line-height: 30px;
	}

	h4 {
		margin-bottom: 10px;
	}

	ul {
		margin-left: 0;
	}

	li {
		padding-left: 12px;
		margin-bottom: 3px;
		list-style-type: none;
		background: url('../../images/icon-footer-list.gif') 2px 5px no-repeat;
	}

	select {
		height: 24px;
		margin-bottom: 0;
		font-size: 12px;
	}

	.connect {
		li {
			padding-left: 24px;
		}

		li:nth-child(1) {
			background: url('../../images/footer/icon-rss.gif') 0px 2px no-repeat;
		}

		li:nth-child(2) {
			background: url('../../images/footer/icon-facebook.gif') 0px 2px no-repeat;
		}

		li:nth-child(3) {
			background: url('../../images/footer/icon-twitter.gif') 0px 2px no-repeat;
		}

		li:nth-child(4) {
			background: url('../../images/footer/icon-uservoice.gif') 0px 2px no-repeat;
		}
	}
}

.well {
	padding: 20px;
	border: 1px solid @hrBorder;
	.border-radius(8px);
	.box-sizing(border-box);
	.box-shadow(1px 1px 6px rgba(0, 0, 0, 0.2));
	background-color: @white;

	p {
		margin-left: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.tabs-left > .nav-tabs {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 18px;

	border-right-color: transparent;

	li > a {
		background-color: @navbarBackground;
		.border-radius(4px);
		.box-shadow(1px 1px 0px @hrBorder);
	}

	li > a:hover,
	li.active > a,
	li.active > a:hover {
		border-color: transparent;
		background-color: @blue;
		color: @white;
	}

}

.tab-content {
	position: relative;
	border-top: none;
	.border-radius(0 0 3px 3px);
	overflow: hidden;

	.tab-pane {
		z-index: 2;
		position: relative;
		min-height: 400px;

		&.fade {
			.transition(opacity 0.4s linear);
		}
	}

	#tab-clone {
		z-index: 1;
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		opacity: 0;

		.well {
			// visibility: hidden;
		}
	}
}

.form {
		border: none;
		.border-radius(10px);
		background-color: #fff;

	legend {
		padding: 0 0 15px;
		color: @headingTextColor;
		font-size: 22px;
		font-weight: bold;
	}

	p {
		margin-top: 15px;
	}

	.form-actions {
		background-color: transparent;
		border: none;
	}
}

.btn {

	font-weight: bold;

	[class^="icon-"], [class*=" icon-"] {
		vertical-align: -1px;
	}
}

.btn-info {
	color: @linkColor;
}

.btn-xlarge {
	text-shadow: 0px 1px 1px #000;
	padding: 14px 30px;
	font-size: 18px;
	&:hover {
		text-shadow: 0px 2px 1px #333;
	}
}

.popover {

	.popover-inner {
		background-color: darken(@blue, 3%);
		padding: 5px;
	}

	&.right .arrow {
		border-right-color: darken(@blue, 3%);
	}

	&.bottom .arrow {
		border-bottom-color: darken(@blue, 3%);
	}

	.popover-title {
		display: none;
	}

	.popover-content {
		background-color: darken(@blue, 3%);
		padding: 10px;
		font-size: 12px;
		line-height: 15px;
		color: @white;

		p {
			margin-top: 0;
		}
	}
}

.progress {
	height: 35px;
	#gradient > .vertical(darken(@grayLighter, 5%), @grayLighter);
}

/* collapsers */

.slider {
	cursor: pointer;
	margin-top: 5px;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;

	&:first-child {
		margin-top: 0;
	}

	.icon-chevron-down {
		display: inline-block;
	}

	.icon-chevron-right {
		display: none;
	}
}

.off {

	.icon-chevron-down {
		display: none;
	}

	.icon-chevron-right {
		display: inline-block;
	}
}

/* pages */

.hero {

	.stripe;
	.navbar-padding;

	.box-shadow(inset 2px 0 10px @hrBorder);

	h1, h2, h3, p, a {
		position: relative;
	}

	h1, h2, h3 {
		color: @grayDark;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
	}

	h1 {
		font-weight: normal;
		font-size: 54px;
	}

	.base {
		position: absolute;
		bottom: 0;
		height: 120px;
		width: 100%;
		#gradient > .vertical(#5D7F8B, #7CA6B6);
	}
}

.index {

	h1 {
		margin-bottom: 34px;
		margin-top: 20px;
	}

	#splash {
		margin-top: 40px;
		text-align: right;
	}

	&.hero {

		padding-bottom: 0;

		h3 {
			margin-top: 60px;
			min-width: 250px;
		}

		p {
			min-width: 250px;
		}
	}

	.btn-signup {
	}

	.btn-tour {
		z-index: 1;
		margin-top: 50px;
	}

	.phone {
		position: relative;
		top: 0;
		left: 20px;
		z-index: 10;
		max-width: 130px;
	}

	.web {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 15px;
		z-index: 20;
		max-width: 480px;
	}

	&.features {

		padding-bottom: 0;

		img {
			margin-bottom: 20px;
			max-width: 90%;
		}
	}

	.speech-bubble {
		position: relative;
		padding: 20px;
		background: #98BFD0;

		.border-radius(10px);

		&:after {
			content:"";
			display: block; /* reduce the damage in FF3.0 */
			position: absolute;
			bottom: -15px;
			left: 30px;
			width: 0;
			border-width: 15px 15px 0;
			border-style: solid;
			border-color: #98BFD0 transparent;
		}
	}

	.quoter {
		margin-left: 30px;
	}
}

.signup {

	h2 {
		margin-bottom: 40px;

	}

	.slider {
		margin-bottom: 18px;
		font-size: 18px;
		font-weight: bold;

		[class^="icon-"], [class*=" icon-"] {
			vertical-align: 0;
		}
	}

	.plans {
		position: relative;
		z-index: 10;
		margin-bottom: 0;
		border: none;
		.border-radius(10px);
		background-color: #fff;

		th, td {
			text-align: center;
			vertical-align: middle;
			padding: 15px 5px;
		}

		tr:hover th,
		tr:hover td {
			background-color: transparent;
		}

		thead th {
			padding: 30px 20px 0;
			vertical-align: top;

			h2 {
				margin-bottom: 0;
				line-height: 30px;
			}

			&:nth-child(2) {

				background-color: #FDFBDF;

				h2 {
					color: #F26522;
				}
			}

			&:nth-child(3) {

				background-color: #FDFBDF;

				h2 {
					color: #CE8C35;
				}
			}

			&:nth-child(4) {
				background-color: #F3F3F3;
			}

			p {
				margin-top: 0;
				margin-bottom: 10px;
			}
		}

		thead tr th:first-child {

			.border-radius(10px 0 0 0);
		}

		tbody td {

			&:nth-child(2) {
				background-color: #FDFBDF;
			}

			&:nth-child(3) {
				background-color: #FDFBDF;
			}

			&:nth-child(4) {
				background-color: #F3F3F3;
			}
		}

		tbody th {
			text-align: right;
			padding-right: 20px;
		}

		tbody tr:last-child th:first-child {
			.border-radius(0 0 0 10px);
		}

		a[rel=popover] {
			cursor: pointer;
			color: @textColor;
			text-decoration: underline;
		}
	}

	.plans-border {
		position: relative;
		z-index: 9;
		margin-bottom: 40px;
		padding: 10px;
		.border-radius(10px);
		background-color: rgba(0, 0, 0, 0.2);
	}
}

.signup-free {

	.form {

		h3, .terms {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	ul {
		margin-left: 100px;
	}
}

.signin {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0;

	.logo {
		margin-bottom: 15px;
		//height: 48px;
		text-align: right;
	}

	.signin-outer {
		height: 100%;
		display: table;
		width: 500px;
		margin: 0 auto;
	}

	.signin-inner {
		display: inline-block;
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 40px;
		
		& > .well {
			max-width: 360px;
			margin-left: 70px;
		}
	}
	
	.footer {
		font-size:12px;
		font-weight: 600;
		a {
			padding: 5px;
		}
	}
}

.signin-form {

	margin-bottom: 0;

	legend {
//	padding-bottom: 10px;
		padding: 0px;
		border-bottom: none;
		margin-bottom: 0px;
		text-align: center;
	}

	input {
		display: inline-block;
		margin: 10px 0;
	}

	.checkbox {
		max-width: 250px;
		margin: 10px auto;
		text-align: left;

		input {
			margin-top: 5px;
		}
	}

	button {
		margin: 20px 0 10px;
		text-shadow: 0px 1px 1px #000;
		padding: 14px 40px;
		font-size: 18px;
		&:hover {
			text-shadow: 0px 2px 1px #333;
		}
	}
}

.blog {

	article {
		padding-bottom: 50px;
		margin: 60px 40px 60px 0;
		border-bottom: 1px solid @hrBorder;
	}

	small {
		color: @grayLight;
	}

	.sidebar {
		margin-top: 40px;
	}
}

.help {

	.nav-tabs > .user-guide > a {

		[class^="icon-"], [class*=" icon-"] {
			vertical-align: -1px;
			opacity: 0.5;
		}
	}

	.well {
		margin-left: 60px;
	}
}

.tour {

	padding: 100px 0 0;

	.mobile {
		height: 120px;
	}


}

#overview {

	.well {
		padding: 15px;
	}

}

.block1 {
	padding-bottom: 30px;
	margin-bottom: 50px;
	border-bottom: 1px solid @hrBorder;

	.well2 {
		.well;
	}
}

.block2 {

	margin-top: 60px;

	img {
		width: 65px;
		margin-right: 40px;
	}
}

.pricer {

	.well {
		margin-left: 40px;
		padding: 40px;
	}

	.nav-tabs {
		border: 1px solid #ddd;
		.border-radius(20px);
		width: 100%;
		min-width: 310px;

		& > li > a,
		& > li > a:hover {
			box-sizing: border-box;
			margin-right: 0;
			border-left: 1px solid #ddd;
			border-top: none;
			border-right: none;
			.border-radius(0);
			background-color: transparent;
			text-align: center;
		}

		& > li.active > a {
			background-color: @blue;
			color: @white;
		}

		& > li:first-child > a {
			border-left: none;
		}

		& > li:last-child > a {
			margin-right: -3px;
		}

		&.users > li {
			width: 14.28%;
		}

		&.months > li {
			width: 20%;
		}

	}

	h1, h2, h3, h4, h5, p {
		margin-left: 0;
	}

	h4 {
		margin-top: 20px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.help, .tour {

	h2 {
		margin-top: 40px;

		&:first-child {
			margin-top: 0;
		}
	}

	p.well {
		margin-left: 40px;
	}
}

.form {
    span.error {
	    color: red;
	    padding-left: 10px;
	    position: absolute;
	    top: 15px;
	    font-size: 80%;
    }
}


/* responsive */

@media (max-width: 979px) {

	.btn-xlarge {
		padding: 14px 20px;
	}

	.index #splash {
		text-align: left;
		margin-top: 80px;

		.web {
			width: 70%;
		}

		.phone {
			width: 20%;
		}
	}

	.hero h1 {
		margin-bottom: 0;
		font-size: 40px;
	}

	.index.hero h3 {
		margin-top: 0px;
	}

	.features {

		.span4 > div {
			margin-top: 60px;
			text-align: center;
		}
	}

	footer .row:first-child [class*="span"] {
		min-height: 0;
		.box-shadow(none);
	}
}

@media (max-width: 767px) {

	body {
		border-top: none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.navbar-fixed-top,
	.navbar-inner {
		margin: 0 !important;
		padding: 0 !important;
	}

	.navbar-padding {
		padding-top: 40px;
	}

	.navbar {

		.nav-collapse {

			z-index: 110;

			.nav {
				background-color: @navbarBackground;
			}

			.nav > li > a {
				text-align: right;

				&:hover {
					.border-radius(0);
					background-color: #98BFD0;
					text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
					text-decoration: none;
				}
			}

			&.in {

				.nav {
					border-bottom: 1px solid rgba(255, 255, 255, 0.4);
					.box-shadow(0 4px 3px rgba(0, 0, 0, 0.2));
				}


			}
		}
	}

	footer {
		padding-left: 40px;
		padding-right: 40px;
	}

	.main {
		padding: 20px;
	}

	.index {

		#splash {
			margin-top: 60px;
		}

		&.hero p {
			text-align: center;
		}

		.btn-tour {
			margin-top: 0;
		}
	}

	.signin {

		.signin-outer {
			width: 200px;

			.checkbox {
				width: 200px;
			}
		}
	}

	.base {
		display: none;
	}

	h1 {
		margin: 40px 0 10px;
	}

	.text {
		h1, h2, h3, p, p.well, li {
			margin-left: 0;
		}

		.well {
			max-width: 400px;
		}

		.well > img {
			width: 100%;
		}

	}

	.tabs-left > .nav-tabs {
		margin-top: 60px;
	}

	.help .pricer .well, .tour .pricer .well {
		margin-left: 0;
	}
}

.apps-container, .apps-container-page {
	text-align: center;
	
	.span3 {
		margin-left: 0;
	}
}

.apps-container-page {
	padding-top: 70px;
}


@popoverErrorColor: #B22222;

.popover {
	.popover-content {
		background-color: @popoverErrorColor;
		border-radius: 5px;
		padding: 7px;
		font-size: 12px;
		line-height: 12px;
	}
	.popover-inner {
		background-color: @popoverErrorColor;
		width: auto;
	}
}
.popover.right {
	.arrow {
		border-right-color: @popoverErrorColor;
	}
}

.signin-form {
	input[type="text"],
	input[type="password"] {
	    border: 1px solid #ccc;
	    height: 20px;
	    line-height: 20px;
	}
	#remembermeWrapper label {
		display: inline;
		padding-left: 0;
		vertical-align: middle;
	}
}

body.msie8 .signin-form #password {
	font-family: Arial;
}

#thinker .bar.bar-ie9 {
	filter: 0;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzA0ODBCRSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzE0OUJERiIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzE0OUJERiIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDQ4MEJFIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwNDgwQkUiIG9mZnNldD0iMC43NSIvPjxzdG9wIHN0b3AtY29sb3I9IiMxNDlCREYiIG9mZnNldD0iMC43NSIvPjxzdG9wIHN0b3AtY29sb3I9IiMxNDlCREYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNjQpIiAvPgo8L3N2Zz4=);
}

#thinker.bar-ie8 {
	.bar {
		background-image: url(/public/app/img/animated-overlay.gif);
		filter: 0;
	}
}