html, head, body, div, span,
/*DOCTYPE, title, link, meta, style,*/
p, h1, h2, h3, h4, h5, h6, strong, em, abbr, acronym, address, bdo, blockquote, cite, q, code, ins, del, dfn, kbd, pre, samp, var, br,
a, base,
img, area, map, object, param,
ul, ol, li, dl, dt, dd,
table, tr, td, th, tbody, thead, tfoot, col, colgroup, caption,
form, /*input, textarea, select, option, optgroup, button,*/ label, fieldset, legend,
b, i, tt, sub, sup, big, small, hr
{
	margin: 0;
	padding: 0;
}
input, textarea, select, option, optgroup, button {
	margin: 0;
}
/*
*, body {
	scrollbar-3dlight-color: #;
	scrollbar-arrow-color: #;
	scrollbar-darkshadow-color: #;
	scrollbar-face-color: #;
	scrollbar-highlight-color: #;
	scrollbar-shadow-color: #;
	scrollbar-track-color: #;
}
*/
/**
 * png as background in IE
 *
 *	* html ... {
 *		background: none;
 *		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=[image_name].png, sizingMethod=[crop|scale|image]);
 *	}
 *
 */
html {
	border: none;
}
body {
	color: #333;
	font: 12px Trebuchet MS, Arial, Helvetica, sans-serif;
	padding-bottom: 15px;
}
#spacer {
	height: 800px;
}
/**
 * :hover for any element in IE 
 */
* html body {
	behavior: url(/lib/csshover.htc);
}
img {
	vertical-align: middle;
	border: none;
}
input,
select,
textarea {
	vertical-align: middle;
	font: 95% Arial, Helvetica, sans-serif;
}
table {
	border-collapse: collapse;
	empty-cells: show;
}
table td {
	vertical-align: top;
}
a:link, a:visited, a:hover, a:active  {
    color: #36C;
}
/**
 * .png in IE 
 */
* html .png {
	behavior: url(/lib/png.htc);
}
/**
 * .png as background in IE (background-image need to be written in HTML, not CSS) 
 */
/*
* html .pngback {
	background-image: none !important;
	behavior: url(css/pngback.htc);
}
*/
.hidden {
    display: none !important;
}
.full {
	width: 100%;
}
.clear {
	clear: both;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.clear {
	height: 0;
}
.center {
	text-align: center;
}
h1 {
	font: 200% 'Trebuchet MS', Verdana, Arial;
	font-weight: bold;
}
h2 {
	font-size: 134%;
}
h3 {
	font-size: 117%;
}
h4 {
	font-size: 117%;
	color: #999;
	font-weight: normal;
}
h5 {
	font-size: 92%;
}
h6 {
	font-size: 84%;
}
.lt, .rt, .rb, .lb {
	background-repeat: no-repeat;
}
.lt {
	background-position: left top;
}
.rt {
	background-position: right top;
}
.rb {
	background-position: right bottom;
}
.lb {
	background-position: left bottom;
}
.list ul{
	list-style: none;
	margin: 885px 0 0 0;
}
.list li{
	padding: 4px 5px 10px 45px;
	background: url(/img/subscribe/bullet.gif) 10px 3px no-repeat;
	//background-position-y: 2px; 
	list-style: none;
	font-weight: bold;
	line-height: 150%;
	font-size: 16px;
}


/*******************HEADER********************/

.header-whitespace {
	height: 65px;	/* Empty space at the top of the page for header */
}
#header {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 860px;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 140%;
	
	font: 0.916em Arial, Helvetica, sans-serif;
}
	#header .header-inner {
		margin: 0 2%;
	}
	#header .header-back-l {
		position: relative;
		background: url(/img/header-sprite.png) 0 0 no-repeat;
		margin: 0 -9px;
	}
	#header .header-back-r {
		background: url(/img/header-sprite.png) 100% -94px no-repeat;
		padding: 0 25px;
	}
	#header .header-back-c {
		background: url(/img/header-sprite.png) 0 -47px repeat-x;
		height: 47px;
	}
	
	* html #header .header-back-l,
	* html #header .header-back-r,
	* html #header .header-back-c { background-image: url(/img/header-sprite.gif); }

	#header .section {
		float: right;
		margin: 0;
		height: 27px;
		padding: 8px 40px 0 0;
	}

/* Logo */
#header .logo {
	display: block;
	float: left;
	padding: 8px 12px 5px 0;
}
#header .section-logo {
	border-right: 0;
	border-left: 1px solid #CDDEEF;
	padding: 9px 0 0 13px;
	height: 28px;
	color: #613C3D;
	text-transform: uppercase;
	float: left;
	font-weight: bold;
}
	#header .section-logo a {
		color: #F26522;
	}
	#header .section-logo a:hover {
		text-decoration: none;
	}

/* User */
#header .user_name {
	float: right;
	border-right: 0;
	border-left: 1px solid #C8D5DD;
	padding: 0;
	height: auto;
}

#header .user_name div {
	border-left: 1px solid #FAFBFD;
	padding: 8px 0 0 12px;
	margin-top: 0;
	height: 29px;
	float: left;
}

#header .user_name #session_full_name {
		color: #222;
	}
	#header .user_name .logout a {
		color: #666;
		font-weight: normal;
	}
	
	#header .user_name #session_full_name {
		color: #613C3D;
		display: inline-block;
		padding-left: 5px;
		padding-bottom: 2px;
		vertical-align: middle;
	}
	
	#header .user_name .avatar {
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		height: 24px;
		background: url(/avatar/header.24.gif) 0 0 no-repeat;
	}
	#header .user_name .pro {
		vertical-align: middle;
		padding-bottom: 2px;
	}
	
	#header .user_name #session_full_name,
	#header .user_name .pro,
	#header .user_name .logout {
		padding-bottom: 4px;
	}

	#header .user_name a {
		text-decoration: none;
		vertical-align: middle;
		color: #613C3D;
	}
	
	#header .user_name .logout {
		padding-left: 20px;
		display: inline-block;
		vertical-align: middle;
	}
	#header .user_name .logout a {
		color: #353535;
		text-decoration: none;
		font-weight: bold;
		display: inline-block;
		padding-top: 1px;
	}
	#header .user_name .logout a:hover {
		color: #36c;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#header .user_name .logout a {
			padding-top: 3px;
		}
	}



#head{ 
	width: auto;
	margin: 0 auto;
}
#head img{
	padding: 20px 0;
}	
#main{
	width: 550px;
	margin: 0 auto;
}
#main .title{
	font-weight: bold;
	font-size: 18pt;
	color: #036CB4;
	padding: 5px 5px 5px 15px;
}
#main .text{
	padding: 20px 5px 20px 15px;  
}
#main .smalltitle{
	font-weight: bold;
	font-size: 16pt;
	color: #036CB4;
	padding: 5px 5px 15px 15px;
}
#tab{
	width: 550px;
}
#tab .blue{
	background: #deedff;
}
#tab .blue .topround{
	background: url('/img/subscribe/blt.jpg') no-repeat left top;
	text-align: right;
	vertical-align: top;
	height: 22px;
}
#tab .yel{
	border-left: solid 5px #FFF;
	background: #FDFBD0;
}
#tab .yelround{
	background: url('/img/subscribe/ylt.jpg') no-repeat left top;
	text-align: right;
	vertical-align: top;
	height: 22px;
}
#tab .text{
	padding: 0px 0px 0px 10px;
	width: 275px;
	background: #deedff;
	vertical-align: top;
}
#tab .yelbox{
	width: 275px;
	padding: 5px;
	background: #fdfbd0;
	vertical-align: top;
	border-left: solid 5px #FFF;
}
#tab .botround{
	background: url('/img/subscribe/blb.jpg') no-repeat left bottom;
	text-align: right;
	vertical-align: bottom;
}
#tab .botyelround{
	background: url('/img/subscribe/ylb.jpg') no-repeat left bottom;
	text-align: right;
	vertical-align: bottom;
}
#bottom{
	background:url('/img/subscribe/bottom.jpg') no-repeat center bottom;
	height: 200px;
	margin-top: 20px;
}
#line{
	margin-top: 30px;
	width: 600px;
}
#line .topround{
	background: #deedff url('/img/subscribe/blt.jpg') no-repeat left top;
	text-align: right;
	vertical-align: top;
	height: 22px;
}
#botline{
	width: 600px;
}
#botline .botround{
	background: #deedff url('/img/subscribe/blb.jpg') no-repeat left bottom;
	text-align: right;
	vertical-align: bottom;
}
#linetext{
	padding: 10px 20px 10px 20px;
	background: #deedff;
}
.sendinput{
	border: solid 1px #92bbed;
	width: 60%;
	float: left;
	height: 19px;
}
.inputform{
	text-align: center;
	padding: 5px 5px 10px 0px;
}
.sendbut{
	float: left;
	margin: 0 0 0 5px;
}

/*******************FOOTER********************/

#footer {
	position: relative;
	margin-top: 10px;
	text-align: left;
	text-transform: uppercase;
	color: #999;
	font: 10px Arial, Helvetica, sans-serif;
	border-top: 1px solid #E2E2E2;
	padding: 10px 8px 0 9px;
	margin: 0 22px 0;
}
* html #footer {
	margin-bottom: -8px;
}

#footer a {
	color: #288CD0;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}

#footer .nav {
	float: right
}


.error {
	color: #BC121B;
	font-weight: bold;
	padding-bottom: 15px;
}
.box_wrapper p.error {
	padding-bottom: 0;
}
.error_old {
	color: #F00 !important;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0 0 13px 0;
	background: url(/img/promo/forgot_error_triangle.gif) right bottom no-repeat;
}
.error_old .back {
	border-bottom: 1px solid #CD2127;
	background: #CD2127 url(/img/promo/forgot_error_back.gif) left center repeat-x;
}
.error_old .lt {
	margin: 0 0 -1px 0;
	background-image: url(/img/promo/forgot_error_lt.gif);
}
.error_old .rt {
	background-image: url(/img/promo/forgot_error_rt.gif);
}
.error_old .rb {
	background-image: url(/img/promo/forgot_error_rb.gif);
}
.error_old .lb {
	background-image: url(/img/promo/forgot_error_lb.gif);
	color: #FFF;
	font-weight: bold;
	padding: 10px 40px;
	text-align: center;
}
.subtitle {
	font-size: 26px;
	text-align: center;
	margin: 20px;
}

/****NEW ONE****/

#main{
	width: 600px;
	font-size: 100%;
}
#main .premium .cont {
	width: 600px;

	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
}
#main .premium ul {
	list-style: none;
}
#main .premium li {
	padding: 4px 0 3px 0;
	color: #333;
	font-size: 117%;
}
#main h4 {
	color: #333;
	font-weight: normal !important;
	font-size: 107%;
	margin: 0 0 10px 0px;
}
#main #free, #main #premium {
	float: left;
	position: relative;
	text-align: center;
}

#main #free {
	margin: 0;
	margin-top: 20px;
	width: 310px;
	text-align: left;
}
#main #free .border {
	border: 5px solid #EDEDED;
	border-right: 0;
	position: relative;
}
#main #free .lt {
	margin: -5px;
	background: url(/img/settings_gray_t.gif) left top no-repeat;
}
#main #free .lb {
	background: url(/img/settings_gray_b.gif) left bottom no-repeat;
	padding: 5px 0 5px 0;
}
#main #free .right {
	width: 165px;
	position: absolute;
	left: 145px;
	top: 0;
}
* html #free .right{
	margin-top: 5px;
}
#main #free .right .border2 {
	border: 0;
	background: #F6F6F6;
}
#main #free .right .lt {
	margin: 0;
	background: url(/img/settings_gray2_t.gif) left top no-repeat;
}
#main #free .right .lb {
	margin: 0;
	background: url(/img/settings_gray2_b.gif) left bottom no-repeat;
}
#main #free .right h2 {
	font-size: 100%;
	padding: 8px 0 0 46px;
	height: 24px;
}
#main #free .left {
	width: 150px;
}
#free .right ul {
	margin-bottom: 25px;
}
#free .left ul {
	margin: 37px 0 30px 18px;
}
#free .left ul li {
	margin-right: 0;
	padding-left: 30px !important;
}
#free li {
	border-top: 1px solid #DEDEDE;
	text-align: left;
	margin-right: 14px;
	padding-left: 46px !important;
}
#free li:first-child {
	border: none;
}
* html #free li{
	border-top: expression(!previousSibling ? 'none' : 'inherit');
}

#main #premium {
	width: 232px;
	margin: 0;
}
#main #premium .border {
	background: #FFFCD6;
	border: 5px solid #FFA800;
	position: relative;
}
#main #premium .background {
	margin: -5px;
	background: url(/img/settings_premium_background.gif) left 15px repeat-x !important;
}
#main #premium .lt {
	background: url(/img/settings_premium_lt.gif) left top no-repeat !important;
}
#main #premium .rt {
	background: url(/img/settings_premium_rt.gif) right top no-repeat !important;
}
#main #premium .rb {
	background: url(/img/settings_premium_rb.gif) right bottom no-repeat !important;
}
#main #premium .lb {
	background: url(/img/settings_premium_lb.gif) left bottom no-repeat !important;
	padding: 15px 5px 15px 5px;
}
#main #premium .cont2 {
	background: #FFFCD6;
	min-height: 322px;
}
* html #premium .cont2 {
	height: 322px;
}
#premium h2 {
	padding-top: 4px;
	font-size: 228%;
	color: #333;
}
#premium h3 {
	color: #333;
	margin-top: 10px;
	padding: 0;
	line-height: 1.5em;
}

#premium h3 small {
	font-size: 129%;
	line-height: 1.5em;
}
#premium h3 strong {
	font-size: 258%;
}
#premium ul {
	margin: 5px 26px 0 16px;
}
#premium li {
	border-bottom: 1px solid #F0B67B;
}
#premium select {
	font-size: 89%;
	margin-top: 10px;
	margin-bottom: 6px;
	width: 59px;
}
#subscribe_block {
	margin-left: -70px;
}

.cont {
	padding-left: 14px;
}