/*******************ABSTRACT******************/

html {
	background: #FFF url(/img/teaser/html_back.png) left top repeat-x;
}
body {
	background: url(/img/teaser/body_back.gif) left top no-repeat;
	color: #044473;
	padding: 74px 10px 50px 10px;
}
#container {
	width: 701px;
	margin: 0 auto;
}
h1 {
	font: 30px Helvetica,Arial, sans-serif;
	font-size: 250%;
	letter-spacing: -1px;
}
h2 {
	font-size: 150%;
	font-weight: normal;
	letter-spacing: -1px;
}
h3 {
	font-size: 135%;
	font-weight: normal;
	margin: 4px 0 28px 0;
	letter-spacing: -1px;
}

/*******************HEADER********************/

#header {
	margin: 0 0 37px 0;
}

/*******************MAIN**********************/

#main {
	text-align: center;
}
#main .screenshot {
	margin: 0 0 34px 0;
}
