<table width="100%">
	<tr>
		<td class="txt" data-dojo-attach-point="titleTextContainerNode">
			<input data-dojo-type='dijit/form/TextBox' name="title" class="full txt"
					data-dojo-attach-point="titleInputNode" data-dojo-attach-event="onChange: handleTitleChange"/>
			<span class="hidden" data-dojo-attach-point="titleTextNode"></span>
		</td>
		<td class="btn" data-dojo-attach-point="saveButtonContainerNode">
			<button class='btn-success btn-alt btn-flat' type="button" data-dojo-type="dijit/form/Button" tabindex="-1" data-dojo-attach-event="onClick: save">{#common.add#}</button>
		</td>
		<td class="btn-upload" data-dojo-attach-point="uploadButtonContainerNode">
			<button type="button" tabindex="-1" data-dojo-attach-event="onClick: save" data-dojo-type="dijit.form.Button">{#common.start_upload#}</button>
		</td>
	</tr>
</table>