<form id='business_picture_select' class="business-settings" enctype="multipart/form-data" method="post" action="">
	<div class="wrap-settings-fieldset">
		<fieldset class="settings-fieldset">
			<h2>&{'settings.business_profile.business_title'}</h2>
			<input type="text" value="" id='business_title' name="business_title" class="text">

			<h2>&{'settings.business_profile.logo_title'}</h2>

			<div id='business_conditional_photo_button'></div>
			<br /><br />
			<img id='business_current_photo' class="hidden" onload="this.style.visibility='visible'" alt="" src="">
			<div id="business_no_current_photo" class="hidden"><span>&{'settings.add_picture_logo'}</span></div>
			<span id='business_delete_btnWrapper' style='display:none;'>
				<div id='business_delete_avatar' data-dojo-type='dijit.form.Button' iconClass='dijitIconDelete' showLabel=true><!--&{'settings.picture.delete'}--></div>
			</span>

			#{if _userBean.business}
				#{ settings.teamAccountDomainInfo userBean: _userBean, apiConfig: _apiConfig  /}
			#{/if}
			
			#{if _userBean.business && _userBean.business.userOwner}
				<p>&{'settings.invitation_link.text'} <a href="${_userBean.business.invitationLink}">${_userBean.business.invitationLink}</a></p>
			#{/if}
			#{if _userBean.business && _userBean.business.emailInbox}
				<p>&{'settings.team.email_inbox'} <a href="mailto:${_userBean.business.emailInbox}">${_userBean.business.emailInbox}</a>
			#{/if}
			
			<h2>&{'settings.business.license_title'}</h2>
			<div data-dojo-type='dijit.ProgressBar' id='licenseProgressBar' maximum=5 title=''></div>
			
			<div data-dojo-type='dijit.form.Button' class="upgradeButton">&{'settings.business.license_add'}
				<script type='dojo/method' event='onClick'>
					#{if _userBean.teamBasic}
						window.location.href='/teambasic/upgrade?ga_affiliation=settings_trial_upgrade';
					#{/if}
					#{else}
						window.location.href='/business/addlicenses?ga_affiliation=settings_team_upgrade';
					#{/else}
				</script>
			</div>

			<h2>&{'settings.business.storage_title'}</h2>
			<div data-dojo-type='dijit.ProgressBar' id='storageProgressBar' maximum=2500 title=''></div>
		</fieldset>
	</div>
	
	<div class="submit">
		<div data-dojo-type='dijit.form.Button' id='BA_settings_save' class='btn-success btn-alt'>&{'settings.change'}</div>
		&{'settings.return_or'} <a title="return to my tasks" href="/app">&{'settings.return_to_tasks'}</a>
	</div>
</form>
	
<script type='text/javascript'>
	var renewLicences,
		business_isOver = false,
		teamAwesomeUploader = !(dojo.isIE && dojo.isIE < 10),
		businessAccountTemplates = {
			expirationDate:i18n('settings.business.#{if _userBean.teamBusiness}business#{if _userBean.productPlan}_plan#{/if}#{/if}#{else}basic#{/else}_expires_text'),
			licensesUsed:i18n('settings.business.license_usage'),
			storageUsed:i18n('settings.business.storage_used')
		};
	
	function business_upload_onComplete(data)
	{
		if (!teamAwesomeUploader) positionOverlay('business',dojo.byId('business_overlayContainer'),dojo.byId('business_photo_placeholder'));
		dojo.byId('business_current_photo').src = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/business/'+data.hash+'.96.gif';
		dojo.style('business_delete_btnWrapper','display','');
		dojo.removeClass('business_current_photo', 'hidden');
		dojo.addClass('business_no_current_photo', 'hidden');
	}
	require(['dojo/ready','dojo/request/xhr','dojox/form/Uploader','dojox/form/uploader/plugins/Flash','dojo/html'],function(ready,xhr,uploader,flash,dojoHTML) {

		ready(function() {
			//#2476
			var businessIEBtnTemplate = '<span class="dijit dijitReset dijitInline picture dijitUploader dijitButton" style="overflow: hidden; position: relative; cursor: pointer;" widgetid="business_photo_placeholder"><input type="button" role="presentation" tabindex="-1" class="dijitOffScreen" value=""><span dojoattachevent="ondijitclick:_onClick" class="dijitReset dijitInline dijitButtonNode"><span aria-labelledby="business_photo_placeholder_label" role="button" dojoattachpoint="titleNode,focusNode" class="dijitReset dijitStretch dijitButtonContents" tabindex="-1" id="business_photo_placeholder" style="-moz-user-select: none;"><span dojoattachpoint="iconNode" class="dijitReset dijitInline dijitIcon dijitNoIcon"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span dojoattachpoint="containerNode" id="business_photo_placeholder_label" class="dijitReset dijitInline dijitButtonText">Upload</span></span></span></span>'
			//var businessIEBtnTemplate = '<span lang="en" role="presentation" class="dijit dijitReset dijitInline dijitButton secondaryButton"  ><span  role="presentation"  class="dijitReset dijitInline dijitButtonNode"><span aria-labelledby="business_photo_placeholder_label" role="button"  class="dijitReset dijitStretch dijitButtonContents" tabindex="0" id="business_photo_placeholder" style="-moz-user-select: none;"><span class="dijitReset dijitInline dijitIcon dijitNoIcon"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span id="business_photo_placeholder_label" class="dijitReset dijitInline dijitButtonText" >Upload</span></span></span><input type="button"  role="presentation" tabindex="-1" class="dijitOffScreen" value=""></span>';
			var uploadURL = Project.api2_full_url + '/business/picture?session_id=${_userBean.api2SessionId}';
			if (!teamAwesomeUploader) uploadURL = Project.api2_full_url + '/business/picture?is_flash=1&session_id=${_userBean.api2SessionId}';
			var uploader = null;
			if(teamAwesomeUploader)
				uploader = createUploader('business',businessIEBtnTemplate,uploadURL,business_isOver,i18n("settings.personal.upload"),business_upload_onComplete);

			//Delete picture
			dojo.connect(dijit.byId('business_delete_avatar'),'onClick',function() {
				showThrobber();
				var formData = {
					session_id:'${_userBean.api2SessionId}'
				};
				saveSettings({
						url:Project.api2_full_url,
						action:'business/picture',
						method:'DELETE'
					},formData,
					i18n("settings.personal.info_changed"),
					'Unable to delete your business logo at this time',
					null,
					function(data) {
						dojo.style('business_delete_btnWrapper','display','none');
						dojo.removeClass('business_no_current_photo', 'hidden');
						dojo.addClass('business_current_photo', 'hidden');
					}
				);
			});
			
			var updateBizAccount = function(evt) {
				var title = dojo.trim(dojo.byId('business_title').value),
					errorMsg = null;
				
				if (title.length > 30 || title.length < 1) {
					errorMsg = i18n('settings.business_profile.error.title', 1, 30);
				}
				
				if (errorMsg) {
					showResult(errorMsg);
					return;
				}
				saveSettings({
					url:Project.api2_full_url,
					action:'business',
					method:'POST'}, {
					title: title,
					session_id:'${_userBean.api2SessionId}'},
					
					i18n("settings.personal.info_changed"),
					'Unable to update your account details at this time'
				);
			};
			
			//Send Business Account data
			dojo.connect(dijit.byId('BA_settings_save'),'onClick',updateBizAccount);
			dojo.connect(dojo.byId('business_title'),'keyup', function(e) {
				if (e.keyCode == 13) {
					updateBizAccount(e);
					dojo.stopEvent(e);
				}
			});
			dojo.connect(dojo.byId('business_picture_select'),'keydown', function(e) {
				if (e.keyCode == 13) {
					dojo.stopEvent(e);
				}
			});
		});
	});
</script>