<div id="billingContainer" class="wrap-settings-fieldset">
	<fieldset class="settings-fieldset">
		<h2>&{'settings.billing.plan.title'}</h2>
		
		#{settings.providePaymentInfo userBean: _userBean /}
		
		#{if _userBean.premium && !_userBean.business}
			<div id='premium_not_expired'>
				#{if _userBean.productPlan}
					&{'settings.account.account_text3_plan', '<strong><span id="not_expired_date">TODO</span></strong>'}
					<br />
					<span>&{'settings.subscription.plan.personal.title'} ${messages.get('settings.subscription.plan.personal.months.' + _userBean.productPlan.period)} $${_userBean.productPlan.price}</span>
					&nbsp;<a href="/premium/renew#{if !_userBean.expired}?change=1#{/if}">&{'settings.subscription.plan.change'}</a>
					<br />
					<span id="paymentMethodDetails">${messages.get('settings.subscription.plan.personal.months.using.' + _userBean.productPlan.period, _userBean.customerDescription ?: 'unknown')}</span>
					&nbsp;#{settings.changePaymentMethod userBean: _userBean /}
					<br />
					#{settings.cancelSubscription userBean: _userBean /}
				#{/if}
				#{else}
					&{'settings.account.account_text3', '<strong><span id="not_expired_date">TODO</span></strong>'}
					&nbsp;<a href="/premium/renew#{if !_userBean.expired}?change=1#{/if}">&{'settings.renew'}</a>
				#{/else}
			</div>
			<div id='premium_expired' class='hidden'>
				&{'settings.account.account_expired_text1'}<br />
				&{'settings.account.account_expired_text2', '<strong><span id="expired_date">TODO</span></strong>'}
				&nbsp;<a href="/premium/renew?#{if !_userBean.expired}change=1&#{/if}ga_affiliation=expired_premium_upgrade">&{'settings.renew'}</a>
			</div>
			
			#{settings.invoices userBean: _userBean /}
			
			#{settings.terminateLabel replaceWhat: 'billingContainer', userBean: _userBean /}
		#{/if}
		#{elseif _userBean.business && _userBean.business.hasAdminPermissions()}
			#{if _userBean.teamBasic}
				<p><span id='expiration_date'>X</span></p>
			#{/if}
			#{if _userBean.teamBusiness}
				<span id='expiration_date'>X</span>
				
				#{if _userBean.productPlan}
					<br />
					<span>&{'settings.subscription.plan.team.title'} ${messages.get('settings.subscription.plan.team.months.' + _userBean.productPlan.period, _userBean.productPlan.licenses)} $${_userBean.productPlan.price}</span>
					&nbsp;<a href="#{if _userBean.expired}/business/renew?ga_affiliation=expired_team_upgrade#{/if}#{else}/business/addlicenses#{/else}">&{'settings.subscription.plan.change'}</a>
					<br />
					<span id="paymentMethodDetails">${messages.get('settings.subscription.plan.team.months.using.' + _userBean.productPlan.period, _userBean.productPlan.licenses, _userBean.customerDescription ?: 'unknown')}</span>
					&nbsp;#{settings.changePaymentMethod userBean: _userBean /}
					<br />
					#{settings.cancelSubscription userBean: _userBean /}
				#{/if}
				#{else}
					&nbsp;<a href="#{if _userBean.expired}/business/renew?ga_affiliation=expired_team_upgrade#{/if}#{else}/business/addlicenses#{/else}">&{'settings.renew'}</a>
				#{/else}
			#{/if}
			#{if _userBean.teamBasic}
				<h2>&{'settings.upgrade_business'}</h2>
				<p style="margin: 0.2em;">Add more team members, unlimited projects and more!<br/></p>
				<div data-dojo-type='dijit.form.Button' class="upgradeButton" class='btn-success btn-alt'>&{'settings.upgrade_business'}
					<script type='dojo/method' event='onClick'>
						window.location.href='/teambasic/upgrade?ga_affiliation=settings_trial_upgrade';
					</script>
				</div>&nbsp;
			#{/if}
			
			#{settings.invoices userBean: _userBean /}
			
			#{if _userBean.business.userOwner}
				#{settings.terminateLabel replaceWhat: 'billingContainer', userBean: _userBean /}
			#{/if}
		#{/elseif}
	</fieldset>
</div>