<form id='business_member' class="business-settings" enctype="multipart/form-data" method="post" action="">
	<div class="wrap-business-fieldset">
		<fieldset class="settings-fieldset ">
			<h2>&{'settings.business_member.title'}</h2>

			<label>&{'settings.business_member.subtitle', '<u>' + _userBean.business?.title + '</u>'}</label><br>

			#{if _userBean.business}
				#{settings.teamAccountDomainInfo userBean: _userBean, apiConfig: _apiConfig /}
				
				#{if _userBean.business.emailInbox}
					<p>&{'settings.team.email_inbox'} <a href="mailto:${_userBean.business.emailInbox}">${_userBean.business.emailInbox}</a>
				#{/if}
			#{/if}

			<h2>&{'settings.business_member.account_status'}</h2>
			<p><span id='member_expiration_date'>X</span></p>
			<p>&{'settings.business.business_expires_more_info'}</p>

			<h2>&{'settings.business.storage_title'}</h2>
			<div data-dojo-type='dijit.ProgressBar' id='memberStorageProgressBar' maximum=2500 title=''></div>

			#{settings.terminateLabel replaceWhat: 'business_member', userBean: _userBean /}

			#{if _userBean.business && _userBean.business.userMember}
				<h2>&{'settings.account.title_leave_team'}</h2>
				<p>&{'settings.account.leave_team_text'}</p>
				<a href="#" onclick="onLeaveTeamAccount(); return false;">&{'settings.account.leave_team_link'}</a>
			#{/if}
		</fieldset>
	</div>
</form>

<div data-dojo-type='dijit.Dialog' id='leaveVerifyDialog' style='display:none;'>
	<div style='font-size:110%;color:#666666;padding:15px;'>&{'settings.account.question_leave'}</div>
	<div style='margin-left:225px;'>
		<div data-dojo-type='dijit.form.Button' id='yesLeave'>&{'settings.account.yes'}</div>
		<div data-dojo-type='dijit.form.Button' id='noLeave'>&{'settings.account.no'}</div>
	</div>
</div>

<script type="text/javascript">
	var businessAccountTemplates = {
		expirationDate: i18n('settings.business.#{if _userBean.teamBusiness}business#{/if}#{else}basic#{/else}_expires_text'),
		licensesUsed: i18n('settings.business.license_usage'),
		storageUsed: i18n('settings.business.storage_used')
	};
	
	function onLeaveTeamAccount() {
		dijit.byId('leaveVerifyDialog').show();
	}
	
	function doLeaveTeamAccount() {
		showThrobber(null, 'leaveTeam');
		
		saveSettings({
			url: Project.api2_full_url,
			action: 'business/leave',
			method: 'POST'
		}, {session_id: '${_userBean.api2SessionId}'}, null, '${messages.get("settings.account.leave_failed").escapeJavaScript()}', null, function() {
			window.location.reload();
		}, function() {
			hideThrobber('leaveTeam');
			alert(i18n('settings.account.leave_failed'));
		});
	}
	
	require(['dojo/ready', 'dojo/on'],function(ready, on) {
		ready(function() {
			on(dijit.byId('yesLeave'), 'Click', function() { dijit.byId('leaveVerifyDialog').hide(); doLeaveTeamAccount(); });
			on(dijit.byId('noLeave'), 'Click', function() { dijit.byId('leaveVerifyDialog').hide(); });
		});
	});
</script>