#{if (_userBean.isPremium() && !_userBean.business) || (_userBean.business && _userBean.business.hasAdminPermissions())}
	<a href="#" id="cancelSubscriptionLink">&{'settings.subscription.plan.unsubscribe.link'}</a>
	<script type="text/javascript">
		require(["dojo/ready", 'dojo/on', 'dojo/query', 'dojo/_base/event', 'dojo/request/xhr', 'dojo/dom-class'], function(ready, on, query, dojoEvent, xhr, domClass) {
			ready(function() {
				query('#cancelSubscriptionLink').on('click', function(e) {
					var generalErrorMsg = i18n('settings.subscription.plan.unsubscribe.fail');
					dojoEvent.stop(e);
					
					if (confirm(i18n('settings.subscription.plan.unsubscribe.question'))) {
						var that = this;
						showThrobber();
						domClass.add(that, 'hidden');
						
						var myPromise = xhr(Project.api2_full_url + '/products/plan/subscribe',{
							handleAs: "json",
							method: 'DELETE',
							data: {session_id: '${_userBean.api2SessionId}'}
						});
						
						myPromise.then(function(data) {
							hideThrobber();
							
							if (data.response_status == 0) {
								alert(i18n('settings.subscription.plan.unsubscribe.success'));
								window.location.reload();
							} else {
								domClass.remove(that, 'hidden');
								showResult(generalErrorMsg);
							}
						}, function(err) {
							hideThrobber();
							domClass.remove(that, 'hidden');
							
							if (err && err.response && err.response.data) {
								if (err.response.data.response_status || err.response.data.error_message) {
									showResult(err.response.data.error_message || generalErrorMsg);
								}
							} else {
								showResult(generalErrorMsg);
							}
						});
					}
				});
			});
		});
	</script>
#{/if}