<div class="wrap-settings-fieldset">
	<div class='fieldset partial' id="wrapSettingsMyData">
		<div class='flex avatar'>
			<div id='personal_picture_select' class="avatar-preference" >

				<!-- <label>&{'settings.picture.profile_picture'}</label> -->

				<!--Bug #1843  <div class='button-attach' id='photo_placeholder' style='height:24px;display:inline-block;postion:absolute;'><div class='link-attach'>HERE</div></div>-->
				<!-- <div  id='photo_placeholder' data-dojo-type='dijit.form.Button' style='cursor:none;'>Upload</div> -->
				<!--  <div id='photo_placeholder' class='dijitButtonNode'></div>-->

				<div class='wrapper' id='avatarContainer' class='hidden'>
					<img id='current_photo' class="" onload="this.style.visibility='visible'" alt="" src="">
				</div>
				<div id="no_current_photo" class="hidden wrapper">
					<span>&{'settings.add_picture'}</span>
					<div id='shadow_conditional_photo_button'></div>
				</div>
				<div class='wrapper'>
					<div id='personal_conditional_photo_button'></div>
				</div>

				<!--  <span role="presentation" class="dijit dijitReset dijitInline dijitButton btn" style="margin-top: 1px;" widgetid="dijit_form_Button_0"><span role="presentation" data-dojo-attach-event="ondijitclick:_onClick" class="dijitReset dijitInline dijitButtonNode"><span aria-labelledby="dijit_form_Button_0_label" role="button" data-dojo-attach-point="titleNode,focusNode" class="dijitReset dijitStretch dijitButtonContents" tabindex="0" id="dijit_form_Button_0" style="-moz-user-select: none;"><span data-dojo-attach-point="iconNode" class="dijitReset dijitInline dijitIcon dijitIconDelete"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span data-dojo-attach-point="containerNode" id="dijit_form_Button_0_label" class="dijitReset dijitInline dijitButtonText">Delete</span></span></span><input type="button" data-dojo-attach-point="valueNode" role="presentation" tabindex="-1" class="dijitOffScreen" value=""></span>-->
				<div class='wrapper'>
					<span id='personal_delete_btnWrapper' style='display:none;'>
						<div id='personal_delete_avatar' data-dojo-type='dijit.form.Button'>&{'settings.picture.delete'}</div>
					</span>
				</div>
			</div>
		</div>
		<div class=''>
			<form onsubmit="return false;">
				<fieldset class="settings-fieldset">
					<!-- name field -->
					<section class='flex name'>
						<!-- <label>&{'settings.personal.firstname'}</label> -->
						<input class='text half' type="text" value="" name="firstname" id="changeFirstname" placeholder="&{'settings.personal.firstname'}"/>
						<!-- <label>&{'settings.personal.lastname'}</label> -->
						<input class='text half' type="text" value="" name="lastname" id="changeLastname" placeholder="&{'settings.personal.lastname'}"/>
					</section>
					<!-- email field -->
					<section class='flex email'>
						<label>&{'settings.personal.email'}</label>
						<input class='text' type="text" value="" name="email" id="changeEmail" />
						<div id="changeEmailSent" class="hidden"><span class="error">&{'settings.personal.mail_sent'}</span></div>
							#{if _userBean.emailErrorCode > -1}
								<span class="error">
									<span class="fs1" aria-hidden="true" data-icon="" style="font-size:130%"></span> 
									We were unable to deliver messages to your email address.
								</span><br/>
								#{if _userBean.emailErrorText}
									<span class="error">Your email service provider responded with error:<br/></span>
									<div class="emailErrorText">${_userBean.emailErrorText}</div>
								#{/if}
								<span id="emailMessageCouldNotBeSentErrorNode" class="">
									We will not attempt to send any more messages to this address.<br/><strong>To recover, please update your email address or submit it again.</strong>
								</span>
							#{/if}
					</section>
					<!-- username -->
					<section class='flex username'>
						#{if _userBean.login}
							<label>&{'settings.personal.username.label'}</label>
				<!-- 			<section class='flex edit'>
								<span id='settingsUsername'
										data-dojo-type="dijit/InlineEditBox" 
										data-dojo-props="editor:'dijit/form/TextBox', autoSave:false" 
										width="70px" title="&{'settings.personal.username.change'}"></span>
								<span class="icon-pencil" id='settingsUsernameEdit'></span>
							</section> -->
							<section class='flex edit'>
								<input type='text' class='text half disabled' id='settingsUsername' placeholder="&{'settings.personal.username.label'}" disabled>
								<button data-dojo-type='dijit/form/Button' class='half' id='changeUsernameButton'>&{'settings.personal.change'}</button>
							</section>
						#{/if}
					</section>
					<!-- password -->
					<section class='flex password'>
							<label id='passwordButtonLabel'>You do not have password set. To be able to log in with your hiTask user name please create a password.</label>
							<label>Password</label>
							<!-- start of .edit -->
							<section class='flex edit'>
								<div class='password-input half'>
									<span class="icon-lock"></span>
									<input type='text' class='text disabled' disabled>
								</div>
								<div data-dojo-type='dijit.form.Button' class="half" id='passwordButton'>
									<script type='dojo/method' event='onClick' args='evt'>
									Tooltip.open('changepassword', '', this.domNode,evt, 'after-centered', null, {
										orient: ['after-centered'],
										onEnd: function() {
											if(hasPassword === false) dojo.global.hideElement(dojo.byId('old_password'));

											dojo.byId('new_password').value = '';
											dojo.byId('new_password_repeat').value = '';
											dojo.byId('old_password').value = '';
											var minPasswordLength = ${_constants.minPasswordLength};

											if (!changePasswordConnect) {
												changePasswordConnect = dojo.connect(dijit.byId('proceedBtn'),'onClick',function() {
													showThrobber();
													var new_password = dojo.trim(dojo.byId('new_password').value);
													var old_password = dojo.trim(dojo.byId('old_password').value);
													var password_repeat = dojo.trim(dojo.byId('new_password_repeat').value);
													var password_btn = dijit.byId('passwordButton');

													if (!old_password && hasPassword) {
														showResult(i18n("settings.password.error_old_password"));
														return;
													}
													if (new_password.length <= 0) {
														showResult(i18n("settings.password.error_new_password_1", minPasswordLength));
														return;
													} else if (new_password.match(/\s+/)) {
														showResult(i18n("settings.password.error_now_whitespaces"));
														return;
													} else if (new_password.length<minPasswordLength) { 
														showResult(i18n("settings.password.error_new_password_1", minPasswordLength));
														return;
													} else if (new_password != password_repeat) {
														showResult(i18n("settings.password.error_new_password_repeat"));
														return;
													} else if (new_password == dojo.byId('settingsUsername').value ||
																new_password == dojo.byId('changeEmail').value ||
																new_password == dojo.byId('changeFirstname').value ||
																new_password == dojo.byId('changeLastname').value
													) {
														showResult(i18n("settings.password.error_new_password_2"));
														return;
													}

													if(hasPassword === true){
														saveSettings(
															{
																url:Project.api2_full_url,
																action:'user/password',
																method:'POST'
															},
															{
																password:dojo.byId('new_password').value,
																session_id:'${_userBean.api2SessionId}', 
																oldPassword: dojo.byId('old_password').value
															},
															i18n("settings.password.password_changed"),
															'', null,
															function() {
																Tooltip.close('changepassword');
															}, 
															function(err) {
																if (err.response && err.response.data && err.response.data.response_status &&
																	(err.response.data.response_status == 5 || err.response.data.response_status == 36)
																) {
																	showResult(i18n('settings.password.validation.errorcode.' + err.response.data.response_status));
																} else {
																	showResult(i18n("settings.password.password_not_changed"));
																}
															}
														);
													} else {
														saveSettings(
															{
																url:Project.api2_full_url,
																action:'user/password',
																method:'POST'
															},
															{
																password:dojo.byId('new_password').value,
																session_id:'${_userBean.api2SessionId}', 
															},
															i18n("settings.password.password_changed"),
															'', null,
															function(){
																Tooltip.close('changepassword');
																password_btn.set('label', "&{'settings.personal.change_password'}");
																dojo.global.hideElement(dojo.byId('passwordButtonLabel'));
																dojo.global.showElement(dojo.byId('old_password'));
																dojo.global.showElement(dojo.byId('old_password_label'));
																hasPassword = true;
																dojo.global.showElement('terminateRequestPassWrapper');
															},
															function(err){
																if (err.response && err.response.data && err.response.data.response_status 
																	&& (err.response.data.response_status == 5 || err.response.data.response_status == 36)) {

																	showResult(i18n('settings.password.validation.errorcode.' + err.response.data.response_status));
																} else {
																	showResult(i18n("settings.password.password_not_changed"));
																}
															}
														);
													}
												});
											}
										}
									});
								</script>
									&{'settings.personal.change'}
								</div>
							</section><!-- end of .edit -->
							<script type='text/javascript'>
							#{if _userBean.hasPassword}
								var hasPassword = true;
							#{/if}
							#{else}
								var hasPassword = false;
							#{/else}
								dojo.ready(function(){
									var btn = dijit.byId('passwordButton');
									require(['dojo/has'], function(has){
										if(has('trident')){
											dojo.addClass(document.body.parentNode, 'dj_ie');
										}
									});
									if(!hasPassword){
										//i18n should be used here when create password is fully translated in all languages.
										btn.set('label', 'Create password');

										dojo.global.showElement(dojo.byId('passwordButtonLabel'));
										dojo.global.hideElement(dojo.byId('old_password'));
										dojo.global.hideElement(dojo.byId('old_password_label'));
									}else{
										dojo.global.hideElement(dojo.byId('passwordButtonLabel'));
									}
								});

							</script>
					</section><!-- end of .password -->
					#{if _userBean.emailInbox}
						<div>&{'settings.user.email_inbox'} <a href="mailto:${_userBean.emailInbox}">${_userBean.emailInbox}</a></div>
					#{/if}
				</fieldset>
			</form>
		</div>
		<div class='clear'></div>
	</div>
	<div id="wrapCropper" style="display: none;">
		<h1>&{'settings.picture.profile_picture'}</h1><br />
		<div id="cropperResultContainer">
			<img id="cropperResultImg" src=""/>
		</div><br />
		<div id="cropperImageContainer"></div><br />
		<div class="save avatar">
			<div id='personal_picture_crop' data-dojo-type='dijit.form.Button' class='btn-alt btn-flat btn-success'>&{'settings.picture.crop'}</div>
			<div id='personal_picture_cancel' data-dojo-type='dijit.form.Button' class='btn-flat'>&{'settings.picture.cancel'}</div>
		</div>
	</div>
</div>

<div class='submit partial' id="wrapSettingsMyDataActionButtons">
	<div data-dojo-type='dijit.form.Button' id='changeUserData' class='btn-success btn-alt'>&{'settings.change'}</div>
	&{'settings.return_or'}
	<a title="&{'settings.return_to_tasks'}" href="/app">&{'settings.return_to_tasks'}</a>
</div>
<script type="text/javascript">
	var changePasswordConnect = null,
		uploaded = null,
		isOver = false,
		removed = null,
		profile_picture_upload = {
			uploading:false,
			completed:false,
			canceled:false
		},
		personal_picture_hash = null,
		lastCropInfo = null;

	function swap(node1, node2, callback1, callback2)
	{
		require(['dojo/_base/fx'], function(fx){
			if (!dojo.byId(node1) || !dojo.byId(node2)) return;
			
			dojo.style(node1, "opacity", "1");
			fx.fadeOut ({
				node: node1,
				duration: 300,
				onEnd: function() {
					dojo.style(node2, "opacity", "0");
					dojo.style(node2, "display", "");
					dojo.style(node1, "display", "none");
					if (callback1) callback1();
					fx.fadeIn ({
						node: node2,
						duration: 300,
						onEnd: function() {
							if (callback2) callback2();
						}
					}).play();
				}
			}).play();
		});
		return false;
	}
	var imageCropper = null;
	
	function personal_onComplete(data) {
		personal_picture_hash = data.hash;
		dojo.byId('current_photo').src = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/'+data.hash+'.96.gif';
		dojo.removeClass('avatarContainer', 'hidden');
		dojo.addClass('no_current_photo', 'hidden');
		dojo.style('personal_delete_btnWrapper','display','');
		var uploadButton = dijit.byId('personal_picture');
		if (uploadButton) uploadButton.set('label', i18n('settings.personal.change'));
		
		/*swap('personal_picture_select','picture_crop',null,function() {
			dojo.byId('avatar').src = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/'+data.hash;
			setupAva(false);
			uploaded=true;
		});*/
		
		var resultImg = dojo.byId('cropperResultImg');
		var originalAvatar = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/' + data.hash;
		var updateResult = function(info) {
			lastCropInfo = info;
		    //update the result image by cropped size
		    var cropperResultImg = dojo.byId('cropperResultImg');
		    var rate =  80/info.w;
		    dojo.style(cropperResultImg , {
		        width: info.cw*rate + 'px',
		        height:info.ch*rate + 'px',
		        marginLeft: -info.l*rate + 'px',
		        marginTop: -info.t*rate + 'px'
		    });
		};
		
		if (imageCropper) {
			imageCropper.destroy();
			dojo.attr(resultImg, 'src', '');
		}
		
		imageCropper = new hi.widget.Cropper({
			keepSquare: true,
			cropSize: 80,
			workSize: 512,
			maximizeCropArea: true
		});
		imageCropper.placeAt(dojo.byId('cropperImageContainer'), 'last');
		dojo.connect(imageCropper, 'onChange', updateResult);
		imageCropper.on('beforeImageLoad', function() {
			showThrobber('Loading...', 'imageCropper');
		});
		imageCropper.on('afterImageLoad', function() {
			hideThrobber('imageCropper');
		});

		swap('wrapSettingsMyData', 'wrapCropper', function() {
			
		}, function() {
			dojo.addClass(dojo.byId('wrapSettingsMyDataActionButtons'), 'hidden');
			dojo.attr(resultImg, 'src', originalAvatar);
			imageCropper.setImage(originalAvatar);
			updateResult(imageCropper.getInfo());
			uploaded = true;
		});
	}
	require([
		'dojo/ready',
		'dojo/request/xhr',
		'dojox/validate/regexp',
		'dojo/dom-class',
		'dojo/html',
		'dojox/form/Uploader',
		'dojox/form/uploader/plugins/Flash'
	],function(ready,xhr,dojo_regexp,domclass,dojoHTML) {
		ready(function() {

			/* #2476 - new underlay template button */
			var IEBtnTemplate = '<span class="dijit dijitReset dijitInline picture dijitUploader dijitButton" style="overflow: hidden; position: relative; cursor: pointer;" widgetid="personal_photo_placeholder"><input type="button" role="presentation" tabindex="-1" class="dijitOffScreen" value=""><span dojoattachevent="ondijitclick:_onClick" class="dijitReset dijitInline dijitButtonNode"><span aria-labelledby="personal_photo_placeholder_label" role="button" dojoattachpoint="titleNode,focusNode" class="dijitReset dijitStretch dijitButtonContents" tabindex="-1" id="personal_photo_placeholder" style="-moz-user-select: none;"><span dojoattachpoint="iconNode" class="dijitReset dijitInline dijitIcon dijitNoIcon"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span dojoattachpoint="containerNode" id="personal_photo_placeholder_label" class="dijitReset dijitInline dijitButtonText">Upload</span></span></span></span>';
			// IEBtnTemplate = '';
			var uploadURL = Project.api2_full_url + '/user/picture?session_id=${_userBean.api2SessionId}';
			var uploader = null;
			// #4379 Hide Upload Logo button in IE9 and older
			if(dojo.isIE > 9 || !dojo.isIE){
				uploader = createUploader('personal', IEBtnTemplate, uploadURL, isOver, i18n("settings.personal.upload"), personal_onComplete);
				uploader = createUploader('shadow', IEBtnTemplate, uploadURL, isOver, i18n("settings.personal.upload"), personal_onComplete);
			}

			// var usernameInlineEditBox = dijit.byId('settingsUsername'),
			// 	usernameInlineEditor,
			// 	usernameEditButton = dojo.byId('settingsUsernameEdit'),
			// 	saveButton = dijit.byId('changeUserData');
			
			// dojo.connect(usernameEditButton, 'onclick', function(evt){
			// 	usernameInlineEditBox.edit();
			// 	dojo.global.hideElement(this);
			// });

			// dojo.connect(usernameInlineEditBox, 'cancel', function(evt){
			// 	setTimeout(function(){
			// 		dojo.global.showElement(usernameEditButton);
			// 		dojo.byId('dijit_form_Button_0').focus();
			// 	}, 0);
			// });

			// dojo.connect(usernameInlineEditBox, 'save', function(evt){
			// 	dojo.global.showElement(usernameEditButton);
			// });

			// dojo.connect(usernameInlineEditBox, 'edit', function(evt){
			// 	usernameInlineEditor = usernameInlineEditBox.wrapperWidget || null;
			// 	var button = usernameInlineEditor.saveButton;
			
			// 	if(usernameInlineEditor && !usernameInlineEditor._initialized){
			// 		var textBox = usernameInlineEditor.editWidget;

			// 		dojo.connect(textBox, 'onChange', function(evt){
			// 			var len = this.getValue().trim().length;
		
			// 			if(len <= 4 || len >= 64){
			// 				saveButton.set('disabled', true);
			// 			}else{
			// 				saveButton.set('disabled', false);
			// 			}
			// 		});

			// 		usernameInlineEditor._initialized = true;
			// 	}
			// 	dojo.global.hideElement(button.domNode);
			// 	dojo.global.hideElement(usernameEditButton);
			// });

			//Send Profile (left column) data
			dojo.connect(dijit.byId('changeUsernameButton'), 'onClick', function(evt) {
				var input = dojo.byId('settingsUsername');

				input.disabled = false;
				dojo.removeClass(input, 'disabled');
				if (input.focus) input.focus();
			});

			dojo.connect(dojo.byId('settingsUsername'), 'onkeyup', function(evt) {
				console.log('in on key press');
				var val = this.value || '';
				var len = val.trim().length;
				var saveButton = dijit.byId('changeUserData');

				if(len <= 4 || len >= 64){
					saveButton.set('disabled', true);
				}else{
					saveButton.set('disabled', false);
				}
			});

			var settingsUsername = dojo.byId('settingsUsername');
			if (settingsUsername) {
				settingsUsername.addEventListener('blur', function() {
					settingsUsername.setAttribute('disabled', true);
				});
			}
			
			dojo.connect(dijit.byId('changeUserData'),'onClick',function(evt) {
				var first = dojo.trim(dojo.byId('changeFirstname').value),
					last = dojo.trim(dojo.byId('changeLastname').value),
					email = dojo.trim(dojo.byId('changeEmail').value),
					// loginId = usernameInlineEditBox.editing? usernameInlineEditor.editWidget.getValue() : usernameInlineEditBox.getValue(),
					loginId = dojo.byId('settingsUsername').value || '',
					errorMsg = null;

				/* Feature #1741 These must be initiated by a server response 
				personal.error_email_3	= This e-mail address is already being used by another account.  Please use a different e-mail address.
				personal.error_personal	= Oops... The confirmation e-mail could not be sent.  Please try again later.
				*/
				if (!email.match(dojo_regexp.emailAddress())) {
					errorMsg = i18n('settings.personal.error_email_2');
				} else if (first && (first.length > 30 || first.length <= 0)) {
					errorMsg = i18n('settings.personal.error_firstname');
				} else if (last && (last.length > 30 || last.length <= 0)) {
					errorMsg = i18n('settings.personal.error_lastname');
				}
				
				if (errorMsg)
				{
					showResult(errorMsg);
					return;
				}
				var formData = {
					firstname: first, 
					lastname: last, 
					email: email,
					loginId: loginId,
					session_id:'${_userBean.api2SessionId}',
					returnInfo: true
				};
				
				saveSettings({
						url:Project.api2_full_url,
						action:'user/update',
						method:'POST'
					},
					formData,
					i18n("settings.personal.info_changed"),
					'Unable to update your profile at this time',
					null,
					function(data){
						// usernameInlineEditBox.save();
						if (data && data.pictureHash) {
							setTimeout(function() {
								dojo.byId('current_photo').src = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/' + data.pictureHash + '.96.gif';
							}, 1000);
						}
					},
					function(err){
						// usernameInlineEditBox.cancel();
					}
				);
			});
			
			function doDeleteAvatar() {
				showThrobber();
				saveSettings({
					url:Project.api2_full_url,
					action:'user/picture',
					method:'DELETE'
				},{ session_id:'${_userBean.api2SessionId}', returnInfo: true },
					null/*i18n("settings.personal.info_changed")*/,
					'Unable to delete your picture at this time',
					null,
				function(data) {
					if (data && data.pictureHash) {
						setTimeout(function() {
							dojo.byId('current_photo').src = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/' + data.pictureHash + '.96.gif';
						}, 1000);
					} else {
						dojo.removeClass('no_current_photo', 'hidden');
						dojo.addClass('avatarContainer', 'hidden');
					}
					dojo.style('personal_delete_btnWrapper','display','none');
					var uploadButton = dijit.byId('personal_picture');
					if (uploadButton) uploadButton.set('label', i18n('settings.add'))
				});
			}
			
			//Delete picture
			dojo.connect(dijit.byId('personal_delete_avatar'),'onClick',function() {
				doDeleteAvatar();
			});
			
			//Crop and submit new photo
			dojo.connect(dijit.byId('personal_picture_crop'),'onClick',function() {
				var cropData = {session_id:'${_userBean.api2SessionId}'};	
				cropData['x'] = lastCropInfo.l * (1 / lastCropInfo.k);
				cropData['y'] = lastCropInfo.t * (1 / lastCropInfo.k);
				cropData['width'] = lastCropInfo.w * (1 / lastCropInfo.k);
				cropData['hash'] = personal_picture_hash;
				
				saveSettings({
					url: Project.api2_full_url,
					action: 'user/picture',
					method:'POST'
				}, cropData, '', 'Unable to crop your picture at this time', 'hash',
				function(data) {
					swap('wrapCropper', 'wrapSettingsMyData', function() {
						dojo.byId('current_photo').src = '${_apiConfig.httpScheme}://${_apiConfig.apiHost}/avatar/'+data.hash+'.96.gif';
						dojo.removeClass('avatarContainer', 'hidden');
						dojo.addClass('no_current_photo', 'hidden');
					}, function() {
						dojo.removeClass('wrapSettingsMyDataActionButtons', 'hidden');
					});
				});
			});
			
			//cancel cropping
			dojo.connect(dijit.byId('personal_picture_cancel'),'onClick',function() {
				swap('wrapCropper', 'wrapSettingsMyData', null, function() {
					dojo.removeClass('wrapSettingsMyDataActionButtons', 'hidden');
					doDeleteAvatar();
				});
			});
		});
	});
</script>
