#{if _userBean.productPlan}
	<a id="changePaymentMethodLink" href="#">&{'settings.subscription.pyament_method.change'}</a>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script type="text/javascript">
		require(['dojo/ready', "dojo/query", "dojo/NodeList-manipulate"], function(ready, dojoQuery) {
			ready(function() {
				var previousPaymentMethod = '#{if _userBean.customerDescription}${_userBean.customerDescription.escapeJavaScript()}#{/if}#{else}#{/else}';
				var handler = StripeCheckout.configure({
					key: '${play.configuration.get('payment.stripe.api.key.public')}',
					token: function(token) {
						saveSettings(
							{
								url:Project.api2_full_url,
								action:'products/plan/subscribe',
								method:'PUT'
							},
							{
								cardToken: token.id,
								processor: 'STRIPE',
								api_key: Project.api2_key,
								session_id:'${_userBean.api2SessionId}', 
							},
							i18n("settings.subscription.pyament_method.change.success"),
							null, null,
							function(data) {
								if (typeof(data) == 'object' && data.description && dojo.byId('paymentMethodDetails') && previousPaymentMethod) {
									var txt = dojoQuery('#paymentMethodDetails').text().replace(previousPaymentMethod, data.description);
									dojoQuery('#paymentMethodDetails').text(txt);
									previousPaymentMethod = data.description;
								}
							}
						);
					}
				});
				var header = dojo.byId('header');
				
				dojo.connect(dojo.byId('changePaymentMethodLink'), 'click', function(e) {
					dojo.stopEvent(e);
					handler.open({
						name: 'HiTask',
						panelLabel: i18n("settings.subscription.pyament_method.change.yes"),
						allowRememberMe: false,
						email: '${_userBean.anyEmail.escapeJavaScript()}',
						opened: function() {
							if (header) {
								dojo.style(header, 'z-index', 1);
							}
						},
						closed: function() {
							if (header) {
								dojo.style(header, 'z-index', null);
							}
						}
					});
					e.preventDefault();
				});
				
				// Close Checkout on page navigation.
				dojo.connect(window, 'popstate', function(e) {
					handler.close();
				});
			});
		});
	</script>
#{/if}