<div class="developer-fieldset wrap-settings-fieldset">
	<fieldset class="settings-fieldset">
		<div class='section'>
			<p>hiTask API allows you to build a hiTask client app or integrate hiTask with your infrastructure. Use API to create tasks from external systems, import and export your data, create custom reports.</p>
			<br>
			<p>
				<a href="https://github.com/HiTask/api/">Check out the API documentation project on GitHub.</a>
			</p>
		</div>

		<div class='section'>
			<h2>API Key</h2>
			#{if _userBean.apiKey}
			<div id='generateKey' style='display:none'>
				API Key is required to access the API.<br>
				Please provide details about your integration: <br>
				<textarea data-dojo-type='hi.widget.Textarea' data-dojo-props='placeHolder: "Please input detail here..."' id='apiKeyDetail' name='apiKeyDetail' style='min-height: 70px'></textarea>

				<div>
					<div data-dojo-type='dijit/form/Button' id='generateButton'>Generate API Key</div>
				</div>
			</div>
			<div id='viewKey'>
				Your API Key: <span style="" id='apikey'>${_userBean.apiKey}</span>
				<div data-dojo-type='dijit/form/Button' id='deleteButton'>Delete API Key</div>
			</div>
			#{/if}
			#{else}
			<div id='generateKey'>
				API Key is required to access the API.<br>
				Please provide details about your integration: <br>
				<textarea data-dojo-type='hi.widget.Textarea' data-dojo-props='placeHolder: "Please input detail here..."' id='apiKeyDetail' name='apiKeyDetail' style='min-height: 70px'></textarea>
				<div>
					<div data-dojo-type='dijit/form/Button' id='generateButton' class='btn-success btn-alt'>Generate API Key</div>
				</div>
			</div>
			<div id='viewKey' style='display:none'>
				Your API Key: <span style="" id='apikey'></span>
				<div data-dojo-type='dijit/form/Button' id='deleteButton'>Delete API Key</div>
			</div>
			#{/else}
		</div>
		<div data-dojo-type='dijit.Dialog' id='deleteApiKeyVerifyDialog' style='display:none;' data-dojo-props="title:'&nbsp;'">
			<div style='font-size:110%;color:#666666;padding:15px;'>&{'settings.developerAPI.question_delete'}</div>
			<div style='margin-left:225px;'>
				<div data-dojo-type='dijit.form.Button' id='deleteApiKeyVerifyYes' class='btn-alt btn-success btn-flat'>&{'settings.account.yes'}</div>
				<div data-dojo-type='dijit.form.Button' id='deleteApiKeyVerifyNo' class='btn-flat'>&{'settings.account.no'}</div>
			</div>
		</div>



		<script type='text/javascript'>
		var minDetailLength = 10;
		var maxDetailLength = 255;

		require(['dojo/ready'], function(ready){
			ready(function(){
				var tw;
				(tw = dijit.byId('apiKeyDetail')) && tw.set('value', '');

				dojo.connect(dijit.byId('generateButton'), 'onClick', function(){
						var detail = dijit.byId('apiKeyDetail') && dijit.byId('apiKeyDetail').get('value').trim();

						if(!detail){
							showResult(i18n("settings.developerAPI.error_detail_empty"));
							return;
						}
						if(detail.length < 10){
							showResult(i18n("settings.developerAPI.error_detail_length_1", minDetailLength));
							return;
						}
						if(detail.length > 255){
							showResult(i18n("settings.developerAPI.error_detail_length_2", maxDetailLength));
							return;
						}

						saveSettings(
							{
								url:Project.api2_full_url,
								action:'apikey',
								method:'POST'
							},
							{
								title: detail,
								api_key: Project.api2_key,
								session_id:'${_userBean.api2SessionId}', 
							},
							i18n("settings.developerAPI.apikey_added"),
							'', 
							null, 
							function() {
								dijit.byId('apiKeyDetail').set('value', '');

								dojo.xhr("GET", {
									url: Project.api2_full_url + '/apikey',
									handleAs: "json",
									content:{
										session_id: '${_userBean.api2SessionId}'
									},
									load: function(data){
										var key = data.key;
										var title = data.title;

										if(key){
											if(dojo.byId('generateKey')) {dojo.byId('generateKey').style.display = 'none';}
											if(dojo.byId('viewKey')) {dojo.byId('viewKey').style.display = 'block';}
											if(dojo.byId('apikey')) {dojo.byId('apikey').innerHTML = key;}
										}

									},
									error: function(){

									}
								});
							},
							function(err) {
								if (err.response && err.response.data && err.response.data.response_status 
									&& (err.response.data.response_status === 5 || err.response.data.response_status === 43)) {

									showResult(i18n('settings.developerAPI.validation.errorcode.' + err.response.data.response_status));
								} else {
									showResult(i18n("settings.developerAPI.apikey_not_added"));
								}
							}
						);
				});

				dojo.connect(dijit.byId('deleteButton'), 'onClick', function(){
					dijit.byId('deleteApiKeyVerifyDialog').show();
				});

				dojo.connect(dijit.byId('deleteApiKeyVerifyNo'), 'onClick', function(){
					dijit.byId('deleteApiKeyVerifyDialog').hide();
				});

				dojo.connect(dijit.byId('deleteApiKeyVerifyYes'), 'onClick', function(){
					dijit.byId('deleteApiKeyVerifyDialog').hide();
					saveSettings(
						{
							url:Project.api2_full_url,
							action:'apikey',
							method:'DELETE'
						},
						{
							api_key: Project.api2_key,
							session_id:'${_userBean.api2SessionId}',
						},
						i18n("settings.developerAPI.apikey_deleted"),
						'', 
						null, 
						function() {
							if(dojo.byId('generateKey')) {dojo.byId('generateKey').style.display = 'block';}
							if(dojo.byId('viewKey')) {dojo.byId('viewKey').style.display = 'none';}
							if(dojo.byId('apikey')) {dojo.byId('apikey').innerHTML = '';}
						},
						function(err) {
							if (err.response && err.response.data && err.response.data.response_status 
								&& (err.response.data.response_status === 5 || err.response.data.response_status === 43)) {

								showResult(i18n('settings.developerAPI.validation.errorcode.' + err.response.data.response_status));
							} else {
								showResult(i18n("settings.developerAPI.apikey_not_added"));
							}
						}
					);
				});


			})
		});
		</script>
	</fieldset>
</div>
