<form class="datetime-preference" enctype="multipart/form-data" method="post" action="">
	<div class="wrap-settings-fieldset">
		<fieldset class="settings-fieldset">
			<table><tbody><tr>
				<td>
					<h2>&{'settings.display.language'}</h2>
					#{select 'locales', items: _locales, labelProperty: 'name', valueProperty: 'value', id: 'locales', 'data-dojo-type': 'dijit/form/Select', style: 'width: 150px' /}
					<br>
					Want to see hiTask in your language? Go to <a href="http://translate.hitask.com" target="_blank">hiTask Translation Portal</a> to contribute your translation!<br/>
					It's easy; you can contribute translation of just one message, one page or everything.<br/> And prominent translators will be featured in credits on our website! 
				</td>
			</tr></tbody></table>

			<h2>&{'settings.display.comment_preference'}</h2>

			<input type="radio" value="1" id="comment_order_1" name="comment_order" class="radio">
			<label for="comment_order_1" class="checkbox">&{'settings.display.comment_order_reverse'}</label>
			<br>

			<input type="radio" checked="checked" value="0" id="comment_order_0" name="comment_order" class="radio">
			<label for="comment_order_0" class="checkbox">&{'settings.display.comment_order_normal'}</label>
			<br>

			<h2>&{'settings.display.date_preference'}</h2>


			<table><tbody><tr>
				<td>
					<label>&{'settings.display.week_starts_on'}</label><br>
					<select name="first_day_of_week" id='first_day_of_week' data-dojo-type='dijit/form/Select' style='width: 150px'>
						<option value="0" label="&{'settings.display.weekday_0'}">&{'settings.display.weekday_0'}</option>
						<option selected="selected" value="1" label="&{'settings.display.weekday_1'}">&{'settings.display.weekday_1'}</option>
						<option value="2" label="&{'settings.display.weekday_2'}">&{'settings.display.weekday_2'}</option>
						<option value="3" label="&{'settings.display.weekday_3'}">&{'settings.display.weekday_3'}</option>
						<option value="4" label="&{'settings.display.weekday_4'}">&{'settings.display.weekday_4'}</option>
						<option value="5" label="&{'settings.display.weekday_5'}">&{'settings.display.weekday_5'}</option>
						<option value="6" label="&{'settings.display.weekday_6'}">&{'settings.display.weekday_6'}</option>
					</select>
				<br>
				</td>
				<td>
					<label>&{'settings.display.date_format'}</label><br>
					<select name="date_format" id='date_format' data-dojo-type='dijit/form/Select' style='width: 150px'>
						<option selected="selected" value="${messages.getMessage('en', 'settings.display.date_format_1')}" label="&{'settings.display.date_format_1'}">&{'settings.display.date_format_1'}</option>
						<option value="${messages.getMessage('en', 'settings.display.date_format_2')}" label="&{'settings.display.date_format_2'}">&{'settings.display.date_format_2'}</option>
						<option value="${messages.getMessage('en', 'settings.display.date_format_5')}" label="&{'settings.display.date_format_5'}">&{'settings.display.date_format_5'}</option>
						<option value="${messages.getMessage('en', 'settings.display.date_format_3')}" label="&{'settings.display.date_format_3'}">&{'settings.display.date_format_3'}</option>
						<option value="${messages.getMessage('en', 'settings.display.date_format_4')}" label="&{'settings.display.date_format_4'}">&{'settings.display.date_format_4'}</option>
					</select>
				</td>
			</tr></tbody></table>

			<h2>&{'settings.display.time_preference'}</h2>

			<table><tbody><tr>
				<td>
					<label>&{'settings.display.time_format'}</label><br>
					<select name="time_format" id='time_format' data-dojo-type='dijit/form/Select' style='width: 150px'>
						<option value="12" label="12 &{'settings.display.hours1'}">12 &{'settings.display.hours1'}</option>
						<option selected="selected" value="24" label="24 &{'settings.display.hours1'}">24 &{'settings.display.hours1'}</option>
					</select>
				<br>
				</td>
				<td>
					<label>&{'settings.display.time_zone'} </label><br>
					#{select 'timezones', items: _timezones, labelProperty: 'name', valueProperty: 'value', id: 'timezones', 'data-dojo-type': 'dijit/form/Select', 'data-dojo-props': 'maxHeight: 150', style: 'width: 170px' /}
					<br>
				</td>
			</tr></tbody></table>

		</fieldset>
	</div>
	
	
	<div class="submit">
		<div data-dojo-type='dijit.form.Button' id='saveDisplaySettingsBtn' class='btn-success btn-alt'>&{'settings.change'}
			<script type='dojo/method' event='onClick' args='evt'>
				saveDisplaySettings({
					url:Project.api2_full_url,
					action:'user/preferences',
					method:'POST',
					session_id:'${_userBean.api2SessionId}'
				});
			</script>
		</div>
		&{'settings.return_or'} <a title="&{'settings.return_to_tasks'}" href="/app">&{'settings.return_to_tasks'}</a>
	</div>	
</form>