<div class="wrap-settings-fieldset">
	<fieldset class="settings-fieldset ext-acc-fieldset">
		<h2>&{'settings.external_accounts.title'}</h2>
		
		#{if _userBean.externalAccounts && _userBean.externalAccounts.size() > 0}
			<table class="settingsExternalTable" id="externalAccountsTable">
				<thead>
					<tr>
						<th>&{'settings.external_accounts.provider'}</th>
						<th>&{'settings.external_accounts.user_id'}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				#{list items: _userBean.externalAccounts, as: 'externalAccount'}
					<tr>
						<td>${externalAccount.type}</td>
						<td>#{if externalAccount.externalUserHumanReadableId}${externalAccount.externalUserHumanReadableId}#{/if}#{else}${externalAccount.externalUserId}#{/else}</td>
						<td><span class="unlinkExternal" data-external-type="${externalAccount.type}" data-icon="&#xe004;" aria-hidden="true" title="&{'settings.external_accounts.unlink'}"></span></td>
					</tr>
				#{/list}
				<script type="text/javascript">
					require(['dojo/ready', 'dojo/query', 'dojo/dom-class', 'dojo/on', 'dojo/dom-attr', 'dojo/request/xhr', 'dojo/dom-construct'],
						function(dojoReady, dojoQuery, domClass, dojoOn, domAttr, xhr, domConstruct) {
							dojoReady(function() {
								dojoQuery('.unlinkExternal').on('click', function(e) {
									var providerId = domAttr.get(this, 'data-external-type');
									var that = this;
									
									if (confirm(i18n('settings.external_accounts.unlink_question'))) {
										domClass.add(that, 'hidden');
										
										xhr(Project.api2_full_url + '/user/external', {
											handleAs: "json",
											data: {session_id: '${_userBean.api2SessionId}', providerId: providerId},
											method: 'DELETE'
										}).then(function(data) {
											dojoQuery(that).parents('tr').forEach(domConstruct.destroy);
											var table = dojoQuery('#externalAccountsTable');
											table = table.length ? table[0] : null
											
											if (!dojoQuery('#externalAccountsTable tbody tr').length && table) {
												domConstruct.place('<span>' + i18n('settings.external_accounts.empty') + '</span>', table, 'before');
												domConstruct.destroy(table);
											}
											if (providerId == 'GOOGLE') {
												dojoQuery('.enableGoogleSyncMessage').addClass('hidden');
												dojoQuery('#connectWithGoogleWrapper').removeClass('hidden');
											}
										}, function(err) {
											var msgKey = 'settings.external_accounts.unlink.errorcode.';
											if (err && err.response && err.response.data && err.response.data.response_status
												&& (msgKey = msgKey + err.response.data.response_status) && i18n(msgKey) != msgKey) {
												
												alert(i18n(msgKey));
											} else if (err && err.response && err.response.data && err.response.data.error_message) {
												alert(err.response.data.error_message);
											} else {
												alert('Could not unlink this account now. Error occurred.');
											}
											
											domClass.remove(that, 'hidden');
										});
									}
								});
							});
						}
					);
				</script>
			</table>
		#{/if}
		#{else}
			<div class='section'>
				&{'settings.external_accounts.empty'}
			</div>
		#{/else}
		
		<h2>&{'settings.sync.stats'}</h2>
		<div id="syncStatsWrapper"></div>
		
		<script type="text/javascript">
			require(['dojo/ready', 'dojo/query', 'dojo/dom-class', 'dojo/on', 'dojo/dom-attr', 'dojo/request/xhr', 'dojo/dom-construct', 'dojo/_base/connect'], 
				function(dojoReady, dojoQuery, domClass, dojoOn, domAttr, xhr, domConstruct, dojoConnect) {
					dojoReady(function() {
						var tabsDijit = dijit.byId('settingTabs');
						var syncStatsUpdate = function(force) {
							if (force || (tabsDijit && tabsDijit.selectedChildWidget && tabsDijit.selectedChildWidget.data == 'external')) {
								xhr(Project.api2_full_url + '/sync/stats', {
									handleAs: "json",
									query: {session_id: '${_userBean.api2SessionId}'}
								}).then(function(data) {
									var syncStatsWrapper = dojo.byId('syncStatsWrapper');
									dojoQuery('#syncStatsWrapper *').forEach(domConstruct.destroy);
									
									if (typeof(data) == 'object' && data.length) {
										// Last sync: 3 min ago (12-Jun-2015 33:22). Google calendar → hiTask: 101 items, 0 updated. hiTask → Google Calendar: 55 items, 3 updated.
										for (var i = 0, len = data.length; i < len; i++) {
											var d = data[i];
											var recent = new Date(d.lastUpdatedTimestamp);
											var recentStr = time2str(recent, Hi_Calendar.format);
											var timeStr = recent.toTimeString();
											if (timeStr) {
												var splittedTime = timeStr.split(' ')[0].split(':');
												var hours = null;
												
												if (splittedTime.length >= 2) {
													hours = time24_to_time12(splittedTime[0] + ':' + splittedTime[1]);
												}
												
												recentStr += (' ' + hours) || '';
											}
											
											var itemsHtml = '';
											if (d.type != 'OUTLOOK') {
												itemsHtml = d.type + ' → hiTask: ' + d.itemsCountFromExternal + ' item(s), ' + d.itemsCountUpdatedFromExternal + ' updated. hiTask → ' + d.type + ': ' + d.itemsCountFromLocal + ' item(s), ' + d.itemsCountUpdatedFromLocal + ' updated.';
											}
											
											domConstruct.place(domConstruct.toDom('<div><strong>' + htmlspecialchars(d.type) + '</strong></div>'), 'syncStatsWrapper');
											domConstruct.place(domConstruct.toDom('<div>Last sync: ' + Hi_Comments.Date.timeDifString(recent) + ' ' + hi.i18n.getLocalization('history.ago') + ' (' + recentStr + '). ' + itemsHtml + '</div>'), 'syncStatsWrapper');
											if (d.error) {
												domConstruct.place(domConstruct.toDom('<div class="error">Error occurred: ' + htmlspecialchars(d.error) + '</div>'), 'syncStatsWrapper');
											}
											domConstruct.place(domConstruct.toDom('<br />'), 'syncStatsWrapper');
										}
									} else {
										domConstruct.place(domConstruct.toDom('<div>' + htmlspecialchars(i18n('settings.sync.no_data')) + '</div>'), 'syncStatsWrapper');
									}
								});
							}
						};
						
						syncStatsUpdate(true);
						setInterval(syncStatsUpdate, 16000);
					});
				}
			);
		</script>
		
		<h2>&{'settings.sync.title'}</h2>
		
		#{if _userBean.hasGoogleAccount && _userBean.hasGoogleSync}
			#{common.googleAuthAgain userBean: _userBean /}
			
			<table class="settingsExternalTable" id="syncTable">
				<thead>
					<tr>
						<th>&{'settings.sync.provider'}</th>
						<th>&{'settings.sync.status'}</th>
						<th>&{'settings.sync.recent_run'}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody id="syncTableBody"></tbody>
			</table>
			
			<div id="syncTableEmpty" class="hidden">
				&{'settings.sync.empty'}
				<br /><br /><br /><br />
			</div>
			
			#{if _userBean.googleSync}
				<div id="googleSyncTargets" class="settingsSection">
					<h4>&{'settings.sync.choose_targets'}</h4>
					<div id="googleSyncTargetsContainer"></div>
				</div>
			#{/if}
			
			<script type="text/javascript">
				require(['dojo/ready', 'dojo/query', 'dojo/dom-class', 'dojo/on', 'dojo/dom-attr', 'dojo/request/xhr', 'dojo/dom-construct', 'dojo/_base/connect'], 
					function(dojoReady, dojoQuery, domClass, dojoOn, domAttr, xhr, domConstruct, dojoConnect) {
					var doNotRunSyncNowOften = false;
					var tabsDijit = null;
					var syncTable = null;
					var syncTableEmpty = null;
					var googleSyncTargets = null;
					var googleSyncTargetsContainer = null;
					var devMode = #{if play.mode.dev || play.id in ['testask', 'qatask']}true#{/if}#{else}false#{/else};
					var removeSyncVerifyDialogYesHandle = null;
					var customErrorMessages = {
						'403 Forbidden': i18n('settings.sync.error.403')
					};
					
					dojoReady(function() {
						tabsDijit = dijit.byId('settingTabs');
						syncTable = dojo.byId('syncTable');
						syncTableEmpty = dojo.byId('syncTableEmpty');
						googleSyncTargets = dojo.byId('googleSyncTargets');
						googleSyncTargetsContainer = dojo.byId('googleSyncTargetsContainer');
						
						dojo.connect(dijit.byId('removeSyncVerifyDialogNo'), 'onClick', function() {
							dijit.byId('removeSyncVerifyDialog').hide();
						});
						
						var formatErrorMessage = function(error, description) {
							for (var code in customErrorMessages) {
								if (description && typeof(description) == 'string' && description.indexOf(code) != -1) {
									return customErrorMessages[code];
								}
							}
							
							return error;
						};
						
						var syncListUpdate = function(force) {
							if (force || (tabsDijit && tabsDijit.selectedChildWidget && tabsDijit.selectedChildWidget.data == 'external')) {
								xhr(Project.api2_full_url + '/user', {
									handleAs: "json",
									query: {session_id: '${_userBean.api2SessionId}'}
								}).then(function(data) {
									if (data && data.externalSyncs && data.externalSyncs.length) {
										dojoQuery('#syncTableBody tr').forEach(domConstruct.destroy);
										var syncs = data.externalSyncs;
										var googleSync = null;
										
										for (var i = 0, len = syncs.length; i < len; i++) {
											var sync = syncs[i];
											var syncActive = !sync.error && !sync.errorDescription;
											var syncDisabled = sync.error && sync.error == 'DISABLING';
											var activeHtml = '<span class="green">' + i18n('settings.sync.status_active') + '</span>';
											if (sync.type == 'GOOGLE') {
												googleSync = sync;
											}
											
											if (!syncActive) {
												activeHtml = '<p>\
													<span class="red syncError">' + formatErrorMessage(sync.error, sync.errorDescription) + '</span>\
													' + (syncDisabled ? '' : '<span data-icon="" aria-hidden="true" class="syncInfoLink syncErrorInfoLink"></span>') + '\
												</p>\
												<p class="red hidden syncErrorDescription">' + sync.errorDescription + '</p>';
											}
											var actionsHtml = '<span data-icon="&#xe004;" aria-hidden="true" title="' + i18n('settings.sync.disable') + '" class="syncDisableButton" data-sync-id="' + sync.id + '" data-sync-type="' + sync.type + '"></span>';
											if (!syncActive) {
												actionsHtml = '<span data-icon="&#xf021;" aria-hidden="true" title="' + i18n('settings.sync.sync_clear_error') + '" class="clearErrorButton" data-sync-type="' + sync.type + '"></span>' + actionsHtml;
											}
											if (syncActive && devMode) {
												actionsHtml = '<span data-icon="&#xf01e;" aria-hidden="true" title="' + i18n('settings.sync.sync_now') + '" class="syncNowButton"></span>' + actionsHtml;
											}
											
											if (syncDisabled) {
												actionsHtml = '';
											}
											
											domConstruct.place(domConstruct.toDom('<tr id="syncRow' + sync.id + '">\
												<td>' + sync.type + '</td>\
												<td class="syncErrorCell">' + activeHtml + '</td>\
												<td class="recentRunCell" data-time="' + (sync.recentRun || '') + '">' + (sync.recentRun ? sync.recentRun : i18n('settings.sync.recent_run.never')) + '</td>\
												<td class="actionsCell">' + actionsHtml + '</td>\
											</tr>'), 'syncTableBody');
										}
										
										#{if _userBean.googleSync}
											// Build Google Targets interface.
											domConstruct.empty(googleSyncTargetsContainer);
											domConstruct.place(domConstruct.toDom('&nbsp;'), googleSyncTargetsContainer);
											domClass.remove(googleSyncTargets, 'hidden');
											
											if (googleSync && googleSync.targets && googleSync.targets.length) {
												var targetsHtml = '';
												
												for (var i = 0, len = googleSync.targets.length; i < len; i++) {
													var target = googleSync.targets[i];
													targetsHtml += '<div class="googleCalendarTarget">\
														<label>\
															<input class="googleSyncTarget" type="checkbox" value="' + htmlspecialchars(target.targetId) + '" ' + (target.enabled ? 'checked="checked"' : '') + ' />\
															' + htmlspecialchars(target.targetTitle) + '\
														</label>\
													</div>';
												}
												domConstruct.place(domConstruct.toDom(targetsHtml), googleSyncTargetsContainer);
											} else {
												domConstruct.place(domConstruct.toDom('<div>' + htmlspecialchars(i18n('settings.sync.google.targets.soon')) + '</div>'), googleSyncTargetsContainer);
											}
										#{/if}
										
										syncListUpdateAfter();
									} else {
										domClass.add(syncTable, 'hidden');
										domClass.add(googleSyncTargets, 'hidden');
										domClass.remove(syncTableEmpty, 'hidden');
									}
								}, function(err) {
									console.error(err);
								});
							}
						};
						
						var syncListUpdateAfter = function() {
							#{if _userBean.googleSync}
								dojoQuery('.googleSyncTarget').on('click', function() {
									var targets = [];
									var targetInputs = dojoQuery('.googleSyncTarget');
									targetInputs.attr('disabled', true);
									
									targetInputs.forEach(function(x) {
										if (x.checked) {
											targets.push(x.value);
										}
									});
									
									xhr(Project.api2_full_url + '/sync/targeting', {
										handleAs: "json",
										data: {session_id: '${_userBean.api2SessionId}', syncId: ${_userBean.googleSync.id}, targets: targets},
										method: 'PUT'
									}).then(function(data) {
										targetInputs.attr('disabled', false);
									}, function(err) {
										alert('Sorry but error occurred');
									});
								});
							#{/if}
							dojoQuery('.syncNowButton').on('click', function() {
								var that = this;
								
								if (doNotRunSyncNowOften) {
									alert('Please wait for at least 30 seconds before force sync run again.');
								} else if (confirm('For testing purposes only (not available in production)!!\nDo not press it too often - this may lead to unexpected errors. Run sync now?')) {
									doNotRunSyncNowOften = true;
									setTimeout(function() {
										doNotRunSyncNowOften = false;
									}, 30000);
									domClass.add(that, 'hidden');
									
									xhr(Project.api2_full_url + '/sync/run', {
										handleAs: "json",
										query: {session_id: '${_userBean.api2SessionId}'}
									}).then(function(data) {
										domClass.remove(that, 'hidden');
										alert('Sync will be run shortly!');
									}, function(err) {
										if (err && err.response && err.response.data && err.response.data.error_message) {
											alert(err.response.data.error_message);
										} else {
											alert('Could not run sync now. Error occurred.');
										}
										
										domClass.remove(that, 'hidden');
									});
								}
							});
							
							dojoQuery('.syncDisableButton').on('click', function() {
								var type = domAttr.get(this, 'data-sync-type');
								var that = this;
								dijit.byId('removeSyncVerifyDialog').show();
								if (type == 'GOOGLE') {
									dojo.removeClass(dojo.byId('removeSyncGoogleWrapper'), 'hidden');
								} else {
									dojo.addClass(dojo.byId('removeSyncGoogleWrapper'), 'hidden');
								}
								if (typeof(removeSyncVerifyDialogYesHandle) != 'undefined' && removeSyncVerifyDialogYesHandle) {
									dojoConnect.disconnect(removeSyncVerifyDialogYesHandle);
								}
								removeSyncVerifyDialogYesHandle = dojo.connect(dijit.byId('removeSyncVerifyDialogYes'), 'onClick', function() {
									dijit.byId('removeSyncVerifyDialog').hide();
									domClass.add(that, 'hidden');
									var data = {session_id: '${_userBean.api2SessionId}', type: type};
									if (type == 'GOOGLE' && dojo.byId('removeSyncGoogleRemote').checked) {
										data.removeRemote = true;
									}
									
									xhr(Project.api2_full_url + '/sync', {
										handleAs: "json",
										data: data,
										method: 'DELETE'
									}).then(function(data) {
										syncListUpdate();
									}, function(err) {
										if (err && err.response && err.response.data && err.response.data.error_message) {
											alert(err.response.data.error_message);
										} else {
											alert('Could not delete sync now. Error occurred.');
										}
										
										domClass.remove(that, 'hidden');
									});
								});
							});
							dojoQuery('.syncErrorInfoLink').on('click', function(e) {
								if (e && e.target) {
									Tooltip.open('syncerrorinfo', '', e.target);
								}
							});
							dojoQuery('.clearErrorButton').on('click', function() {
								var type = domAttr.get(this, 'data-sync-type');
								var that = this;
								
								domClass.add(that, 'hidden');
								
								xhr(Project.api2_full_url + '/sync/clearError', {
									handleAs: "json",
									data: {session_id: '${_userBean.api2SessionId}', type: type},
									method: 'POST'
								}).then(function(data) {
									syncListUpdate();
								}, function(err) {
									if (err && err.response && err.response.data && err.response.data.error_message) {
										alert(err.response.data.error_message);
									} else {
										alert('Could not clear error now. Please try later.');
									}
									
									domClass.remove(that, 'hidden');
								});
							});
							dojoQuery('.syncErrorCell').on('dblclick', function(e) {
								if (e && e.ctrlKey) {
									dojoQuery('.syncErrorDescription').toggleClass('hidden');
								}
							});
							var recentRunCells = dojoQuery('.recentRunCell');
							for (var i = 0, len = recentRunCells.length; i < len; i++) {
								var cell = recentRunCells[i];
								var timeStr = domAttr.get(cell, 'data-time');
								var time = null;
								
								if (timeStr && timeStr.indexOf('T') != -1) {
									time = str2timeAPI(timeStr);
								}
								if (time) {
									var splittedTime = timeStr.split('T')[1].split(':');
									var hours = null;
									
									if (splittedTime.length >= 2) {
										hours = time24_to_time12(splittedTime[0] + ':' + splittedTime[1]);
									}
									
									cell.innerHTML = time2str(time, Hi_Calendar.format) + ' ' + (hours || '');
								}
							}
						};
						
						syncListUpdate(true);
						setInterval(syncListUpdate, 16000);
					});
				});
			</script>
		#{/if}
		#{else}
			#{common.googleCalendarConfiguration userBean: _userBean, forceRefresh: true /}
		#{/else}
	</fieldset>
</div>
#{common.googleCalendarRemoveSyncDialog /}