<div id='freeAccountContainer'>
	<div id='freeAccount1' class="wrap-settings-fieldset">
		<fieldset class="settings-fieldset">
			<h2>&{'settings.account.title_upgrade'}</h2>
			&{'settings.account.account_free_text1'}
			<br />
			&{'settings.account.account_free_text2'}
			
			<table id="accountsUpgradeTable">
				<tr>
					<th>Team Business</th>
					<th>Personal Premium</th>
				</tr>
				<tr>
					<td>Starting from 5 Team Members</td>
					<td>Individual Account</td>
				</tr>
				<tr>
					<td>Shared Task Lists and Projects</td>
					<td>No Sharing</td>
				</tr>
				<tr>
					<td colspan="2" class="center">Unlimited Tasks and Projects</td>
				</tr>
				<tr>
					<td>
						<div data-dojo-type='dijit.form.Button' class="upgradeButton btn-success btn-alt">
							<script type='dojo/method' event='onClick'>
								window.location.href='/signup/select/business_new?ga_affiliation=settings_free_upgrade';
							</script>
							&{'settings.upgrade.button'}
						</div>
					</td>
					<td>
						<div data-dojo-type='dijit.form.Button' class="upgradeButton btn-success btn-alt">
							<script type='dojo/method' event='onClick'>
								window.location.href='/signup/select/premium_new?ga_affiliation=settings_free_upgrade';
							</script>
							&{'settings.upgrade.button'}
						</div>
					</td>
				</tr>
			</table>
			
			We also have a Free Team Basic account. <a href="/signup">&{'settings.account.see.all.plans'}</a>
			
			<h2>&{'settings.account.storage_title'}</h2>
			<div data-dojo-type='dijit.ProgressBar' id='freeAccountProgressBar' maximum=50 title=''></div>
			
			#{settings.terminateLabel replaceWhat: 'freeAccount1', userBean: _userBean /}
		</fieldset>
	</div>
</div>
<script type='text/javascript'>
	var premiumStorageTemplate = i18n('settings.account.storage_used');
</script>