#{if _userBean.isPremium() || (_userBean.business && _userBean.business.hasAdminPermissions())}
	<h2>&{'settings.invoices.title'}</h2>
	
	#{if _userBean.business && _userBean.business.hasAdminPermissions()}
		<h3>&{'settings.billing_address'}</h3>
		<div>
			<textarea data-dojo-type='hi.widget.Textarea' data-dojo-props='maxLines: 7' id='billingAddressText' style='min-height: 70px'>${_userBean.business.billingAddress}</textarea>
			<a href="#" id="updateBillingAddressLink">&{'settings.update_billing_address'}</a>
		</div>
		<br />
	#{/if}
	
	<div id="invoicesTable" class="invoice_table">
		<span id="invoicesTableBody"></span>
	</div>
	<br />
	
	<script type="text/javascript">
		require(['dojo/ready', 'dojo/request/xhr', "dojo/dom", "dojo/dom-construct", "dojo/query", "dojo/dom-class", "dojo/on", "dojo/_base/lang"], 
			function(ready, xhr, dom, domConstruct, dojoQuery, domClass, dojoOn, dojoLang) {
			
			ready(function() {
				function putNoInvoices() {
					domConstruct.place(
				    	domConstruct.toDom('<div class="notification_table_left"><label class="check">' + i18n('settings.invoices.empty') + '</label></div>'), 
				    	"invoicesTableBody"
				    );
				};
				
				var updateBillingAddressLink = dom.byId('updateBillingAddressLink');
				if (updateBillingAddressLink) {
					dojoOn(updateBillingAddressLink, 'click', function(e) {
						saveSettings({
							url: Project.api2_full_url,
							action: 'business',
							method: 'POST'}, {
							billingAddress: dijit.byId('billingAddressText').get('value'),
							session_id:'${_userBean.api2SessionId}'},
							i18n("settings.billing_address.info_changed"),
							'Unable to update your billing address at this time'
						);
						dojo.stopEvent(e);
					});
				}
				
				xhr(Project.api2_full_url + '/user/invoice?session_id=${_userBean.api2SessionId}', {
					handleAs: "json"
				}).then(function(data) {
					if (data && data.length) {
						var viewMoreMax = 3;
						var viewMore = data.length > viewMoreMax;
						
						for (var i = 0, len = data.length; i < len; i++) {
							var invoice = data[i];
							var href = '/report/?invoice=' + invoice.invoice + '&code=invoice&format=pdf';
							
							var row = domConstruct.toDom("<div class='notification_table_row invoiceRow" + (viewMore && (i + 1) > viewMoreMax ? ' hidden' : '') + "'><div class='notification_table_left' >" 
								+ '<label class="check">' + (invoice.dateFormatted ? invoice.dateFormatted : i18n('settings.invoices.nodate')) + '&nbsp;&nbsp;&nbsp;<b>$' + invoice.amount + '</b></label>'
								+ "</div>"
								+ '<div class="notification_table_right"><a href="' + href + '" target="_blank"><span class="downloadPdf" data-icon="&#xe015;" aria-hidden="true" title="' + i18n('settings.invoices.download') + '"></span></a></div>' 
								+ "</div>"
							);
						    domConstruct.place(row, "invoicesTableBody");
						}
						if (viewMore) {
							domConstruct.place(domConstruct.toDom('<br /><a id="viewMoreInvoices" href="#">' + htmlspecialchars(i18n('settings.invoices.view_more')) + '</a>'), "invoicesTableBody", 'after');
							dojoOn(dojo.byId('viewMoreInvoices'), 'click', function(e) {
								dojoQuery('.invoiceRow.hidden').removeClass('hidden');
								dojo.addClass(this, 'hidden');
								dojo.stopEvent(e);
							});
						}
					} else {
						putNoInvoices();
					}
				}, function(err) {
					
				});
			});
		});
	</script>
#{/if}