<form method="post" action="">
	<div class="wrap-settings-fieldset">
		<fieldset class="settings-fieldset">
			<div class='notification_table'>
				<div class='notification_table_row_heading'>

					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>News</h2>
					</div>

					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>		
					</div>

					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>&nbsp;</h3>		
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Send me exciting HiTask news! (Once in a few months)</label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="receive_email" name="receive_email" class="check">
					</div>
				</div>

				<div class='notification_table_row_heading'>

					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>Send me daily email with summary of activities</h2>
					</div>

					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>		
					</div>

					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>&nbsp;</h3>		
					</div>
				</div>

				#{list items: _weekdays, as: 'weekday'}
					{%
						thisIndex = weekday_index - 1;
						thisIndex = thisIndex == 0 ? 7 : thisIndex;
					%}
					<div class='notification_table_row'>
						<div class='notification_table_left'>
							<label class="check">${weekday}</label>
						</div>
						<div class='notification_table_right'>
							<input type="checkbox" value="1" id="daily_summary_email_${thisIndex}" name="daily_summary_email_${thisIndex}" class="check">
						</div>
					</div>
				#{/list}

				<div class='notification_table_row_heading'>
					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>Item notifications</h2>

					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>WEB</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>APP</h3>	
					</div>
				</div>
				<div id="html5notifysupport" class="html5notifydisabled">
					<div id="html5notifysupport0"></div>
					<div id="html5notifysupport1"></div>
				</div>
				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" style='font-weight:bold;'>Notify about all changes in items I am involved with</label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked=false value='1' id="item_notification_group" class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked=false value='1' id="item_notification_group_web" class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked=false value='1' id="item_notification_group_app" class="check">
					</div>
				</div>

				<div class='notification_table_row_heading'>
					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>Assignment</h2>

					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>WEB</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>APP</h3>	
					</div>
				</div>
				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Item is assigned to me or reassigned </label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_assigned" name='notify_email_item_assigned' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_assigned" name='notify_web_item_assigned' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_assigned" name='notify_app_item_assigned' class="check">
					</div>
				</div>
				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >I am added as a participant </label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_participant" name='notify_email_item_participant' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_participant" name='notify_web_item_participant' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_participant" name='notify_app_item_participant' class="check">
					</div>
				</div>

				<div class='notification_table_row_heading'>
					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>Item modified</h2>

					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>WEB</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>APP</h3>	
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Item title, description or date is modified </label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_modify" name='notify_email_item_modify' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_modify" name='notify_web_item_modify' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_modify" name='notify_app_item_modify' class="check">
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Item priority or starred status changed</label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_priority" name='notify_email_item_priority' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_priority" name='notify_web_item_priority' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_priority" name='notify_app_item_priority' class="check">
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Item color, tags changed </label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_tags" name='notify_email_item_tags' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_tags" name='notify_web_item_tags' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_tags" name='notify_app_item_tags' class="check">
					</div>
				</div>

				<div class='notification_table_row_heading'>
					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>Item events</h2>
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>WEB</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>APP</h3>	
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label class="check">Item is completed or due date is missed</label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_completed" name='notify_email_item_completed' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_completed" name='notify_web_item_completed' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_completed" name='notify_app_item_completed' class="check">
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Item is deleted</label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_deleted" name='notify_email_item_deleted' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_deleted" name='notify_web_item_deleted' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_deleted" name='notify_app_item_deleted' class="check">
					</div>
				</div>


				<div class='notification_table_row_heading'>
					<div class='notification_table_left'>
						<h2 class='settings_notification_subheading'>Item comments and attachments</h2>
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>EMAIL</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>WEB</h3>	
					</div>
					<div class='notification_table_right'>
						<h3 class='settings_notification_subheading'>APP</h3>	
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Comment is added </label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_comment" name='notify_email_item_comment' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_comment" name='notify_web_item_comment' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_comment" name='notify_app_item_comment' class="check">
					</div>
				</div>

				<div class='notification_table_row'>
					<div class='notification_table_left'>
						<label  class="check" >Document attached </label>
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_email_item_attachment" name='notify_email_item_attachment' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_web_item_attachment" name='notify_web_item_attachment' class="check">
					</div>
					<div class='notification_table_right'>
						<input type="checkbox" checked="checked" value="1" id="notify_app_item_attachment" name='notify_app_item_attachment' class="check">
					</div>
				</div>

				<h2 class='settings_notification_subheading'>&{'settings.notifications.devices'}</h2>
				<div id="devicesTable">
					<span id="devicesTableBody"></span>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="submit">
		<div data-dojo-type='dijit.form.Button' id='notifications_save' class='btn-success btn-alt'>Save</div>
			or <a title="return to my tasks" href="/app">return to my tasks</a>
	</div>
</form>
<script type='text/javascript'>
	var settings_notifications_preIDs = [
		{allId: 'item_notification_group', preId: 'notify_email_item_', allName: 'notify_email'}, 
		{allId: 'item_notification_group_app', preId: 'notify_app_item_', allName: 'notify_app'},
		{allId: 'item_notification_group_web', preId: 'notify_web_item_', allName: 'notify_web'}
	];
	var settings_notifications_group = {
		modify:1,
		priority:1,
		tags:1,
		completed:1,
		assigned:1,
		participant:1,
		deleted:1,
		comment:1,
		attachment:1
	};
	
	require(['dojo/ready', 'dojo/request/xhr', "dojo/dom", "dojo/dom-construct", "dojo/query", "dojo/dom-class", "dojo/on", "dojo/_base/lang", 'dojo/sniff'], 
		function(ready, xhr, dom, domConstruct, dojoQuery, domClass, dojoOn, dojoLang, sniff) {
		
		ready(function() {
			var bindOnChangeHandlers = function(allId, preId) {
				var notifyAllCb = dojo.byId(allId);
				dojo.connect(notifyAllCb, 'onchange', function() {
					var checked = notifyAllCb.checked;
					for (var k in settings_notifications_group) {
						dojo.byId(preId + k).checked = checked;
					}
				});
				for (var k in settings_notifications_group) {
					var subCb = dojo.byId(preId + k);
					dojo.connect(subCb, 'onchange', function() {
						if (!this.checked) {
							notifyAllCb.checked = false;
						} else if (ifAllSubNotificationsChecked(preId)) {
							notifyAllCb.checked = true;
						}
					});
				}
			};

			//Show or hide HTML5 Notifications message
			function html5notifySupportCheck() {
				var html5ns = dojo.byId('html5notifysupport');
				var html5ns0 = dojo.byId('html5notifysupport0');
				var html5ns1 = dojo.byId('html5notifysupport1');
				if ("Notification" in window) {
					var permission = Notification.permission;
					if (permission == 'denied' || permission == "default") {
						html5ns0.innerHTML = '<b>' + htmlspecialchars(i18n('settings.webnotifications.title')) + ':</b> ' + htmlspecialchars(i18n('settings.webnotifications.not_allowed', location.host));
						if (sniff('opera') || (typeof(navigator) != 'undefined' && typeof(navigator.userAgent) != 'undefined' && navigator.userAgent.indexOf('OPR/') != -1)) {
							html5ns1.innerHTML = htmlspecialchars(i18n('settings.webnotifications.help.opera'));
						} else if (sniff('chrome')) {
							html5ns1.innerHTML = htmlspecialchars(i18n('settings.webnotifications.help.chrome'));
						} else if (sniff('mozilla')) {
							html5ns1.innerHTML = htmlspecialchars(i18n('settings.webnotifications.help.mozilla'));
						} else if (sniff('safari')) {
							html5ns1.innerHTML = htmlspecialchars(i18n('settings.webnotifications.help.safari'));
						}
					} else {
						dojo.setStyle(html5ns, "display", "none");
					}
				} else {
					html5ns0.innerHTML = '<b>' + htmlspecialchars(i18n('settings.webnotifications.title')) + ':</b> ' + htmlspecialchars(i18n('settings.webnotifications.not_supported'));
					for (var i in settings_notifications_group) {
						var subId = settings_notifications_preIDs[2].preId + i;
						dojo.byId(subId).disabled = true;
					}
					dojo.byId(settings_notifications_preIDs[2].allId).disabled = true;
				}
			}
			html5notifySupportCheck();

			setInterval(html5notifySupportCheck,500);

			
			for (var i = 0, len = settings_notifications_preIDs.length; i < len; i++) {
				bindOnChangeHandlers(settings_notifications_preIDs[i].allId, settings_notifications_preIDs[i].preId);
			}
			
			dojo.connect(dijit.byId('notifications_save'), 'onClick', function() {
				var data = {};
				var dataStr  = '';
				for (var i in settings_notifications_group) {
					for (var j = 0, len = settings_notifications_preIDs.length; j < len; j++) {
						var subId = settings_notifications_preIDs[j].preId + i;
						data[subId] = dojo.byId(subId).checked;
					}
				}
				
				for (var i = 0, len = settings_notifications_preIDs.length; i < len; i++) {
					data[settings_notifications_preIDs[i].allName] = dojo.byId(settings_notifications_preIDs[i].allId).checked;
				}
				
				for (var i = 1; i < 8; i++) {
					var k = 'daily_summary_email_' + i;
					data[k] = dojo.byId(k).checked;
				}
				
				data['receive_email'] = dojo.byId('receive_email').checked;
				data['session_id'] = '${_userBean.api2SessionId}'

				var html5NotifyEnabled = dojo.byId('item_notification_group_web').checked;
				for (var i in settings_notifications_group) {
					if (html5NotifyEnabled === true) {
						break;
					}
					var subId = settings_notifications_preIDs[2].preId + i;
					html5NotifyEnabled = dojo.byId(subId).checked;
				}
				if (html5NotifyEnabled === true) {
					dojo.global.requestNotifyPermissions(function(result) {
						switch (result) {
							case 'granted': data['desktopNotifyState'] = 1; break;
							default: data['desktopNotifyState'] = 0; break;
						}
					});
				} else {
					data['desktopNotifyState'] = 0;
				}

				saveSettings({
					url: Project.api2_full_url,
					action: 'user/preferences',
					method: 'POST'
				}, data,
					i18n("settings.personal.info_changed"),
					'Unable to update your notifications settings at this time',
					'preferences'
				);
			});
			
			function putNoDevices() {
				domConstruct.place(
			    	domConstruct.toDom('<div class="notification_table_left"><label class="check">' + i18n('settings.notifications.devices.table.empty') + '</label></div>'), 
			    	"devicesTableBody"
			    );
			};
			
			xhr(Project.api2_full_url + '/device?session_id=${_userBean.api2SessionId}', {
				handleAs: "json"
			}).then(function(data) {
				if (data && data.length) {
					for (var i = 0, len = data.length; i < len; i++) {
						var device = data[i];
						device.deviceRowId = 'deviceRow' + i;
						device.deviceDelIconId = 'deviceDelIcon' + i;
						
						var row = domConstruct.toDom("<div class='notification_table_row' id='" + device.deviceRowId + "'><div class='notification_table_left' >" 
							+ '<label class="check">'+(device.name ? device.name : i18n('settings.notifications.devices.noname')) +'</label>'
							+ "</div>"
							+ '<div class="notification_table_right"><span id="' + device.deviceDelIconId + '" data-icon="&#xe004;" aria-hidden="true" title="' + i18n('settings.notifications.devices.delete_label') + '"></span></div>' 
							+ "</div>"
						);
					    domConstruct.place(row, "devicesTableBody");
					    
					    dojoOn(dom.byId(device.deviceDelIconId), 'click', dojoLang.hitch(device, function() {
					    	if (confirm(i18n('settings.notifications.devices.delete_question'))) {
					    		domClass.add(dom.byId(this.deviceDelIconId), 'hidden');
					    		xhr(Project.api2_full_url + '/device', {
									handleAs: "json",
									data: {session_id: '${_userBean.api2SessionId}', device_id: this.id},
									method: 'DELETE'
								}).then(dojoLang.hitch(this, function(data) {
									domConstruct.destroy(this.deviceRowId);
									if (dojoQuery('div.notification_table_row', dom.byId('devicesTableBody')).length < 1) {
										putNoDevices();
									}
								}), dojoLang.hitch(this, function(err) {
									if (err && err.response && err.response.data && err.response.data.error_message) {
										alert(err.response.data.error_message);
									}
									
									domClass.remove(dom.byId(this.deviceDelIconId), 'hidden');
								}));
					    	}
					    }));
					}
				} else {
					putNoDevices();
				}
			}, function(err) {
				
			});
		});
	});
</script>