<form class="datetime-preference" enctype="multipart/form-data" method="post" action="/settings?datetime#datetime">
	<input type="hidden" value="kn4sns5isike4u4fri5khgvh33" name="AS">
	<fieldset class="settings-fieldset"><input type="hidden" value="kn4sns5isike4u4fri5khgvh33" name="AS">
		<input type="hidden" value="1" name="datetime"><br>
		
		<table>
			<tbody>
				<tr>
					<td>
						<label>&{'settings.display.language'}</label><br>
						<select name="language">
							<option selected="selected" value="en" label="English">English</option>
							<option value="es" label="Español">Español</option>
							<option value="fr" label="Français">Français</option>
						</select>
						<br>
					</td>
				</tr>
			</tbody>
		</table>
		
		<h2>Comment display order</h2>
		
		<input type="radio" value="1" id="comment_order_1" name="comment_order" class="radio">
		<label for="comment_order_1" class="checkbox">Latest on top</label>	
		<br>

		<input type="radio" checked="checked" value="0" id="comment_order_0" name="comment_order" class="radio">
		<label for="comment_order_0" class="checkbox">Latest at the bottom</label>	
		<br>
		
		<h2>Date preference</h2>
		<table>
			<tbody>
				<tr>
					<td>
						<label>My week starts on</label><br>
						<select name="first_day_of_week">
							<option value="0" label="Sunday">Sunday</option>
							<option selected="selected" value="1" label="Monday">Monday</option>
							<option value="2" label="Tuesday">Tuesday</option>
							<option value="3" label="Wednesday">Wednesday</option>
							<option value="4" label="Thursday">Thursday</option>
							<option value="5" label="Friday">Friday</option>
							<option value="6" label="Saturday">Saturday</option>
						</select>
						<br>
					</td>
					<td>
						<label>Date format</label><br>
						<select name="date_format">
							<option selected="selected" value="d-m-y" label="d-m-y">d-m-y</option>
							<option value="m-d-y" label="m-d-y">m-d-y</option>
							<option value="y-m-d" label="y-m-d">y-m-d</option>
							<option value="d/m/y" label="d/m/y">d/m/y</option>
							<option value="m/d/y" label="m/d/y">m/d/y</option>
							</select>
					</td>
				</tr>
			</tbody>
		</table>
		
		<h2>Time preference</h2>
		
		<table>
			<tbody>
				<tr>
					<td>
						<label>Time format</label><br>
						<select name="time_format">
							<option value="12" label="12 hours">12 hours</option>
							<option selected="selected" value="24" label="24 hours">24 hours</option>
						</select>
						<br>
					</td>
					<td>
						<label>Time zone</label><br>
						<select name="time_zone">
							<option value="Pacific/Apia" label="(GMT-11:00) Apia">(GMT-11:00) Apia</option>
							<option value="Pacific/Midway" label="(GMT-11:00) Midway">(GMT-11:00) Midway</option>
							<option value="Pacific/Niue" label="(GMT-11:00) Niue">(GMT-11:00) Niue</option>
							<option value="Pacific/Pago_Pago" label="(GMT-11:00) Pago Pago">(GMT-11:00) Pago Pago</option>
							<option value="Pacific/Fakaofo" label="(GMT-10:00) Fakaofo">(GMT-10:00) Fakaofo</option>
							<option value="Pacific/Honolulu" label="(GMT-10:00) Hawaii Time">(GMT-10:00) Hawaii Time</option>
							<option value="Pacific/Johnston" label="(GMT-10:00) Johnston">(GMT-10:00) Johnston</option>
							<option value="Pacific/Rarotonga" label="(GMT-10:00) Rarotonga">(GMT-10:00) Rarotonga</option>
							<option value="Pacific/Tahiti" label="(GMT-10:00) Tahiti">(GMT-10:00) Tahiti</option>
							<option value="Pacific/Marquesas" label="(GMT-09:30) Marquesas">(GMT-09:30) Marquesas</option>
							<option value="America/Anchorage" label="(GMT-09:00) Alaska Time">(GMT-09:00) Alaska Time</option>
							<option value="Pacific/Gambier" label="(GMT-09:00) Gambier">(GMT-09:00) Gambier</option>
							<option value="America/Los_Angeles" label="(GMT-08:00) Pacific Time">(GMT-08:00) Pacific Time</option>
							<option value="America/Tijuana" label="(GMT-08:00) Pacific Time - Tijuana">(GMT-08:00) Pacific Time - Tijuana</option>
							<option value="America/Vancouver" label="(GMT-08:00) Pacific Time - Vancouver">(GMT-08:00) Pacific Time - Vancouver</option>
							<option value="America/Whitehorse" label="(GMT-08:00) Pacific Time - Whitehorse">(GMT-08:00) Pacific Time - Whitehorse</option>
							<option value="Pacific/Pitcairn" label="(GMT-08:00) Pitcairn">(GMT-08:00) Pitcairn</option>
							<option value="America/Dawson_Creek" label="(GMT-07:00) Mountain Time - Dawson Creek">(GMT-07:00) Mountain Time - Dawson Creek</option>
							<option value="America/Denver" label="(GMT-07:00) Mountain Time">(GMT-07:00) Mountain Time</option>
							<option value="America/Edmonton" label="(GMT-07:00) Mountain Time - Edmonton">(GMT-07:00) Mountain Time - Edmonton</option>
							<option value="America/Hermosillo" label="(GMT-07:00) Mountain Time - Hermosillo">(GMT-07:00) Mountain Time - Hermosillo</option>
							<option value="America/Mazatlan" label="(GMT-07:00) Mountain Time - Chihuahua, Mazatlan">(GMT-07:00) Mountain Time - Chihuahua, Mazatlan</option>
							<option value="America/Phoenix" label="(GMT-07:00) Mountain Time - Arizona">(GMT-07:00) Mountain Time - Arizona</option>
							<option value="America/Yellowknife" label="(GMT-07:00) Mountain Time - Yellowknife">(GMT-07:00) Mountain Time - Yellowknife</option>
							<option value="America/Belize" label="(GMT-06:00) Belize">(GMT-06:00) Belize</option>
							<option value="America/Chicago" label="(GMT-06:00) Central Time">(GMT-06:00) Central Time</option>
							<option value="America/Costa_Rica" label="(GMT-06:00) Costa Rica">(GMT-06:00) Costa Rica</option>
							<option value="America/El_Salvador" label="(GMT-06:00) El Salvador">(GMT-06:00) El Salvador</option>
							<option value="America/Guatemala" label="(GMT-06:00) Guatemala">(GMT-06:00) Guatemala</option>
							<option value="America/Managua" label="(GMT-06:00) Managua">(GMT-06:00) Managua</option>
							<option value="America/Mexico_City" label="(GMT-06:00) Central Time - Mexico City">(GMT-06:00) Central Time - Mexico City</option>
							<option value="America/Regina" label="(GMT-06:00) Central Time - Regina">(GMT-06:00) Central Time - Regina</option>
							<option value="America/Tegucigalpa" label="(GMT-06:00) Central Time">(GMT-06:00) Central Time</option>
							<option value="America/Winnipeg" label="(GMT-06:00) Central Time - Winnipeg">(GMT-06:00) Central Time - Winnipeg</option>
							<option value="Pacific/Easter" label="(GMT-06:00) Easter Island">(GMT-06:00) Easter Island</option>
							<option value="Pacific/Galapagos" label="(GMT-06:00) Galapagos">(GMT-06:00) Galapagos</option>
							<option value="America/Bogota" label="(GMT-05:00) Bogota">(GMT-05:00) Bogota</option>
							<option value="America/Cayman" label="(GMT-05:00) Cayman">(GMT-05:00) Cayman</option>
							<option value="America/Grand_Turk" label="(GMT-05:00) Grand Turk">(GMT-05:00) Grand Turk</option>
							<option value="America/Guayaquil" label="(GMT-05:00) Guayaquil">(GMT-05:00) Guayaquil</option>
							<option value="America/Havana" label="(GMT-05:00) Havana">(GMT-05:00) Havana</option>
							<option value="America/Iqaluit" label="(GMT-05:00) Eastern Time - Iqaluit">(GMT-05:00) Eastern Time - Iqaluit</option>
							<option value="America/Jamaica" label="(GMT-05:00) Jamaica">(GMT-05:00) Jamaica</option>
							<option value="America/Lima" label="(GMT-05:00) Lima">(GMT-05:00) Lima</option>
							<option value="America/Montreal" label="(GMT-05:00) Eastern Time - Montreal">(GMT-05:00) Eastern Time - Montreal</option>
							<option value="America/Nassau" label="(GMT-05:00) Nassau">(GMT-05:00) Nassau</option>
							<option value="America/New_York" label="(GMT-05:00) Eastern Time">(GMT-05:00) Eastern Time</option>
							<option value="America/Panama" label="(GMT-05:00) Panama">(GMT-05:00) Panama</option>
							<option value="America/Port-au-Prince" label="(GMT-05:00) Port-au-Prince">(GMT-05:00) Port-au-Prince</option>
							<option value="America/Rio_Branco" label="(GMT-05:00) Rio Branco">(GMT-05:00) Rio Branco</option>
							<option value="America/Toronto" label="(GMT-05:00) Eastern Time - Toronto">(GMT-05:00) Eastern Time - Toronto</option>
							<option value="America/Anguilla" label="(GMT-04:00) Anguilla">(GMT-04:00) Anguilla</option>
							<option value="America/Antigua" label="(GMT-04:00) Antigua">(GMT-04:00) Antigua</option>
							<option value="America/Aruba" label="(GMT-04:00) Aruba">(GMT-04:00) Aruba</option>
							<option value="America/Asuncion" label="(GMT-04:00) Asuncion">(GMT-04:00) Asuncion</option>
							<option value="America/Barbados" label="(GMT-04:00) Barbados">(GMT-04:00) Barbados</option>
							<option value="America/Boa_Vista" label="(GMT-04:00) Boa Vista">(GMT-04:00) Boa Vista</option>
							<option value="America/Campo_Grande" label="(GMT-04:00) Campo Grande">(GMT-04:00) Campo Grande</option>
							<option value="America/Caracas" label="(GMT-04:00) Caracas">(GMT-04:00) Caracas</option>
							<option value="America/Cuiaba" label="(GMT-04:00) Cuiaba">(GMT-04:00) Cuiaba</option>
							<option value="America/Curacao" label="(GMT-04:00) Curacao">(GMT-04:00) Curacao</option>
							<option value="America/Dominica" label="(GMT-04:00) Dominica">(GMT-04:00) Dominica</option>
							<option value="America/Grenada" label="(GMT-04:00) Grenada">(GMT-04:00) Grenada</option>
							<option value="America/Guadeloupe" label="(GMT-04:00) Guadeloupe">(GMT-04:00) Guadeloupe</option>
							<option value="America/Guyana" label="(GMT-04:00) Guyana">(GMT-04:00) Guyana</option>
							<option value="America/Halifax" label="(GMT-04:00) Atlantic Time - Halifax">(GMT-04:00) Atlantic Time - Halifax</option>
							<option value="America/La_Paz" label="(GMT-04:00) La Paz">(GMT-04:00) La Paz</option>
							<option value="America/Manaus" label="(GMT-04:00) Manaus">(GMT-04:00) Manaus</option>
							<option value="America/Martinique" label="(GMT-04:00) Martinique">(GMT-04:00) Martinique</option>
							<option value="America/Montserrat" label="(GMT-04:00) Montserrat">(GMT-04:00) Montserrat</option>
							<option value="America/Port_of_Spain" label="(GMT-04:00) Port of Spain">(GMT-04:00) Port of Spain</option>
							<option value="America/Porto_Velho" label="(GMT-04:00) Porto Velho">(GMT-04:00) Porto Velho</option>
							<option value="America/Puerto_Rico" label="(GMT-04:00) Puerto Rico">(GMT-04:00) Puerto Rico</option>
							<option value="America/Santiago" label="(GMT-04:00) Santiago">(GMT-04:00) Santiago</option>
							<option value="America/Santo_Domingo" label="(GMT-04:00) Santo Domingo">(GMT-04:00) Santo Domingo</option>
							<option value="America/St_Kitts" label="(GMT-04:00) St. Kitts">(GMT-04:00) St. Kitts</option>
							<option value="America/St_Lucia" label="(GMT-04:00) St. Lucia">(GMT-04:00) St. Lucia</option>
							<option value="America/St_Thomas" label="(GMT-04:00) St. Thomas">(GMT-04:00) St. Thomas</option>
							<option value="America/St_Vincent" label="(GMT-04:00) St. Vincent">(GMT-04:00) St. Vincent</option>
							<option value="America/Thule" label="(GMT-04:00) Thule">(GMT-04:00) Thule</option>
							<option value="America/Tortola" label="(GMT-04:00) Tortola">(GMT-04:00) Tortola</option>
							<option value="Antarctica/Palmer" label="(GMT-04:00) Palmer">(GMT-04:00) Palmer</option>
							<option value="Atlantic/Bermuda" label="(GMT-04:00) Bermuda">(GMT-04:00) Bermuda</option>
							<option value="Atlantic/Stanley" label="(GMT-04:00) Stanley">(GMT-04:00) Stanley</option>
							<option value="America/St_Johns" label="(GMT-03:30) Newfoundland Time - St. Johns">(GMT-03:30) Newfoundland Time - St. Johns</option>
							<option value="America/Araguaina" label="(GMT-03:00) Araguaina">(GMT-03:00) Araguaina</option>
							<option value="America/Argentina/Buenos_Aires" label="(GMT-03:00) Buenos Aires">(GMT-03:00) Buenos Aires</option>
							<option value="America/Bahia" label="(GMT-03:00) Salvador">(GMT-03:00) Salvador</option>
							<option value="America/Belem" label="(GMT-03:00) Belem">(GMT-03:00) Belem</option>
							<option value="America/Cayenne" label="(GMT-03:00) Cayenne">(GMT-03:00) Cayenne</option>
							<option value="America/Fortaleza" label="(GMT-03:00) Fortaleza">(GMT-03:00) Fortaleza</option>
							<option value="America/Godthab" label="(GMT-03:00) Godthab">(GMT-03:00) Godthab</option>
							<option value="America/Maceio" label="(GMT-03:00) Maceio">(GMT-03:00) Maceio</option>
							<option value="America/Miquelon" label="(GMT-03:00) Miquelon">(GMT-03:00) Miquelon</option>
							<option value="America/Montevideo" label="(GMT-03:00) Montevideo">(GMT-03:00) Montevideo</option>
							<option value="America/Paramaribo" label="(GMT-03:00) Paramaribo">(GMT-03:00) Paramaribo</option>
							<option value="America/Recife" label="(GMT-03:00) Recife">(GMT-03:00) Recife</option>
							<option value="America/Sao_Paulo" label="(GMT-03:00) Sao Paulo">(GMT-03:00) Sao Paulo</option>
							<option value="Antarctica/Rothera" label="(GMT-03:00) Rothera">(GMT-03:00) Rothera</option>
							<option value="America/Noronha" label="(GMT-02:00) Noronha">(GMT-02:00) Noronha</option>
							<option value="Atlantic/South_Georgia" label="(GMT-02:00) South Georgia">(GMT-02:00) South Georgia</option>
							<option value="America/Scoresbysund" label="(GMT-01:00) Scoresbysund">(GMT-01:00) Scoresbysund</option>
							<option value="Atlantic/Azores" label="(GMT-01:00) Azores">(GMT-01:00) Azores</option>
							<option value="Atlantic/Cape_Verde" label="(GMT-01:00) Cape Verde">(GMT-01:00) Cape Verde</option>
							<option value="Africa/Abidjan" label="(GMT+00:00) Abidjan">(GMT+00:00) Abidjan</option>
							<option value="Africa/Accra" label="(GMT+00:00) Accra">(GMT+00:00) Accra</option>
							<option value="Africa/Bamako" label="(GMT+00:00) Bamako">(GMT+00:00) Bamako</option>
							<option value="Africa/Banjul" label="(GMT+00:00) Banjul">(GMT+00:00) Banjul</option>
							<option value="Africa/Bissau" label="(GMT+00:00) Bissau">(GMT+00:00) Bissau</option>
							<option value="Africa/Casablanca" label="(GMT+00:00) Casablanca">(GMT+00:00) Casablanca</option>
							<option value="Africa/Conakry" label="(GMT+00:00) Conakry">(GMT+00:00) Conakry</option>
							<option value="Africa/Dakar" label="(GMT+00:00) Dakar">(GMT+00:00) Dakar</option>
							<option value="Africa/El_Aaiun" label="(GMT+00:00) El Aaiun">(GMT+00:00) El Aaiun</option>
							<option value="Africa/Freetown" label="(GMT+00:00) Freetown">(GMT+00:00) Freetown</option>
							<option value="Africa/Lome" label="(GMT+00:00) Lome">(GMT+00:00) Lome</option>
							<option value="Africa/Monrovia" label="(GMT+00:00) Monrovia">(GMT+00:00) Monrovia</option>
							<option value="Africa/Nouakchott" label="(GMT+00:00) Nouakchott">(GMT+00:00) Nouakchott</option>
							<option value="Africa/Ouagadougou" label="(GMT+00:00) Ouagadougou">(GMT+00:00) Ouagadougou</option>
							<option value="Africa/Sao_Tome" label="(GMT+00:00) Sao Tome">(GMT+00:00) Sao Tome</option>
							<option value="America/Danmarkshavn" label="(GMT+00:00) Danmarkshavn">(GMT+00:00) Danmarkshavn</option>
							<option value="Atlantic/Canary" label="(GMT+00:00) Canary Islands">(GMT+00:00) Canary Islands</option>
							<option value="Atlantic/Reykjavik" label="(GMT+00:00) Reykjavik">(GMT+00:00) Reykjavik</option>
							<option value="Atlantic/St_Helena" label="(GMT+00:00) St Helena">(GMT+00:00) St Helena</option>
							<option value="Etc/GMT" label="(GMT+00:00) GMT (no daylight saving)">(GMT+00:00) GMT (no daylight saving)</option>
							<option value="Europe/Dublin" label="(GMT+00:00) Dublin">(GMT+00:00) Dublin</option>
							<option value="Europe/Lisbon" label="(GMT+00:00) Lisbon">(GMT+00:00) Lisbon</option>
							<option value="Europe/London" label="(GMT+00:00) London">(GMT+00:00) London</option>
							<option value="Africa/Algiers" label="(GMT+01:00) Algiers">(GMT+01:00) Algiers</option>
							<option value="Africa/Bangui" label="(GMT+01:00) Bangui">(GMT+01:00) Bangui</option>
							<option value="Africa/Brazzaville" label="(GMT+01:00) Brazzaville">(GMT+01:00) Brazzaville</option>
							<option value="Africa/Ceuta" label="(GMT+01:00) Ceuta">(GMT+01:00) Ceuta</option>
							<option value="Africa/Douala" label="(GMT+01:00) Douala">(GMT+01:00) Douala</option>
							<option value="Africa/Kinshasa" label="(GMT+01:00) Kinshasa">(GMT+01:00) Kinshasa</option>
							<option value="Africa/Lagos" label="(GMT+01:00) Lagos">(GMT+01:00) Lagos</option>
							<option value="Africa/Libreville" label="(GMT+01:00) Libreville">(GMT+01:00) Libreville</option>
							<option value="Africa/Luanda" label="(GMT+01:00) Luanda">(GMT+01:00) Luanda</option>
							<option value="Africa/Malabo" label="(GMT+01:00) Malabo">(GMT+01:00) Malabo</option>
							<option value="Africa/Ndjamena" label="(GMT+01:00) Ndjamena">(GMT+01:00) Ndjamena</option>
							<option value="Africa/Niamey" label="(GMT+01:00) Niamey">(GMT+01:00) Niamey</option>
							<option value="Africa/Porto-Novo" label="(GMT+01:00) Porto-Novo">(GMT+01:00) Porto-Novo</option>
							<option value="Africa/Tunis" label="(GMT+01:00) Tunis">(GMT+01:00) Tunis</option>
							<option value="Africa/Windhoek" label="(GMT+01:00) Windhoek">(GMT+01:00) Windhoek</option>
							<option value="Europe/Amsterdam" label="(GMT+01:00) Amsterdam">(GMT+01:00) Amsterdam</option>
							<option value="Europe/Andorra" label="(GMT+01:00) Andorra">(GMT+01:00) Andorra</option>
							<option value="Europe/Belgrade" label="(GMT+01:00) Central European Time">(GMT+01:00) Central European Time</option>
							<option value="Europe/Berlin" label="(GMT+01:00) Berlin">(GMT+01:00) Berlin</option>
							<option value="Europe/Brussels" label="(GMT+01:00) Brussels">(GMT+01:00) Brussels</option>
							<option value="Europe/Budapest" label="(GMT+01:00) Budapest">(GMT+01:00) Budapest</option>
							<option value="Europe/Copenhagen" label="(GMT+01:00) Copenhagen">(GMT+01:00) Copenhagen</option>
							<option value="Europe/Gibraltar" label="(GMT+01:00) Gibraltar">(GMT+01:00) Gibraltar</option>
							<option value="Europe/Luxembourg" label="(GMT+01:00) Luxembourg">(GMT+01:00) Luxembourg</option>
							<option value="Europe/Madrid" label="(GMT+01:00) Madrid">(GMT+01:00) Madrid</option>
							<option value="Europe/Malta" label="(GMT+01:00) Malta">(GMT+01:00) Malta</option>
							<option value="Europe/Monaco" label="(GMT+01:00) Monaco">(GMT+01:00) Monaco</option>
							<option value="Europe/Oslo" label="(GMT+01:00) Oslo">(GMT+01:00) Oslo</option>
							<option value="Europe/Paris" label="(GMT+01:00) Paris">(GMT+01:00) Paris</option>
							<option value="Europe/Prague" label="(GMT+01:00) Central European Time">(GMT+01:00) Central European Time</option>
							<option value="Europe/Rome" label="(GMT+01:00) Rome">(GMT+01:00) Rome</option>
							<option value="Europe/Stockholm" label="(GMT+01:00) Stockholm">(GMT+01:00) Stockholm</option>
							<option value="Europe/Tirane" label="(GMT+01:00) Tirane">(GMT+01:00) Tirane</option>
							<option value="Europe/Vaduz" label="(GMT+01:00) Vaduz">(GMT+01:00) Vaduz</option>
							<option value="Europe/Vienna" label="(GMT+01:00) Vienna">(GMT+01:00) Vienna</option>
							<option value="Europe/Warsaw" label="(GMT+01:00) Warsaw">(GMT+01:00) Warsaw</option>
							<option value="Europe/Zurich" label="(GMT+01:00) Zurich">(GMT+01:00) Zurich</option>
							<option value="Africa/Blantyre" label="(GMT+02:00) Blantyre">(GMT+02:00) Blantyre</option>
							<option value="Africa/Bujumbura" label="(GMT+02:00) Bujumbura">(GMT+02:00) Bujumbura</option>
							<option value="Africa/Cairo" label="(GMT+02:00) Cairo">(GMT+02:00) Cairo</option>
							<option value="Africa/Gaborone" label="(GMT+02:00) Gaborone">(GMT+02:00) Gaborone</option>
							<option value="Africa/Harare" label="(GMT+02:00) Harare">(GMT+02:00) Harare</option>
							<option value="Africa/Johannesburg" label="(GMT+02:00) Johannesburg">(GMT+02:00) Johannesburg</option>
							<option value="Africa/Kigali" label="(GMT+02:00) Kigali">(GMT+02:00) Kigali</option>
							<option value="Africa/Lubumbashi" label="(GMT+02:00) Lubumbashi">(GMT+02:00) Lubumbashi</option>
							<option value="Africa/Lusaka" label="(GMT+02:00) Lusaka">(GMT+02:00) Lusaka</option>
							<option value="Africa/Maputo" label="(GMT+02:00) Maputo">(GMT+02:00) Maputo</option>
							<option value="Africa/Maseru" label="(GMT+02:00) Maseru">(GMT+02:00) Maseru</option>
							<option value="Africa/Mbabane" label="(GMT+02:00) Mbabane">(GMT+02:00) Mbabane</option>
							<option value="Africa/Tripoli" label="(GMT+02:00) Tripoli">(GMT+02:00) Tripoli</option>
							<option value="Asia/Amman" label="(GMT+02:00) Amman">(GMT+02:00) Amman</option>
							<option value="Asia/Beirut" label="(GMT+02:00) Beirut">(GMT+02:00) Beirut</option>
							<option value="Asia/Damascus" label="(GMT+02:00) Damascus">(GMT+02:00) Damascus</option>
							<option value="Asia/Gaza" label="(GMT+02:00) Gaza">(GMT+02:00) Gaza</option>
							<option value="Asia/Jerusalem" label="(GMT+02:00) Tel Aviv">(GMT+02:00) Tel Aviv</option>
							<option value="Asia/Nicosia" label="(GMT+02:00) Nicosia">(GMT+02:00) Nicosia</option>
							<option value="Europe/Athens" label="(GMT+02:00) Athens">(GMT+02:00) Athens</option>
							<option value="Europe/Bucharest" label="(GMT+02:00) Bucharest">(GMT+02:00) Bucharest</option>
							<option value="Europe/Chisinau" label="(GMT+02:00) Chisinau">(GMT+02:00) Chisinau</option>
							<option value="Europe/Helsinki" label="(GMT+02:00) Helsinki">(GMT+02:00) Helsinki</option>
							<option value="Europe/Istanbul" label="(GMT+02:00) Istanbul">(GMT+02:00) Istanbul</option>
							<option value="Europe/Kaliningrad" label="(GMT+02:00) Moscow-01 - Kaliningrad">(GMT+02:00) Moscow-01 - Kaliningrad</option>
							<option value="Europe/Kiev" label="(GMT+02:00) Kiev">(GMT+02:00) Kiev</option>
							<option value="Europe/Minsk" label="(GMT+02:00) Minsk">(GMT+02:00) Minsk</option>
							<option value="Europe/Riga" label="(GMT+02:00) Riga">(GMT+02:00) Riga</option>
							<option value="Europe/Sofia" label="(GMT+02:00) Sofia">(GMT+02:00) Sofia</option>
							<option value="Europe/Tallinn" label="(GMT+02:00) Tallinn">(GMT+02:00) Tallinn</option>
							<option value="Europe/Vilnius" label="(GMT+02:00) Vilnius">(GMT+02:00) Vilnius</option>
							<option value="Africa/Addis_Ababa" label="(GMT+03:00) Addis Ababa">(GMT+03:00) Addis Ababa</option>
							<option value="Africa/Dar_es_Salaam" label="(GMT+03:00) Dar es Salaam">(GMT+03:00) Dar es Salaam</option>
							<option value="Africa/Djibouti" label="(GMT+03:00) Djibouti">(GMT+03:00) Djibouti</option>
							<option value="Africa/Kampala" label="(GMT+03:00) Kampala">(GMT+03:00) Kampala</option>
							<option value="Africa/Khartoum" label="(GMT+03:00) Khartoum">(GMT+03:00) Khartoum</option>
							<option value="Africa/Mogadishu" label="(GMT+03:00) Mogadishu">(GMT+03:00) Mogadishu</option>
							<option value="Africa/Nairobi" label="(GMT+03:00) Nairobi">(GMT+03:00) Nairobi</option>
							<option value="Antarctica/Syowa" label="(GMT+03:00) Syowa">(GMT+03:00) Syowa</option>
							<option value="Asia/Aden" label="(GMT+03:00) Aden">(GMT+03:00) Aden</option>
							<option value="Asia/Baghdad" label="(GMT+03:00) Baghdad">(GMT+03:00) Baghdad</option>
							<option value="Asia/Bahrain" label="(GMT+03:00) Bahrain">(GMT+03:00) Bahrain</option>
							<option value="Asia/Kuwait" label="(GMT+03:00) Kuwait">(GMT+03:00) Kuwait</option>
							<option value="Asia/Qatar" label="(GMT+03:00) Qatar">(GMT+03:00) Qatar</option>
							<option value="Asia/Riyadh" label="(GMT+03:00) Riyadh">(GMT+03:00) Riyadh</option>
							<option value="Europe/Moscow" label="(GMT+03:00) Moscow+00">(GMT+03:00) Moscow+00</option>
							<option value="Indian/Antananarivo" label="(GMT+03:00) Antananarivo">(GMT+03:00) Antananarivo</option>
							<option value="Indian/Comoro" label="(GMT+03:00) Comoro">(GMT+03:00) Comoro</option>
							<option value="Indian/Mayotte" label="(GMT+03:00) Mayotte">(GMT+03:00) Mayotte</option>
							<option value="Asia/Tehran" label="(GMT+03:30) Tehran">(GMT+03:30) Tehran</option>
							<option value="Asia/Baku" label="(GMT+04:00) Baku">(GMT+04:00) Baku</option>
							<option value="Asia/Dubai" label="(GMT+04:00) Dubai">(GMT+04:00) Dubai</option>
							<option value="Asia/Muscat" label="(GMT+04:00) Muscat">(GMT+04:00) Muscat</option>
							<option value="Asia/Tbilisi" label="(GMT+04:00) Tbilisi">(GMT+04:00) Tbilisi</option>
							<option value="Asia/Yerevan" label="(GMT+04:00) Yerevan">(GMT+04:00) Yerevan</option>
							<option value="Europe/Samara" label="(GMT+04:00) Moscow+01 - Samara">(GMT+04:00) Moscow+01 - Samara</option>
							<option value="Indian/Mahe" label="(GMT+04:00) Mahe">(GMT+04:00) Mahe</option>
							<option value="Indian/Mauritius" label="(GMT+04:00) Mauritius">(GMT+04:00) Mauritius</option>
							<option value="Indian/Reunion" label="(GMT+04:00) Reunion">(GMT+04:00) Reunion</option>
							<option value="Asia/Kabul" label="(GMT+04:30) Kabul">(GMT+04:30) Kabul</option>
							<option value="Asia/Aqtau" label="(GMT+05:00) Aqtau">(GMT+05:00) Aqtau</option>
							<option value="Asia/Aqtobe" label="(GMT+05:00) Aqtobe">(GMT+05:00) Aqtobe</option>
							<option value="Asia/Ashgabat" label="(GMT+05:00) Ashgabat">(GMT+05:00) Ashgabat</option>
							<option value="Asia/Dushanbe" label="(GMT+05:00) Dushanbe">(GMT+05:00) Dushanbe</option>
							<option value="Asia/Karachi" label="(GMT+05:00) Karachi">(GMT+05:00) Karachi</option>
							<option value="Asia/Tashkent" label="(GMT+05:00) Tashkent">(GMT+05:00) Tashkent</option>
							<option value="Asia/Yekaterinburg" label="(GMT+05:00) Moscow+02 - Yekaterinburg">(GMT+05:00) Moscow+02 - Yekaterinburg</option>
							<option value="Indian/Kerguelen" label="(GMT+05:00) Kerguelen">(GMT+05:00) Kerguelen</option>
							<option value="Indian/Maldives" label="(GMT+05:00) Maldives">(GMT+05:00) Maldives</option>
							<option value="Asia/Calcutta" label="(GMT+05:30) India Standard Time">(GMT+05:30) India Standard Time</option>
							<option value="Asia/Colombo" label="(GMT+05:30) Colombo">(GMT+05:30) Colombo</option>
							<option value="Antarctica/Mawson" label="(GMT+06:00) Mawson">(GMT+06:00) Mawson</option>
							<option value="Antarctica/Vostok" label="(GMT+06:00) Vostok">(GMT+06:00) Vostok</option>
							<option value="Asia/Almaty" label="(GMT+06:00) Almaty">(GMT+06:00) Almaty</option>
							<option value="Asia/Bishkek" label="(GMT+06:00) Bishkek">(GMT+06:00) Bishkek</option>
							<option value="Asia/Dhaka" label="(GMT+06:00) Dhaka">(GMT+06:00) Dhaka</option>
							<option value="Asia/Omsk" label="(GMT+06:00) Moscow+03 - Omsk, Novosibirsk">(GMT+06:00) Moscow+03 - Omsk, Novosibirsk</option>
							<option value="Asia/Thimphu" label="(GMT+06:00) Thimphu">(GMT+06:00) Thimphu</option>
							<option value="Indian/Chagos" label="(GMT+06:00) Chagos">(GMT+06:00) Chagos</option>
							<option value="Asia/Rangoon" label="(GMT+06:30) Rangoon">(GMT+06:30) Rangoon</option>
							<option value="Indian/Cocos" label="(GMT+06:30) Cocos">(GMT+06:30) Cocos</option>
							<option value="Antarctica/Davis" label="(GMT+07:00) Davis">(GMT+07:00) Davis</option>
							<option value="Asia/Bangkok" label="(GMT+07:00) Bangkok">(GMT+07:00) Bangkok</option>
							<option value="Asia/Hovd" label="(GMT+07:00) Hovd">(GMT+07:00) Hovd</option>
							<option value="Asia/Jakarta" label="(GMT+07:00) Jakarta">(GMT+07:00) Jakarta</option>
							<option value="Asia/Krasnoyarsk" label="(GMT+07:00) Moscow+04 - Krasnoyarsk">(GMT+07:00) Moscow+04 - Krasnoyarsk</option>
							<option value="Asia/Phnom_Penh" label="(GMT+07:00) Phnom Penh">(GMT+07:00) Phnom Penh</option>
							<option value="Asia/Saigon" label="(GMT+07:00) Hanoi">(GMT+07:00) Hanoi</option>
							<option value="Asia/Vientiane" label="(GMT+07:00) Vientiane">(GMT+07:00) Vientiane</option>
							<option value="Indian/Christmas" label="(GMT+07:00) Christmas">(GMT+07:00) Christmas</option>
							<option value="Antarctica/Casey" label="(GMT+08:00) Casey">(GMT+08:00) Casey</option>
							<option value="Asia/Brunei" label="(GMT+08:00) Brunei">(GMT+08:00) Brunei</option>
							<option value="Asia/Hong_Kong" label="(GMT+08:00) Hong Kong">(GMT+08:00) Hong Kong</option>
							<option value="Asia/Irkutsk" label="(GMT+08:00) Moscow+05 - Irkutsk">(GMT+08:00) Moscow+05 - Irkutsk</option>
							<option value="Asia/Kuala_Lumpur" label="(GMT+08:00) Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
							<option value="Asia/Macau" label="(GMT+08:00) Macau">(GMT+08:00) Macau</option>
							<option value="Asia/Makassar" label="(GMT+08:00) Makassar">(GMT+08:00) Makassar</option>
							<option value="Asia/Manila" label="(GMT+08:00) Manila">(GMT+08:00) Manila</option>
							<option value="Asia/Shanghai" label="(GMT+08:00) China Time - Beijing">(GMT+08:00) China Time - Beijing</option>
							<option value="Asia/Singapore" label="(GMT+08:00) Singapore">(GMT+08:00) Singapore</option>
							<option value="Asia/Taipei" label="(GMT+08:00) Taipei">(GMT+08:00) Taipei</option>
							<option value="Asia/Ulaanbaatar" label="(GMT+08:00) Ulaanbaatar">(GMT+08:00) Ulaanbaatar</option>
							<option value="Australia/Perth" label="(GMT+08:00) Western Time - Perth">(GMT+08:00) Western Time - Perth</option>
							<option value="Asia/Choibalsan" label="(GMT+09:00) Choibalsan">(GMT+09:00) Choibalsan</option>
							<option value="Asia/Dili" label="(GMT+09:00) Dili">(GMT+09:00) Dili</option>
							<option value="Asia/Jayapura" label="(GMT+09:00) Jayapura">(GMT+09:00) Jayapura</option>
							<option value="Asia/Pyongyang" label="(GMT+09:00) Pyongyang">(GMT+09:00) Pyongyang</option>
							<option value="Asia/Seoul" label="(GMT+09:00) Seoul">(GMT+09:00) Seoul</option>
							<option value="Asia/Tokyo" label="(GMT+09:00) Tokyo">(GMT+09:00) Tokyo</option>
							<option value="Asia/Yakutsk" label="(GMT+09:00) Moscow+06 - Yakutsk">(GMT+09:00) Moscow+06 - Yakutsk</option>
							<option value="Pacific/Palau" label="(GMT+09:00) Palau">(GMT+09:00) Palau</option>
							<option value="Australia/Adelaide" label="(GMT+09:30) Central Time - Adelaide">(GMT+09:30) Central Time - Adelaide</option>
							<option value="Australia/Darwin" label="(GMT+09:30) Central Time - Darwin">(GMT+09:30) Central Time - Darwin</option>
							<option value="Asia/Vladivostok" label="(GMT+10:00) Moscow+07 - Yuzhno-Sakhalinsk">(GMT+10:00) Moscow+07 - Yuzhno-Sakhalinsk</option>
							<option value="Australia/Brisbane" label="(GMT+10:00) Eastern Time - Brisbane">(GMT+10:00) Eastern Time - Brisbane</option>
							<option selected="selected" value="Australia/Hobart" label="(GMT+10:00) Eastern Time - Hobart">(GMT+10:00) Eastern Time - Hobart</option>
							<option value="Australia/Sydney" label="(GMT+10:00) Eastern Time - Melbourne, Sydney">(GMT+10:00) Eastern Time - Melbourne, Sydney</option>
							<option value="Pacific/Guam" label="(GMT+10:00) Guam">(GMT+10:00) Guam</option>
							<option value="Pacific/Port_Moresby" label="(GMT+10:00) Port Moresby">(GMT+10:00) Port Moresby</option>
							<option value="Pacific/Saipan" label="(GMT+10:00) Saipan">(GMT+10:00) Saipan</option>
							<option value="Pacific/Truk" label="(GMT+10:00) Truk">(GMT+10:00) Truk</option>
							<option value="Asia/Magadan" label="(GMT+11:00) Moscow+08 - Magadan">(GMT+11:00) Moscow+08 - Magadan</option>
							<option value="Pacific/Efate" label="(GMT+11:00) Efate">(GMT+11:00) Efate</option>
							<option value="Pacific/Guadalcanal" label="(GMT+11:00) Guadalcanal">(GMT+11:00) Guadalcanal</option>
							<option value="Pacific/Kosrae" label="(GMT+11:00) Kosrae">(GMT+11:00) Kosrae</option>
							<option value="Pacific/Noumea" label="(GMT+11:00) Noumea">(GMT+11:00) Noumea</option>
							<option value="Pacific/Ponape" label="(GMT+11:00) Ponape">(GMT+11:00) Ponape</option>
							<option value="Pacific/Norfolk" label="(GMT+11:30) Norfolk">(GMT+11:30) Norfolk</option>
							<option value="Asia/Kamchatka" label="(GMT+12:00) Moscow+09 - Petropavlovsk-Kamchatskiy">(GMT+12:00) Moscow+09 - Petropavlovsk-Kamchatskiy</option>
							<option value="Pacific/Auckland" label="(GMT+12:00) Auckland">(GMT+12:00) Auckland</option>
							<option value="Pacific/Fiji" label="(GMT+12:00) Fiji">(GMT+12:00) Fiji</option>
							<option value="Pacific/Funafuti" label="(GMT+12:00) Funafuti">(GMT+12:00) Funafuti</option>
							<option value="Pacific/Kwajalein" label="(GMT+12:00) Kwajalein">(GMT+12:00) Kwajalein</option>
							<option value="Pacific/Majuro" label="(GMT+12:00) Majuro">(GMT+12:00) Majuro</option>
							<option value="Pacific/Nauru" label="(GMT+12:00) Nauru">(GMT+12:00) Nauru</option>
							<option value="Pacific/Tarawa" label="(GMT+12:00) Tarawa">(GMT+12:00) Tarawa</option>
							<option value="Pacific/Wake" label="(GMT+12:00) Wake">(GMT+12:00) Wake</option>
							<option value="Pacific/Wallis" label="(GMT+12:00) Wallis">(GMT+12:00) Wallis</option>
							<option value="Pacific/Enderbury" label="(GMT+13:00) Enderbury">(GMT+13:00) Enderbury</option>
							<option value="Pacific/Tongatapu" label="(GMT+13:00) Tongatapu">(GMT+13:00) Tongatapu</option>
							<option value="Pacific/Kiritimati" label="(GMT+14:00) Kiritimati">(GMT+14:00) Kiritimati</option>
						</select>
						<br>
					</td>
				</tr>
			</tbody>
		</table>

	</fieldset>
	
<div class="submit">
	<span role="presentation" class="dijit dijitReset dijitInline dijitButton btn" widgetid="dijit_form_Button_4"><span role="presentation" data-dojo-attach-event="ondijitclick:_onClick" class="dijitReset dijitInline dijitButtonNode"><span aria-labelledby="dijit_form_Button_4_label" role="button" data-dojo-attach-point="titleNode,focusNode" class="dijitReset dijitStretch dijitButtonContents" tabindex="0" id="dijit_form_Button_4" style="-moz-user-select: none;"><span data-dojo-attach-point="iconNode" class="dijitReset dijitInline dijitIcon dijitNoIcon"></span><span class="dijitReset dijitToggleButtonIconChar">●</span><span data-dojo-attach-point="containerNode" id="dijit_form_Button_4_label" class="dijitReset dijitInline dijitButtonText">Save</span></span></span><input type="submit" data-dojo-attach-point="valueNode" role="presentation" tabindex="-1" class="dijitOffScreen" value=""></span>
			or <a title="return to my tasks" href="/app">return to my tasks</a>
	</div>	
</form>