<div id="premiumAccountContainer" class="wrap-settings-fieldset">
	<fieldset class="settings-fieldset">
		<h2>&{'settings.account.title_premium'}</h2>
		
		&{'settings.account.account_text1'}<br />
		&{'settings.account.account_text2'}<br />
		
		<h2>&{'settings.upgrade_business'}</h2>
		<p>Share Tasks and projects with your team.</p>
		<div data-dojo-type='dijit.form.Button' class="upgradeButton">
			<script type='dojo/method' event='onClick'>
				window.location.href='/signup/select/business_new?ga_affiliation=settings_premium_upgrade';
			</script>
			&{'settings.upgrade_business'}
		</div>
		<br/>
		<a href="/signup">&{'settings.account.see.all.plans'}</a>
		
		<h2>&{'settings.account.storage_title'}</h2>
		<div data-dojo-type='dijit.ProgressBar' id='premiumStorageProgressBar' maximum=2500 title=''></div>
	</fieldset>
</div>
<script type='text/javascript'>
	var premiumStorageTemplate = i18n('settings.account.storage_used');
</script>