#{if _userBean.customerError}
	<div class="paymentFailedWrapper">
		<h3><span class="error">${_userBean.customerError}</span></h3>
		<div data-dojo-type='dijit.form.Button' class="upgradeButton">
			&{'settings.subscription.pyament_info.update'}
			<script type='dojo/method' event='onClick'>
				window.location.href = '/payment/immediately?plan=${_userBean?.productPlan?.id}';
			</script>
		</div>
	</div>
#{/if}
#{elseif _userBean.paymentFailsCount && _userBean.paymentFailsCount > 0}
	<div class="paymentFailedWrapper failsTooMuch">
		&{'settings.subscription.pyament_info.fail'}
	</div>
	<script type="text/javascript">
		require(['dojo/ready', "dojo/on", "dojo/_base/event"], function(ready, dojoOn, event) {
			ready(function() {
				var target1 = dojo.byId('failsUpdatePayment');
				var target2 = dojo.byId('changePaymentMethodLink');
				if (target1 && target2) {
					dojoOn(target1, "click", function(e) {
						event.stop(e);
						dojoOn.emit(target2, "click", {
							bubbles: true,
							cancelable: true
						});
					});
				}
			});
		});
	</script>
#{/elseif}