
<form id='task_preferences_form' enctype="multipart/form-data" method="post" action="">
	<div class="wrap-settings-fieldset">
		<fieldset class="settings-fieldset">

			<h2>Task preferences</h2>

			<div class='section'>
				<input type="checkbox" value="1" id="show_confirmation_complete" name="show_confirmation_complete" class="check">
				<label for="show_confirmation_complete" class="checkbox">&{'settings.task_preferences.show_complete_confirmation'}</label>
				<br />
				<input type="checkbox" value="1" id="duplicate_with_files" name="duplicate_with_files" class="check">
				<label for="duplicate_with_files" class="checkbox">&{'settings.task_preferences.duplicate_with_files'} <i title="${messages.get('settings.task_preferences.duplicate_with_files_help')}" class="fa fa-question-circle"></i></label>
			</div>
			
			<h2>&{'settings.task_preferences.new_task_defaults'}</h2>

			<div class='section'>
				<label>&{'settings.task_preferences.assign_to'}</label><br>
				*{ Feature #1741 This select is filled in in settings.js }*
				<div data-dojo-type="hi/widget/task/assignTo" data-dojo-id="assigneeWidget" data-dojo-props='id:"assigneeWidget"'></div>
			</div>

			<div class='section'>
				<input type="checkbox" value="1" id="enable_time_tracking" name="enable_time_tracking" class="check">
				<label for="enable_time_tracking" class="checkbox">&{'settings.task_preferences.enable_time_tracking'}</label>
				<br/>
				<!-- Make task completed when all its sub-tasks are completed -->
				<input type="checkbox" value="1" id="sub_task_complete_affect_parent" name="sub_task_complete_affect_parent" class="check">
				<label for="sub_task_complete_affect_parent" class="checkbox">&{'settings.task_preferences.sub_task_complete_affect_parent'}</label>
			</div>
			
			#{if _userBean.business}
				<!-- start of sharing permission setting -->
				<div class='section'>
					<label>&{'settings.task_preferences.default_sharing_permission'}</label>
					<div class='input'>
						<select name="first_day_of_week" id='sharing_permission_setting' data-dojo-type='dijit/form/Select' style='width: 150px'></select>
					</div>
				</div>

				<div class='section'>
					<label>&{'settings.task_preferences.default_sharing_permission_auto'}</label>
					<div class='input'>
						<div data-dojo-id="sharingWidget" data-dojo-type='hi.widget.Sharing'></div>
					</div>
				</div>

				<div class='section'>
					<!-- <label>&{'settings.task_preferences.default_sharing_permission_auto'}</label> -->
					<label>New item default sharing:</label>
					<div class='input'>
						<input id='lastPermissionRadio' type='radio' name='defaultSharingRadio' class='radio' checked='true'>
						<label for='lastPermissionRadio'>&{'settings.task_preferences.remember_last_sharing'}</label>
					</div>
					<div class='input'>
						<input id='myPermissionRadio' type='radio' name='defaultSharingRadio' class='radio'>
						<div data-dojo-id="defaultSharingWidget" data-dojo-type='hi.widget.Sharing'></div>
					</div>
				</div>
				<!-- end of sharing permission setting -->
			#{/if}
		</fieldset>
	</div>
	
	<div class="submit">
			<div data-dojo-type='dijit.form.Button' id='task_preferences_save' class='btn-success btn-alt'>&{'settings.change'}</div>
			&{'settings.return_or'} <a title="return to my tasks" href="/app">&{'settings.return_to_tasks'}</a>
	</div>
</form>
<script type='text/javascript'>
	require(['dojo/ready','dojo/request/xhr', 'dijit/registry'], function(ready, xhr, registry) {
		ready(function() {
			var sharingPermissionSettingWidget = registry.byId('sharing_permission_setting'),
				sharingPermissionOptions = [],
				hiPermission = dojo.global.Hi_Permissions.getPermissions(),
				hiPermissionLen = hiPermission.length, i, p;

			if (Project.businessId && typeof(sharingPermissionSettingWidget) != 'undefined') {
				for(i = 0; i < hiPermissionLen; i++){
					p = hiPermission[i];
					sharingPermissionOptions.push({
						label: hi.i18n.getLocalization(p[0]),
						value: p[1],
					});
				}
				sharingPermissionSettingWidget.set('options', sharingPermissionOptions);
			}

			dojo.connect(dijit.byId('task_preferences_save'),'onClick',function() {
				var data = {},
					sharingPermission = typeof(sharingWidget) != 'undefined' && sharingWidget.get('value'),
					newItemSharingPermission = typeof(defaultSharingWidget) != 'undefined' && defaultSharingWidget.get('value');
				
				sharingPermission = typeof sharingPermission === 'object'? JSON.stringify(sharingPermission) : sharingPermission;
				newItemSharingPermission = typeof newItemSharingPermission === 'object'? JSON.stringify(newItemSharingPermission) : newItemSharingPermission;


				data['show_confirmation_complete'] = dojo.byId('show_confirmation_complete').checked;
				data['duplicate_with_files'] = dojo.byId('duplicate_with_files').checked;
				data['default_assign_user'] = assigneeWidget.assigneeComboBox.store.query({name:assigneeWidget.assigneeComboBox.getValue()})[0].id;
				data['enable_time_tracking'] = dojo.byId('enable_time_tracking').checked;
				data['default_sharing_permission'] = sharingPermissionSettingWidget ? sharingPermissionSettingWidget.get('value') : null;
				data['default_sharing_permission_auto'] = sharingPermission;
				data['sub_task_complete_affect_parent'] = dojo.byId('sub_task_complete_affect_parent').checked;
				//new item permission
				if (Project.businessId) {
					if (dojo.byId('lastPermissionRadio')) {
						data['default_new_item_use_last'] = dojo.byId('lastPermissionRadio').checked;
					}
					data['default_new_item_sharing_permission'] = newItemSharingPermission;
				}
				
				data['session_id'] = '${_userBean.api2SessionId}'
				
				saveSettings({
					url:Project.api2_full_url,
					action:'user/preferences',
					method:'POST'
				}, data, i18n("settings.personal.info_changed"),
				'Unable to update your notifications settings at this time', 'preferences');
			});
		});


	});
</script>