#{if _userBean && _userBean.business}
	<h2>&{'settings.business.domain_title'}</h2>
	<p>&{'settings.business.domain_text', '<a href="' + _userBean.business?.homepageAddress + '">' + _userBean.business?.homepageAddress + '</a>'} &nbsp;
		<a href="https://twitter.com/share" class="twitter-share-button" data-related="hitask" data-lang="${lang}" data-text="${_userBean.business.title} homepage at hiTask:" data-count="none" data-url="${_userBean.business.homepageAddress}">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		&nbsp;
		<strong><a href="https://www.facebook.com/sharer/sharer.php?u=${_userBean.business.homepageAddress}" target="_blank">Share on Facebook</a> </strong>
	</p>
#{/if}