<h2>&{'settings.account.title_cancel'}</h2>
<p>&{'settings.account.cancel_text'}</p>
#{if _userBean.business}
	#{if _userBean.business.userOwner}
		<p>&{'settings.account.team.owner.cancel_text'}</p>
	#{/if}
	#{else}
		<p>&{'settings.account.team.member.cancel_text'}</p>
	#{/else}
#{/if}
	
<a href="#" onclick="return swap('${_replaceWhat}','deleteAccount');">
	#{if _userBean.isPremium() || (_userBean.business && _userBean.business.userOwner)}
		&{'settings.account.cancel_subscription_link'}
	#{/if}
	#{else}
		&{'settings.account.cancel_link'}
	#{/else}
</a>