<div style='display:none;' id='deleteAccount' class="wrap-settings-fieldset">
	<fieldset class="settings-fieldset">	
		<h2>&{'settings.account.title_cancel'}</h2>
		<p>
			&{'settings.account.cancel_warning1'}<br />
			&{'settings.account.cancel_warning2'}<br />
			&{'settings.account.cancel_warning3'}
		</p>
		<br>
		<div id="terminateRequestPassWrapper" class="#{if !_userBean.hasPassword}hidden#{/if}">
			<p>&{'settings.account.enter_password'}</p>
			<p><input type="password" id='passwordTerminate' name="password" value="" ></p>
			<br>
		</div>
		<p>&{'settings.account.enter_delete','DELETE'}</p>
		<p><input  type="text" id="DELETE" name="DELETE" value=""></p>
		<br>
		<p>&{'settings.account.enter_terminate_feedback'}</p>
		<p><textarea cols="40" rows="5" id='comment' name="comment"></textarea></p>
		<br><br>
		<div id='buttonPane'>
			<p>
				<div class="terminateAccountButton btn-alt btn-success btn-flat" data-dojo-type='dijit.form.Button' data-dojo-props='disabled: true' id='delete_account_yes'>&{'settings.password.change'}</div>
				<div class="terminateAccountButton btn-flat" data-dojo-type='dijit.form.Button' id='canel_terminate_account'>&{'hi.properties.cancel_button'}</div>
			</p>
		</div>
	</fieldset>
</div>
<div data-dojo-type='dijit/Dialog' data-dojo-props='title:"&nbsp;"' id='verifyDialog' style='display:none;'>
	<div style='font-size:110%;color:#666666;padding:15px;'>&{'settings.account.question_delete'}</div>
	<div style='margin-left:225px;'>
		<div data-dojo-type='dijit.form.Button' class='btn-alt btn-flat btn-success' id='verifyYes'>&{'settings.account.yes'}</div>
		<div data-dojo-type='dijit.form.Button' class='btn-flat' id='verifyNo'>&{'settings.account.no'}</div>
	</div>
</div>

<script type='text/javascript'>
	var MIN_PASS_TERMINATE_LENGTH = 4;
	var terminateUtils = {
		hasPassword: #{if _userBean.hasPassword}true#{/if}#{else}false#{/else},
		invalidPasswordMsg: 'Password must be at least ' + MIN_PASS_TERMINATE_LENGTH + ' characters and contain no whitespace',
		invalidCommentMsg: 'Please enter a comment',

		validatePasswordField: function(t) {
			return !this.hasPassword || (t.value.length >= MIN_PASS_TERMINATE_LENGTH && !t.value.match(/\s+/));
		},

		validateCommentField: function(t) {
			return t.value.length > 0;
		},
		
		checkPasswordField:function(evt) {
			var t = dojo.byId('passwordTerminate');
			dojo.removeClass(t,'validationError');
			Tooltip.close('password_input_validation_error');
			
			if (!this.validatePasswordField(t)) {
				dojo.addClass(t,'validationError');
				dojo.byId('password_tooltip_input_validation_errorMSG').innerHTML = this.invalidPasswordMsg;
				Tooltip.open('password_input_validation_error', '', t, evt, 'after-centered', null, {orient: ['after-centered']});
				//terminateUtils.clearErrorClass(this);
				return false;
			} else {
				return true;
			}
		},
		
		checkCommentField: function(evt) {
			var t = dojo.byId('comment');
			dojo.removeClass(t,'validationError');
			Tooltip.close('comment_input_validation_error');
			
			if (!this.validateCommentField(t,evt)) {
				dojo.addClass(t,'validationError');
				dojo.byId('comment_tooltip_input_validation_errorMSG').innerHTML = this.invalidCommentMsg;
				Tooltip.open('comment_input_validation_error', '', t, evt, 'after-centered', null, {
					orient: ['after-centered']
				});
				return false;
			} else {
				return true;
			}
		},
		
		clearErrorClass: function(t) {
			setTimeout(function() {dojo.removeClass(t,'validationError');},5000);
		},
		
		verifyTemplate:[
			"<div style='font-size:110%;color:#666666;padding:15px;'>&{'settings.account.question_delete'}</div>",
			"<div style='margin-left:225px;'>",
				"<div data-dojo-type='dijit.form.Button' id='verifyYes'>&{'settings.account.yes'}</div>",
				"<div data-dojo-type='dijit.form.Button' id='verifyNo'>&{'settings.account.no'}</div>",
			"</div>"
		].join(''),
		verifyDialog:null,
		verifyTerminateAccount: function(evt) {
			dijit.byId('verifyDialog').show();
		},
		
		goBack: function() {
			dojo.byId('passwordTerminate').value='';
			dojo.byId('comment').value='';
			dojo.byId('DELETE').value='';

			dijit.byId('delete_account_yes').set('disabled', true);
			swap('deleteAccount','${_replaceWhat}');
		},
		
		validateMandatoryFields: function(evt) {
			return terminateUtils.checkPasswordField(evt) && terminateUtils.checkCommentField(evt);
		},
		
		terminateAccount:function(evt) {
			if (!this.validateMandatoryFields()) {
				return;
			}
			
			var generalErrorMsg = 'Unable to terminate your account at this time';
			var formData = {
				session_id:'${_userBean.api2SessionId}',
				comment:dojo.byId('comment').value,
				password:CryptoJS.MD5(dojo.byId('passwordTerminate').value).toString()
			};
			require(['dojo/request/xhr', 'dojo/query'], function(xhr, dojoQuery) {
				showThrobber();
				dojoQuery('.terminateAccountButton').addClass('hidden');
				
				var myPromise = xhr(Project.api2_full_url + #{if _userBean.isFree() || _userBean.isPremium()}'/user/terminate'#{/if}#{else}'/business/terminate'#{/else},{
					handleAs: "json",
					method: 'POST',
					data:formData
				});
				
				myPromise.then(function(data) {
					if (data.response_status == 0) {
						var afterFeedback = function() {
							window.location.href = '/terminated';
						};
						
						var upgradeFeedbackText = function(text) {
							return text + "\n\n"
								+ ['user_id', Project.user_id,
								   'user_login', Project.user_login,
								   'user_name', Project.user_name,
								   'session_id', Project.api2_session_id,
								   'level', Project.account_level,
								   'time_zone', Project.time_zone].join("\n");
						};
						
						// And send feedback eventually.
						xhr(Project.api2_full_url + '/user/feedback', {
							handleAs: "json",
							method: 'POST',
							data: {
								text: upgradeFeedbackText(dojo.byId('comment').value),
								category: 7,
								email: '${_userBean.anyEmail}'
							}
						}).then(function(data) {
							afterFeedback();
						}, function(err) {
							afterFeedback();
						});
					} else {
						hideThrobber();
						dojoQuery('.terminateAccountButton').removeClass('hidden');
						showResult(generalErrorMsg);
					}
				}, function(err) {
					hideThrobber();
					dojoQuery('.terminateAccountButton').removeClass('hidden');
					if (err && err.response && err.response.data) {
						if (err.response.data.response_status || err.response.data.error_message) {
							if (err.response.data.response_status == 3) 
								showResult(i18n('settings.account.password_error'));
							else
								showResult(err.response.data.error_message||generalErrorMsg);
						}
					} else {
						showResult(generalErrorMsg);
					}
				});
			});
				
		}
	};
	
	require(['dojo/ready','dojo/request/xhr','dijit/Dialog','dojo/on'],function(ready, xhr, dialog, on) {
		ready(function() {
			dojo.byId('passwordTerminate').onclick = function(evt) {
				dojo.removeClass(this,'validationError');
			};
			dojo.byId('comment').onclick = function(evt) {
				dojo.removeClass(this,'validationError');
			};
			
			dojo.connect(dijit.byId('delete_account_yes'), 'onClick', function(evt) {
				if (terminateUtils.validateMandatoryFields()) {
					dijit.byId('verifyDialog').show();
				}
			});
			on(dijit.byId('canel_terminate_account'), 'click', function(evt){terminateUtils.goBack();});

			dojo.connect(dojo.byId('DELETE'), 'onkeyup', function(evt){
				if (getValue('DELETE').toUpperCase() === 'DELETE'){
					dijit.byId('delete_account_yes').set('disabled', false);
				}else{
					dijit.byId('delete_account_yes').set('disabled', true);
				} 
			});

			on(dijit.byId('verifyYes'),'Click',function() {dijit.byId('verifyDialog').hide();terminateUtils.terminateAccount();});
			on(dijit.byId('verifyNo'),'Click',function(){dijit.byId('verifyDialog').hide();terminateUtils.goBack();});

		});
	});
</script>