#{app.hi.tooltipTpl name: 'changepassword', globalClick: 'false'}
	#{app.hi.onkeypress escape: 'Tooltip.close("changepassword");'}
	<div style="position: relative; /*width: 376px;*/z-index:1021;  " class="hiTaskTooltipDialog  left">
		#{app.hi.tooltipCloseIcon name: 'changepassword', invoke: "dojo.byId('old_password').value = '';dojo.byId('new_password').value = '';dojo.byId('new_password_repeat').value = '';" /}
			<table class="cont">
				<tbody>
					<tr>
						<td></td>
						<td>
							<div style="overflow: hidden" class="border">
								<!-- start of div#1 -->
								<div onkeypress="keys=dojo.keys;switch (js_block_onkeypress(event)) {case keys.KEY_ESCAPE:dojo.byId('old_password').value = '';dojo.byId('new_password').value = '';dojo.byId('new_password_repeat').value = '';Tooltip.close('changepassword');break;};">
									<!-- start of div.setting_cont -->
									<div style="display: block;/*width:348px*/" class="setting_cont">
										<form enctype="multipart/form-data" method="post" action="" >
											<fieldset>
												<label id='old_password_label'>&{'settings.password.old_password'}</label><br>
												<input type="password" value="" id='old_password' name="old_password" class=""><br>
											
												<label>&{'settings.password.new_password', _constants.minPasswordLength}</label><br>
												<input type="password" value="" id='new_password' name="new_password" class=""><br>

												<label>&{'settings.password.repeat_password'}</label><br>
												<input type="password" value="" id='new_password_repeat' name="new_password_repeat" class=""><br>
											</fieldset>
											<div class="changePasswordSubmit">
												<div  id='proceedBtn' class='btn-success btn-alt btn-flat' data-dojo-type='dijit.form.Button'>&{'settings.password.change'}</div>
											</div>
										</form>
									</div>
									<!-- end of div.setting_cont -->
								</div>
								<!-- end of div#1 -->
							</div>
						</td>
						<td ></td>
					</tr>
				</tbody>
			</table>
		</div>
	#{/app.hi.onkeypress}
#{/app.hi.tooltipTpl}

#{app.hi.tooltipTpl name: 'syncerrorinfo', globalClick: 'true'}
	#{app.hi.onkeypress escape: 'Tooltip.close("syncerrorinfo");'}
		<div style="position: relative; width: 376px;z-index:1021;  " class="hiTaskTooltipDialog  left">
			#{app.hi.tooltipCloseIcon name: 'syncerrorinfo' /}
			&{'settings.sync.error_info'}
		</div>
	#{/app.hi.onkeypress}
#{/app.hi.tooltipTpl}

#{app.hi.tooltipTpl name: 'settingschangedresult', globalClick: 'false'}
	#{app.hi.onkeypress escape: 'Tooltip.close("settingschangedresult");'}
	<div  class="hiTaskTooltipDialog left" id='settingschangedresult_tooltip'>
		#{app.hi.tooltipCloseIcon name: 'settingschangedresult' /}
		<div id='tooltip_settingschangedresultMSG' class='_settingsResultsTooltipMsg settingsConfirm'>&{'settings.personal.info_changed'}</div>
		<div class="changePasswordSubmit">
			<div id='settingschangedresult_okBtn' class='btn-success btn-alt' data-dojo-type='dijit.form.Button'>
				<script type='dojo/method' event='onClick' args='evt'>
					Tooltip.close('settingschangedresult');
				</script>
				&{'hi.properties.ok_button'}
			</div>
		</div>
	</div>
	#{/app.hi.onkeypress}
#{/app.hi.tooltipTpl}

#{app.hi.tooltipTpl name: 'password_input_validation_error'}
	<div  class="hiTaskTooltipDialog" id='input_validation_error_tooltip'>
		<div id='password_tooltip_input_validation_errorMSG' class='_settingsResultsTooltipMsg settingsConfirm'>MESSAGE</div>					
	</div>
#{/app.hi.tooltipTpl}

#{app.hi.tooltipTpl name: 'comment_input_validation_error'}
	<div  class="hiTaskTooltipDialog" id='input_validation_error_tooltip'>
		<div id='comment_tooltip_input_validation_errorMSG' class='_settingsResultsTooltipMsg settingsConfirm'>MESSAGE</div>					
	</div>
#{/app.hi.tooltipTpl}