#{extends 'main.html' /}

#{set title:'HiTask: Log In' /}

#{navbar as:'none' /}

#{i18n keys: ['hi.login.*'] /}

<div class="signin center" >
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well" id="form-container">
				#{loginProgressBar /}
				#{signinForm businessItem: businessItem, oauth2clients: oauth2clients /}
			</div>
			<p><a href="/recover">&{'hi.login.error_help_login'}</a> | <a class="" href="/signup">&{'hi.login.signup_message'}</a></p>
			<div class="spaced"></div>
			<div class="footer"><a href="/contact">Contact</a> <a href="http://support.hitask.com">Help & Support</a> <a href="/tour">Feature Tour</a></div>
		</div>
	</div>
</div>

