#{extends 'main.html' /}

#{set title:'HiTask: Denied' /}

#{navbar as: 'small' /}

<div class="signin center">
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well">
				<div class="alert alert-error">
					<p>&{'hi.oauth.denied'}</p>
				</div>
			</div>
		</div>
	</div>
</div>