#{extends 'main.html' /}

#{set title:'HiTask: Approve' /}

#{navbar as: 'small' /}

<div class="signin center">
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well">
				<div class="alert alert-info">
					<p>&{'hi.oauth.request_title'}</p>
				</div>
				
				<p>&{'hi.oauth.request_full', '"' + appName + '"'}</p>
				
				<form action="${action}" method="post">
					<input type="hidden" value="${approvalToken}" name="token" />
					<input type="hidden" value="${r}" name="r" />
					<input type="submit" class="btn btn-large btn-success center" value="&{'hi.oauth.allow'}" />
				</form>
				<a href="@{Login.oauthApprovalDenied}" class="btn btn-large btn-error center" id="oauthApprovalDenyBtn">&{'hi.oauth.deny'}</a>
			</div>
		</div>
	</div>
</div>