#{extends 'main.html' /}

#{set title:'HiTask: Logged Out' /}

#{navbar as:'small' /}

<div class="signin center">
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well">
				<div class="alert alert-success">
					<p>&{'hi.logged.out.title'}</p>
				</div>
				
				<p><a href="/">Visit HiTask website</a></p><br/>
				<a href="@{Login.index}" class="btn btn-success center">&{'hi.login.signin_button'}</a>
			</div>
			<small>If you experience problems logging in, please clear your browser cache (cookies).</small>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		if (window.history && window.history.pushState) {
			window.history.pushState('forward', null, './#bye');
			$(window).on('popstate', function() {
				if (window.location.hash == '') {
					window.location.href= '/login';
				}
			});
		}
	});
</script>