/*******************LAYOUT********************/
body {
	padding: 0;
}
body.chrome {
	/*overflow: auto !important;*/
}

div.wrapper {
	float: left;
	width: 100%;
	overflow: hidden;
	
}

div.wrapper-relative {
	position: relative;
}

div.content-wrapper {
//	padding: 15px 2%;
	margin: 15px 2% 0px 2%;
}