.header-whitespace {
	height: 45px;	/* Empty space at the top of the page for header */
}
#header {
	/*position: fixed;*/
	/*z-index: 10000;*/
	top: 0;
	left: 0;
	width: 100%;
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 140%;
	font-size:0.916em;
	/*font: 0.916em Arial, Helvetica, sans-serif;*/



	#usermenu{
		padding: 2px 3px 0px 5px;
		font-size: 16px;
		color: @secondaryActionColor;
	}

	.header-inner {
		min-width: 860px;
	}

	.user_name {
		float: right;
		border-right: 0;
		border-left: 1px solid #C8D5DD;
	//	padding-top: 7px;
		height: 32px;
		padding-right: 5px;
		padding-left: 10px;
		a span[data-icon] {
			color: #808080;//@navBarActionColor;
		}
		a {
			text-decoration: none;
			vertical-align: middle;
			color: #333;
		}
		div {
			padding: 0px 0 0 10px;
			margin-top: 0;
			height: 32px;
			float: left;
		}
	}
}


/*#header .buttons,*/
/*#header .links */
#header .header-back-c {
	background-color: @headerBackground;
	border-bottom: 1px solid @headerBorderColor;
	height: 44px;
	// padding-left: 1px;
	// padding-top: 0.4em;
	position: relative;
}
.archive_title_header{
	font-size: 17px;
	font-weight: 600;
//	padding-top: 5px;
	position: absolute;
	text-align: center;
	margin-left: -1.4em;
	line-height: 2.2em;
}
.ie7 .archive_title_header {
	margin:0 0 0 38%;
	font-size:17px;
	font-weight:bold;
	padding-top:5px;
	text-align:left;
}
/* Logo */
#header .logo {
	display: block;
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	padding: 0px;
	 img.productlogo {
	 	margin-top: 7px;
	 	margin-left: 7px;
	 }
}
#header .section-logo {
	padding: 10px 0 0 8px;
	height: 25px;
	color: #357DA5;
	float: none;
	font-weight: 500;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.2em;
	line-height: 1.7em;
}
#header .section-logo a:hover {
	text-decoration: none;
}


#header .user_name #session_full_name {
		//color: #222;
	}
	#header .user_name .logout a {
		//color: #666;
		font-weight: normal;
	}

	#header .user_name #session_full_name {
		//color: #613C3D;
		display: inline-block;
		padding-left: 5px;
		padding-bottom: 2px;
		vertical-align: middle;
	}

	#header .user_name .avatar {
		display: inline-block;
		vertical-align: middle;
		width: 32px;
		height: 32px;
		margin: -5px 0px 0px 8px;
		background: url(/avatar/header.32.gif) 0 0 no-repeat;
		// border: 1px solid #FFF;
		// .box-shadow( 0 1px 2px rgba(0,0,0,.1));
	}
	#header .user_name .pro {
		vertical-align: middle;
		padding-bottom: 2px;
	}

	#header .user_name #session_full_name,
	#header .user_name .pro,
	#header .user_name .logout {
		padding-bottom: 4px;
	}



	#header .user_name .logout {
		padding-left: 20px;
		padding-right: 2em;
		padding-top: 2px;
		display: inline-block;
		vertical-align: middle;
	}
	#header .user_name .logout a {
		color: #353535;
		text-decoration: none;
		font-weight: 600;
		display: inline-block;
		padding-top: 1px;
	}
	#header .user_name .logout a:hover {
		color: #36c;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		#header .user_name .logout a {
			padding-top: 3px;
		}
	}

#personal_menu {
	float: right;
	position: absolute;
	right: 0;
	top: 32px;
	margin: 2px 0 0 0;
	padding: 0;
	border-left: 0;
	z-index: 1000;

	.c {
		.selectListBackground ();
		.selectListShadow ();
		border: @selectListBorder;
		border-radius: @selectListBorderRadius;
		display: inline-block;
		position: relative;
		float: none;
		padding: 0;
		min-height: 50px;
		ul {
			min-width: 114px;
			list-style: none outside none;
			margin: 0;
			padding: 5px 0 0 0;
			position: relative;

			.notifyToggler {
				color: @selectListSelectionColor;
			}

			li {
				height: 20px;
				padding: 2px 10px 0;
				text-decoration: none;
				a {
					text-decoration: none;
				}
				&:first-child {
					font-weight: bold;
				}
				&:nth-child(n + 2) {
					&:hover {
						color: @selectListSelectionColor;
						background: @selectListSelectionBackground;
						cursor: pointer;
					}
				}
			}
		}
	}
}
