/*******************FOOTER********************/

#footer {
	position: relative;
	margin-top: 0px;
	text-align: left;
	color: @textMuted;
	background: @sidePanelInnerBackground;
	padding: 0px 8px 0px 9px;
	font-size: 90%;
	 a {
		color: @secondaryNavigationColor;
		text-decoration: none;
	}
	.nav {
		float: right
	}
}
