//
// Mixins
// --------------------------------------------------


// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
  .border-bottom-right-radius(@radius);
  .border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}


//Less mixin to force wrap
.force-wrap() {
	-ms-word-break: break-all;
	word-break: break-all;
	
	// Non standard for webkit
	word-break: break-word;
	
	-webkit-hyphens: auto;
	//-moz-hyphens: auto;
	hyphens: auto;
}

.force-soft-wrap() {
	-ms-word-break: keep-all;
	word-break: keep-all;
	
	// Non standard for webkit
	word-break: break-word;
	
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}


.noFilter(){
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	filter: none;
}
.grayscaleFilter(@amount) {
	-webkit-filter: grayscale(@amount);
	-moz-filter: grayscale(@amount);
	-ms-filter: grayscale(@amount);
	filter: grayscale(@amount);
}