.tooltip {
	display: block;
	width: 234px;
	z-index: 10;
}

.tooltip .triangle {
	position: absolute;
	background-position: left top;
	background-repeat: no-repeat;
	z-index: 3;
}
* html .tooltip .triangle {
	background: none;
}
.tooltip.top .triangle {
	top: -10px;
	background-image: url(/img/tooltip_triangle_top.png);
	width: 39px;
	height: 18px;
}
* html .tooltip.top .triangle {
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_triangle_top.png, sizingMethod=crop)";
}
.tooltip.right .triangle {
	right: -8px;
	background-image: url(/img/tooltip_triangle_right.png);
	width: 18px;
	height: 39px;
}
* html .tooltip.right .triangle {
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_triangle_right.png, sizingMethod=crop)";
}
.tooltip.bottom .triangle {
	bottom: -6px;
	background-image: url(/img/tooltip_triangle_bottom.png);
	width: 39px;
	height: 18px;
}
* html .tooltip.bottom .triangle {
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_triangle_bottom.png, sizingMethod=crop)";
}
.tooltip.left .triangle {
	left: -8px;
	background-image: url(/img/tooltip_triangle_left.png);
	width: 18px;
	height: 39px;
}
* html .tooltip.left .triangle {
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_triangle_left.png, sizingMethod=crop)";
}

.tooltip .top {
    background: url(/img/tooltip_top_left.png) left top no-repeat;
	padding: 0 0 0 25px;
	height: 25px;
	position: relative;
}
* html .tooltip .top {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_top_left.png, sizingMethod=crop)";
}
.tooltip .top .back,
.tooltip .top .t_back {
    height: 25px;
    margin: 0 25px 0 0;
    background: url(/img/tooltip_top_back.png) left top repeat-x;
}
* html .tooltip .top .back,
* html .tooltip .top .t_back {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_top_back.png, sizingMethod=scale)";
}
.tooltip .top .right {
    background: url(/img/tooltip_top_right.png) left top no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
}
* html .tooltip .top .right {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_top_right.png, sizingMethod=crop)";
}

.tooltip .bottom {
    background: url(/img/tooltip_bottom_left.png) left top no-repeat;
    padding: 0 0 0 25px;
    height: 25px;
    position: relative;
}
* html .tooltip .bottom {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_bottom_left.png, sizingMethod=crop)";
}
.tooltip .bottom .back,
.tooltip .bottom .t_back {
    height: 25px;
    margin: 0 25px 0 0;
    background: url(/img/tooltip_bottom_back.png) left top repeat-x;
}
* html .tooltip .bottom .back,
* html .tooltip .bottom .t_back {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_bottom_back.png, sizingMethod=scale)";
}
.tooltip .bottom .right {
    background: url(/img/tooltip_bottom_right.png) left top no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
}
* html .tooltip .bottom .right {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_bottom_right.png, sizingMethod=crop)";
}

.tooltip .cont,
.tooltip .t_cont {
    width: 100%;
}
.tooltip .cont .left,
.tooltip .t_cont .left {
    width: 25px;
    background: url(/img/tooltip_cont_left.png) right top repeat-y;
}
.tooltip .cont .right,
.tooltip .t_cont .right {
    width: 25px;
    background: url(/img/tooltip_cont_right.png) left top repeat-y;
}
* html .tooltip .cont .left,
* html .tooltip .t_cont .left {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_cont_left.png, sizingMethod=scale)";
}
* html .tooltip .cont .right,
* html .tooltip .t_cont .right {
    background: none;
    filter: ~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/img/tooltip_cont_right.png, sizingMethod=scale)";
}
.tooltip .cont .back,
.tooltip .t_cont .t_back {
    background: #F2F2F2;
}
.tooltip .cont .back .border,
.tooltip .t_cont .t_back .border {
	border: 0;
	padding: 0 20px 6px 10px;
	position: relative;
	margin: -4px -11px -5px;
	z-index: 1;
}

.tooltip p {
	position: relative;
	margin: 0 0 -5px 0;
}
.tooltip p.msg {
	color: #CC152E;
}
.tooltip .input {
	width: 100%;
	margin: 10px 0 0 0;
}
.tooltip .input td {
	padding-left: 5px;
	vertical-align: middle;
}
.tooltip .input td:first-child {
	padding-left: 0;
}
* html .tooltip .input td {
	padding-left: ~"!previousSibling ? '0' : 'inherit'";
}
.tooltip .input td.txt,
.tooltip .input td.radio {
	//padding-right: 6px !important;
	width: 100%;
}

.tooltip .input td.txt, x:-moz-any-link { /* Firefox only */
	padding-right: 4px;
}
.tooltip .input td.txt input,
.tooltip .input td.txt textarea {
	width: 100%;
}
.tooltip .input td.txt textarea {
	height: 50px;
}
.tooltip .input td.txt input.empty,
.tooltip .input td.txt textarea.empty {
	color: @textMuted;
}

.tooltip .input td.radio input,
.tooltip .input td.radio label,
.tooltip .input td.radio label * {
	vertical-align: middle;
}
.tooltip .input td.radio input {
	margin: 0 1px;
}
.tooltip .input td.radio label {
	white-space: nowrap;
}

.tooltip .input td.btn input {
	width: 60px;
}
.tooltip .btns {
	margin: 10px 0 0 0;
}
.tooltip .btns input {
	width: 90px;
}

.tooltip .list {
	margin-top: 5px;
}
.tooltip .list li {
	min-height: 0;
}
*:first-child+html .tooltip .list li {
	float: left;
	width: 100%;
}
.tooltip .list td {
	padding-top: 3px;
}
.tooltip .list .label-input {
	padding-top: 5px;
}

.tooltip .btns input:first-child {
	margin-right: 6px;
}
* html .tooltip .btns input {
	margin-right: ~"!previousSibling ? '6px' : ''";
}

.tooltip .form {
	padding: 0 0 0 30px;
}

#tooltip_feedback {
	z-index: 10002;
	//margin: 10px 0 0 -100px;
}
	#tooltip_feedback .cont .back .border {
		padding-right: 10px;
	}
	#tooltip_feedback .triangle {
		left: 83px;
	}

	#tooltip_feedback .tooltip {
		width: 405px;
	}

	#tooltip_feedback .input textarea {
		height: 100px;
		font-size: 100%;
	}
	#tooltip_feedback td {
		vertical-align: top;
		line-height: 1.5em;
	}
	#tooltip_feedback .btns {
		text-align: center;
	}
	#tooltip_feedback .message {
		padding: 5px 0 0;
	}

#tooltip_search {
	z-index: 10001;
	width:191px;
	/*Feature #1721 margin: 10px 0 0 -173px;*/
	input {
		margin-top: 10px;
		width: 180px;
	}
	.triangle {
		right: 37px;
	}
	label {
		vertical-align: middle;
		padding: 1px 10px 0 0;
	}
}

	#tooltip_search .cont .back .border {
		padding-bottom: 0;
		margin-top: -9px;
		position: relative;
		padding-left: 12px;
	}

	#tooltip_search.loading label {
		color: #f4f4f4;
	}
	#tooltip_search.loading label span {
		display: block;
		position: absolute;
		width: 16px;
		height: 16px;
		background: url(/img/loading.gif) 0 0 no-repeat;
		z-index: 7;
		top: 3px;
		left: 19px;
	}

#tooltip_help {
	width: 858px;
	z-index: 10001;
	line-height: 16px;
}
	#help_tooltip {
		width: auto;
	}
	#help_tooltip .triangle {
		right: 155px;
	}
	#help_tooltip .cont .back .border {
		padding: 0 0 6px;
	}
	#help_tooltip .help_cont {
		min-height: 430px;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 9px 20px 9px 9px;
		margin: 14px 2px 0 0;
		//position: relative;
	}

	#help_tooltip .help_toc {
		list-style: none;
		padding: 9px 20px 9px 9px;
		position: relative;
		//width: 220px;
	}
		#help_tooltip .help_toc li.active {
		background: #FFA730;
		-webkit-border-radius: 6px;
		ms-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		}
		#help_tooltip .help_toc li.active div {
			-webkit-border-radius: 6px;
			ms-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			height: 26px;
		}
		#help_tooltip .help_toc li div {
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
		}
		#help_tooltip .help_toc li div a {
			display: block;
			padding: 5px 12px 6px;
			line-height: 1.25em;
			font-size: 1.1em;
			text-decoration: none;
			color: #135683;
		}
		#help_tooltip .help_toc li.active div a {
			color: #fff;
			text-decoration: none;
			cursor: default;
		}

#help_tooltip .help_cont {
	color: #000;
}
	#help_tooltip .help_cont h1 {
		padding: 0 0 8px;
		font: 14px Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #333;
	}
	#help_tooltip .help_cont h2, #help_tooltip .help_cont h3, #help_tooltip .help_cont h4 {
		padding: 0 0 10px;
		font: 12px Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #5E5E5E;
	}
	#help_tooltip .help_cont p {
		padding: 0 0 12px;
		margin: 0;
		line-height: 1.8em;
	}
	#help_tooltip .help_cont p.faq-title {
		padding-bottom: 3px;
	}
	#help_tooltip .help_cont p.faq-question {
		padding-bottom: 2em;
	}
	#help_tooltip .help_cont ul, #help_tooltip .help_cont ol {
		padding: 0;
		margin: 0 0 12px 20px;
	}
	#help_tooltip .help_cont ol {
		margin-left: 25px;
		padding-left: 0;
	}
		#help_tooltip .help_cont li {
			padding-bottom: 2px;
		}

	#help_tooltip .help_cont img {
		display: block;
		margin: 7px auto;
	}

	#help_tooltip .help_cont blockquote {
		border-left:3px solid #E0E0E0;
		font-style:italic;
		margin: 2px 0 0;
		padding-left: 5px;
	}

	#help_tooltip .help_cont pre {
		background: #FAFAFA;
		border: 1px solid #DADADA;
		margin: 2px 0 0;
		overflow-x:auto;
		padding-left: 2px 2px 2px 5px;
	}

	#help_tooltip .help_cont table {
		border: 1px solid #CECECE;
		border-collapse: collapse;
		color: #333;
		margin: 0 0 12px;
	}
		#help_tooltip .help_cont table td {
			border-left: 1px solid #CECECE;
			border-top: 1px solid #CECECE;
			background: #fff;
			padding: 3px 6px 6px;
		}
		#help_tooltip .help_cont table th {
			border-left: 1px solid #CECECE;
			background: #F2F2F2;
			padding: 3px 6px 6px;
		}
		#help_tooltip .help_cont table th:first-child,
		#help_tooltip .help_cont table td:first-child {
			border-left: 0;
		}
		#help_tooltip .help_cont table tr:first-child th,
		#help_tooltip .help_cont table tr:first-child td {
			border-top: 0;
		}

	#help_tooltip #help_cont_loading {
		width: 60px;
		height: 60px;
		background: url(/img/loading.gif) center center no-repeat;
	}

#tooltip_frfind,
#tooltip_frconfirm,
#tooltip_confirm_email,
#frdeclined {
	z-index: 10001;
}

#tooltip_contact_info {
	z-index:1000;
}

#tooltip_news {
	width: 472px;
	z-index: 16;
	margin: 10px 0 0 -167px;
	font: 12px Helvetica, Arial, sans-serif;
	line-height: 16px;
}
	#news_tooltip {
		width: auto;
	}
	#news_tooltip .triangle {
		margin-left: -16px;
		left: 50%;
	}
	#news_tooltip .news_cont {
		max-height: 382px;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 0 10px;
	}
	* html #news_tooltip .news_cont {
		height: 382px;
	}

	#news_tooltip .cont .border {
		padding: 10px 2px 6px 20px;
	}

	#news_tooltip .news_navigation {
		list-style: none;
		overflow: hidden;
		width: 100%;
	}
	#news_tooltip .news_navigation li {
		float: left;
		padding-top: 8px;
		padding-bottom: 3px;
	}
	#news_tooltip .news_navigation li a {
		display: inline-block;
		line-height: 1em;
		padding-bottom: 4px;
		padding-top: 3px;
	}
	#news_tooltip .news_navigation .prev {
		background: url(/img/v3/icon-nav-prev2.gif) left 11px no-repeat;
		padding-right: 18px;
	}
	#news_tooltip .news_navigation .prev a {
		padding-left: 21px;
	}
	#news_tooltip .news_navigation .next {
		background: url(/img/v3/icon-nav-next2.gif) right 11px no-repeat;
	}
	#news_tooltip .news_navigation .next a {
		padding-right: 21px;
	}

	#news_tooltip h1,
	#news_tooltip h2,
	#news_tooltip h3,
	#news_tooltip h4 {
		padding: 0 0 8px;
		font: 18px Helvetica, Arial, sans-serif;
	}
	#news_tooltip h2,
	#news_tooltip h3,
	#news_tooltip h4 {
		padding-bottom: 10px;
		font-weight: bold;
	}

	#news_tooltip h2 {
		font-size: 14px;
	}
	#news_tooltip h3 {
		font-size: 13px;
	}
	#news_tooltip h4 {
		font-size: 12px;
		font-weight: bold;
	}

	#news_tooltip small.date {
		font-size: 11px;
		color: #999;
	}
	#news_tooltip .txt {
		padding: 14px 0 0;
	}
		#news_tooltip .txt ul {
			margin: 0 0 14px 0;
			list-style: disc;
		}
		#news_tooltip .txt ol {
			margin: 0 0 14px 0;
		}
		#news_tooltip .txt li {
			margin: 0 0 0 20px;
			padding: 2px 0 2px 0;
		}
		#news_tooltip .txt p {
			padding: 0 0 14px;
		}
		#news_tooltip .txt table {
			margin-bottom: 14px;
		}

	#news_tooltip .loading {
		height: 220px;
		background: url(/img/loading.gif) center center no-repeat;
	}

#tooltip_deleterecurring,
/*Feature #1721 #tooltip_deleteconfirmation, */
#tooltip_logoutconfirmation,
#archiveproject {
	margin: -67px 0 0 -100px;
	z-index: 1012; /*Feature #1721 - increase z-index because dijit.tooltipdialog uses z-index of 1001 */
}
#tooltip_deleteconfirmation {
	z-index: 1022;
}
#tooltip_logoutconfirmation {
	z-index: 10002;
	position: fixed !important;
	left: 50% !important;
	top: 50% !important;
}
#tooltip_color_picker,
#tooltip_add_tag {
	z-index: 2;
}
	#deleterecurring_tooltip,
	#archiveproject_tooltip {
		width: 270px;
	}
	/* Feature #1721
	#deleteconfirmation_tooltip {
		width: 200px;
	}
	*/
	#logoutconfirmation_tooltip {
		width: 350px;
	}
	* html #deleterecurring_tooltip,
	* html #archiveproject_tooltip {
		width: 300px;
	}
	/* Feature #1721
	* html #deleteconfirmation_tooltip {
		width: 230px;
	}
	*/
	*:first-child+html #deleterecurring_tooltip,
	*:first-child+html #archiveproject_tooltip {
		width: 300px;
	}
	*:first-child+html #deleteconfirmation_tooltip {
		width: 230px;
	}
	#tooltip_deleterecurring p,
	#tooltip_logoutconfirmation p,
	#tooltip_archiveproject p,
	#tooltip_deleteconfirmation p {
		text-align: center;
		font-size: 13px;
		padding: 0 10px;
		margin: 0;
	}
	#tooltip_deleterecurring button,
	#tooltip_archiveproject button,
	#tooltip_deleteconfirmation button,
	#tooltip_logoutconfirmation button {
		font-size: 12px;
		white-space: nowrap;
	}
	#tooltip_deleterecurring .input .align-right,
	#tooltip_archiveproject .input .align-right,
	#tooltip_deleteconfirmation .input .align-right,
	#tooltip_logoutconfirmation .input .align-right {
		text-align: right;
	}
	#tooltip_deleterecurring .cont .back .border,
	#tooltip_archiveproject .cont .back .border,
	#tooltip_deleteconfirmation .cont .back .border,
	#tooltip_logoutconfirmation .cont .back .border {
		padding-right: 10px;
	}

#tooltip_taskedit {
	margin-top: /* Feature #1721 -129px;*/0; /*-80px;*/
	z-index: 1;
}
	#tooltip_taskedit .triangle {
		top: 110px; /*65px;*/
	}

	#tooltip_taskedit.expanded {
		margin-top: 0;
	}
	#tooltip_taskedit.expanded .triangle {
		top: -18px;
	}

#tooltip_taskedit ul.tasks {
	list-style: none;
}
	* html #tooltip_taskedit ul.tasks {
		position: relative;
	}
	*:first-child+html #tooltip_taskedit ul.tasks {
		position: relative;
	}

	* html #tooltip_taskedit.expanded .tasks li {
		position: static;
	}
	*:first-child+html #tooltip_taskedit.expanded .tasks li {
		position: static;
	}

	#taskedit_tooltip {
		width: 522px;
	}
	/*Bug #5405*/
	#taskedit_tooltip .dijitTextBox .dijitInputInner,
	#taskedit_tooltip .dijitSelect .dijitSelectLabel {
		font-size: 12px;
	}
	#tooltip_taskedit .tasks li {
		margin-top: 0;
		position: relative;
	}
	#tooltip_taskedit .tasks li .right {
		background: none;
	}

	#tooltip_taskedit .border {
		padding: 0;
	}
	#tooltip_taskedit .tasks li .type {
		padding-right: 172px;
	}

	#tooltip_taskedit .close {
		display: none;
	}
	#tooltip_taskedit .tasks li .border {
		padding-left: 0;
		padding-right: 0;
	}

	#tooltip_taskedit .close {
		display: none;
	}

	#tooltip_taskedit .close-tooltip {
		display: block;
		right: 0;
		top: 1px;
		width: 28px;
		height: 28px;
		background: url(/img/v5/item_sprite_2.png) 0 -28px no-repeat;
	}
	#tooltip_taskedit.expanded .close-tooltip {
		display: none;
	}

	#tooltip_taskedit .task_ul {
		padding: 0 10px 0;
	}
	#tooltip_taskedit .task_ul.expanded {
		height: auto;
		padding-right: 10px !important;
	}

	#tooltip_taskedit .history.loading .loading {
		width: auto;
	}
	#tooltip_taskedit .tasks div.opened .title div {
		padding: 0;
	}

	#tooltip_taskedit .tasks .history.data .data {
		width: auto;
	}

	#tooltip_taskedit li.task_li .task_div {
		border: 0;
	}

	#tooltip_taskedit li.task_li .toggle-children,
	#tooltip_taskedit li.task_li .children {
		display: none;
	}

	#tooltip_taskedit li.highlight .heading {
		background: #E0EBF7;
	}
	#tooltip_taskedit li .heading .drag,
	#tooltip_taskedit li .heading .collapse,
	#tooltip_taskedit li .heading .private_mark,
	#tooltip_taskedit li .footer .links a.add {
		display: none !important;
	}

	#tooltip_taskedit li.task_li .cont {
		width: auto;
	}
	#tooltip_taskedit .properties_view .closed {
		border-top: 0;
	}

#tooltip_sync,
#tooltip_timer,
#tooltip_upload,
#tooltip_report,
#tooltip_export,
#tooltip_queue {
	z-index:1000;
}

/*,
#tooltip_export,
#tooltip_report {
	margin: 10px 0 0 -226px;
	z-index: 1000;
}
*/
	#tooltip_export .triangle,
	#tooltip_report .triangle {
		left: 210px;
	}
	#tooltip_export .border,
	#tooltip_report .border,
	#tooltip_sync .border {
			padding: 9px 11px 6px 1px;
	}
	/*
	#export_tooltip,
	#report_tooltip {
		width: 458px;
	}
	*/
	#tooltip_export th,
	#tooltip_report {
		.row {
			padding-bottom: 5px;
		}
		th {
		font-size: 1em;
		line-height: 1em;
		text-align:left;
		color: @secondaryActionColor;
		padding: 5px 0 5px 0px;
		}
	}

/*	#tooltip_report #widget_report_from,
	#tooltip_report #widget_report_progress_from,
	#tooltip_report #widget_report_to,
	#tooltip_report #widget_report_progress_to,
	#project_progress_report_tooltip #widget_project_report_progress_from,
	#project_progress_report_tooltip #widget_project_report_progress_to {
		background: none;
		border: 0;
		vertical-align: top;
	}
	#tooltip_report #widget_report_from .dijitInputField,
	#tooltip_report #widget_report_progress_from .dijitInputField,
	#tooltip_report #widget_report_to .dijitInputField,
	#tooltip_report #widget_report_progress_to .dijitInputField,
	#project_progress_report_tooltip #widget_project_report_progress_from .dijitInputField,
	#project_progress_report_tooltip #widget_project_report_progress_to .dijitInputField {
		background: none;
		padding: 0;
	}
	#tooltip_report #widget_report_from .dijitArrowButton,
	#tooltip_report #widget_report_progress_from .dijitArrowButton,
	#tooltip_report #widget_report_to .dijitArrowButton,
	#tooltip_report #widget_report_progress_to .dijitArrowButton,
	#project_progress_report_tooltip #widget_project_report_progress_from .dijitArrowButton,
	#project_progress_report_tooltip #widget_project_report_progress_to .dijitArrowButton {
		display: none;
	}

	#tooltip_report #report_from,
	#tooltip_report #report_progress_from,
	#tooltip_report #report_to,
	#tooltip_report #report_progress_to,
	#project_progress_report_tooltip #project_report_progress_from,
	#project_progress_report_tooltip #project_report_progress_to {
		float: none;
		border: 0;
		padding: 0 0 0 5px;
		width: 75px !important;
		display: inline;
		vertical-align: top;
		height: 14px;
		background: none;
		text-decoration: underline;
		outline: none;
		cursor: pointer;
	}*/

	#project_progress_report_tooltip .datepickerWrapper {
		margin-left: 10px;
		.dijitTextBox {
			//width: 100%;
		}
	}

	#tooltip_report, #project_progress_report_tooltip {
		#report_generate, #report_progress_generate {
			margin-top: 4px;
			display: inline-block;
		}
	}

	#tooltip_report, #project_progress_report_tooltip {
		.sort-order label, #label_max_comments_project_progress {
			padding: 0 5px 0 3px;
		}
	}

#report_tooltip {
	/*Bug #5406*/
	.dijitDateTextBox {
		width: auto;
	}

	table.layout td {
		vertical-align: middle;
		padding: 2px;
	}
}

#projectProgressReportForm {
	background-color: white;
	table.layout td {
		vertical-align: middle;
		padding: 2px;
	}
}
	#report_tooltip, #project_progress_report_tooltip {
		input, label {
			vertical-align: middle;
		}
	}
	#report_tooltip, #project_progress_report_tooltip {
		input[type="radio"] {
			margin-bottom: 3px;
		}
	}

/*#tooltip_upload {
	margin-left: -133px;
}
*/
	#tooltip_upload .triangle {
		left: 116px;
	}
	/*
	#upload_tooltip {
		width: 270px;
	}
	*/
	#upload_tooltip .border {
		padding: 0;
		margin: -4px -13px -5px;
		min-height: 0;
	}

	#upload_tooltip h2 {
		font: bold 14px Arial, Helvetica, sans-serif;
		padding: 0 9px 7px;
		position: relative;
		margin-top: -10px;
	}

	#upload_tooltip .list {
		margin: 0 0 7px;
		background: #FFFFFF;
		border-bottom: 1px solid #DEDEDE;
		list-style: none;
		width: 100%;
		overflow: hidden;
	}
		#upload_tooltip .list li {
			border-top: 1px solid #EBEBEB;
			height: 36px;
			position: relative;
		}
		#upload_tooltip .list li:first-child {
			border-top: 1px solid #DEDEDE;
		}


	#upload_tooltip .usage {
		color: #666;
		font: 10px Arial, Helvetica, sans-serif;
		text-align: center;
	}
	#upload_tooltip .usage span {
		color: #333;
	}
/*
#tooltip_timer {
	margin-left: -153px;
}
*/
	#tooltip_timer .triangle {
		left: 136px;
	}

	#timer_tooltip .border {
		padding-right: 0;
	}

	#timer_tooltip p {
		padding: 19px 0 13px 6px;
		font-weight: bold;
		text-align: center;
		word-wrap:break-word;
		max-width:245px;
	}

	#timer_tooltip .buttons {
		overflow: hidden;
		width: 100%;
		padding-bottom: 16px;
	}

	#timer_tooltip .buttons a {
		width: 33px;
		height: 33px;
		overflow: hidden;
		float: left;
		margin: 3px 10px 0 0;
		background: url(/img/v5/timer_sprite.png) 0 0 no-repeat;
	}

	#timer_tooltip .buttons a.start {
		background-position: 0 -33px;
	}
	#timer_tooltip .buttons a.start,
	#timer_tooltip .buttons a.pause {
		margin-left: 5px;
	}

	#timer_tooltip .buttons a.stop {
		background-position: 0 -66px;
	}
	#timer_tooltip .buttons a.complete {
		background-position: 0 -99px;
	}

	#timer_tooltip .inp,
	#timer_tooltip .inp div {
		background: url(/img/v5/timer_sprite.png) 0 -132px no-repeat;
		height: 40px;
		width: 114px;
	}
		#timer_tooltip .inp {
			float: left;
			background-position: 0 -172px;
			background-repeat: repeat-x;
			margin-right: 10px;
		}
		#timer_tooltip .inp div div {
			background-position: 100% -212px;
			text-align: center;
			color: #740502;
			font: 2.5em "Courier New", "Courier Bold", Arial, Helvetica, sans-serif;
			letter-spacing: -0.03em;
			font-weight: bold;
			line-height: 44px;
		}
		#timer_tooltip .inp div div i {
			font-style: normal;
			vertical-align: text-top;
			line-height: 1em;
		}

		#timer_tooltip .inp div div.paused {
			color: #A0A0A0;
		}
		#timer_tooltip .inp div div.paused i {
			text-decoration: none;
		}

	#timer_tooltip .buttons .input {
		float: left;
	}
/*
#tooltip_queue {
	margin-left: -136px;
}
	#tooltip_queue .triangle {
		left: 118px;
	}
	#queue_tooltip {
		width: 275px;
	}
*/
	#queue_tooltip .border {
		padding-right: 0;
	}

	#queue_tooltip h3 {
		padding: 0 10px 14px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}
	#queue_tooltip p {
		padding: 0 10px 14px;
		text-align: center;
	}

	#queue_tooltip p span.multiple {
		display: none;
	}
	#queue_tooltip p .multiple span.multiple {
		display: inline;
	}

.menu-tt-cont {
	width: 293px;
	margin-left: 125px;
}
	.menu-tt-cont .backgr {
		padding: 2px 21px;
		.border-radius(1px);
		border: 1px solid #ECE6E6;
		background: #F7F7F7;
	}

	.menu-tt-menu {
		position: relative;
		float: left;
		width: 145px;
		margin-left: -146px;
		list-style: none;
		padding: 12px 0;
	}
	.ie6 .menu-tt-menu {
		margin-left: -125px;
	}
		.menu-tt-menu li {
			height: 34px;
			width: 200px;
		}
		#tooltip_report, #sync_tooltip {
			.menu-tt-menu li {
				width: 130px; // #4850
			}
		}
			.menu-tt-menu li a {
				color: #333 !important;
				text-decoration: none;
				display: block;
				height: 34px;
				font-size: 1.1em;
				line-height: 30px;
				padding: 0 2px 0 11px;
				outline: none;
			}
			.dj_ie10 .menu-tt-menu li a {
				background: transparent;
			}
		.menu-tt-menu li.selected div div {
			//#gradient > .vertical( #0573bd,#439bd2);
			.border-radius(3px);
			//.box-shadow(0px 1px 3px 1px rgba(0,0,0,0.2));
			background: #439bd2;
			color: #fff;
			width: 130px;
			height: 30px;
		}
		.menu-tt-menu li.selected a {
			color: #fff !important;
		}

		.menu-tt-menu li.disabled a {
			cursor: default;
			color: #999 !important;
		}

.menu-tt-inner {
	width: 251px;
	line-height: 1.166em;
}
	.menu-tt-inner p {
		padding: 0 5px 1em 0;
		margin: 0px;
		line-height: 150%;
	}
	.menu-tt-inner .padding {
		padding: 14px 0px 10px 10px;
	}
	.menu-tt-inner .txt-footer {
		font-size: 0.916em;
		line-height: 1.18em;
		color: #999;
	}
	.menu-tt-inner hr {
		margin: 16px 0 9px;
		background: none;
		border: 0;
		border-top: 1px solid #ccc;
		height: 0;
		overflow: hidden;
	}
	.menu-tt-inner hr.clean {
		margin: 0;
	}
	.menu-tt-inner .btns {
		text-align: right;
		padding: 0 5px;
		margin-top: 15px;
	}

	.menu-tt-inner .printTables {
		padding: 9px 0;
	}
	.menu-tt-inner .printTable {
		margin: 0 5px;
		width: 241px;
	}
	.menu-tt-inner .printTable td {
		vertical-align: middle;
		height: 63px;
		padding: 5px 0;
	}

	.menu-tt-inner wbr {
		display: inline-block;
		width: 0px;
		overflow: hidden;
	}

/**
 * Friend finder
 */
.friendfinder {

	.input td.txt .dijitTextBox,  .input td.txt textarea {
		margin-bottom: 10px;
		width:90%;
	}

	span.innerText {
		display: inline-block;
		max-width: 350px;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}
}
	.friendfinder h1 {
		/*font: 116% Arial, Helvetica, sans-serif;*/
		font-size: 116%;
		font-weight: medium;
		padding: 0 0 8px;
	}
	.friendfinder .btns input {
		width: auto;
	}

	.frfind_2 {
	  padding-left: 2px;
	  padding-right: 64px;
	  padding-top: 9px;
	}

	.frfind_3 {
		/* #2292 padding-right:15px;*/
		padding-top:11px;
	}

	.frfind_4 {
		padding:10px;
	}

	.frfind_6 {
		padding:10px;
	}
	.frfind_7 {
		padding:10px;
	}
	.frfind_8 {
		padding:10px;
	}
	.frfind_9 {
		padding:10px;
	}



	.frfind_padding {
		/* #2292 padding:10px;*/
		padding-top:10px;
	}


/**
 * Message tooltip
 */
#message_tooltip p {
	padding: 20px 0;
	text-align: center;
}

/**
 * Task parent change confirmation tooltip
 */
#nestedtaskconfirmation_tooltip {
	width: 270px;
}
	#nestedtaskconfirmation_tooltip .input td.align-right {
		text-align: right;
	}

/**
 * User voice
 */
.tooltip .user-voice {
	font-family: Arial, Helvetica, sans-serif;
	padding: 17px 0 5px;
}
	.tooltip .user-voice p {
		font-size: 1.166em;
		margin: 0 0 5px;
	}
	.tooltip .user-voice center {
		display: block;
		text-align: center;
		padding: 0 0 10px;
	}
	.tooltip .user-voice small {
		text-align: center;
	}

.tooltip-alert-message {
	width: 300px;
}
	.tooltip-alert-message h2 {
		padding-bottom: 10px;
	}

/**
 * History fix for tooltip
 */
.tooltip .history .form {
	padding: 0 1px 1px 9px;
}
.tooltip .history p {
	margin: 0;
}

/**
 * Formatting help tooltip
 */
 /*
#tooltip_formattinghelp {
	z-index: 2;
	margin-left: -67px;
}
*/
#formattinghelp_tooltip {
	font: .95em Helvetica,Arial,sans-serif;
	line-height: 1.2em;
	color: #2C2C2C;
	/*Feature #1721,#1860 width: 143px; */
	width: 113px;
	margin-left:8px;
}
#formattinghelp_tooltip p {
	padding-bottom: 1em;
}
#formattinghelp_tooltip .triangle {
	left: 54px;
}
#formattinghelp_tooltip .border {
	padding: 0 14px 0 16px;
}

/**
 * New project tooltip
 */
/* Feature #1721
#tooltip_newproject {
	z-index: 1;
	margin-left: -400px;
}
*/
#newproject_tooltip .triangle {
	left: 390px;
}
/* Feature #1721
#newproject_tooltip {
	width: 500px;
}
*/
/**
 * Team menu
 */
#tooltip_frfind .right .triangle {
	top: 17px !important;
}

#tooltip_frfind .tooltip.top {
	margin: 0 0 0 -280px !important;
}
#tooltip_frfind .top .triangle {
	top: -10px !important;
	left: 270px;
}

/* Feature #1721 - confirm_email */
.confirm_email_form {
	padding:10px;
}

.confirm_email_msg {
	max-width:270px;
	padding-bottom:10px;
}

.confirm_email_form .input {
  margin: 10px 0 0;
  width: 100%;
}

.confirm_email_form .txt input {
	width:100%;
}

.reminder_popup_border {
	padding:10px 0;
}

/* Delete recurring margins */
.deleterecurring
{
	margin:65px 0 0 98px;
}

.uploadTooltip
{
	padding:10px 3px;

	table.cont {
		width: 100%;
	}
}
.reportTooltip {}
.exportTooltip {}
.fdbTooltip {
	padding:20px 5px 5px 0;
}
.newsTooltip {}
.tooltipFixed {position:fixed;}

#alertElement .cont .border > div {
	margin: 20px;
}

#alertElement.archiveAlert {
	background: 0;
	border: 0;
	box-shadow: initial;
}

.claro .dijitDialogPaneContentArea {padding:20px;}

/* #2292 */
.claro .dijitDialogPaneActionBar {
background-color: @popupDialogActionBarBackground;
margin: 10px -8px -6px -8px;
.user-select(none);
}

.claro .dijitTooltipDialog .dijitDialogPaneActionBar {
	background-color: @popupDialogActionBarBackground;
	margin: 10px -10px -6px -10px;
	.user-select(none);
}

// #3536
html.dj_safari .syncInfoLink {
	display: inline-block;
}

.syncInfoLink {
	font-size: 1.2em;
}
