<div class='hiSharingDropDown'>
	<div class='container itemContainer' data-dojo-attach-point='itemContainer'>
		<p data-dojo-attach-point='placeholder' class='placeholder'>Share...</p>
	</div>
	<div class='container button' data-dojo-attach-point='button'>
		<div class='buttonLabel'>&#8230;</div>
	</button>
</div>