<div class='dijitInline hiSharing'>
	<div class="shared_inputs_cont">
<!-- 		<input name="shared" type="radio" id="private_${id}" value="0" checked="checked" data-dojo-attach-point="sharedInputPrivate" data-dojo-attach-event="onclick: handleSharedChange" /> -->
		<div class='private dijitInline' data-dojo-attach-point='privateNode'>
			<label for="private">${nls.private}</label>
		</div>
		<div class='dijitInline' data-dojo-type='hi.widget.SharingDropDown' 
			data-dojo-attach-point='sharingDropDown' data-dojo-props="taskId:'${taskId}'">
		</div>

		<!-- <input name="shared" type="radio" id="shared_${id}" value="1" data-dojo-attach-point="sharedInputShared" data-dojo-attach-event="onclick: handleSharedChange" />
		<label for="shared_${id}">${nls.shared}</label> -->
	</div>
</div>