#{extends 'main-app.html' /}
#{set title: 'hiTask:Archive' /}
#{set includeWebfonts:true /}

#{common.loadingProgress preloadBarCount: preloadBarCount, randomTip: randomTip /}
#{common.cache userImages: userImages, preloadBarCount: preloadBarCount /}
#{common.templates templatesJson: templatesJson /}

<div id="loading_done">
	<script type="text/javascript">
		var browser_class = '';
		if (dojo.isOpera) { browser_class = 'opera'; }
		if (dojo.isIE && dojo.isIE <= 6) { browser_class = 'ie6'; }
		if (dojo.isIE && dojo.isIE < 8 && dojo.isIE >= 7) { browser_class = 'ie7'; }
		if (dojo.isIE && dojo.isIE === 8) { browser_class = 'ie8'; }
		if (dojo.isFF) { browser_class = 'firefox'; }
		if (dojo.isSafari) { browser_class = 'safari'; }
		if (dojo.isChrome) { browser_class = 'chrome'; }
		
		if (browser_class) {
			dojo.addClass(document.body, browser_class);
		}
	</script>

	#{common.header userBean: userBean, userPref: userPref, 
		latestNews: latestNews, backLink: 'return',
		titleClassName: 'archive_title_header', 
		titleValue: messages.get('hi.archive.archive_title'),
		logoPosition: 'first',
		specificLinks: ['supportLink']
	/}
	*{
	<span style="background: url(/img/v5/archive_bg_left.gif); no-repeat; width:181px; height:600px; top:50px; left:0px;  z-index:-330; overflow:hidden; position:absolute; float:left;"></span>
	<span style="background: url(/img/v5/archive_bg_right.gif); no-repeat; width:218px; height:658px; top:50px; right:0px;  z-index:-330; overflow:hidden; position:absolute; float:right;"></span>
	}*
	<div class="content-wrapper" style="zoom: 1;">
		#{archive.center /}
		#{archive.properties userBean: userBean, constants: constants, userPref: userPref, userImages: userImages /}
		#{archive.tooltip userBean: userBean /}
	</div>
</div>