#{extends 'main-app.html' /}
#{set title: 'hiTask' /}
#{set includeWebfonts: true /}

#{common.loadingProgress preloadBarCount: preloadBarCount, randomTip: randomTip /}
#{common.templates templatesJson: templatesJson /}
#{common.cache userImages: userImages, preloadBarCount: preloadBarCount /}

<div id="loading_done" class="#{if userBean.teamBasic}trial#{/if}">
	#{app.collapse userPref: userPref /}
	<div id='appContainer' data-dojo-type='dijit/layout/LayoutContainer' style='width:100%;height:100%;'>
		<div id='headerPane' data-dojo-type='dijit/layout/ContentPane'
			data-dojo-props='region:"top"'>
			#{common.header userBean: userBean, userPref: userPref, latestNews: latestNews,
				linksSection: true, buttonsSection: true, feedbackSection: false, build: build
			/}
		</div>

		<div id='calendarPane' class="contentPane #{if !userPref.sidebarCalendar}hidden#{/if} #{if !userPref.sidebarMessenger}no_column2#{/if}"
			data-dojo-type='dijit/layout/ContentPane'
			data-dojo-props='region:"left"'>
			#{app.calendar userPref: userPref /}
		</div>

		<div id='centerPane' class='contentPane #{if !userPref.sidebarCalendar}no_column1#{/if} #{if !userPref.sidebarMessenger}no_column2#{/if}'
			data-dojo-type='dijit/layout/ContentPane'
			data-dojo-props='region:"center"'>
			<div style='height:100%;width:100%;overflow:auto' id='centerPaneContent'>
				#{app.center userPref: userPref, userBean: userBean, premiumPrice: 6, userImages: userImages /}
			</div>
		</div>

		<div id='messengerPane'class="contentPane dcontent-wrapper"
			data-dojo-type='dijit/layout/ContentPane'
			data-dojo-props='region:"right"'>
			#{app.team userPref: userPref, userBean: userBean, userImages: userImages /}

			<div>
				<div class="content" style="position: relative;">
					<div id="notification">
					</div>
				</div>
			</div>
			<div id='misc'>
				#{app.properties constants: constants, userBean: userBean, userPref: userPref, userImages: userImages /}
				#{app.tooltip userBean: userBean, helpData: helpData, constants: constants /}
			</div>
		</div>
	</div>
</div>
