#{extends 'main.html' /}

#{set title:'HiTask: Item not found' /}

#{navbar as:'none' /}

<div class="signin center">
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well">
				<div class="alert alert-warning">
					<p>Item not found</p>
				</div>
			</div>
		</div>
	</div>
</div>