#{extends 'main-app.html' /}
#{set title: 'hiTask:Item' /}
#{set includeWebfonts:true /}
#{set excludeUserVoice: true /}
#{set excludeAnalytics: true /}

#{common.loadingProgress preloadBarCount: preloadBarCount, randomTip: randomTip /}

#{common.templates templatesJson: templatesJson /}


<script type="text/javascript">
	require(['dojo/ready'],function() {
		Project.guid = "${item.guid}";
		Project._itemPage = {
			guid: Project.guid,
			id: parseInt('${item.id}')
		};
	})
</script>

<div id="singleTask" class="border">
	#{app.tooltip userBean: userBean, helpData: helpData, constants: constants /}
	#{app.hi.jsContent function: 'tasksList', class: 'loading'}
	#{/app.hi.jsContent}
</div>

#{app.properties constants: constants, userBean: userBean, userPref: userPref, userImages: userImages /}