#{extends 'main-app.html' /}
#{set title: 'hiTask - Popup Test' /}
#{set includeWebfonts:true /}

<div id="loading_done" style="display: none;">
	<div class="content-wrapper" style="zoom: 1;">
		#{app.collapse userPref: userPref /}
		#{app.center userPref: userPref, userBean: userBean, premiumPrice: 6, userImages: userImages /}
		#{app.calendar userPref: userPref /}
		#{app.team userPref: userPref, userBean: userBean, userImages: userImages /}
		#{app.properties constants: constants, userBean: userBean, userPref: userPref, userImages: userImages /}
		
		<div>
			<div class="content" style="position: relative;">
				<div id="notification">
				</div>
			</div>
		</div>
	</div>
</div>

#{app.tooltip userBean: userBean, helpData: helpData, constants: constants /}

<div style="margin: 50px; border: 1px solid blue; text-align:center;">
	<div>
		<a href="#" onclick="Project.removeCompletedItems(this); return false;">Remove Completed</a>
		<br /><br />
	</div>
	<div>
		<label for="alertSelect">Alert</label>
		<select id="alertSelect">
			<option value="-1">Select alert to show</option>
			<option value="0">Contacts limit</option>
			<option value="1">Tasks limit</option>
			<option value="2">Projects limit</option>
			<option value="3">Invited to business</option>
			<option value="4">Removed from business</option>
			<option value="5">No licenses</option>
			<option value="6">HiTask updated</option>
			<option value="7">Not all removed</option>
			<option value="8">Expire notification on login</option>
			<option value="10">Expired</option>
			<option value="11">Welcome to business</option>
			<option value="12">Expire notification on some action</option>
			<option value="13">File storage quota</option>
			<option value="14">Please Specify a Title</option>
			<option value="15">You Are Invited</option>
			<option value="16">No Permissions</option>
			<option value="17">Completed Warning</option>
		</select>
		<br /><br />
	</div>
	<div>
		<a href="#" id="friendLink" onclick="return false;">Friend</a>
		<br /><br />
	</div>
	<div>
		<a href="#" id="reminderLink">Reminder</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Project.alertElement.showItem(14,{task_alert:'Please specify a title'}); return false;">Task edit validation error</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Tooltip.open('logoutconfirmation', '', document.body); return false;">Logout confirmation</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Tooltip.open('formattinghelp', '', this); return false;">Formatting help</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Tooltip.open('queue', '', this); return false;">Pending changes</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Tooltip.open('color_picker', '', this); return false;">Color picker</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Tooltip.open('confirm_email', '', this); return false;">Confirm email</a>
		<br /><br />
	</div>
	<div>
		<a href="#" onclick="Tooltip.open('frconfirm', '', this); return false;">Invited to team</a>
		<br /><br />
	</div>
	<div>
		<a id='friendsLink' href="#" onclick="Tooltip.open('frfind', '', this); return false;">Add contact</a>
		<label for="addFriendsTT">Add Friends Tooltip</label>
		<select id="addFriendsTT">
			<option value="-1">select</option>
			<option value="0">frfind_0</option>
			<option value="1">frfind_1</option>
			<option value="2">frfind_2</option>
			<option value="3">frfind_3</option>
			<option value="4">frfind_4</option>
			<option value="5">frfind_5</option>
			<option value="6">frfind_6</option>
			<option value="7">frfind_7</option>
			<option value="8">frfind_8</option>
			<option value="9">frfind_9</option>
			<option value="10">frfind_10</option>
			<option value="11">frfind_11</option>
			<option value="12">frfind_12</option>
		</select>
		<br /><br />
	</div>
	
</div>

<script type="text/javascript">
	createAlertWidget();
	handleFriendClick();
	handleAlertChange();
	createReminderElement();
	
	function createAlertWidget() {
		//Create widget
		Project.alertElement = dojo.parser.instantiate([dojo.byId('alertElement')])[0];
		
		//Don't restore focus, this is handled manually
		Project.alertElement.refocus = false;
		
		Project.alertElement.showItem = function(id, data) {
			data = data || {};
			if (id == 3 || id == 4 || id == 6) {
				hideElement(Project.alertElement.closeButton);
			} else {
				showElement(Project.alertElement.closeButton);
			}
			if (id == 6) {
				Project.ajax = function() {};
			}
			openTab('alertElement', id, 0, data);
			Project.alertElement.show();
		};
		
		/* Feature #1721 Project.alertElement.closeButton = dojo.query(".close", "alertElement")[0];*/
		Project.alertElement.closeButton = dojo.query(".tooltipCloseIcon", "alertElement")[0];
		dojo.connect(Project.alertElement.closeButton, 'click', function () {
			Project.alertElement.hide();
		});
	}
	
	function handleFriendClick() {
		dojo.connect(dojo.byId('friendLink'), "onclick", function(e) {
			var liConts = dojo.query('#team_scroll ul li');
			if (liConts.length > 0) {
				var li = liConts[Math.floor(Math.random() * liConts.length)];
				require(["dojo/on"], function(on) {
					on.emit(li, "click", {
				        bubbles: true,
				        cancelable: true
				    });
				})
			}
		});
	}
	
	function handleAlertChange() {
		dojo.connect(dojo.byId('#alertSelect'), "onchange", function(evt) {
			if (evt.target.value > -1) {
				if (evt.target.value == 14) Project.alertElement.showItem(14,{task_alert:'Please specify a title'});
				else if (evt.target.value == 17) Project.alertElement.showItem(17,{count: 100});
				else Project.alertElement.showItem(evt.target.value);
				dojo.stopEvent(evt);
			}
		});
	}
	
	function createReminderElement() {
		Hi_Reminder.reminderElement = dojo.parser.instantiate([dojo.byId('reminder_popup')])[0];
		/* Feature #1721 Hi_Reminder.reminderElement.closeButton = dojo.query(".close", "reminder_popup")[0];*/
		Hi_Reminder.reminderElement.closeButton = dojo.query(".tooltipCloseIcon", "reminder_popup")[0];
		dojo.connect(Hi_Reminder.reminderElement.closeButton, 'click', function () {
			Hi_Reminder.reminderElement.hide();
		});
		
		dojo.connect(dojo.byId('reminderLink'), 'click', function(e) {
			dojo.byId('reminder_popup_list').innerHTML = '<li>Foobar Task<div class="time">' + new Date() + '</div></li>';
			Hi_Reminder.reminderElement.show();
			dojo.stopEvent(e);
		});
	}
	
	function addFriendCases(number)
	{	
		var data = {
			fullname:'Mister HiTask',
			email:'user@hitask.com'
		};

		if (number<0) return;
		Tooltip.open('frfind', '', dojo.byId('friendsLink'));
		openTab('frfind',parseInt(number),0,data);
		
		return;
	}
	
	dojo.connect(dojo.byId('addFriendsTT'),'onchange',dojo.byId('addFriendsTT'),function(e) {
		dojo.stopEvent(e);
		addFriendCases(this.value);
	});
</script>