#{extends 'main.html' /}

#{set title:'HiTask: Report' /}

#{navbar as:'none' /}

<link href="@{'/public/app/css/hitask/common/loaders.min.css'}" rel='stylesheet' type='text/css'>
<style type="text/css">.ball-beat > div, .line-scale > div {background: #3aa1e4;}</style>

<div class="signin center">
	<div class="signin-outer">
		<div class="signin-inner">
			<div class="well">
				<div id="loading">
					#{common.loadingGif /}
				</div>
				<div class="alert alert-error hide" id="reportErrorAlert">&{'hi.hireport.error'}</div>
				<div class="alert alert-warning hide" id="reportNotFoundAlert">&{'hi.hireport.not_found'}</div>
				<div class="alert alert-info hide" id="reportDownloadAs">&{'hi.hireport.download_as1'}&nbsp;<a href="#">&{'hi.hireport.download_as2'}</a></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		var guid = '${guid.escapeJavaScript()}';
		var format = '${format.escapeJavaScript()}';
		var $loading = $('#loading');
		
		var interval = setInterval(function() {
			$.ajax({
				async: true, type: 'get', data: {guid: guid},
				url: '@{Application.reportStatus}',
				beforeSend: function() {},
				success: function(result) {
					if (result) {
						clearInterval(interval);
						
						if (format == 'HTML') {
							window.location = result;
						} else {
							var $ok = $('#reportDownloadAs');
							$ok.removeClass('hide');
							$loading.hide();
							$ok.find('a').attr('href', result);
						}
					}
				},
				error: function(request, textStatus, errorThrown) {
					clearInterval(interval);
					$loading.hide();
					if (request.status == 404) {
						$('#reportNotFoundAlert').removeClass('hide');
					} else {
						$('#reportErrorAlert').removeClass('hide');
					}
				},
				complete: function(request, textStatus) {}
			});
		}, 1000);
	});
</script>