#{extends 'main-app.html' /}
#{set title: 'hiTask:Settings' /}
#{set includeWebfonts:true /}

#{common.loadingProgress preloadBarCount: preloadBarCount, randomTip: randomTip /}
	
#{common.header userBean: userBean, userPref: userPref, 
	titleClassName: 'archive_title_header', 
	titleValue: '',
	logoPosition: 'first',
	specificLinks: ['supportLink']
/}

#{i18n keys: ['settings.*'] /}

%{
	terminateReplaceWhat = 'freeAccount1';

	if (userBean.isPremium()) {
		terminateReplaceWhat = 'billingContainer';
	} else if (userBean.business && userBean.business.isUserOwner()) {
		terminateReplaceWhat = 'billingContainer';
	} else if (userBean.business != null) {
		terminateReplaceWhat = 'business_member';
	}
}%

<div class='content-wrapper'>
	<div id='settingsPageContent' class="settings settings-large"
			 data-dojo-type="dijit/layout/LayoutContainer" data-dojo-props="design:'sidebar'">
		<div data-dojo-type='dijit.layout.TabContainer' data-dojo-props="region:'top'" id='settingTabs' doLayout=false class='setting_cont'  style='height:100%;width:100%;display:none;' tabPosition='left-h'>
			<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.title_personal"}' selected=true data='personal' class='settingtab' >
				#{settings.center userBean: userBean, apiConfig: apiConfig, constants: constants /}
			</div>

			<!-- free account tab -->
			#{if userBean && userBean.isFree()}
				<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.title_account"}' id='freeAccountTab' data='freeAccount' class='settingtab'>
					#{settings.freeAccount userBean: userBean,apiConfig:apiConfig /}
					#{settings.terminateBody userBean: userBean, replaceWhat: terminateReplaceWhat /}
				</div>
			#{/if}

			<!-- premium account tab -->
			#{if userBean && userBean.isPremium()}
				<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.account.title_premium"}' id='premiumAccountTab' data='premiumAccount' class='settingtab'>
					#{settings.premiumAccount userBean: userBean,apiConfig:apiConfig /}
				</div>
			#{/if}

			<!-- business account tab -->
			#{if userBean && userBean.business && userBean.business.userOwner}
				<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.tab.team"}' id='businessAccountTab' data='teamAccount' class='settingtab'>
					#{settings.accounts userBean: userBean,apiConfig:apiConfig /}
				</div>
			#{/if}

			<!-- business member tab -->
			#{if userBean && userBean.business && !userBean.business.userOwner}
				<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.tab.team"}' id='businessMemberTab' data='teamMember' class='settingtab'>
					#{settings.businessAccount userBean: userBean, apiConfig: apiConfig /}
					#{if userBean && userBean.business && !userBean.business.isUserOwner()}
						#{settings.terminateBody userBean: userBean, replaceWhat: terminateReplaceWhat /}
					#{/if}
				</div>
			#{/if}
			
			<!-- Billing tab -->
			#{if userBean && ((userBean.premium && !userBean.business) || (userBean.business && userBean.business.hasAdminPermissions()))}
				<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.billing.title"}' data='billing' class='settingtab'>
					#{settings.billing apiConfig: apiConfig, userBean: userBean /}
					#{if userBean && userBean.isPremium()}
						#{settings.terminateBody userBean: userBean, replaceWhat: terminateReplaceWhat /}
					#{/if}
					#{if userBean && userBean.business && userBean.business.userOwner}
						#{settings.terminateBody userBean: userBean, replaceWhat: terminateReplaceWhat /}
					#{/if}
				</div>
			#{/if}

			<!-- task preferences -->
			<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.task_preferences.title"}' data='taskPreferences' class='settingtab'>
				#{settings.task_preferences apiConfig: apiConfig, userBean: userBean /}
			</div>
			<!-- display -->
			<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.display.title"}' data='display' class='settingtab'>
				#{settings.display timezones: timezones, locales: locales, apiConfig: apiConfig, userBean: userBean /}
			</div>
			<!-- notications -->
			<div data-dojo-type='dijit.layout.ContentPane' class='settings-pane' title='&{"settings.title_reminders"}' data='notifications' class='settingtab'>
				#{settings.notifications apiConfig: apiConfig, userBean: userBean, weekdays: weekdays /}
			</div>
			<!-- external -->
			<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.title_external"}' data='external' class='settingtab'>
				#{settings.external apiConfig: apiConfig, userBean: userBean /}
			</div>
			<!-- developer API -->
			<div data-dojo-type='dijit.layout.ContentPane' title='&{"settings.title_developerAPI"}' data='developerAPI' class='settingtab'>
				#{settings.developer apiConfig: apiConfig, userBean: userBean /}
			</div>			
		</div>
	</div>
	<div class='clear'></div>

	#{settings.tooltip userBean: userBean, apiConfig: apiConfig, constants: constants /}
</div>

<script type="text/javascript">
	require(["dojo/ready", "dojo/on"], function(ready, on){
		ready(function() {
			setSettingsBlockStyle();
			on(window, 'resize', function() {
				setSettingsBlockStyle();
			});
		});
	});
</script>