<div id="calendar" style='height:100%;width:100%' class="column1">
	<div class="date" data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"top"' style='height:2.4em'>
		<span id="now" title="&{'hi.calendar.today_title'}"></span>
		<div class=" icon-uniE07A left column-close-icon" id="calendarHideButton" onclick="toggleColumn('column1', 'calendar', 'messenger')"><!-- --></div>
	</div>

	<div class="back" data-dojo-type='dijit/layout/LayoutContainer' data-dojo-props='region:"center"' style='height:calc(100% - 27px);width:100%'>
		<!-- start of #hitask_calendar -->
		<div id="hitask_calendar" class="calendar"
			data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"top"'>
			<!-- start of .navigation -->
			<div class="navigation">
				<table>
					<tr>
						<td width="10%">&nbsp;</td>
						<td width="0%" style="display:none">
							<table class="year" onclick="Click.setClickFunction(function(){hideElement('year_select');},true,'year_select')">
								<tr>
								<td><div class="prev  icon-chevron-left" onclick="HiTaskCalendar.changeYear(-1);"><!-- --></div></td>
								<td class="text">
									<div class="value">
										<span id='displayed_year' onclick="toggleElement('year_select');" >
										</span>
									</div>

									<div id="year_select" class="select hidden">
										<div class="c">
											<div>
												<ul>
													<li id='year_selection_minus_3' onclick="HiTaskCalendar.changeYear(-3);"></li>
													<li id='year_selection_minus_2'  onclick="HiTaskCalendar.changeYear(-2);" ></li>
													<li  id='year_selection_minus_1' onclick="HiTaskCalendar.changeYear(-1);"></li>
													<li class="active" id='year_selection_minus_0' onclick="toggleElement('year_select');">
													</li>
													<li id='year_selection_plus_1' onclick="HiTaskCalendar.changeYear(1);" ></li>
													<li id='year_selection_plus_2' onclick="HiTaskCalendar.changeYear(2);" ></li>
													<li id='year_selection_plus_3' onclick="HiTaskCalendar.changeYear(3);" ></li>
												</ul>
											</div>
										</div>
									</div>
								</td>
								<td><div class="next icon-chevron-right" onclick="HiTaskCalendar.changeYear(1);" ><!-- --></div></td>
								</tr>
							</table>
						</td>

						<td width="100%">
							<table class="month" onclick="Click.setClickFunction(function(){hideElement('month_select');},true,'month_select')"><tr>
								<td><div class="prev icon-chevron-left" onclick="HiTaskCalendar.changeMonth(-1);" ><!-- --></div></td>
								<td class="text">
											<div id="month_select" class="select hidden">
											<div class="c" style="top: -71px;">
												<div class="border">
													<ul>
														<li id='month_selection_inc_9' onclick="HiTaskCalendar.changeMonth(-3);"></li>
														<li id='month_selection_inc_10'  onclick="HiTaskCalendar.changeMonth(-2);"></li>
														<li id='month_selection_inc_11' onclick="HiTaskCalendar.changeMonth(-1);"></li>
														<li class="active" id='month_selection_inc_0' onclick="toggleElement('month_select');"></li>
														<li id='month_selection_inc_1' onclick="HiTaskCalendar.changeMonth(1);"></li>
														<li id='month_selection_inc_2' onclick="HiTaskCalendar.changeMonth(2);"></li>
														<li id='month_selection_inc_3' onclick="HiTaskCalendar.changeMonth(3);"></li>
													</ul>
												</div>
											</div>
											</div>
										<div class="value" onclick="toggleElement('month_select');"><span id='displayed_month'></span></div></td>
								<td><div class="next icon-chevron-right" onclick="HiTaskCalendar.changeMonth(1);" ><!-- --></div></td>
							</tr></table>
						</td>
						<td width="10%">&nbsp;</td>
					</tr>
				</table>
			</div>
			<!-- end of .navigation -->

			<div id="hitask_calendar_2"></div>
		</div>
		<!-- end of hitask_calendar -->

		<!-- start of .timetable -->
		<div class="timetable" data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"center"'>
			<div><div id="day" class="day"></div></div>
			<div class="sep"><!-- --></div>
			<table class="content">
				<tr class="content_tr">
					<td class="time">
						<div widgetId="TimeTick" id="TimeTick" dojoType="hi.widget.TimeTick"></div>
						#{app.hi.jsContent function: 'HiTaskCalendar_drawTimeTable' /}
					</td>
					<td class="tasks">
						<div id="timetable" class="cont"></div>
					</td>
				</tr>
			</table>
		</div>
		<!-- end of .timetable -->

	</div>
</div>
