<div class="wrapper">
	<div id="main" class="content time_format_${_userPref.timeFormat}">
		<div class="menu">
			<!-- start of table -->
			<table cellspacing="2" id='tabs-container'>
				<tr>
				</tr>
			</table><!-- end of table -->
			<div class="more">
				<a href="#" onclick="return false;" id="more-tabs">
					<span class="title">More&nbsp;</span>
					<span data-icon=""></span>
				</a>
			</div>
		</div> <!-- end of .menu -->
		<div id='mainContent'>
			<div id="searchItemListContainer" class="top">
				<div class="new-highlight-inner">
					<ul class="tasks task_ul task_new_ul"></ul>
					<div id="search_bar" class="input search_bar hidden">
						<div class="search_bar_padd">
							<div class="search_bar_padd_label">&{'hi.properties.search_results'}</div>
							<div class="search_bar_padd_str"><span class="search_bar_query" id="search_bar_query"></span></div>
							<div class="search_bar_padd_all">
							<a href="javascript://" class="show_all" onclick="Hi_Search.closeTooltipDialog('search')" data-icon="" aria-hidden="true" title="&{'hi.properties.show_all_items'}"></a></div>
						</div>
						<div class="search_spacer"><!-- --></div>
					</div>

					<div class="clear"></div>
				</div>
			</div>
			<!-- end of #searchItemListContainer -->

			<div id="submenu" class="submenu">
				#{if _userBean.accountLevel || _userBean.emailConfirmed}
					#{if _userBean.business}
					<div class="popup" id="taskFilterPopup">
						<ul>
							<div data-dojo-type="dijit/DropDownMenu">
								<div data-dojo-type="dijit/MenuItem" class="taskfilter-0" data-dojo-props="onClick:function(){Hi_TaskFilter.setFilter(0);}">&{'hi.common.taskfilter_all'}</div>
								<div data-dojo-type="dijit/MenuItem" class="taskfilter-1" data-dojo-props="onClick:function(){Hi_TaskFilter.setFilter(1);}">&{'hi.common.taskfilter_my'}</div>
								<div data-dojo-type="dijit/MenuItem" class="taskfilter-2" data-dojo-props="onClick:function(){Hi_TaskFilter.setFilter(2);}">&{'hi.common.taskfilter_my_created'}</div>
								<div data-dojo-type="dijit/MenuItem" class="taskfilter-3" data-dojo-props="onClick:function(){Hi_TaskFilter.setFilter(3);}">&{'hi.common.taskfilter_my_unassigned'}</div>
							</div>
						</ul>
					</div>
					#{/if}
				#{/if}
				<div id="toolbar" class="toolbar">
					*{ Project button when tag bar is not visible }*
					<div id="toolbar1" data-dojo-type="dijit/Toolbar">
						<table style='width:100%'><tr><td>
						<span id='sorting' class='di'>
							<label for='sortingSelect'>&{'hi.properties.sort'}</label>
							<select data-dojo-type="dijit/form/Select" id='sortingSelect' data-dojo-attach-event="onChange:'Project.sortingSelectChange'">
								<option value="1">&{'hi.common.sort_subject'}</option>
								<option value="4">&{'hi.common.sort_priority'}</option>
								<option value="3">&{'hi.common.sort_last_modified'}</option>
								<option value="2">&{'hi.common.sort_start_date'}</option>
								<option value="5">&{'hi.common.sort_due_date'}</option>
							</select>
						</span>

						<span id='projectSorting' class='di'>
							<label for='projectSortingSelect'>&{'hi.properties.project_sort'}</label>
							<select data-dojo-type="dijit/form/Select" id='projectSortingSelect' data-dojo-attach-event="change:'function(val){Project.changeSorting(val);}'">
								<option value="1">&{'hi.common.sort_subject'}</option>
								<option value="4">&{'hi.common.sort_priority'}</option>
								<!-- <option value="3">&{'hi.common.sort_last_modified'}</option> -->
								<!-- <option value="2">&{'hi.common.sort_start_date'}</option> -->
								<option value="5">&{'hi.common.sort_due_date'}</option>
							</select>
						</span>
						<!-- The following adds a line between toolbar sections-->
						#{if _userBean.accountLevel || _userBean.emailConfirmed}
							#{if _userBean.business}
								<span class="taskfilter selected-0 di" id="taskFilter">
									<!-- <label for='filterSelect'>&{'hi.properties.taskfilter'}:</label> -->
									<select data-dojo-type="dijit/form/Select" id='filterSelect' style='width: 130px' data-dojo-attach-event="change:'function(val){Project.changeSorting(val);}'">
										<script type="dojo/on" data-dojo-event="change">
											// Hi_Tag.openTagEditDialog();
											if (this._noChange === true) {
												return this._noChange = false;
											}
											var val = this.get('value');
											Hi_TaskFilter.setFilter(parseInt(val));
										</script>
										<option value="0">&{'hi.common.taskfilter_all'}</option>
										<option value="1">&{'hi.common.taskfilter_my'}</option>
										<option value="2">&{'hi.common.taskfilter_my_created'}</option>
										<option value="3">&{'hi.common.taskfilter_my_unassigned'}</option>
									</select>
								</span>
							#{/if}
						#{/if}
						<span class="tagbar di">
							<div class="input tag_bar closed not_selected hidden no_more">
								<div class="tag_bar_padd">
									<span class="not_selected hidden">
										<span class="label hidden">&{'hi.properties.my_tags'}</span>
									</span>
									<div class='tagContainer' style='display: inline'>
										<input id='tagsComboBox' data-dojo-type="hi.widget.Tag.ComboBox" data-dojo-props="searchAttr:'value', placeHolder:'&{"hi.properties.my_tags"}'" name="state" style='width: 130px'/>
									</div>
<!-- 									<button data-dojo-type='dijit/form/Button' id='tagEditButton'>
										<span class='icon-edit'></span>
										<script type="dojo/on" data-dojo-event="click">
											Hi_Tag.openTagEditDialog();
										</script>
									</button> -->

<!-- 									<span class="selected">
										<a href="javascript://" class="show_all" onclick="Hi_Tag.filter('');Hi_Tag.tagsComboBox.set('value', '')">&{'hi.properties.show_all_items'}</a>
									</span> -->

								</div>
							</div>
						</span>
						</td>
						*{ Project button when tag bar is visible }*
						<td>
						<span id='newProjectButton' class='hidden project'>
							<button class="project" data-dojo-type='dijit/form/Button'>
								<script type="dojo/on" data-dojo-event="click">
									if(!Project.checkLimits('TRIAL_PROJECTS')) return;
									Project.showProjectDialog();
								</script>
								<span data-icon="" aria-hidden="true"></span>&{'hi.properties.add_project'}
							</button>
						</span>
						</td></tr></table>
					</div>
					<div class="clear"><!-- --></div>
				</div>
				<!-- end of toolbar -->

				#{if _userBean.accountLevel || _userBean.emailConfirmed}
					#{if _userBean.business}
					<div id="taskFilterStatus" class="taskfilter-status" style="display:none">
						<span></span>
					</div>
					#{/if}
					<div id="tagStatus" class='tag-status hidden'>
						<span class="selected">
							&{'hi.properties.items_tagged'}
							<span class="selected_tag" id="tag_bar_selected_tag"></span>
						</span>
					</div>
				#{/if}

				*{<div class="spacer"><!-- --></div>}*
			</div>
			<!-- end of #submenu -->

			<div class="border" id='mainContainer'>
				#{app.hi.jsContent function: 'tasksList', class: 'loading'}
					#{common.loadingGif /}
				#{/app.hi.jsContent}
			</div>

		</div>
		<!-- end of #mainContent -->

		<div id='bigCalendar' class='wide'>
			<h1 class='hidden' id='bigCalendarPrintTitle'></h1>
			#{common.loadingGif id: 'bigCalendarLoadingContainer'/}
			<div id='bigCalendarWidget' data-dojo-type="hi.widget.Calendar"
				data-dojo-props="dateInterval: Hi_Preferences.get('bigCalendarMode', 'week', 'string')"></div>
		</div>
		<!-- end of #bigCalendar -->

	</div>
	<!-- end of #main -->

</div>
<!-- end of .wrapper -->
