<div id="collapse">
	<div class="btns ">
	</div>
	<div class="text">
		<div id="column1_text" class="column1 hidden" onclick="toggleColumn('column1', 'calendar', 'messenger')">
			<div class="collapse_icon icon-calendar2"><!-- --></div>
		</div>
		<div id="column2_text" class="column2 hidden"  onclick="toggleColumn('column2', 'messenger', 'calendar', -1)">
			<div class="collapse_icon icon-group"><!-- --></div>
			<div id="new_messages_collapsed" class="message invisible pointer" onclick="Hi_Team.openNew()" title="&{'hi.collapse.open_next_with_unread'}" data-icon="">&nbsp;</div>
		</div>
	</div>
</div>
