<div class="clear"></div>
<div class="wrapper">
	<div id="footer">
		<div class="nav">
			<a href="javascript://" id="notifyState"></a> | <a href="http://blog.hitask.com" target="_blank" >Blog</a> | <a href="http://support.hitask.com" target="_blank">&{'hi.footer.support'}</a> | <a href="/contact" target="_blank">&{'hi.footer.contact'}</a>
		</div>
		&copy; <a href="/contact" target="_blank" title="Contact Us">human &gt; computer</a>. ${_build}
	</div>
</div>
<div class="clear"></div>