<div id="properties_container" class="hidden">
	<div id="properties_container_0">
	</div>
	
	<div id="properties_container_4">
		<div class="opened hidden">
			
			<div class="star" onclick="Project.changeStarredEditValue(this);"><input type="hidden" name="starred" value="" /></div>
			<div class="title cont-inner"><input name="title" id="title4" class="full txt" type="text" value="" maxlength="200" /></div>

			<input type="hidden" name="color" id="color4" />
			
			<div class="description cont-inner">
				<label onclick="nextElement(this).focus()" fill="hidden: has_message">${messages.get('js.task.message_empty').escapeHtml()}</label>
				<textarea maxlength="${_constants.taskMessageMaxLength}" onfocus="hideElement(previousElement(this))" onblur="if (!this.value) showElement(previousElement(this));" onkeyup="return ismaxlength(this, false, false, false, '${messages.get('js.task.message_max_size', _constants.taskMessageMaxLength).addSlashes().escapeHtml()}')" id="message4" name="message"></textarea>
				<div class="textarea-resize"></div>
				<a href="#" onclick="#{app.hi.tooltip name: 'formattinghelp', position: 'bottom' /}" class="formating-help">&{'js.common.text_formatting_help'}</a>
			</div>
			
			#{common.propShared userBean: _userBean /}
			
			<div class="cont-inner-box tag_cont"></div>
			
			<div class="cont-inner-box many_tasks_cont">
				<div class="many_tasks_step_1">
					<label onclick="nextElement(this).focus()">${messages.get('js.task.many_tasks_description').escapeHtml()}</label>
					<textarea onfocus="hideElement(previousElement(this))" onblur="if (!this.value) showElement(previousElement(this));"></textarea>
					<p>&{'hi.properties.many_tasks_format1'}<br />&{'hi.properties.many_tasks_format2'}</p>
				</div>
				<div class="many_tasks_step_2">
					<fieldset class="result-table">
					<table>
						<thead><th class="col-title"></th><th class="col-sharing">&{'js.task.heading_sharing'}</th><th class="col-assign">&{'js.task.heading_assign'}</th></thead>
						<tbody></tbody>
					</table>
					</fieldset>
					<p>
						&{'hi.properties.many_tasks_go_back1'}&nbsp;<a onclick="NewItemManyTasks.goStepBack()" href="javascript://">&{'hi.properties.many_tasks_go_back2'}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="properties_container_5">
		<div class="opened hidden">
			
			<div class="star" onclick="Project.changeStarredEditValue(this);"><input type="hidden" name="starred" id="starred1" value="" /></div>
			<div class="title cont-inner"><span fill="html: title"></span></div>
			
			<input type="hidden" name="title" id="title1" />
			<input type="hidden" name="color" id="color1" />
			<input type="hidden" name="category" id="category1" />
			
			<div class="description cont-inner description-empty">
				<label onclick="nextElement(this).focus()" fill="hidden: has_message">${messages.get('js.task.message_empty').escapeHtml()}</label>
				<textarea maxlength="${_constants.taskMessageMaxLength}" onfocus="this.onkeyup(event); hideElement(previousElement(this))" onblur="if (!this.value) showElement(previousElement(this));" onkeyup="return ismaxlength(this, false, false, false, '${messages.get('js.task.message_max_size', _constants.taskMessageMaxLength).addSlashes().escapeHtml()}')" id="message1" name="message"></textarea>
				<div class="textarea-resize"></div>
				<a href="#" onclick="#{app.hi.tooltip name: 'formattinghelp', position: 'bottom' /}" class="formating-help">&{'js.common.text_formatting_help'}</a>
			</div>
			
			#{common.propShared userBean: _userBean /}
			
			<div class="cont-inner-box tag_cont"></div>
			
		</div>
	</div>
	
	<div id="process_properties_buttons" onclick="dojo.stopEvent(event || window.event);">
		<table class="btns"><tr>
			<td><!-- --></td>
			<td>
				<button dojoType="dijit.form.Button" name="prop_act_proceed" class="proceed" type="button" onclick="NewItemManyTasks.goStepForward();">${messages.get('hi.properties.proceed_button').escapeHtml()}</button>
				<button dojoType="dijit.form.Button" name="prop_act_create" class="create" type="button" onclick="NewItemManyTasks.add();">${messages.get('js.task.create_tasks_button').escapeHtml()}</button>
				<button dojoType="dijit.form.Button" name="prop_act_save" class="save" type="button" onclick="processProperties(false,{save:true});">${messages.get('js.task.save_button').escapeHtml()}</button>
				<button dojoType="dijit.form.Button" name="prop_act_save_new" class="save_new" type="button" onclick="processProperties(false,{save:true,tmpsave:true});">${messages.get('js.task.save_button').escapeHtml()}</button>
				<button dojoType="dijit.form.Button" name="prop_act_upload" class="btn-upload" type="button" onclick="FileUpload.get(-1).upload()">${messages.get('hi.common.start_upload').escapeHtml()}</button>
				<span class="cancel_label">&{'hi.properties.or_cancel'}</span>
				<a href="javascript://" name="prop_act_cancel" class="cancel" type="button" onclick="processProperties(false,{save:false})">${messages.get('hi.properties.cancel_button').escapeHtml()}</a>
				<a href="javascript://" name="prop_act_cancel_new" class="cancel_new" type="button" onclick="Project.remove(parseIntRight(getParentByClass(this, 'task_li').id), {silent: true, tmpdelete:true})">${messages.get('hi.properties.cancel_button').escapeHtml()}</a>
			</td>
		</tr></table>
	</div>
	<div id="properties_view" class="properties_view">
		<div class="closed">
			<div fill="visible: has_message" class="cont"><div class="cont-inner highlight description" name="message" fill="htmlRaw: message"></div></div>
			<div fill="visible: has_time" class="cont"><div class="cont-inner highlight" name="start_date" fill="htmlUntrim: time"></div></div>
			<div class="cont time_track" fill="visible: has_time_track" class="cont"><div class="cont-inner" name="time_track">
				
				<div class="cont-inner-wrapper time-tracking-container" fill="call:Hi_TimeTracking.list.preInit();">
					<a href="javascript://" class="track" onclick="Hi_TimeTracking.addForm.show(this.parentNode); dojo.stopEvent(event);">&{'js.task.time_tracking_track'}</a>
					<a id="linkStartTimer" fill="hidden: Hi_Timer.isTimedTask(Project.opened);" href="javascript://" class="timer" onclick="Hi_Timer.start(this)">&{'js.task.time_tracking_timer'}</a>
					<a id="linkShowTimer" fill="visible: Hi_Timer.isTimedTask(Project.opened); htmlRaw: Hi_Timer.getTime()" href="javascript://" class="timer" onclick="Hi_Timer.view.show();"></a>
					<span class="spent-details" onclick="Hi_TimeTracking.list.show(this.parentNode); dojo.stopEvent(event);">
						<span class="label">&{'js.task.time_tracking_spent'}:&nbsp;&nbsp;</span>
						<a href="javascript://" class="spent" fill="htmlRaw: time_spent"></a>
						<a href="javascript://" class="details">&{'js.task.time_tracking_details'}</a>
					</span>
					
					<div class="clear"><!-- --></div>
					
					<span style="white-space: nowrap;" fill="visible: has_time_estimation">
						<span class="label">&{'js.task.time_tracking_estimated'}:&nbsp;&nbsp;</span><span class="estimated" fill="htmlRaw: time_est"></span>
					</span>
					<a fill="hidden: has_time_estimation" class="report" href="javascript:void(window.open('#{app.hi.componentUrl id: 'com.videinfra.arenaone.report' /}taskprogress?'+session_name+'='+session_id+'&amp;action=task_progress_report&item_id='+Project.opened,'_blank','scrollbars=yes,resizable'))" >&{'js.task.report'}</a>
					
					<div class="clear"><!-- --></div>
				</div>
				
				<div class="time-track-report cont-inner-wrapper">
					<div class="time-track-report-inner" fill="visible: has_time_estimation">
						<a class="report" href="javascript:void(window.open('#{app.hi.componentUrl id: 'com.videinfra.arenaone.report' /}taskprogress?'+session_name+'='+session_id+'&amp;action=task_progress_report&item_id='+Project.opened,'_blank','scrollbars=yes,resizable'))" >&{'js.task.report'}</a>
						<span class="progress_percentage"></span>
						<div class="progress-bar"><div></div></div>
					</div>
				</div>
				
				<div class="time-track-add-entry cont-inner-wrapper">
					<span class="label">&{'js.task.time_tracking_spent'}</span>
					<input class="invisible" type="text" constraints='{datePattern:"MM/dd/yyyy"}' dojoType="dijit.form.DateTextBox" name="date" value="" onChange="Hi_TimeTracking.addForm._onDateChange();" onClick="Hi_Calendar.calendar({}, 'addEntryCalendar', false, false)" invalidMessage="" />
					<a href="javascript://" class="spent">&{'js.task.time_tracking_today'}</a>
					<span class="label">&{'js.task.time_tracking_by'}</span>
					
					<a href="javascript://" class="user" onclick="Hi_PersonSelect.show(this, nextElement(this, 'INPUT')); dojo.stopEvent(event);"></a>:
					<input type="hidden" name="user" value="" />
					
					<input type="text" name="minutes" class="txt time_est" value="&{'hi.properties.time_tracking_hours'}" />
					<button type="button" dojoType="dijit.form.Button" class="save-time" onclick="Hi_TimeTracking.addForm.save();">&{'hi.properties.time_tracking_save'}</button>
					<span class="label">&{'hi.properties.or_cancel'}</span>
					<a href="javascript://" class="cancel-time cancel" onclick="Hi_TimeTracking.addForm.reset();">&{'hi.properties.cancel_button'}</a>
				</div>
				
				<div class="time-track-list cont-inner-wrapper">
					<div class="loading"><img src="${_userImages.ajaxLoaderImg}" alt="" title="" /> &{'hi.properties.loading'}</div>
					<ul></ul>
				</div>
				
			</div></div>
			
			<div fill="visible: has_participants" class="cont"><div class="cont-inner">
				<span class="label">&{'js.task.participants'}:</span> <span class="participants participants_view"></span>
			</div></div>
			
			<div fill="visible: has_tags" class="cont"><div class="cont-inner">
				<span class="label">&{'js.task.tags'}:</span> <span class="tags tags_view"></span>
			</div></div>
			
			<form class="history" action="" onsubmit="Hi_Comments.handleAddComment(); return false;" fill="call: Hi_Comments.onReady();">
				<div class="cont link"><div class="cont-inner">
					<a href="javascript://" onclick="Hi_Comments.loadComments();">&{'js.task.show_history'}</a>
					<input class="idElement" type="hidden" name="id" fill="value: id" />
					<span class="label">&{'js.task.last_modified'}</span>
					<span class="timeLastUpdateDif" fill="htmlUntrim: time_last_update_dif"></span> <span>&{'js.task.ago'}</span>
				</div></div>
				<div class="cont data fulllist"><div class="cont-inner">
					<div class="dataEl"></div>
				</div></div>
				<div class="cont data last"><div class="cont-inner">
					<div class="dataEl"></div>
				</div></div>
				<div class="cont loading"><div class="cont-inner">
					<div class="dataEl">
						<div class="loading"><img src="${_userImages.ajaxLoaderImg}" alt="" title="" /> &{'hi.properties.loading'}</div>
					</div>
				</div></div>
				<div class="cont form"><div class="cont-inner">
					<button class="history-button" dojoType="dijit.form.Button" type="submit">&{'js.task.add_comment'}</button>
					<span class="avatar">#{if _userBean.pictureHash}<img src="/avatar/${_userBean.pictureHash}.16.gif" alt="" title="" />#{/if}</span>
					<div class="comment">
						<div></div>
						<textarea name="comment" rows="1"></textarea>
					</div>
				</div></div>
			</form>
			
			<div fill="visible: file_upload_allowed || file_list_allowed" class="file-cont cont"><div class="cont-inner">
				<div class="file-upload"></div>
			</div></div>
			
			<div onclick="processProperties(false)" class="close"><!-- --></div>
		</div>
		<div class="footer">
			<div class="links">
				<a fill="hidden: completed || is_file" href="javascript://" class="duplicate" onclick="dojo.stopEvent(event); Project.duplicateTree(parseIntRight(getParentByClass(this, 'task_li').id)); return false;">&{'js.task.duplicate_button'}</a>
				<a href="javascript://" class="delete" onclick="Project.removeTask(parseIntRight(getParentByClass(this, 'task_li').id), {'instance_date': getEventDateByNode(this), target: this}); dojo.stopEvent(event); return false;">&{'hi.properties.delete_button'}</a>
				<a href="#" class="archive" onClick="archiveTask(parseIntRight(getParentByClass(this, 'task_li').id), {'instance_date': getEventDateByNode(this), target: this}); return false;">&{'js.task.archive'}</a>
				<a href="#" class="attachbutton" onClick="">{#hi.properties.attach_file#}</a>
				<a fill="hidden: is_file" href="javascript://" class="add" onclick="dojo.stopEvent(event); Project.addToTask(parseIntRight(getParentByClass(this, 'task_li').id)); return false;">&{'js.task.add_item'}</a>
			</div>
			<button dojoType="dijit.form.Button" type="button" class="highlight">&{'js.task.modify'}</button>
			<a fill="visible: is_file" href="javascript://" class="button-openfile hidden" onclick="dojo.stopEvent(event); FileUpload.openFile(parseIntRight(getParentByClass(this, 'task_li').id)); return false;">&{'js.task.open_file'}</a>
		</div>
	</div>
	
	<span id="history_item_created">
		<span class="history-item"><b>&{'hi.properties.history_created'}</b></span>
	</span>
	<span id="history_item_changed">
		<span class="history-item"><span fill="htmlUntrim: property"></span> changed to: <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_shared_with">
		<span class="history-item">Shared with: <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_changed_boolean">
		<span class="history-item"><span fill="htmlUntrim: property"></span> <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_assigned">
		<span class="history-item">&{'js.main.assigned_to'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_returned">
		<span class="history-item">&{'hi.properties.history_unassigned_from'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_completed_true">
		<span class="history-item"><b>&{'js.completed.title'}</b></span>
	</span>
	<span id="history_item_completed_false">
		<span class="history-item"><b>&{'hi.properties.history_reopened'}</b></span>
	</span>
	<span id="history_item_category">
		<span class="history-item"><b>&{'hi.properties.history_changed_type'}</b></span>
	</span>
	<span id="history_item_color">
		<span class="history-item">&{'hi.properties.history_color'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_recurring">
		<span class="history-item">&{'hi.properties.history_recurring'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_project">
		<span class="history-item">&{'hi.properties.history_changed_project'}: <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_shared_true">
		<span class="history-item"><b>&{'hi.properties.history_shared'}</b></span>
	</span>
	<span id="history_item_shared_false">
		<span class="history-item"><b>&{'hi.properties.history_unshared'}</b></span>
	</span>
	<span id="history_item_starred_true">
		<span class="history-item"><b>&{'js.center.starred'}</b></span>
	</span>
	<span id="history_item_starred_false">
		<span class="history-item"><b>&{'hi.properties.history_unstarred'}</b></span>
	</span>
	<span id="history_item_archived_true">
		<span class="history-item"><b>&{'hi.properties.history_archived'}</b></span>
	</span>
	<span id="history_item_archived_false">
		<span class="history-item"><b>&{'hi.properties.history_restored'}</b></span>
	</span>
	<span id="history_item_reminder_changed">
		<span class="history-item">&{'hi.properties.history_reminder'}</span>
	</span>
	<span id="history_item_message_changed">
		<span class="history-item">&{'hi.properties.history_description'}</span>
	</span>
	<span id="history_item_copy_restored">
		<span class="history-item"><b>&{'hi.properties.history_copied_and_restored'}</b></span>
	</span>
	<span id="history_item_priority">
		<span class="history-item">&{'hi.properties.history_priority_changed'} <b><span fill="htmlUntrim: value"></span></b></span>
	</span>
	<span id="history_item_comment_deleted">
		<span class="history-item">&{'hi.properties.history_comment_deleted', '<b><span fill="htmlUntrim: user_name"></span></b>'}</span>
	</span>
	<span id="history_item_void">
		<span class="history-item"><b><span fill="htmlUntrim: property"></span></b></span>
	</span>
	
	<div id="properties_tag_template">
		
		<div class="field">
			<div class="label"><label for="parent_PARENT" fill="replace-PARENT-id: id">&{'js.task.project'}</label></div>
			<select name="parent" id="parent_PARENT" fill="replace-PARENT-id: id" class="parent">
				<option value="">&{'hi.properties.none'}</option>
			</select>
		</div>
		
		<div class="field">
			<div class="label">&{'js.task.priority'}</div>
			<div class="priority_inputs_cont">
				<input name="priority" type="radio" fill="replace-PRIORITY-id: id" id="priority_low_PRIORITY"  value="10000" />
				<label for="priority_low_PRIORITY" fill="replace-PRIORITY-for: id">&{'js.task.priority_low'}</label>
				<input name="priority" type="radio" fill="replace-PRIORITY-id: id" id="priority_medium_PRIORITY" value="20000" />
				<label for="priority_medium_PRIORITY" fill="replace-PRIORITY-for: id">&{'js.task.priority_medium'}</label>
				<input name="priority" type="radio" fill="replace-PRIORITY-id: id" id="priority_high_PRIORITY" value="30000" />
				<label for="priority_high_PRIORITY" fill="replace-PRIORITY-for: id">&{'js.task.priority_high'}</label>
			</div>
		</div>
	
		<div class="field">
			<div class="label">&{'js.task.tags'}:</div>
			<div class="tag_padd">
				<span class="tags tags_edit"></span>
				<span class="add_tag_template">
					#{app.hi.onkeypress enter: 'Hi_Tag.addTagInput(this, event)', escape: 'Hi_Tag.emptyTagInput(this, event)', tag: 'span'}
						<span class="add_tag_form">
							<input maxlength="20" id="tag_TAG" fill="replace-TAG-id: id" class="new_tag_input txt" type="text" />
							#{common.tagAddIcon /}
						</span>
					#{/app.hi.onkeypress}
				</span>
				<div>
					<div class="tags_label">&{'js.task.add_tags'}</div>
					<div class="tags_list">
						<span class="more_tags_list"></span>
			   			<em class="more_add_tag_list_empty">&{'js.tag.add_no_more_tags'}</em>
			   			<a href="javascript://" onclick="Hi_Tag.fillMoreTags(parseIntRight(getParentByClass(this, 'task_li').id), false); hideElement(this);" class="add_tag">&{'js.task.more_tags'}</a>
		   			</div>
				</div>
			</div>
		</div>
		
		<div class="field colors">
			*{ COLOR PICKER }*
			<div class="label"><label>&{'js.task.color'}:</label></div>
			<div class="color_picker">
				<div onclick="colorPickerClick(this,0)" class="c-0 selected"><span></span></div>
				<div onclick="colorPickerClick(this,1)" class="c-1"><span></span></div>
				<div onclick="colorPickerClick(this,2)" class="c-2"><span></span></div>
				<div onclick="colorPickerClick(this,3)" class="c-3"><span></span></div>
				<div onclick="colorPickerClick(this,4)" class="c-4"><span></span></div>
				<div onclick="colorPickerClick(this,5)" class="c-5"><span></span></div>
				<div onclick="colorPickerClick(this,6)" class="c-6"><span></span></div>
				<div onclick="colorPickerClick(this,7)" class="c-7"><span></span></div>
			</div>
		</div>

	</div>
	
	<span id="tag_bar_template" fill="addSpace: ;">
		<a title="${messages.get('js.task.tag_click_help').escapeHtml()}" href="javascript://" onclick="Hi_Tag.filter(this)" class="tag sN" fill="html: value; replace-TAG-title: value; replace-N-class: count;"></a>
	</span>
	<span id="more_add_tag_list_item" fill="addSpace: ;">
		<a class="tag sN" fill="html: value; replace-%tag-title: value; replace-N-class: count" href="#" onclick="event.preventDefault();Hi_Tag.addTag(getParentByClass(this, 'more_tags_list'), unhtmlspecialchars(this.innerHTML))"></a>
	</span>
	
</div>