<!-- start of #messenger -->
<div id="messenger" class="borderBox column2" style='height:100%;width:100%'>
	<!-- start of #heading -->
	<div class="headpane" data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"top"' style='height:2.4em'>
		<span class="heading">&{'team.title'}</span>
		<span id="new_messages" class="message invisible pointer" onclick="Hi_Team.openNew()" data-icon="" title="&{'team.newMessagesTitle'}"></span>
		<span class="icon-uniE07A right column-close-icon" id="messengerHideButton" onclick="toggleColumn('column2', 'messenger', 'calendar', -1)" style="float: right;"></span>
	</div>
	<!-- end of #heading -->

	<!-- start of .back -->
	<div class="borderBox" id="messengerContainer" data-dojo-type='dijit/layout/BorderContainer' data-dojo-props='region:"center"' style='height:calc(100% - 27px);width:100%'>
		<div class="block team" data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"top",splitter:true' style='height:50%'>
			<!-- start of #team_scroll -->
			<div class="cont scroll borderBox" id="team_scroll">
				<div id="team_container_0" #{if !_userBean.emailConfirmed}class=""#{/if}>
					#{app.hi.jsContent function: 'fillUsers'}
						#{common.loadingGif style:"display:block;" /}
					#{/app.hi.jsContent}
					<div id='addPeopleBtnWrapper' class="add hidden">
						<button id='addPeopleBtn' type="button" data-dojo-type="dijit.form.Button" data-icon="" onclick="if (!Project.checkLimits('TRIAL_FRIENDS')) return false; if(!Project.email_confirmed){return Project.alertElement.showItem(14, {task_alert: '${messages.get("team.confirm_email_text1").escapeJavaScript()}'})}#{app.hi.tooltip target: 'this.domNode', name: 'frfind', position: '', onClick: 'Team.reset', start: 'frfind_0', data: 'search: ;' /} dijit.byId('person_fullname').set('value', '');dijit.byId('person_fullname').focus();dijit.byId('person_email').set('value', '');" >
							&{'team.frfind'}
						</button>
					</div>

					<div id="team_help" class="hidden">
						<div class="close" data-icon=""><!-- --></div>
						<p>&{'team.team_help_text'}</p>
					</div>
					#{if _userBean.showAd}
						<div class="team-promo">
							<a href="/signup" class="team-promo-overlay"><!-- --></a>
							<p>
								&{'hi.banner.banner_business_sidebar1'}
								<br /><a href="/signup">&{'hi.banner.banner_business_sidebar2'}</a>
							</p>

						</div>
					#{/if}
				</div>
				*{Proposed fix for Bug #1952 }*
				*{ <!-- <div id="team_container_1" #{if !_userBean.emailConfirmed || !_userBean.email}class="hidden"#{/if}> --> }*
				<div id="team_container_1" class="hidden">
					*{<br /><p>&{'team.confirm_email_text1'}</p>}*
					<br /><p>&{'team.confirm_email_text2'}</p>
					*{ <!-- Feature #1721 <div class="confirm_email"><a href="javascript://" onclick="#{app.hi.tooltip name: 'confirm_email', position: 'left' /}"--> }*
					<div class="confirm_email"><a href="javascript://" onclick="#{app.hi.tooltip name: 'confirm_email', position: 'below-centered' /}"
						>&{'team.resend_confirm_email'}</a></div>
				</div>
				*{Proposed fix for Bug #1952 }*
				*{ <!-- <div id="team_container_2" #{if !_userBean.emailConfirmed || !_userBean.email}class="hidden"#{/if}> --> }*
				<div id="team_container_2" class='hidden'>
					<br />
					<p>&{'team.enter_email_text_intro'}</p><br />	<p>&{'team.enter_email_text'}</p>
					<form action="#" onsubmit="#{app.hi.ajaxSubmit function: 'Project.ajax', action: 'mchange', disable: 'true', success: 'Team.mchange' /}">
						<table class="input">
							<tr>
								<td class="full">
									<input class="input_text" maxlength="100" name="email" type="text" value=""/>
								</td>
								<td>
									<input type="submit" value="&{'team.enter_email_submit'}"/>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<!-- end of #team_scroll -->
			<!-- <div class="spacer"></div> -->
		</div>

		<div class="" data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"center",splitter:true'>
			<div id="TeamResizeHandle" dojo-Type="dojox.layout.ResizeHandle" targetId="team_scroll" minHeight="100" maxHeight="1000"></div>

			<ul id="message_template" class="hidden">
				<li fill="class: me"><div class="bugger">
					<div class="title"><div class="rt"><div class="rb"><div class="lb">
						<div class="time" fill="html: datetime"></div>
						<h3 fill="html: sender_name"></h3>
					</div></div></div></div>
					<p fill="htmlRaw: messageBody"></p>
				</div></li>
			</ul>

			<form id="conversation_container" class="fullSize" action="#" onsubmit="trackEvent(trackEventNames.CHAT_MESSAGE_SENT); #{app.hi.ajaxSubmit function: 'Project.ajax', action: 'chsend', validate: 'Hi_Team.validateSend', success: 'Hi_Team.afterSend', disable: 'true' /}">
				<div data-dojo-type='dijit/layout/LayoutContainer' class='fullSize'>
				<div data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"center"'>
					<div class="block conversation">
						<div class="person invisible">
							<div class="close" onclick="Hi_Team.closeChat()"><!-- --></div>
							<div class="image"><div class="avatar"
								fill="style-backgroundImage: image32; visible: pictureHash; data: ^" onclick="#{app.hi.tooltip name: 'avatar', position: 'top' /}"></div
								><div class="name"><span fill="htmlUntrim: name;"></span
								><img class="pro" src="${_userImages.proImg}" fill="visible: premiumStatus" alt="" title="${messages.get('team.premium_account_icon_title').escapeHtml()}"
								/><img class="pro" src="${_userImages.businessImg}" fill="visible: businessStatusActive && !businessStatusAdmin && !businessStatusManager" alt="" title="${messages.get('team.business_account_icon_title').escapeHtml()}"
								/><img class="pro" src="${_userImages.businessAdmImg}" fill="visible: businessStatusAdmin" alt="" title="${messages.get('team.business_admin_icon_title').escapeHtml()}" />
								<img class="pro" src="${_userImages.businessImg}" fill="visible: businessStatusManager" alt="" title="${messages.get('team.business_manager_icon_title').escapeHtml()}" /></div></div>

							<input type="hidden" name="userid" fill="value: id" id="chat_user_id" value="0" />
							<input type="hidden" fill="value: name" id="chat_user_name" value="" />
						</div>
						<div class="cont" id="conversation_scroll">
							<ul id="conversation">

							</ul>

						</div>
						<div class="spacer"></div>
					</div>

					<script type="text/javascript">
					el = dojo.byId('conversation_scroll');
					el.scrollTop = el.scrollHeight;
					</script>
				</div>

				<div data-dojo-type='dijit/layout/ContentPane' data-dojo-props='region:"bottom"'>
					<input type="hidden" id="chat_text_hidden" />
					<div class="input"><table><tr>
						<td class="text"><input maxlength="100" accesskey="S" autocomplete="off" name="message"
							type="text" id="chat_text_input" value="" fill="writeable: id" disabled /></td>
						<td class="btn">
							<button id="buttonChatAddMessage" dojoType="dijit.form.Button" disabled="disabled" type="submit" fill="enabled: id"><span data-icon="" aria-hidden="true"></span></button>

						</td>
					</tr></table></div>

					<div id="ConversationResizeHandle" dojo-Type="dojox.layout.ResizeHandle" targetId="conversation_scroll" minHeight="100" maxHeight="1000"><!-- --></div>
				</div>

			</div>
			</form>
		</div>
	</div>
	<!-- start of .back -->
</div>
<!-- start of #messenger -->

<div id="user_container_template" class="hidden"><ul></ul></div>
<ul id="user_template" class="hidden">
	*{ Feature #2052 - set up various events in JavaScript -> dojo.global.fillContacts() in main/team.js }*
	*{
	<li fill="addClass: offline" class="user_item" onmouseover="Hi_Team.avatarOver.call(this, 1)" onmouseout="Hi_Team.avatarOver.call(this, 0)"
		ondblclick="Hi_Team.startChat.call(this)"
		onclick="Hi_Team.hasAssignedTasks(this);#{app.hi.tooltip name: 'team_menu', target: 'dojo.query(\'div.button\',this.parentNode)[0]', position: 'right', start: 'team_menu_start' /}"
		>
	}*
	<li fill="addClass: offline" class="user_item" >
		<div class="border"><div class="bugger">
		<div class="image" id="avatarbg" fill="style-backgroundImage: image32" style="background-size: 16px;">

			<div fill="visible: menuStatus"  class="avatar_overlay operascrollfix" data="^"><!-- --></div>
			*{ Bug #2215 Kill onclick event when click on 'requested' div }*
			*{ Bug #2215 And close contact_info pop up if it is opened}*
			<div class="right req" fill="visible: reqStatus" onclick="var evt=arguments[0]||window.event;dojo.stopEvent(evt);if (Tooltip.opened('contact_info')) Tooltip.close('contact_info');#{app.hi.tooltip name: 'frconfirm', position: 'above',start:'frconfirm_start' /}" data="^">&{'team.requested_status'}</div>
			<div class="right wait" fill="visible: waitStatus || businessStatusInactive">&{'team.waiting_status'}</div>
			<div class="right decl" fill="visible: declStatus">&{'team.declined_status'}</div>
			<div class="right decl" fill="visible: businessStatusDeclined">&{'team.businessDeclined_status'}</div>

			<div fill="visible: activeStatus">
				<span class="name">
					<a href="javascript://" fill="html: name" title="${messages.get('team.user_link_title').escapeHtml()}"></a>&nbsp;
					<img class="pro" fill="visible: premiumStatus" src="${_userImages.proImg}" alt="" title="${messages.get('team.premium_account_icon_title').escapeHtml()}" />
					<img class="business" fill="visible: businessStatusActive && !businessStatusAdmin && !businessStatusManager" src="${_userImages.businessImg}" alt="" title="${messages.get('team.business_account_icon_title').escapeHtml()}" />
					<img class="business" fill="visible: businessStatusManager" src="${_userImages.businessImg}" alt="" title="${messages.get('team.business_manager_icon_title').escapeHtml()}" />
					<img class="business" fill="visible: businessStatusAdmin" src="${_userImages.businessAdmImg}" alt="" title="${messages.get('team.business_admin_icon_title').escapeHtml()}" />
					*{TODO: FIX: this is not activated anymore (always hidden) after changed from IMG to SPAN }*
					<span class="message" data-icon="" fill="visible: msgsStatus" alt="${messages.get('team.new_message').escapeHtml()}" title="${messages.get('team.new_message').escapeHtml()}" ></span>
				</span>
			</div>

			<div fill="hidden: activeStatus">
				<span class="name">
					<span fill="html: name"></span>
				</span>
			</div>

			<input type="hidden" class="user_id" fill="value: id;" />
			<input type="hidden" class="user_id drop_hidden" fill="value: id;" />
			<input type="hidden" class="drop_hidden_text" fill="value: name;" />
			<input type="hidden" class="status" fill="value: subscription;" />
			<input type="hidden" class="business_status" fill="value: level;" />
			<div fill="visible: menuStatus" class="button operascrollfix" data="^">
				<span data-icon="&#xf0d7;" aria-hidden="true"></span>
			</div>
		</div>
	</div></div></li>
</ul>
